<section class="row-gap--m max-width-text about__antipromotion">
  <div class="row-gap--xs">
    <p class="section-kicker">Важно знать</p>
    <h2 class="heading--gamma">Когда мы&nbsp;не&nbsp;сможем быть полезны друг другу</h2>
  </div>
  <p>Лучше обозначить это сразу, чем тратить время друг друга.</p>
  <ul class="additive-spacing">
    <li class="list-li">
      <strong class="bold">Вам нужна самая низкая цена.</strong>
      Я&nbsp;никогда не&nbsp;конкурировал ценой. Если вы&nbsp;ищете не&nbsp;<em>как</em> будет выполнена работа,
      а&nbsp;лишь за&nbsp;какую цену, мы&nbsp;вряд&nbsp;ли подойдем друг другу.
    </li>
    <li class="list-li">
      <strong class="bold">Вам нужно все «еще вчера».</strong>
      Быстрые решения в&nbsp;маркетинге часто означают меньшую проработанность, гадания и&nbsp;борьбу вкусовщин. Это
      не&nbsp;мои методы. Работе уделяю столько времени, сколько нужно, чтобы сделать ее&nbsp;качественно. Если вам
      нужна маркетинговая стратегия завтра к&nbsp;утру&nbsp;— я&nbsp;не&nbsp;смогу помочь.
    </li>
    <li class="list-li">
      <strong class="bold">Вам нужно настроить рекламу или завести соцсеть.</strong>
      Я&nbsp;не&nbsp;занимаюсь отдельными тактическими задачами. Моя экспертиза&nbsp;— в&nbsp;выстраивании системы.
      Но&nbsp;если нужна и&nbsp;стратегия, и&nbsp;реализация&nbsp;— для этого есть мое агентство.
    </li>
    <li class="list-li">
      <strong class="bold">Вы&nbsp;не&nbsp;разделяете мой подход.</strong> Есть компании с&nbsp;другим взглядом на&nbsp;маркетинг: <a
        class="link" href="https://aidapioneer.com/">AIDA Pioneer</a>, <a class="link" href="https://fabula.by/">Fabula
        Branding</a>, <a class="link" href="https://pgr.by/">PG&nbsp;branding</a>, TDI Group и&nbsp;другие. Попробуйте
      обратиться к&nbsp;ним.
    </li>
  </ul>
</section>