
    
<section class="full-bleed  row-gap--m space-section">
  <h2 class="heading--gamma">Образование</h2>


    <p>У меня два высших образования — психологическое и экономическое.<br>
      Идеальное сочетание для маркетолога.</p>



 <hr class="separator">

  <div class="education-list full-bleed">

    <article class="education-item full-bleed-row">


      <div class="grid-column__first-four">
        <div class="education-item__meta">
          <span class="secondary-color small"><time datetime="1997">1997</time>–<time datetime="2002">2002</time></span>
        </div>
        <h3 class="heading--delta">Белорусский государственный университет</h3>
        <p class="small secondary-color">Факультет философии и социальных наук | специальность: психология</p>
      </div>


      <div class="grid-column__last-six row-gap--m">
        <p>В основе хорошего маркетинга — понимание процессов, проходящих в сознании целевой аудитории. И
          психологическое образование этому помогает.</p>


        <details>
          <summary class="link link-more">Подробнее</summary>
          <div class="details__content row-gap--m">
            <p>
              «Как воспринимаю предмет я отличается от того, как его воспринимают другие». Подобный тезис записан
              <em>«на подкорке»</em> у каждого, кто получил академическое психологическое образование. Как следствие —
              нет соблазна додумывать за другого, приписывать ему «<em>понятные</em>» мотивы, пробуждается
              исследовательский интерес.
            </p>
            <p>
              Естественным образом появляются вопросы: «Что привлекает внимание покупателя? С какими ожиданиями он
              выбирает продукт? Как принимает решение о покупке? Почему этот критерий выбора важен?»
            </p>
            <p>
              Психологическое образование убивает веру в «человека рационального». Нельзя надеяться только на
              рациональные доводы.
            </p>
            <p>
              Расскажу историю, как в 1970-х экономист Ричард Талер выступал с рациональной теорией сбережений перед
              преподавателями факультета психологии.
            </p>
            <blockquote>
              <p>«Психологи пребывали в недоумении, удивляясь, как у их коллег с экономического факультета могло быть
                настолько безумное предоставление о человеческом поведении».</p>
            </blockquote>
            <p>
              Позже Талер признал ограниченность рациональной модели. В 2017 году за вклад в исследование поведенческой
              экономики Ричард Талер получил Нобелевскую премию.
            </p>
          </div>
        </details>
      </div>
    </article>


    <hr class="separator">


    <article class="education-item full-bleed-row">
      <div class="grid-column__first-four">
        <div class="education-item__meta">
          <span class="secondary-color small"><time datetime="2010">2010</time>–<time datetime="2013">2013</time></span>
        </div>
        <h3 class="heading--delta">Белорусский государственный экономический университет</h3>
        <p class="small secondary-color">Факультет: «Высшая школа управления и бизнеса» | специальность:
          бизнес-администрирование</p>
      </div>

      <div class="grid-column__last-six">
        <p>В БГЭУ я пришел с хорошим опытом работы с сфере маркетинга, но хотелось лучше понимать работу и управление
          предприятиями в целом. Так, мне казалось, я буду еще более эффективен.</p>

      </div>
    </article>

  </div>

</section>

  






  <div
    class="full-bleed space-block"
    itemscope
    itemtype="https://schema.org/ImageObject"
  >
    <link itemprop="url" href="/assets/images/main/bartoshevich@16x9.jpg">
    <picture>
      <source
        sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
        srcset="
          /assets/images/main/bartoshevich@16x9_640w.avif 640w,
          /assets/images/main/bartoshevich@16x9_1040w.avif 1040w,
          /assets/images/main/bartoshevich@16x9_1280w.avif 1280w,
          /assets/images/main/bartoshevich@16x9_2080w.avif 2080w,
          /assets/images/main/bartoshevich@16x9.avif 2400w
        "
        type="image/avif"
      >
      <source
        sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
        srcset="
          /assets/images/main/bartoshevich@16x9_640w.webp 640w,
          /assets/images/main/bartoshevich@16x9_1040w.webp 1040w,
          /assets/images/main/bartoshevich@16x9_1280w.webp 1280w,
          /assets/images/main/bartoshevich@16x9_2080w.webp 2080w,
          /assets/images/main/bartoshevich@16x9.webp 2400w
        "
        type="image/webp"
      >
      <img
        loading="lazy"
        decoding="async"
        class="full-bleed image is-16by9"
        sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
        srcset="
          /assets/images/main/bartoshevich@16x9_640w.jpg 640w,
          /assets/images/main/bartoshevich@16x9_1040w.jpg 1040w,
          /assets/images/main/bartoshevich@16x9_1280w.jpg 1280w,
          /assets/images/main/bartoshevich@16x9_2080w.jpg 2080w,
          /assets/images/main/bartoshevich@16x9.jpg 2400w
        "
        src="/assets/images/main/bartoshevich@16x9_1280w.jpg"
        alt="Профессиональный портрет Дмитрия Бартошевича (Барташевича)"
        width="2400"
        height="1350"
        itemprop="contentUrl"
      >
    </picture>
    
  </div>
