    
<section class="row-gap--m max-width-text space-section">
    <h2 class="heading--gamma">Когда мы не сможем быть полезны друг другу</h2>
    <p>Я&nbsp;работаю там, где могу быть действительно полезен. Чтобы сэкономить время, сразу скажу, в&nbsp;каких случаях мы&nbsp;едва&nbsp;ли подходим друг другу:</p>

    <ul class="additive-spacing">
        <li class="list-li">
            <span class="bold">Вам нужна самая низкая стоимость услуг на рынке.</span>
            Я никогда не конкурировал ценой. Если вы ищете не <em>как</em> будет выполнена работа, а лишь за какую цену, мы вряд ли подойдем друг другу.
        </li>
        <li class="list-li">
            <span class="bold">Вам нужно, «чтобы все было сделано еще вчера».</span>
            Быстрые решения в&nbsp;маркетинге часто означают меньшую проработанность, гадания и&nbsp;борьбу вкусовщин. Это не&nbsp;мои методы. Работе уделяю столько времени, сколько нужно, чтобы сделать ее&nbsp;качественно. Если вам нужна маркетинговая стратегия завтра к&nbsp;утру&nbsp;— я&nbsp;не&nbsp;смогу помочь.
        </li>
        <li class="list-li">
            <span class="bold">Вам нужен исполнитель на тактическую задачу: «настроить рекламу» или «завести соцсеть».</span>
          Я&nbsp;не&nbsp;занимаюсь отдельными тактическими задачами. Моя экспертиза&nbsp;&mdash; в&nbsp;выстраивании системы. Однако, для комплексного решения таких задач теперь существует мое агентство.
        </li>
        <li class="list-li">
		<span class="bold">Вы&nbsp;не&nbsp;согласны с&nbsp;моим подходом. </span> Есть компании с&nbsp;другими принципами работы и/или иным пониманием задач маркетинга. <a class="link" href="https://aidapioneer.com/">AIDA Pioneer</a>, <a class="link" href="https://fabula.by/">Fabula Branding</a>, <a class="link" href="https://pgr.by/">PG&nbsp;branding</a>, TDI&nbsp;Group и&nbsp;другие. Если вы&nbsp;не&nbsp;разделяете мой подход и&nbsp;взгляды, они ждут вашего звонка ;-)
	</li>
    </ul>
</section>

  