<section class="full-bleed  row-gap--m space-section">



    <h2 class="heading--gamma">Опыт работы</h2>



    <p>Перед тем, как начать свою частную практику в&nbsp;2015&nbsp;году, я&nbsp;прожил много лет в&nbsp;корпоративном
        мире. Это было не&nbsp;только восхождение по&nbsp;карьерной лестнице, но&nbsp;и&nbsp;непрерывное накопление
        знаний и&nbsp;опыта, которые до&nbsp;сих пор поддерживают меня в&nbsp;работе: от&nbsp;маркетингового аудита
        и&nbsp;разработки концепций бренда до&nbsp;создания рекламных кампаний и&nbsp;абонентского обслуживания.</p>
    <hr class="separator">
    <div class="full-bleed full-bleed-row row-gap--m">

        <p class="grid-column__first-four">Последние 4&nbsp;места работы:</p>

        <div class="grid-column__last-six">
            <ul class="work__list list-reset">

                {# Тичино #}
                <li class="work-item">
                    <div class="work-logo-wrapper">

                        <img loading="lazy" decoding="async" class="work-logo"
                            src="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newbrownsme-2x.jpg"
                            srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newbrownsme-2x.jpg 1x, https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1763754516/site/work_about/newbrownsme-2x.jpg 2x"
                            alt="Логотип Brown’s Manufactory" width="200" height="100">

                    </div>

                    <h3 class="heading--delta">«Тичино», тм&nbsp;«Brown's Manufactory»</h3>

                    <p class="small secondary-color mt-0">
                        <time datetime="2013">2013</time>–<time datetime="2014">2014</time>
                        <span class="separator">•</span> директор
                    </p>

                    <p class="mt-0">Здесь я&nbsp;отчетливо понял, что хочу заниматься вопросами развития бренда
                        и&nbsp;решать маркетинговые задачи.</p>
                </li>

                {# GetPoint #}
                <li class="work-item">
                    <div class="work-logo-wrapper">

                        <img loading="lazy" decoding="async" class="work-logo"
                            src="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newgetpointme-2x.jpg"
                            srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newgetpointme-2x.jpg 1x, https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1763754516/site/work_about/newgetpointme-2x.jpg 2x"
                            alt="Логотип GetPoint" width="200" height="100">

                    </div>
                    <h3 class="heading--delta">GetPoint&nbsp;— брендинговое агентство</h3>
                    <p class="small secondary-color mt-0">
                        <time datetime="2012">2012</time>–<time datetime="2013">2013</time>
                        <span class="separator">•</span> директор по&nbsp;развитию (RU)
                    </p>
                    <p class="mt-0">Проект агентства <a class="link" href="https://aidapioneer.com/">Aida Pioneer</a>.
                        Окунулся в&nbsp;рекламный бизнес. В&nbsp;некоторых моментах ощущал себя персонажем книг
                        Пелевина.</p>
                </li>




                {# Pro-Trade #}
                <li class="work-item">
                    <div class="work-logo-wrapper">

                        <img loading="lazy" decoding="async" class="work-logo"
                            src="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newpro-trademe-2x.jpg"
                            srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newpro-trademe-2x.jpg 1x, https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1763754516/site/work_about/newpro-trademe-2x.jpg 2x"
                            alt="Логотип Pro-Trade" width="200" height="100">

                    </div>
                    <h3 class="heading--delta">«Мебелинк», тм&nbsp;«Pro-Trade»</h3>
                    <p class="small secondary-color mt-0">
                        <time datetime="2010">2010</time>–<time datetime="2011">2011</time>
                        <span class="separator">•</span> руководитель отдела маркетинга
                    </p>
                    <p class="mt-0">Через месяц после моего ухода учредитель позвонил и&nbsp;поблагодарил
                        за&nbsp;работу. Также компания стала одним из&nbsp;первых клиентов, когда я&nbsp;оформил ИП.</p>
                </li>




                {# Nielsen #}
                <li class="work-item">
                    <div class="work-logo-wrapper">

                        <img loading="lazy" decoding="async" class="work-logo"
                            src="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newnielsen_2x.jpg"
                            srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_200,h_100,c_fit,f_auto,q_auto/v1763754516/site/work_about/newnielsen_2x.jpg 1x, https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1763754516/site/work_about/newnielsen_2x.jpg 2x"
                            alt="Логотип Nielsen" width="200" height="100">

                    </div>
                    <h3 class="heading--delta">Nielsen</h3>
                    <p class="small secondary-color mt-0">
                        <time datetime="2005">2005</time>–<time datetime="2009">2009</time>
                        <span class="separator">•</span> главный специалист (BY) → руководитель отдела (KZ)
                    </p>
                    <p class="mt-0">Мировой лидер в&nbsp;сфере маркетинговых исследований. <a class="link"
                            href="https://global.nielsen.com/">Nielsen</a> научил меня слушать рынок и&nbsp;отличать
                        факты от&nbsp;мнений.</p>
                </li>

            </ul>
        </div>
        </div>
</section>

<!-- Фото команды: space-connected, так как иллюстрация к GetPoint -->
<div class="full-bleed space-connected" itemscope itemtype="https://schema.org/ImageObject">
    <img class="full-bleed image" loading="lazy" decoding="async"
    sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718822385/site/GetPoint.jpg" srcset="
          https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1718822385/site/GetPoint.jpg 640w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1718822385/site/GetPoint.jpg 1200w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1718822385/site/GetPoint.jpg 1600w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718822385/site/GetPoint.jpg 4724w
        " alt="Дмитрий Бартошевич с командой брендингового агентства GetPoint — 2012 год" width="4724" height="2362"
        itemprop="contentUrl">
    <div class="figcaption"><time datetime="2012">2012</time> год. Развиваю бизнес брендингового агентства и&nbsp;ловлю
        суть ;-)</div>
</div>