<section class="full-bleed row-gap--m space-chapter">
  <div class="row-gap--xs">
    <p class="section-kicker">Образование</p>
    <h2 class="heading--gamma">Мои университеты</h2>
  </div>

  <p>У&nbsp;меня два высших образования&nbsp;— психологическое и&nbsp;экономическое.<br>
    Одно учит понимать людей. Другое&nbsp;— бизнес, в&nbsp;котором они работают.</p>

  <div class="education-list full-bleed space-block">

    <article class="education-item full-bleed-row">
      <div class="grid-column__first-four">
        <div class="education-item__meta">
          <span class="secondary-color small"><time datetime="1997">1997</time>–<time datetime="2002">2002</time></span>
        </div>
        <h3 class="heading--delta">Белорусский государственный университет</h3>
        <p class="small secondary-color">Факультет философии и&nbsp;социальных наук&nbsp;| специальность: психология</p>
      </div>

      <div class="grid-column__last-six row-gap--xs">
        <p class="mb-m">Хороший маркетинг начинается с&nbsp;понимания того, что происходит в&nbsp;голове у&nbsp;клиента.
          И
          психологическое образование этому помогает.</p>

        <details>
          <summary class="link link-more"><small class="small">Подробнее</small></summary>
          <div class="details__content row-gap--m">
            <p>
              «Как воспринимаю предмет я&nbsp;отличается от&nbsp;того, как его воспринимают другие». Подобный тезис
              записан
              <em>«на&nbsp;подкорке»</em> у&nbsp;каждого, кто получил академическое психологическое образование. Как
              следствие —
              нет соблазна додумывать за&nbsp;другого, приписывать ему «<em>понятные</em>» мотивы, пробуждается
              исследовательский интерес.
            </p>
            <p>
              Естественным образом появляются вопросы: «Что привлекает внимание покупателя? С&nbsp;какими ожиданиями он
              выбирает продукт? Как принимает решение о&nbsp;покупке? Почему этот критерий выбора важен?»
            </p>
            <p>
              Психологическое образование убивает веру в&nbsp;«человека рационального». Нельзя надеяться только на
              рациональные доводы.
            </p>
            <p>
              Расскажу историю, как в&nbsp;<span class="noperenos">
                <nobr>1970-х</nobr>
              </span> экономист Ричард Талер выступал с&nbsp;рациональной
              теорией сбережений перед
              преподавателями факультета психологии.
            </p>
            <blockquote>
              <p>«Психологи пребывали в&nbsp;недоумении, удивляясь, как у&nbsp;их&nbsp;коллег с&nbsp;экономического
                факультета могло быть
                настолько безумное предаставление о&nbsp;человеческом поведении».</p>
            </blockquote>
            <p>
              Позже Талер признал ограниченность рациональной модели. В&nbsp;2017 году за&nbsp;вклад в&nbsp;исследование
              поведенческой
              экономики Ричард Талер получил Нобелевскую премию.
            </p>
          </div>
        </details>
      </div>
    </article>

    <article class="education-item full-bleed-row">
      <div class="grid-column__first-four">
        <div class="education-item__meta">
          <span class="secondary-color small"><time datetime="2010">2010</time>–<time datetime="2013">2013</time></span>
        </div>
        <h3 class="heading--delta">Белорусский государственный экономический университет</h3>
        <p class="small secondary-color">Факультет: «Высшая школа управления и&nbsp;бизнеса»&nbsp;| специальность:
          бизнес-администрирование</p>
      </div>

      <div class="grid-column__last-six">
        <p>В&nbsp;БГЭУ я&nbsp;пришел с&nbsp;хорошим опытом работы с&nbsp;сфере маркетинга, но&nbsp;хотелось лучше
          понимать работу и&nbsp;управление
          предприятиями в&nbsp;целом. Маркетолог, который понимает бизнес изнутри, принимает другие решения.</p>
      </div>
    </article>

  </div>
</section>