<article class="case space-chapter " id="flex-n-roll">

<header class="case__header">
  <p class="case__label">Клиент</p>
  <h3 class="case__client"><span class="noperenos">Flex-n-Roll</span></h3>
  <p class="case__description">
   типография, лидер в&nbsp;РБ в&nbsp;сегменте самоклеящихся этикеток
  </p>
</header>

  

<hr class="separator">

  <!-- Этап 1: Концепция бренда -->
  <section class="case__stage">
    <div class="case__stage-layout">
      <div class="case__stage-title-wrapper">
        <h4 class="case__stage-title text--subtitle">
          Создал концепцию бренда и&nbsp;стратегию развития
        </h4>
      </div>

    <div class="case__stage-content">
<!-- Отзыв клиента -->
  <figure class="blockquote--emphasis">
      <blockquote>


        <p class="citation">
          &laquo;Впереди много планов и&nbsp;есть главное&nbsp;&mdash; четкий выверенный вектор развития компании,
          который обозначил для нас Дмитрий Бартошевич. Поэтому хотелось&nbsp;бы поблагодарить его за&nbsp;предложенную
          концепцию и&nbsp;проведенную большую работу по&nbsp;брендингу нашего предприятия&raquo;.
        </p>

        <figcaption class="citation__author">
         
            <span>Елена Горбачева</span>,
            <span>директор типографии <span class="noperenos">Flex-n-Roll</span></span>
             <p> <a class="italic link" href="{{ site.url }}/blog/brand-strategy-flex-n-roll/">
            описание проекта и отзыв
          </a></p>
         
        </figcaption>
    
    </div>
  </section>

</article>



