<article class="case space-chapter " id="termium">

    <header class="case__header">
        <p class="case__label">Клиент</p>
        <h3 class="case__client">ЮВИ Электроникс (тм. Termium)</h3>
        <p class="case__description">
            производство и&nbsp;поставки промышленных нагревателей и&nbsp;комплектующих
        </p>
    </header>



    <hr class="separator">


    <section class="case__stage">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper">
                <h4 class="case__stage-title text--subtitle">
                    Создал концепцию бренда и&nbsp;стратегию развития
                </h4>
            </div>
            <div class="case__stage-content">
                <figure class="figure">

        <picture>
          <!-- Тёмная тема -->
          <source
            media="(prefers-color-scheme: dark)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--dark.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Светлая тема -->
          <source
            media="(prefers-color-scheme: light)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Фолбэк для старых браузеров -->
          <img
            class="image is-4by3"
            loading="lazy"
            decoding="async"
            width="2000"
            height="1500"
            src="https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
            alt="Кейс: дизайн и структура сайта Termium под руководством Дмитрия Бартошевича"
          >
        </picture>
        
        
        <figcaption class="figcaption">
          После утверждения концепции компания разработала новый сайт. И&nbsp;это только начало ;-)
        </figcaption>
      </figure>
            </div>
        </div>
    </section>
    </article>









