
<article class="case space-chapter " id="giperlink">

<header class="case__header">
  <p class="case__label">Клиент</p>
  <h3 class="case__client">Giperlink</h3>
  <p class="case__description">
   интернет-агентство
  </p>
</header>

  

<hr class="separator">

  <!-- Этап 1: Концепция бренда -->
  <section class="case__stage">
    <div class="case__stage-layout">
      <div class="case__stage-title-wrapper">
        <h4 class="case__stage-title text--subtitle">
          Создал концепцию бренда и&nbsp;стратегию развития
        </h4>
      </div>

    <div class="case__stage-content">
<!-- Отзыв клиента -->
  <figure class="blockquote--emphasis">
      <blockquote>


        <p class="citation">
        «На&nbsp;опыте прочувствовали, насколько
          <strong>наличие концепции бренда помогает развитию компании</strong>».
        </p>

        <figcaption class="citation__author">
         
            <span>Дмитрий Лихтарович</span>,
            <span>директор Giperlink</span>
             <p> <a class="italic link" href="https://bartoshevich.by/blog/kejs-brend-giperlink/">
            описание проекта и&nbsp;отзыв
          </a></p>
         
        </figcaption>
    
    </div>
  </section>

</article>



