<article class="case space-chapter " id="ego-art">

    <header class="case__header">
        <p class="case__label">Клиент</p>
        <h3 class="case__client"><span class="noperenos">EGO-ART</span></h3>
        <p class="case__description">
            ювелирное производство
        </p>
    </header>



    <hr class="separator">

    <section class="case__stage">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper row-gap--m">
                <h4 class="case__stage-title text--subtitle">
                    Провел аудит работы отдела маркетинга
                </h4>
                <h4 class="case__stage-title text--subtitle">
                    Cоздал концепцию бренда и&nbsp;стратегию развития
                </h4>
                <h4 class="case__stage-title text--subtitle">
                    Подготовил годовой маркетинговый план
                </h4>
            </div>
            <div class="case__stage-content">
                <figure class="figure">
                    <img loading="lazy" decoding="async" class="image is-16by9"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/ego-art_slides.png"
                        srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1623041572/site/ego-art_slides.png  665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1623041572/site/ego-art_slides.png  984w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1188w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1510w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1782w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1920,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1920w
  " sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
                        width="1920" height="1080"
                        alt="Кейс: итоговая презентация по аудиту маркетинга Ego-Art — маркетинговый проект Дмитрия Бартошевича">
                    <figcaption class="figcaption">
                        Могу показать только скриншот обзора слайдов презентации с&nbsp;результатами аудита маркетинга
                        (соглашение
                        о&nbsp;неразглашении)
                    </figcaption>
                </figure>

            </div>
        </div>
    </section>
</article>