<article class="case space-chapter " id="pes-global">

    <header class="case__header">
        <p class="case__label">Клиент</p>
        <h3 class="case__client"><span class="noperenos">PES GLOBAL</span></h3>
        <p class="case__description">
            поставки предприятиям горно-металлургической отрасли (KZ)
        </p>
    </header>



    <hr class="separator">


    <section class="case__stage">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper">
                <h4 class="case__stage-title text--subtitle">
                    Создал концепцию бренда и&nbsp;стратегию развития
                </h4>
            </div>

            <div class="case__stage-content">
                <figure class="full-bleed figure">

                    <img class="image border" loading="lazy" decoding="async"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png"
                        srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png  640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1920/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png 1920w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2438/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png 2438w
  " sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
                        width="2438" height="1644"
                        alt="Кейс: рекламный разворот PES GLOBAL в отраслевом журнале — маркетинговый проект Дмитрия Бартошевича">
                    <figcaption class="figcaption">
                        На&nbsp;основе концепции бренда совместно
                        <a class="link" href="https://bizikov.ru/">с дизайнером Сашей Бизиковым</a>
                        разработал рекламный разворот для отраслевого журнала «Добывающая промышленность. Центральная
                        Азия».
                        <button class="link button image-expand"
                            data-url="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1692002941/site/pes/pes-global_mag.png"
                            aria-label="Открыть изображение в новой вкладке">
                            Открыть изображение в новой вкладке
                        </button>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>




    <section class="case__stage space-block">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper">
                <h4 class="case__stage-title text--subtitle">
                    Создал редакционную политику
                </h4>
            </div>

            <div class="case__stage-content">
                <p>
                    Разработал принципы письменной коммуникации с&nbsp;клиентами на&nbsp;основании концепции бренда
                    и&nbsp;анализа
                    существующей практики деловой переписки <span class="noperenos">PES GLOBAL</span>. По&nbsp;наиболее
                    популярным темам создал шаблоны писем.
                </p>
                <p>
                    Редполитика помогает не&nbsp;только сэкономить время и&nbsp;ресурсы сотрудников,
                    но&nbsp;и&nbsp;улучшить
                    качество обслуживания клиентов, поддержать профессиональный образ компании и&nbsp;укрепить связь
                    с&nbsp;брендом.
                </p>
                <figure class="full-bleed figure">

                    <figcaption class="figcaption">
                        Выдержка из редполитики. Скриншот:
                    </figcaption>
                    <img class="image image--border" loading="lazy" decoding="async"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1698477680/pes_projects/redpolicy__example.jpg"
                        srcset="
          https://res.cloudinary.com/bartoshevich/image/upload/w_300/f_auto/q_auto/v1698477680/pes_projects/redpolicy__example.jpg 300w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto/q_auto/v1698477680/pes_projects/redpolicy__example.jpg 600w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_803/f_auto/q_auto/v1698477680/pes_projects/redpolicy__example.jpg 803w
        " sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
                        width="803" height="716"
                        alt="Кейс: разработка редакционной политики бренда и стандартов коммуникации — маркетинговый проект Дмитрия Бартошевича">
                </figure>
            </div>
        </div>
    </section>




    <section class="case__stage space-block">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper">
                <h4 class="case__stage-title text--subtitle">
                    Другие инициативы
                </h4>
            </div>

            <div class="case__stage-content">
                <ul class="additive-spacing">
                    <li class="list-li">
                        Провел детальный аудит сайта PES GLOBAL, выявив ключевые области для улучшения
                        и&nbsp;оптимизации.
                    </li>
                    <li class="list-li">
                        Переосмыслил и&nbsp;обновил рекламные буклеты, предложил иное видение структуры
                        и&nbsp;оформления презентаций,
                        основанные на&nbsp;современных трендах в&nbsp;маркетинге и&nbsp;дизайне.
                    </li>
                    <li class="list-li">Инициировал внедрение CRM-системы.</li>
                    <li class="list-li">
                        Работал над созданием продуктивной и&nbsp;структурированной рабочей среды в&nbsp;компании:
                        внедрил
                        использование принципов канбан.
                    </li>
                </ul>
                <div>
                    <p>PES GLOBAL в&nbsp;блоге:</p>
                    <a class="link" href="/blog/pes-global-brand-concept/">Создаю концепцию бренда для компании «PES
                        GLOBAL»</a>
                </div>
            </div>
        </div>
    </section>




</article>