<div class="menu--flex header__bar">
  <div class="logoside header__brand">
    {% if isHome %}
    <div class="navbar-logo">
      {% include "logo.njk" %}
    </div>
    {% else %}
    <a href="/" class="navbar-logo" aria-label="На главную">
      {% include "logo.njk" %}
    </a>
    {% endif %}

    {% include "top-context.njk" %}
  </div>

  <button class="menu__button" type="button" aria-expanded="false" aria-controls="menu__list"
    aria-label="открыть меню">
    <svg class="menu__icon" aria-hidden="true" width="30" height="36">
      <use class="menu__icon-menu" href="{{ spritePath() }}#menu"></use>
      <use class="menu__icon-cross" href="{{ spritePath() }}#cross"></use>
    </svg>
  </button>
</div>
