{% set navData = navigation %}
{% set currentPageUrl = page.url %}
{% set siteUrl = site.url or "/" %}
{% set navKey = eleventyNavigation.key %}
{% set isHome = currentPageUrl == "/" or (navKey and navKey == 'home') %}
{% set is404 = page.data.permalink == '/404.html' %}
{% set isPost = (page.data.layout == 'post' or layout == 'post') and not is404 %}
{% set contextVariant = 'page' %}
{% if isHome %}
  {% set contextVariant = 'home' %}
{% elif is404 %}
  {% set contextVariant = '404' %}
{% elif isPost %}
  {% set contextVariant = 'post' %}
{% endif %}
{% set breadcrumbPages = [] %}
{% set breadcrumbCount = 0 %}
{% if contextVariant == 'page' and navKey and navKey != 'home' %}
  {% set breadcrumbPages = getBreadcrumbs(navKey, collections.navigationItems) %}
  {% set breadcrumbCount = breadcrumbPages.length %}
{% endif %}

<header class="page__header">
  {% include "header-bar.njk" %}
  {% include "header-menu-panel.njk" %}
</header>
