<picture>
  <source srcset="/assets/images/logo/bartoshevich@1x.avif 1x, /assets/images/logo/bartoshevich@2x.avif 2x"
    type="image/avif">
  <source srcset="/assets/images/logo/bartoshevich@1x.webp 1x, /assets/images/logo/bartoshevich@2x.webp 2x"
    type="image/webp">
  <img src="/assets/images/logo/bartoshevich@1x.jpg"
    srcset="/assets/images/logo/bartoshevich@1x.jpg 1x, /assets/images/logo/bartoshevich@2x.jpg 2x" width="96"
    height="96" alt="Дмитрий Бартошевич" fetchpriority="high" loading="eager" decoding="sync" class="navbar-logo__img">
</picture>