{% if topic %}
  {% set topicMap = {} %}
  {% for t in blogTopics %}
    {% set topicMap = topicMap | setAttribute(t.key, t.title) %}
  {% endfor %}
  {% set topicTitle = topicMap[topic] or topic %}
{% endif %}

<header class="max-width-text row-gap--xs">
  {% if topic %}<p class="section-kicker">{{ topicTitle }}</p>{% endif %}
  <h1 class="intro">
    <span class="h1-name">{{ (name or title) | nbspPrepositions | safe }}</span>
  </h1>
  <div class="post-metadata">
    <span class="post-date">
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDateRU }}</time>
      {% if last_modified_at %}
        <time datetime="{{ last_modified_at | htmlDateString }}">
          <span class="update-info noperenos">(обновил {{ last_modified_at | readableDateRU }})</span>
        </time>
      {% endif %}
    </span>
    <span class="reading-time">{{ content | striptags | readingTime }} чтения</span>
  </div>
</header>
