<article class="full-bleed row-gap--lm">
    <!-- Связь с клиентом -->
    <div itemscope itemtype="https://schema.org/Collection" id="hormann-collection">
        <meta itemprop="name" content="Сотрудничество с Hörmann">
        <link itemprop="url" href="https://hoermannpartner.by/">
        <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
    </div>

    <div class="mb-m">
        <h3 class="h2 bold inline">клиент: Hörmann</h3>
        <br>немецкий производитель дверей, ворот, электроприводов
    </div>

    <div class="border-top"></div>


     <!-- Этап 1: Концепция бренда -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="hormann-collection">
        <div class="grid-column__first-four">
            <h4 class="list-sign h2" itemprop="name">
                Cоздал концепцию бренда и&nbsp;стратегию развития
            </h4>
        </div>

        <div class="grid-column__last-six" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <link itemprop="url"
                href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg">
            <picture>
                <source media="(max-width: 400px)" srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_370/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg 1x,
            https://res.cloudinary.com/bartoshevich/image/upload/w_740/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg 2x
          " />
                <source media="(max-width: 789px)" srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_740/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg  1x,
            https://res.cloudinary.com/bartoshevich/image/upload/w_1480/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg 2x
          " />
                <source media="(max-width: 1068px)" srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_1020/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg 1x,
            https://res.cloudinary.com/bartoshevich/image/upload/w_2040/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg        2x
          " />
                <source media="(min-width: 1069px)" srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto,q_auto:best/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg  1x,
            https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto:best/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg 2x
          " />
                <img class="image is-4by3" width="2002" height="1502"
                    src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg"
                    alt="Содержание презентации с концепцией бренда Hörmann" itemprop="contentUrl" >
            </picture>

            <div class="figcaption">
                Содержание презентации с&nbsp;концепцией бренда
            </div>
        </div>
    </section>


     <!-- Этап 2: Рекламные кампании -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="hormann-collection">
        <h4 class="grid-column__first-four list-sign h2" itemprop="name">
            Разработал рекламные кампании, координировал проведение
        </h4>
        <div class="grid-column__last-six row-gap--m">
            <h5 class="bold mb-m">Видео</h5>

            <div class="figure">
                <div class="video" itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
                    <meta itemprop="name" content="Hörmann уверенно рекомендуют">
                    <meta itemprop="duration" content="PT1M06S">
                    <meta itemprop="uploadDate" content="2021-06-30T00:00:00+03:00">
                    <meta itemprop="isFamilyFriendly" content="True">
                    <link itemprop="url" href="https://youtu.be/Rl2jUmZWSfg">
                    <link itemprop="contentUrl" href="https://youtu.be/Rl2jUmZWSfg">
                    <link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/Rl2jUmZWSfg/maxresdefault.jpg">

                    <a class="video__link" href="https://youtu.be/Rl2jUmZWSfg" target="_blank" rel="noopener noreferrer">
                        <picture>
                            <source srcset="https://i.ytimg.com/vi_webp/Rl2jUmZWSfg/maxresdefault.webp
                " type="image/webp" />
                            <img loading="lazy" class="video__media is-16by9"
                                src="https://i.ytimg.com/vi/Rl2jUmZWSfg/maxresdefault.jpg"
                                alt="Видео: рекламный ролик Hörmann" width="1280" height="720" itemprop="thumbnail" >
                        </picture>
                        <span class="element--hidden" itemprop="description">Видео: рекламный ролик Хёрманн</span>
                    </a>
                    <button class="video__button" aria-label="Запустить видео">
                        <svg width="68" height="48" viewBox="0 0 68 48">
                            <path class="video__button-shape"
                                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
                            </path>
                            <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
                        </svg>
                    </button>
                </div>

                <div class="figcaption" itemprop="description">
                    Проморолик белорусского офиса Hörmann. Идея&nbsp;— Дмитрий Бартошевич.
                    Режиссер&nbsp;—
                    <a class="link" href="https://alexbondarev.pro/">Александр Бондарев</a>. Больше видео
                    <a class="link"
                        href="https://www.youtube.com/channel/UCyEPzGj0pU3OdwV2uvO9cmw">на&nbsp;youtube-канале
                        компании</a>
                </div>
             
            </div>

             <!-- Аудио секция -->
            <section class="row-gap--m">
                <h5 class="bold mb-m">Аудио</h5>


                <!-- Первое аудио -->
                <section itemprop="audio" itemscope itemtype="https://schema.org/AudioObject">
                    <h6 class="bold mb-m row-gap--m" itemprop="name">
                        Сколько раз нужно сделать, чтобы получилось хорошо?
                    </h6>
                    <div class="figure mt-m">
                        <audio controls>
                            <source src="https://bartoshevich.by/assets/media/project/hormann_100.mp3" type="audio/mpeg"
                                itemprop="contentUrl" />
                            Аудиопроигрователь не поддерживается вашим браузером :-(
                        </audio>
                      
                        <meta itemprop="duration" content="PT0M29S" >
                        <div class="figcaption" itemprop="description">
                            Идея и&nbsp;сценарий&nbsp;&mdash; Дмитрий Бартошевич
                        </div>

                        <details>
                            <summary>
                                <span class="link">Транскрипт аудио ролика</span>
                            </summary>
                            <div class="mt-m">
                                <p>
                                    —&nbsp;Папа, а&nbsp;сколько раз нужно сделать, чтобы
                                    получилось хорошо?
                                </p>
                                <p>—&nbsp;Сто раз так точно, сынок.</p>
                                <p>—&nbsp;Ого!.. А&nbsp;вот наши ворота... мм, как там...</p>
                                <p>—&nbsp;Хёрманн?</p>
                                <p>
                                    —&nbsp;Да, Хёрманн! Им&nbsp;уже 10&nbsp;лет, а&nbsp;они
                                    работают. Вот их&nbsp;сколько раз делали?
                                </p>
                                <p>—&nbsp;Больше 10&nbsp;миллионов раз.</p>
                                <p>
                                    —&nbsp;Так много?! Теперь понятно, почему у&nbsp;них так
                                    хорошо получается.
                                </p>
                                <p>Отбивка: «Хёрманн знает, как делать гаражные ворота».</p>
                            </div>
                        </details>
                    </div>
                </section>

                 <!-- Второе аудио -->
                 <section itemprop="audio" itemscope itemtype="https://schema.org/AudioObject">
                    <h6 class="bold mb-m mt-m" itemprop="name">
                        Как сказать на&nbsp;немецком &laquo;гаражные ворота&raquo;?
                    </h6>
                    <div class="figure mt-m">
                        <audio controls>
                            <source src="https://bartoshevich.by/assets/media/project/garage_doors_translation.mp3"
                                type="audio/mpeg" itemprop="contentUrl" />
                            Аудиопроигрователь не поддерживается вашим браузером :-(
                        </audio>
                        <meta itemprop="duration" content="PT0M16S" />
                        <div class="figcaption" itemprop="description">
                            Идея и&nbsp;сценарий&nbsp;&mdash; Дмитрий Бартошевич
                        </div>
                        <details>
                            <summary>
                                <span class="link">Транскрипт аудио ролика </span>
                            </summary>
                            <div class="mt-m">
                                <p>—&nbsp;Как сказать на&nbsp;немецком «гаражные ворота»?</p>
                                <p>—&nbsp;Хёрманн.</p>
                                <p>—&nbsp;А&nbsp;на&nbsp;арабском?</p>
                                <p>—&nbsp;Хёрманн.</p>
                                <p>
                                    —&nbsp;А&nbsp;на&nbsp;португальском, скажешь, тоже «Хёрманн»?
                                </p>
                                <p>—&nbsp;И&nbsp;на&nbsp;португальском.</p>
                                <p>
                                    Отбивка: «Гаражные ворота Хёрманн&nbsp;— от&nbsp;Аляски
                                    до&nbsp;Австралии»
                                </p>
                            </div>
                        </details>
                    </div>
                </section>
            </section>
        </div>
    </section>


     <!-- Этап 3: Промо материалы -->
    <section class="full-bleed full-bleed-row mt-m" itemscope itemtype="https://schema.org/CreativeWork" itemref="hormann-collection">
        
        <h4 class="grid-column__first-four list-sign h2" itemprop="name">
            Подготовил промо материалы
        </h4>
        <div class="grid-column__last-six row-gap--m">

             <!-- Изображения - буклеты и помощники -->
             <div itemprop="exampleOfWork" itemscope itemtype="https://schema.org/CreativeWork">
                <meta itemprop="name" content="Помощник в выборе ворот">
            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url"
                    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614110807/site/helper-3.jpg" />
                <picture>
                    <source media="(max-width: 400px)" srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_370/v1614110807/site/helper-3.jpg 1x,
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_740/v1614110807/site/helper-3.jpg 2x
            " />
                    <source media="(max-width: 789px)" srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_740/v1614110807/site/helper-3.jpg  1x,
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_1480/v1614110807/site/helper-3.jpg 2x
            " />
                    <source media="(max-width: 1068px)" srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_1200/v1614110807/site/helper-3.jpg 1x,
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/w_2400/v1614110807/site/helper-3.jpg        2x
            " />
                    <source media="(min-width: 1069px)" srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto:best/w_600/v1614110807/site/helper-3.jpg         1x,
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto,q_auto:best/w_1200/v1614110807/site/helper-3.jpg 2x
            " />

                    <img class="image is-3by2" loading="lazy" decoding="async"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614110807/site/helper-3.jpg"
                        title="Визуализация: Елизавета Мамчиц" width="2400" height="1600" itemprop="contentUrl"
                        alt="Альтернатива рекламной листовке. Идея - Дмитрий Бартошевич, верстка - Елизавета Мамчиц" />
                </picture>

                <div class="figcaption" itemprop="description">
                    Помощник в&nbsp;выборе ворот. Идея и&nbsp;текст&nbsp;— Дмитрий
                    Бартошевич. Верстка&nbsp;—
                    <a class="link" href="https://t.me/dsgndreamer">Елизавета Мамчиц</a>
                </div>
            </div>
             </div>

             <div itemprop="exampleOfWork" itemscope itemtype="https://schema.org/CreativeWork">
                <meta itemprop="name" content="Информационный буклет Hörmann">
            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url"
                    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg" />
                <img class="image" loading="lazy"
                    src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg"
                    srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg 600w,
            https://res.cloudinary.com/bartoshevich/image/upload/w_700/f_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg 700w,
            https://res.cloudinary.com/bartoshevich/image/upload/w_838/f_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg       838w
          " sizes="(max-width: 1000px) 100vw, 594px" alt="информационный буклет Hörmann" width="838" height="1192"
                    itemprop="contentUrl" >
                <div class="figcaption" itemprop="description">
                    Информационный буклет H&ouml;rmann. Идея и&nbsp;текст&nbsp;&mdash;
                    Дмитрий Бартошевич. Верстка&nbsp;&mdash;
                    <a class="link" href="https://t.me/alexmastak">Алексей Кузьменков</a>
                </div>
            </div>
            </div>
        </div>
    </section>


     <!-- Этап 4: Разработка сайта -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="hormann-collection">
        
        <h4 class="grid-column__first-four list-sign h2" itemprop="name">
            Координировал разработку промо сайта
        </h4>
        <div class="grid-column__last-six row-gap-m">
            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url"
                    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,g_auto/v1648378360/site/hormann_site_3--light.jpg" />
                <picture>
                    <source srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg
            " media="(prefers-color-scheme: dark)" />
                    <source srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,g_auto/v1648378360/site/hormann_site_3--light.jpg
            " media="(prefers-color-scheme: light)" />
                    <img loading="lazy" decoding="async" class="image is-4by3" width="2000" height="1500"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,g_auto/v1648378360/site/hormann_site_3--light.jpg"
                        alt="Стартовая версия сайта Hörmann, разработчик Giperlink" itemprop="contentUrl">
                </picture>

                <div class="figcaption" itemprop="description">
                    Стартовая версия сайта. Разработчик&nbsp;— Giperlink
                </div>
            </div>
        </div>
    </section>

    <!-- Дополнительная информация -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemprop="subjectOf" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="Публикации о проекте">
        <h4 class="grid-column__first-four h2">О&nbsp;Hörmann в&nbsp;блоге</h4>
        <div class="grid-column__last-six row-gap--m">
            <ul>
                <li class="list-li">
                    <a class="link" href="/blog/razrabotka-koncepcii-brenda-hormann/" itemprop="url">Разработал концепцию бренда для Hörmann
                        Беларусь</a>
                </li>
                <li class="list-li">
                    <a class="link" href="/blog/spam-replacement/" itemprop="url">Заменил рекламные листовки на&nbsp;помощники
                        в&nbsp;выборе</a>
                </li>
            </ul>

            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url" href="/assets/images/projects/hormann--nomer-odin@1134w.jpg">
                <picture>
                    <source srcset="
              /assets/images/projects/hormann--nomer-odin@567w.avif  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.avif 2x
            " type="image/avif" />
                    <source srcset="
              /assets/images/projects/hormann--nomer-odin@567w.webp  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.webp 2x
            " type="image/webp" />
                    <img class="image is-4by3" loading="lazy" decoding="async"
                        src="/assets/images/projects/hormann--nomer-odin@1134w.jpg" width="1134" height="851" srcset="
              /assets/images/projects/hormann--nomer-odin@567w.jpg  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.jpg 2x
            " alt="фотография с церемонии награждения Премией №1" itemprop="contentUrl">
                </picture>
                <meta itemprop="representativeOfPage" content="true">
                <div class="figcaption" itemprop="description">
                    <p>
                        С&nbsp;директором белорусского офиса Hörmann Сергеем Кобринцом
                        на&nbsp;вручении
                        <a class="link" href="https://premium-n-one.com/">Премии «Номер один»</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>





<article class="full-bleed block__space--top-h2 row-gap--lm">
    <!-- Связь с клиентом -->
    <div itemscope itemtype="https://schema.org/Collection" id="flex-n-roll-collection">
        <meta itemprop="name" content="Сотрудничество с Flex-n-Roll">
        <link itemprop="url" href="/blog/brand-strategy-flex-n-roll/">
        <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
    </div>
  

    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">
            клиент: <span class="noperenos">Flex-n-Roll</span>
        </h3>
        <br>типография, лидер в&nbsp;РБ в&nbsp;сегменте самоклеящихся этикеток
    </div>

    <div class="border-top"></div>

    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="flex-n-roll-collection">
        <h4 class="grid-column__first-four list-sign h2" itemprop="name">
            Cоздал концепцию бренда и&nbsp;стратегию развития
        </h4>
        <div class="grid-column__last-six">
             <!-- Отзыв клиента -->
             <div itemprop="review" itemscope itemtype="https://schema.org/Review">
                <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Project">
                    <meta itemprop="name" content="Разработка концепции бренда для Flex-n-Roll">
                    <link itemprop="url" href="https://bartoshevich.by/blog/brand-strategy-flex-n-roll/">
                </div>
                <meta itemprop="datePublished" content="2018-04-18">
            <blockquote class="blockquote--emphasis ml-2xl" itemprop="reviewBody">
                <p class="citation">
                    «Впереди много планов и&nbsp;есть главное&nbsp;— четкий выверенный
                    вектор развития компании, который обозначил для нас Дмитрий
                    Бартошевич. Поэтому
                    <strong>хотелось&nbsp;бы поблагодарить его за&nbsp;предложенную концепцию
                        и&nbsp;проведенную большую работу по&nbsp;брендингу нашего
                        предприятия</strong>».
                </p>
                <div class="citation__author">
                    <cite itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">Елена Горбачева</span>,
                        <span itemprop="jobTitle">директор типографии
                            <span class="noperenos">Flex-n-Roll</span></span>
                    </cite>
                    <meta itemprop="datePublished" content="2018-04-18" /><br />
                    <a class="italic link" href="https://bartoshevich.by/blog/brand-strategy-flex-n-roll/"
                        itemprop="url">ссылка на&nbsp;описание проекта и&nbsp;отзыв</a>
                </div>
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                    <meta itemprop="ratingValue" content="5">
                    <meta itemprop="bestRating" content="5">
                </div>
            </blockquote>
        </div>
        <!-- Ссылка на подробную информацию о проекте -->
        <div itemprop="subjectOf" itemscope itemtype="https://schema.org/Article">
            <meta itemprop="name" content="Описание проекта для Flex-n-Roll">
            <link itemprop="url" href="https://bartoshevich.by/blog/brand-strategy-flex-n-roll/">
            <meta itemprop="image" content="https://bartoshevich.by//assets/images/tizers/tizer-48.jpg">
            <meta itemprop="headline" content="Создаю концепцию бренда типографии">
            <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="Дмитрий Бартошевич">
                <link itemprop="url" href="https://bartoshevich.by/about/">
            </div>
        </div>
        </div>
    </section>
</article>








<article class="full-bleed block__space--top-h2 row-gap--lm">
   <!-- Связь с клиентом -->
   <div itemscope itemtype="https://schema.org/Collection" id="pes-collection">
    <meta itemprop="name" content="Сотрудничество с PES GLOBAL">
    <link itemprop="url" href="/blog/pes-global-brand-concept/">
    <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
</div>



    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">
            клиент: <span class="noperenos">PES GLOBAL</span>
        </h3>
        <br>поставки предприятиям горно-металлургической отрасли (Казахстан)
    </div>

    <div class="border-top"></div>

    <!-- Этап 1: Концепция бренда -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="pes-collection">
        <div class="grid-column__first-four row-gap--m">
            <h4 class="list-sign h2" itemprop="name">
                Cоздал концепцию бренда и&nbsp;стратегию развития
            </h4>
        </div>

        <div class="grid-column__last-six">
            <div class="full-bleed figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url"
                    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png" />
                <img class="image border" loading="lazy" decoding="async" sizes="100vw" srcset="
            https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png   640w,
            https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png 1040w,
            https://res.cloudinary.com/bartoshevich/image/upload/w_1920/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png 1920w,
            https://res.cloudinary.com/bartoshevich/image/upload/w_2438/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png        2438w
          " src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png"
                    width="2438" height="1644" alt="разворот в отраслевом журнале построенный на концепции бренда"
                    itemprop="contentUrl">
                <div class="figcaption" itemprop="description">
                    На&nbsp;основе концепции бренда совместно
                    <a class="link" href="https://bizikov.ru/">с дизайнером Сашей Бизиковым</a>
                    разработал рекламный разворот для отраслевого журнала «Добывающая
                    промышленность. Центральная Азия».
                    <button class="link button image-expand"
                        data-url="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png"
                        aria-label="Открыть изображение в новой вкладке">
                        Открыть изображение в новой вкладке
                    </button>
                </div>
            </div>
        </div>
    </section>


       <!-- Этап 2: Редакционная политика -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="pes-collection">
       
        <div class="grid-column__first-four row-gap--m">
            <h4 class="list-sign h2" itemprop="name">Создал редакционную политику</h4>
        </div>

        <div class="grid-column__last-six row-gap--m">
            <p>
                Разработал принципы письменной коммуникации с&nbsp;клиентами
                на&nbsp;основании концепции бренда и&nbsp;анализа существующей практики
                деловой переписки <span class="noperenos">PES GLOBAL</span>.
                По&nbsp;наиболее популярным темам создал шаблоны писем.
            </p>
            <p>
                Редполитика помогает не&nbsp;только сэкономить время и&nbsp;ресурсы
                сотрудников, но&nbsp;и&nbsp;улучшить качество обслуживания клиентов,
                поддержать профессиональный образ компании и&nbsp;укрепить связь
                с&nbsp;брендом.
            </p>
            <div class="full-bleed figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url"
                    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg" />
                <p class="figcaption" itemprop="description">
                    Выдержка из редполитики. Скриншот:
                </p>
                <img loading="lazy" decoding="async" class="image image--border"
                    src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg"
                    alt="Выдержка из редполитики PES GLOBAL" width="803" height="716" itemprop="contentUrl">
            </div>
        </div>
    </section>

       <!-- Этап 3: Другие инициативы -->
    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="pes-collection">
        <meta itemprop="name" content="Дополнительные маркетинговые инициативы">
        <div class="grid-column__first-four row-gap--m">
            <h4 class="h2">Другие инициативы</h4>
        </div>
        <div class="grid-column__last-six row-gap--m">
            <ul class="additive-spacing">
                <li class="list-li">
                    Провел детальный аудит сайта PES GLOBAL, выявив ключевые области для
                    улучшения и&nbsp;оптимизации.
                </li>
                <li class="list-li">
                    Переосмыслил и&nbsp;обновил рекламные буклеты, предложил иное видение
                    структуры и&nbsp;оформления презентаций, основанные
                    на&nbsp;современных трендах в&nbsp;маркетинге и&nbsp;дизайне.
                </li>
                <li class="list-li">Инициировал внедрение CRM-системы.</li>
                <li class="list-li">
                    Работал над созданием продуктивной и&nbsp;структурированной рабочей
                    среды в&nbsp;компании: внедрил использование принципов канбан.
                </li>
            </ul>
           

            <!-- Связанные материалы -->
            <div itemprop="subjectOf" itemscope itemtype="https://schema.org/BlogPosting">
                <meta itemprop="name" content="Создаю концепцию бренда для компании «PES GLOBAL»">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <meta itemprop="image" content="https://bartoshevich.by/assets/images/tizers/tizer-79.jpg">
                <meta itemprop="headline" content="Бренд PES GLOBAL в Казахстане: разработка стратегии">
                
                <p class="mt-m">
                    <span class="noperenos">PES GLOBAL</span> в&nbsp;блоге:
                </p>
                <ul>
                    <li class="list-li">
                        <a class="link" href="/blog/pes-global-brand-concept/" itemprop="url">Создаю концепцию бренда для компании
                            &laquo;PES&nbsp;GLOBAL&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</article>




<article class="full-bleed block__space--top-h2 row-gap--lm">
     <!-- Связь с клиентом -->
     <div itemscope itemtype="https://schema.org/Collection" id="ego-art-collection">
        <meta itemprop="name" content="Сотрудничество с EGO-ART">
        <link itemprop="url" href="/blog/pes-global-brand-concept/">
        <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
    </div>
 

    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">
            клиент: <span class="noperenos">EGO-ART</span>
        </h3>
        <br>ювелирное производство
    </div>

    <div class="border-top"></div>

    <section class="full-bleed full-bleed-row mt-m row-gap--m">
        <div class="grid-column__first-four row-gap--m">
            <!-- Первая активность -->
    <div itemscope itemtype="https://schema.org/CreativeWork" itemref="ego-art-collection">
        <h4 class="list-sign h2" itemprop="name">Провел аудит работы отдела маркетинга</h4>
    </div>
    
    <!-- Вторая активность -->
    <div itemscope itemtype="https://schema.org/CreativeWork" itemref="ego-art-collection">
       
        <h4 class="list-sign h2" itemprop="name">Cоздал концепцию бренда и&nbsp;стратегию развития</h4>
    </div>
    
    <!-- Третья активность -->
    <div itemscope itemtype="https://schema.org/CreativeWork" itemref="ego-art-collection">
        <h4 class="list-sign h2" itemprop="name">Подготовил годовой маркетинговый план</h4>
    </div>
        </div>

        <div class="grid-column__last-six">
            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img loading="lazy" decoding="async" class="image is-16by9" width="1920" height="1080"
                    src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/ego-art_slides.png"
                    alt="слайд с содержанием итоговой презентации для EGO-ART" itemprop="contentUrl">
                <div class="figcaption" itemprop="description">
                    Могу показать только скриншот обзора слайдов презентации
                    с&nbsp;результатами аудита маркетинга (соглашение
                    о&nbsp;неразглашении)
                </div>
            </div>
        </div>
    </section>
</article>





<article class="full-bleed block__space--top-h2 row-gap--lm">
   <!-- Связь с клиентом -->
   <div itemscope itemtype="https://schema.org/Collection" id="termium-collection">
    <meta itemprop="name" content="Разработка концепции бренда Termium">
    <link itemprop="url" href="https://termiumheaters.ru/">
    <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
    </div>


    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">клиент: ЮВИ Электроникс (тм. Termium)</h3>
        <br>производство и&nbsp;поставки промышленных нагревателей
        и&nbsp;комплектующих
    </div>

    <div class="border-top"></div>

    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="termium-collection">
        <div class="grid-column__first-four">
            <h4 class="list-sign h2" itemprop="name">
                Cоздал концепцию бренда и&nbsp;стратегию развития
            </h4>
        </div>

        <div class="grid-column__last-six">
            <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648378360/site/termium_site--light.jpg">
                <picture>
                    <source srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648378360/site/termium_site--dark.jpg
            " media="(prefers-color-scheme: dark)" />
                    <source srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648378360/site/termium_site--light.jpg
            " media="(prefers-color-scheme: light)" />
                    <img loading="lazy" decoding="async" class="image is-4by3" width="2000" height="1500"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648378360/site/termium_site--light.jpg"
                        alt="скриншот главной страницы сайта Termium" itemprop="contentUrl">
                </picture>
                <div class="figcaption" itemprop="description">
                    После утверждения концепции компания разработала новый сайт.
                    И&nbsp;это только начало ;-)
                </div>
            </div>
        </div>
    </section>
    <!-- Результаты проекта -->
    <div itemprop="result" itemscope itemtype="https://schema.org/Thing">
        <meta itemprop="name" content="Новый сайт Termium">
        <meta itemprop="description" content="Обновленный сайт компании на основе разработанной концепции бренда">
    </div>
</article>






<article class="full-bleed block__space--top-h2 row-gap--lm">
<!-- Связь с клиентом -->
   <div itemscope itemtype="https://schema.org/Collection" id="giperlink-collection">
    <meta itemprop="name" content="Создание концепции бренда и стратегия развития для Giperlink">
    <link itemprop="url" href="https://giperlink.by/">
    <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
   </div>


  
    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">клиент: Giperlink</h3>
        <br>интернет-агентство
    </div>

    <div class="border-top"></div>

    <section class="full-bleed full-bleed-row mt-m row-gap--m" itemscope itemtype="https://schema.org/CreativeWork" itemref="giperlink-collection">
        <div class="grid-column__first-four">
            <h4 class="h2 list-sign" itemprop="name">
                Cоздал концепцию бренда и&nbsp;стратегию развития
            </h4>
        </div>

        <div class="grid-column__last-six">
            <div itemprop="review" itemscope itemtype="https://schema.org/Review">
                <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Project">
                    <meta itemprop="name" content="Разработка концепции бренда для Giperlink">
                    <link itemprop="url" href="https://bartoshevich.by/blog/brand-giperlink/">
                </div>
                <meta itemprop="datePublished" content="2018-11-30">
            
            <blockquote class="blockquote--emphasis ml-2xl" itemprop="reviewBody">
                <p class="citation">
                    «На&nbsp;опыте прочувствовали, насколько
                    <strong>наличие концепции бренда помогает развитию компании</strong>».
                </p>
                <div class="citation__author">
                    <cite itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">Дмитрий Лихтарович</span>,
                        <span itemprop="jobTitle">директор Giperlink</span>
                    </cite>
                   <br>
                    <a class="italic link" href="https://bartoshevich.by/blog/kejs-brend-giperlink/" itemprop="url">ссылка
                        на&nbsp;описание проекта и&nbsp;отзыв</a>
                </div>
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                    <meta itemprop="ratingValue" content="5" />
                    <meta itemprop="bestRating" content="5" />
                </div>
            </blockquote>
            </div>
        </div>
    </section>
     <!-- Связь с публикацией о проекте -->
     <div itemprop="subjectOf" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="name" content="Создал концепцию бренда Giperlink">
        <meta itemprop="url" content="https://bartoshevich.by/blog/brand-giperlink/">
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="Дмитрий Бартошевич">
            <link itemprop="url" href="https://bartoshevich.by/about/">
        </div>
        <meta itemprop="image" content="https://bartoshevich.by/assets/images/tizers/tizer-51a.jpg">
        <meta itemprop="headline" content="Концепция бренда Giperlink: этапы разработки">
    </div>
</article>




<article class="full-bleed block__space--top-h2 row-gap--lm">
  <!-- Связь с клиентом -->
  <div itemscope itemtype="https://schema.org/Collection" id="3dom-collection">
    <meta itemprop="name" content="Сотрудничество с 3DOM">
    <link itemprop="url" href="/blog/3dom-mebel-dlya-semi/">
    <meta itemprop="creator" itemscope itemtype="https://schema.org/ProfessionalService" itemid="#service">
   </div>


    <div class="mt-m mb-m">
        <h3 class="h2 bold inline">клиент: 3Dom</h3>
        <br />производство и&nbsp;продажа корпусной мебели
    </div>

    <div class="border-top"></div>

    <section class="full-bleed full-bleed-row mt-m row-gap--m">
        <div class="grid-column__first-four row-gap--m">
            <div itemscope itemtype="https://schema.org/CreativeWork" itemref="3dom-collection">                
                <h4 class="list-sign h2" itemprop="name">Cоздал концепцию бренда и&nbsp;стратегию развития</h4>
            </div>
            <div itemscope itemtype="https://schema.org/CreativeWork" itemref="3dom-collection">               
                <h4 class="list-sign h2" itemprop="name">Разработал рекламные кампании, координировал проведение</h4>
            </div>
        </div>

        <div class="grid-column__last-six row-gap--m">
            <div itemprop="exampleOfWork" itemscope itemtype="https://schema.org/CreativeWork" itemref="3dom-collection">
                <meta itemprop="name" content="Семейные праздники 3Dom">
                <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648365692/site/3Dom.jpg">
                    <img class="image is-3by2" loading="lazy" decoding="async"
                        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648365692/site/3Dom.jpg"
                        alt="фотография семейного праздника 3Dom" itemprop="contentUrl">
                    <div class="figcaption" itemprop="description">
                        Концепция 3Dom&nbsp;— мебель для семьи. Одна из&nbsp;инициатив&nbsp;—
                        семейные праздники. На&nbsp;фотографии момент, когда через маленькую
                        щелочку приоткрытой двери шкафа дети смотрели на&nbsp;северное сияние
                        :-)
                    </div>
                </div>
            </div>

            <p class="mb-m">О&nbsp;работе с&nbsp;3Dom в блоге:</p>
            <div itemprop="subjectOf" itemscope itemtype="https://schema.org/CreativeWork" itemref="3dom-collection">
                <meta itemprop="name" content="Публикации о проекте">
            <ul>
                <li class="list-li">
                    <a class="link" href="/blog/3dom-mebel-dlya-semi/" itemprop="url">Создал концепцию бренда 3Dom</a>
                </li>

                <li class="list-li">
                    <a class="link" href="/blog/sobiraem-bazu-podpischikov/" itemprop="url">Собрал с&nbsp;нуля базу подписчиков</a>
                </li>
            </ul>
            </div>
        </div>
    </section>
</article>






<article class="full-bleed block__space--top-h2 row-gap--lm" itemscope itemtype="https://schema.org/CollectionPage">
    <meta itemprop="name" content="Другие маркетинговые проекты Дмитрия Бартошевича">
    <meta itemprop="description" content="Коллекция ссылок на кейсы и проекты в сфере маркетинга, брендинга и рекламы">

    <div class="mt-m mb-m">
        <h3 class="h2 bold inline" itemprop="headline">Другие кейсы</h3>
    </div>

    <div class="border-top"></div>

    <section class="mt-m full-bleed full-bleed-row">
        <div class="grid-column__first-four">
            <h4 class="h2">Читать в&nbsp;блоге</h4>
        </div>
        <div class="grid-column__last-six row" itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList">
            <meta itemprop="numberOfItems" content="10">

            <ul class="c-5 additive-spacing max-width-text">
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="1">
                    <a class="link" href="/blog/editorial-policy/" itemprop="url"><span itemprop="name">Составил редакционную политику бренда</span></a>
                    <meta itemprop="description" content="Кейс по созданию редакционной политики для бренда">
                </li>
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="2">
                    <a class="link" href="/blog/reklamnyj-tekst-atlant-telekom/" itemprop="url">
                        <span itemprop="name">Исправил рекламный текст Атлант Телеком</span>
                    </a>
                    <meta itemprop="description" content="Кейс по улучшению рекламного текста для телекоммуникационной компании">
                </li>

                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="3">
                    <a class="link" href="/blog/kejs-delayu-sistemu-skidok/" itemprop="url">
                        <span itemprop="name">Сделал систему скидок</span>
                    </a>
                    <meta itemprop="description" content="Кейс по разработке системы скидок для клиента">
                </li>

                 <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="4">
                    <a class="link" href="/blog/riski-splochnennogo-kollektiva-v-marketinge/#bartoshevich-role" itemprop="url">
                        <span itemprop="name">Усилил маркетинговую стратегию предприятий</span>
                    </a>
                    <meta itemprop="description" content="Кейс по улучшению маркетинговой стратегии для компаний">
                </li>
            </ul>

            <ul class="c-5 additive-spacing max-width-text">
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="5">
                    <a class="link" href="/blog/sajt-dlya-psihologa-kejs/" itemprop="url">
                        <span itemprop="name">Сделал сайт психолога</span>
                    </a>
                    <meta itemprop="description" content="Кейс по разработке веб-сайта для кризисного психолога">
                </li>
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="6">
                    <a class="link" href="/blog/reklama-dlya-banka-tinkova/" itemprop="url">
                        <span itemprop="name">Рекламировал банк Олега Тинькова</span>
                    </a>
                    <meta itemprop="description" content="Кейс по разработке рекламной кампании для банка">
                </li>
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="7">
                    <div itemprop="description">
                        выполнил проекты для 
                        <span itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="Истела Роса">
                            «Истела Роса»
                        </span>, 
                        <span itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="Danone Беларусь">
                            Danone Беларусь
                        </span>,
                        <span class="noperenos" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="САВ-лайн">
                            «САВ-лайн»
                        </span>, 
                        <span itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="MODISTA">
                            MODISTA
                        </span>,
                        <span class="noperenos"  itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="PES GLOBAL">
                            PES GLOBAL
                        </span> 
                        и&nbsp;других компаний.
                        Постепенно
                        <a class="link" href="/blog/" title="авторский блог о маркетинге и развитии бизнеса">в&nbsp;блоге</a>
                        появится описание всех завершенных проектов, о&nbsp;ходе которых могу
                        рассказать публично.
                    </div>
                </li>
            </ul>
            
        </div>
    </section>
</article>