<article class="full-bleed row-gap--lm" id="cases">


  <div class="mb-m">
    <h3 class="h2 bold inline">клиент: Hörmann</h3>
    <br>немецкий производитель дверей, ворот, электроприводов
  </div>

  <div class="border-top"></div>

  <!-- Этап 1: Концепция бренда -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four">
      <h4 class="list-sign h2">
        Cоздал концепцию бренда и&nbsp;стратегию развития
      </h4>
    </div>

    <div class="grid-column__last-six">

      <img
  class="image is-4by3 border--gray"
  loading="lazy"
  decoding="async"
  width="2000"
  height="1500"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_1160,f_auto,q_auto:best/v1622023855/site/hormann-slide.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_425,f_auto,q_auto:best/v1622023855/site/hormann-slide.jpg  425w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_870,f_auto,q_auto:best/v1622023855/site/hormann-slide.jpg  870w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1160,f_auto,q_auto:best/v1622023855/site/hormann-slide.jpg 1160w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2000,f_auto,q_auto:best/v1622023855/site/hormann-slide.jpg 2000w
  "
  sizes="(min-width: 1140px) 594px, (min-width: 700px) calc(55.24vw - 26px), (min-width: 380px) 94.67vw, calc(46.67vw + 158px)"
  alt="Кейс: разработка бренд-стратегии Hörmann — маркетинговый проект Дмитрия Бартошевича"
>


     

      <div class="figcaption">
        Содержание презентации с&nbsp;концепцией бренда
      </div>
    </div>
  </section>

  <!-- Этап 2: Рекламные кампании -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <h4 class="grid-column__first-four list-sign h2">
      Разработал рекламные кампании, координировал проведение
    </h4>
    <div class="grid-column__last-six row-gap--m">
      <h5 class="bold mb-m">Видео</h5>

      <div class="figure">
        <div class="video"> <a class="video__link" href="https://youtu.be/Rl2jUmZWSfg" target="_blank"
          rel="noopener noreferrer">
          <picture>
            <source srcset="https://i.ytimg.com/vi_webp/Rl2jUmZWSfg/maxresdefault.webp
                " type="image/webp">
            <img loading="lazy" class="video__media is-16by9" src="https://i.ytimg.com/vi/Rl2jUmZWSfg/maxresdefault.jpg"
              alt="Видео: рекламный ролик Hörmann" width="1280" height="720">
          </picture>
          </a>
          <button class="video__button" aria-label="Запустить видео">
            <svg width="68" height="48" viewbox="0 0 68 48">
              <path class="video__button-shape"
                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
              </path>
              <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
          </button>
        </div>

        <div class="figcaption">
          Проморолик белорусского офиса Hörmann. Идея&nbsp;— Дмитрий Бартошевич. Режиссер&nbsp;—
          <a class="link" href="https://alexbondarev.pro/">Александр Бондарев</a>. Больше видео
          <a class="link" href="https://www.youtube.com/channel/UCyEPzGj0pU3OdwV2uvO9cmw">на&nbsp;youtube-канале
            компании</a>
        </div>

      </div>

      <!-- Аудио секция -->
      <section class="row-gap--m">
        <h5 class="bold mt-m">Аудио</h5>

        <!-- Первое аудио -->
        <section class="">
          <h6 class="bold mb-m row-gap--m">
            Сколько раз нужно сделать, чтобы получилось хорошо?
          </h6>
          <div class="figure mt-m">
            <audio controls="controls">
              <source src="https://bartoshevich.by/assets/media/project/hormann_100.mp3" type="audio/mpeg">
              Аудиопроигрователь не поддерживается вашим браузером :-(
            </audio>

            <div class="figcaption">
              Идея и&nbsp;сценарий&nbsp;&mdash; Дмитрий Бартошевич
            </div>

            <details>
              <summary>
                <span class="link">Транскрипт аудио ролика</span>
              </summary>
              <div class="mt-m">
                <p>
                  —&nbsp;Папа, а&nbsp;сколько раз нужно сделать, чтобы получилось хорошо?
                </p>
                <p>—&nbsp;Сто раз так точно, сынок.</p>
                <p>—&nbsp;Ого!.. А&nbsp;вот наши ворота... мм, как там...</p>
                <p>—&nbsp;Хёрманн?</p>
                <p>
                  —&nbsp;Да, Хёрманн! Им&nbsp;уже 10&nbsp;лет, а&nbsp;они работают. Вот их&nbsp;сколько раз делали?
                </p>
                <p>—&nbsp;Больше 10&nbsp;миллионов раз.</p>
                <p>
                  —&nbsp;Так много?! Теперь понятно, почему у&nbsp;них так хорошо получается.
                </p>
                <p>Отбивка: «Хёрманн знает, как делать гаражные ворота».</p>
              </div>
            </details>
          </div>
        </section>

        <!-- Второе аудио -->
        <section class="">
          <h6 class="bold mb-m mt-m">
            Как сказать на&nbsp;немецком &laquo;гаражные ворота&raquo;?
          </h6>
          <div class="figure mt-m">
            <audio controls="controls">
              <source src="https://bartoshevich.by/assets/media/project/garage_doors_translation.mp3" type="audio/mpeg">
              Аудиопроигрователь не поддерживается вашим браузером :-(
            </audio>

            <div class="figcaption">
              Идея и&nbsp;сценарий&nbsp;&mdash; Дмитрий Бартошевич
            </div>
            <details>
              <summary>
                <span class="link">Транскрипт аудио ролика
                </span>
              </summary>
              <div class="mt-m">
                <p>—&nbsp;Как сказать на&nbsp;немецком «гаражные ворота»?</p>
                <p>—&nbsp;Хёрманн.</p>
                <p>—&nbsp;А&nbsp;на&nbsp;арабском?</p>
                <p>—&nbsp;Хёрманн.</p>
                <p>
                  —&nbsp;А&nbsp;на&nbsp;португальском, скажешь, тоже «Хёрманн»?
                </p>
                <p>—&nbsp;И&nbsp;на&nbsp;португальском.</p>
                <p>
                  Отбивка: «Гаражные ворота Хёрманн&nbsp;— от&nbsp;Аляски до&nbsp;Австралии»
                </p>
              </div>
            </details>
          </div>
        </section>
      </section>
    </div>
  </section>

  <!-- Этап 3: Промо материалы -->
  <section class="full-bleed full-bleed-row mt-m">


    <h4 class="grid-column__first-four list-sign h2">
      Подготовил промо материалы
    </h4>
    <div class="grid-column__last-six row-gap--m">

      <!-- Пример 1 -->


      <div class="figure">

        <img
        class="image is-3by2"
        loading="lazy"
        decoding="async"
        width="2400"
        height="1600"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto,w_2400/v1614110807/site/helper-3.jpg"
        srcset="
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto,w_425/v1614110807/site/helper-3.jpg  425w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto,w_870/v1614110807/site/helper-3.jpg  870w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto,w_1160/v1614110807/site/helper-3.jpg 1160w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614110807/site/helper-3.jpg 2400w
        "
        sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
        alt="Альтернатива рекламной листовке. Идея — Дмитрий Бартошевич, верстка — Елизавета Мамчиц"
        title="Визуализация: Елизавета Мамчиц"
      >

        <div class="figcaption">
          Помощник в&nbsp;выборе ворот. Идея и&nbsp;текст&nbsp;— Дмитрий Бартошевич. Верстка&nbsp;—
          <a class="link" href="https://t.me/dsgndreamer">Елизавета Мамчиц</a>
        </div>
      </div>


      <!-- Пример 2 -->

      <div class="figure">

        <img class="image border--gray" loading="lazy"
        src="https://res.cloudinary.com/bartoshevich/image/upload/w_702/f_auto/v1623041572/site/hormann_print_1.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_300/f_auto/v1623041572/site/hormann_print_1.jpg 300w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_702/f_auto/v1623041572/site/hormann_print_1.jpg 702w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_838/f_auto/v1623041572/site/hormann_print_1.jpg 838w
  "
  sizes="(min-width: 1140px) 594px, (min-width: 700px) calc(55.24vw - 26px), (min-width: 380px) 94.67vw, calc(46.67vw + 158px)"
  width="838"
  height="1192"
  alt="Кейс: создание корпоративного буклета Hörmann — маркетинговый проект Дмитрия Бартошевича"
>
      
        <div class="figcaption">
          Информационный буклет H&ouml;rmann. Идея и&nbsp;текст&nbsp;&mdash; Дмитрий Бартошевич. Верстка&nbsp;&mdash;
          <a class="link" href="https://t.me/alexmastak">Алексей Кузьменков</a>
        </div>
      </div>
    </div>

  </section>

  <!-- Этап 4: Разработка сайта -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <h4 class="grid-column__first-four list-sign h2">
      Координировал разработку промо сайта
    </h4>
    <div class="grid-column__last-six row-gap-m">
      <div class="figure">

        <picture>
          <!-- Тёмная тема -->
          <source
            media="(prefers-color-scheme: dark)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1648378360/site/hormann_site_3--dark.jpg 1782w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/hormann_site_3--dark.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Светлая тема -->
          <source
            media="(prefers-color-scheme: light)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1782w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/hormann_site_3--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Фолбэк для браузеров без поддержки <picture> -->
          <img
            class="image is-4by3"
            loading="lazy"
            decoding="async"
            width="2000"
            height="1500"
            src="https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/hormann_site_3--light.jpg"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1648378360/site/hormann_site_3--light.jpg 1782w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/hormann_site_3--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
            alt="Кейс: разработка сайта Hörmann под руководством Дмитрия Бартошевича"
          >
        </picture>

        <div class="figcaption">
          Стартовая версия сайта. Разработчик&nbsp;— Giperlink
        </div>
      </div>
    </div>
  </section>

  <!-- Дополнительная информация -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">


    <h4 class="grid-column__first-four h2">О&nbsp;Hörmann в&nbsp;блоге</h4>
    <div class="grid-column__last-six row-gap--m">
      <ul>
        <li class="list-li">
          <a class="link" href="/blog/razrabotka-koncepcii-brenda-hormann/">Разработал концепцию бренда для Hörmann
            Беларусь</a>
        </li>
        <li class="list-li">
          <a class="link" href="/blog/spam-replacement/">Заменил рекламные листовки на&nbsp;помощники в&nbsp;выборе</a>
        </li>
      </ul>

      <div class="figure">

        <picture>
          <source srcset="
              /assets/images/projects/hormann--nomer-odin@567w.avif  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.avif 2x
            " type="image/avif">
          <source srcset="
              /assets/images/projects/hormann--nomer-odin@567w.webp  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.webp 2x
            " type="image/webp">
          <img class="image is-4by3" loading="lazy" decoding="async"
            src="/assets/images/projects/hormann--nomer-odin@1134w.jpg" width="1134" height="851" srcset="
              /assets/images/projects/hormann--nomer-odin@567w.jpg  1x,
              /assets/images/projects/hormann--nomer-odin@1134w.jpg 2x
            " alt="фотография с церемонии награждения Премией №1">
        </picture>

        <div class="figcaption">
          <p>
            С&nbsp;директором белорусского офиса Hörmann Сергеем Кобринцом на&nbsp;вручении
            <a class="link" href="https://premium-n-one.com/">Премии «Номер один»</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>

<article class="full-bleed block__space--top-h2 row-gap--lm">


  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">клиент: <span class="noperenos">Flex-n-Roll</span></h3>
    <br>типография, лидер в&nbsp;РБ в&nbsp;сегменте самоклеящихся этикеток
  </div>

  <div class="border-top"></div>

  <!-- Основная работа -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four">
      <h4 class="list-sign h2">
        Создал концепцию бренда и&nbsp;стратегию развития
      </h4>
    </div>

    <div class="grid-column__last-six">
      <!-- Отзыв клиента -->
      <blockquote class="blockquote--emphasis ml-2xl">


        <p class="citation">
          &laquo;Впереди много планов и&nbsp;есть главное&nbsp;&mdash; четкий выверенный вектор развития компании,
          который обозначил для нас Дмитрий Бартошевич. Поэтому хотелось&nbsp;бы поблагодарить его за&nbsp;предложенную
          концепцию и&nbsp;проведенную большую работу по&nbsp;брендингу нашего предприятия&raquo;.
        </p>

        <div class="citation__author">
          <cite>
            <span>Елена Горбачева</span>,
            <span>директор типографии <span class="noperenos">Flex-n-Roll</span></span>
          </cite>
        </div>



        <div class="mt-s">
          <a class="italic link" href="https://bartoshevich.by/blog/brand-strategy-flex-n-roll/">
            Описание проекта и отзыв
          </a>
        </div>
      </blockquote>


    </div>
  </section>
</article>


<article class="full-bleed block__space--top-h2 row-gap--lm">


  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">
      клиент:
      <span class="noperenos">PES GLOBAL</span>
    </h3>
    <br>поставки предприятиям горно-металлургической отрасли (Казахстан)
  </div>

  <div class="border-top"></div>

  <!-- Этап 1: Концепция бренда -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four row-gap--m">
      <h4 class="list-sign h2">
        Cоздал концепцию бренда и&nbsp;стратегию развития
      </h4>
    </div>

    <div class="grid-column__last-six">
      <div class="full-bleed figure">

        <img
  class="image border"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png  640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1920/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png 1920w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2438/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png 2438w
  "
  sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
  width="2438"
  height="1644"
  alt="Кейс: рекламный разворот PES GLOBAL в отраслевом журнале — маркетинговый проект Дмитрия Бартошевича"
>
        <div class="figcaption">
          На&nbsp;основе концепции бренда совместно
          <a class="link" href="https://bizikov.ru/">с дизайнером Сашей Бизиковым</a>
          разработал рекламный разворот для отраслевого журнала «Добывающая промышленность. Центральная Азия».
          <button class="link button image-expand"
            data-url="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1692002941/site/pes/pes-global_mag.png"
            aria-label="Открыть изображение в новой вкладке">
            Открыть изображение в новой вкладке
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Этап 2: Редакционная политика -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four row-gap--m">
      <h4 class="list-sign h2">Создал редакционную политику</h4>
    </div>

    <div class="grid-column__last-six row-gap--m">
      <p>
        Разработал принципы письменной коммуникации с&nbsp;клиентами на&nbsp;основании концепции бренда и&nbsp;анализа
        существующей практики деловой переписки
        <span class="noperenos">PES GLOBAL</span>. По&nbsp;наиболее популярным темам создал шаблоны писем.
      </p>
      <p>
        Редполитика помогает не&nbsp;только сэкономить время и&nbsp;ресурсы сотрудников, но&nbsp;и&nbsp;улучшить
        качество обслуживания клиентов, поддержать профессиональный образ компании и&nbsp;укрепить связь с&nbsp;брендом.
      </p>
      <div class="full-bleed figure">

        <p class="figcaption">
          Выдержка из редполитики. Скриншот:
        </p>
        <img
        class="image image--border"
        loading="lazy"
        decoding="async"
        src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg"
        srcset="
          https://res.cloudinary.com/bartoshevich/image/upload/w_300,f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg 300w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_600,f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg 600w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_803,f_auto,q_auto/v1698477680/pes_projects/redpolicy__example.jpg 803w
        "
        sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
        width="803"
        height="716"
        alt="Кейс: разработка редакционной политики бренда и стандартов коммуникации — маркетинговый проект Дмитрия Бартошевича"
      >
      </div>
    </div>
  </section>

  <!-- Этап 3: Другие инициативы -->
  <section class="full-bleed full-bleed-row mt-m row-gap--m">


    <div class="grid-column__first-four row-gap--m">
      <h4 class="h2">Другие инициативы</h4>
    </div>
    <div class="grid-column__last-six row-gap--m">
      <ul class="additive-spacing">
        <li class="list-li">
          Провел детальный аудит сайта PES GLOBAL, выявив ключевые области для улучшения и&nbsp;оптимизации.
        </li>
        <li class="list-li">
          Переосмыслил и&nbsp;обновил рекламные буклеты, предложил иное видение структуры и&nbsp;оформления презентаций,
          основанные на&nbsp;современных трендах в&nbsp;маркетинге и&nbsp;дизайне.
        </li>
        <li class="list-li">Инициировал внедрение CRM-системы.</li>
        <li class="list-li">
          Работал над созданием продуктивной и&nbsp;структурированной рабочей среды в&nbsp;компании: внедрил
          использование принципов канбан.
        </li>
      </ul>

     <div class="additive-spacing">
      <p class="mt-m">PES GLOBAL в&nbsp;блоге:</p>
      <ul>
        <li class="list-li">
          <a class="link" href="/blog/pes-global-brand-concept/">Создаю концепцию бренда для компании «PES GLOBAL»</a>
        </li>
      </ul>
      </div>
    </div>

  </section>
</article>

<article class="full-bleed block__space--top-h2 row-gap--lm">


  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">
      клиент:
      <span class="noperenos">EGO-ART</span>
    </h3>
    <br>ювелирное производство
  </div>

  <div class="border-top"></div>

  <div class="full-bleed full-bleed-row mt-m row-gap--m">
    <div class="grid-column__first-four row-gap--m">
      <!-- Первая активность -->
      <section class="row-gap--m">
        <h4 class="list-sign h2">Провел аудит работы отдела маркетинга</h4>
      </section>

      <!-- Вторая активность -->

      <section class="row-gap--m">
        <h4 class="list-sign h2">Cоздал концепцию бренда и&nbsp;стратегию развития</h4>
      </section>

      <!-- Третья активность -->
      <section class="row-gap--m">
        <h4 class="list-sign h2">Подготовил годовой маркетинговый план</h4>
      </section>
    </div>

    <div class="grid-column__last-six">
      <div class="figure">
        <img
  loading="lazy"
  decoding="async"
  class="image is-16by9"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/ego-art_slides.png"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1623041572/site/ego-art_slides.png  665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1623041572/site/ego-art_slides.png  984w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1188w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1510w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1782w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1920,f_auto,q_auto/v1623041572/site/ego-art_slides.png 1920w
  "
  sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
  width="1920"
  height="1080"
  alt="Кейс: итоговая презентация по аудиту маркетинга Ego-Art — маркетинговый проект Дмитрия Бартошевича"
>
        <div class="figcaption">
          Могу показать только скриншот обзора слайдов презентации с&nbsp;результатами аудита маркетинга (соглашение
          о&nbsp;неразглашении)
        </div>
      </div>
    </div>
  </div>
</article>

<article class="full-bleed block__space--top-h2 row-gap--lm">

  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">клиент: ЮВИ Электроникс (тм. Termium)</h3>
    <br>производство и&nbsp;поставки промышленных нагревателей и&nbsp;комплектующих
  </div>

  <div class="border-top"></div>

  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four">
      <h4 class="list-sign h2">
        Cоздал концепцию бренда и&nbsp;стратегию развития
      </h4>
    </div>

    <div class="grid-column__last-six">
      <div class="figure">

        <picture>
          <!-- Тёмная тема -->
          <source
            media="(prefers-color-scheme: dark)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--dark.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--dark.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Светлая тема -->
          <source
            media="(prefers-color-scheme: light)"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
          >
        
          <!-- Фолбэк для старых браузеров -->
          <img
            class="image is-4by3"
            loading="lazy"
            decoding="async"
            width="2000"
            height="1500"
            src="https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg"
            srcset="
              https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  665w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648378360/site/termium_site--light.jpg  984w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1188w,
              https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648378360/site/termium_site--light.jpg 1510w,
              https://res.cloudinary.com/bartoshevich/image/upload/v1648378360/site/termium_site--light.jpg      2000w
            "
            sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
            alt="Кейс: дизайн и структура сайта Termium под руководством Дмитрия Бартошевича"
          >
        </picture>
        
        
        <div class="figcaption">
          После утверждения концепции компания разработала новый сайт. И&nbsp;это только начало ;-)
        </div>
      </div>
    </div>
  </section>

</article>






<article class="full-bleed block__space--top-h2 row-gap--lm">

  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">клиент: Giperlink</h3>
    <br>интернет-агентство
  </div>

  <div class="border-top"></div>

  <section class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four">
      <h4 class="h2 list-sign">
        Cоздал концепцию бренда и&nbsp;стратегию развития
      </h4>
    </div>

    <div class="grid-column__last-six">

      <blockquote class="blockquote--emphasis ml-2xl">
        <p class="citation">
          «На&nbsp;опыте прочувствовали, насколько
          <strong>наличие концепции бренда помогает развитию компании</strong>».
        </p>
        <div class="citation__author">
          <cite>
            <span>Дмитрий Лихтарович</span>,
            <span>директор Giperlink</span>
          </cite>
          <br>
          <a class="italic link" href="https://bartoshevich.by/blog/kejs-brend-giperlink/">
            ссылка на&nbsp;описание проекта и&nbsp;отзыв
          </a>
        </div>

      </blockquote>

    </div>
  </section>

</article>

<article class="full-bleed block__space--top-h2 row-gap--lm">


  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">клиент: 3Dom</h3>
    <br>производство и&nbsp;продажа корпусной мебели
  </div>

  <div class="border-top"></div>

  <div class="full-bleed full-bleed-row mt-m row-gap--m">

    <div class="grid-column__first-four row-gap--m">
      <section class="full-bleed-row row-gap--m">
        <h4 class="list-sign h2">Создал концепцию бренда и&nbsp;стратегию развития</h4>
      </section>

      <section class="full-bleed-row row-gap--m">
        <h4 class="list-sign h2">Разработал рекламные кампании, координировал проведение</h4>
      </section>
    </div>

    <div class="grid-column__last-six row-gap--m">
      <!-- Пример работы -->

      <div class="figure">

        <img
  class="image is-3by2"
  loading="lazy"
  decoding="async"
  width="3408"
  height="2272"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648365692/site/3Dom.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto/v1648365692/site/3Dom.jpg   665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648365692/site/3Dom.jpg   984w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1188,f_auto,q_auto/v1648365692/site/3Dom.jpg  1188w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1510,f_auto,q_auto/v1648365692/site/3Dom.jpg  1510w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1782,f_auto,q_auto/v1648365692/site/3Dom.jpg  1782w,
    https://res.cloudinary.com/bartoshevich/image/upload/v1648365692/site/3Dom.jpg          3408w
  "
  sizes="(min-width: 1140px) 596px, (min-width: 700px) calc(55.24vw - 24px), (min-width: 380px) 94.67vw, calc(46.67vw + 160px)"
  alt="Кейс: промо-фото семейного праздника 3Dom — маркетинговый проект Дмитрия Бартошевича"
>
        <div class="figcaption">
          Концепция 3Dom&nbsp;— мебель для семьи. Одна из&nbsp;инициатив&nbsp;— семейные праздники. На&nbsp;фотографии
          момент, когда через маленькую щелочку приоткрытой двери шкафа дети смотрели на&nbsp;северное сияние :-)
        </div>
      </div>


      <!-- Ссылки на публикации о проекте -->

      <p class="mb-m">О&nbsp;работе с&nbsp;3DOM в блоге:</p>
      <ul class="additive-spacing list-li">

        <li><a class="link" href="/blog/3dom-mebel-dlya-semi/">Создал концепцию бренда 3DOM</a></li>

        <li> <a class="link" href="/blog/sobiraem-bazu-podpischikov/">Собрал с&nbsp;нуля базу подписчиков</a></li>

      </ul>

    </div>
  </div>
</article>



<article class="full-bleed block__space--top-h2 row-gap--lm">


  <div class="mt-m mb-m">
    <h3 class="h2 bold inline">Другие кейсы</h3>
  </div>

  <div class="border-top"></div>

  <section class="mt-m full-bleed full-bleed-row">
    <div class="grid-column__first-four">
      <h4 class="h2">Читать в&nbsp;блоге</h4>
    </div>
    <div class="grid-column__last-six row">


      <ul class="c-5 additive-spacing max-width-text">
        <li class="list-li">

          <a class="link" href="/blog/editorial-policy/">
            <span>Составил редакционную политику бренда</span>
          </a>

        </li>

        <li class="list-li">

          <a class="link" href="/blog/reklamnyj-tekst-atlant-telekom/">
            <span>Исправил рекламный текст Атлант Телеком</span>
          </a>

        </li>

        <li class="list-li">

          <a class="link" href="/blog/kejs-delayu-sistemu-skidok/">
            <span>Сделал систему скидок</span>
          </a>

        </li>

        <li class="list-li">

          <a class="link" href="/blog/riski-splochnennogo-kollektiva-v-marketinge/#bartoshevich-role">
            <span>Усилил маркетинговую стратегию предприятий</span>
          </a>

        </li>
      </ul>

      <ul class="c-5 additive-spacing max-width-text">
        <li class="list-li">

          <a class="link" href="/blog/sajt-dlya-psihologa-kejs/">
            <span>Сделал сайт для психолога</span>
          </a>

        </li>

        <li class="list-li">

          <a class="link" href="/blog/reklama-dlya-banka-tinkova/">
            <span>Рекламировал банк Олега Тинькова</span>
          </a>

        </li>

        <li class="list-li">


          <span>Работал с компаниями:</span>
          <div class="mt-s">

            Истела Роса, Danone Беларусь, САВ-лайн, MODISTA, <span class="noperenos">PES GLOBAL</span> и&nbsp;другие.
          </div>
          <div class="mt-xs">
            Постепенно
            <a class="link" href="/blog/" title="Блог о маркетинге и развитии бизнеса">в блоге</a>
            будут появляться новые кейсы.
          </div>

        </li>
      </ul>

    </div>
  </section>
</article>