<article class="full-bleed  block__space--top-h2 row-gap--m">


    <h3 class="h2 bold">
        Выступления
    </h3>



    <div class="full-bleed full-bleed-row ">
        <div class="grid-columns__first-one-half">
            <ul class="additive-spacing">
                <li class="list-li">


                    <a class="link" href="https://bartoshevich.by/blog/marketing-mind/">Акция не сработает, если не
                        думать как маркетолог</a>



                </li>

                <li class="list-li">
                    <a class="link" href="https://bartoshevich.by/blog/vzlom-barerov-biznesa/">Практикум «Взлом барьеров
                        развития бизнеса»</a>
                </li>

                <li class="list-li">
                    <a class="link" href="https://bartoshevich.by/blog/klientskij-opyt-v-ecommerce/">Семинар
                        «1С-Битрикс»: «Формула сайта: от&nbsp;идеи интернет-магазина до&nbsp;лидера отрасли»</a>

                </li>

                <li class="list-li">
                    <a class="link"
                        href="https://shop.pisareva.by/tt/marketing-psihologicheskih-uslug-kak-zalozhit-fundament-uspeshnoi-chastnoi-praktiki/">Вебинар
                        «Маркетинг психологических услуг»</a>
                </li>

            </ul>
        </div>


        <div class="grid-columns__last-one-half">
            <ul class="additive-spacing">
                <li class="list-li">
                    <a class="link" href="https://bartoshevich.by/blog/mify-o-marketinge/">Мастер-класс «Торговый
                        маркетинг: от&nbsp;выбора месторасположения до&nbsp;привлечения посетителей
                        и&nbsp;покупателей»</a>
                </li>

                <li class="list-li">
                    <a class="link" href="https://www.youtube.com/watch?v=1y5jNAP28kE">Международная конференция
                        «Психологическая практика онлайн: возможности и&nbsp;перспективы»</a>
                </li>


                <li class="list-li">
                    <span>«Маркетинг vs. втюхинг. Как привлекать клиентов без втюхинга» (Минск, июль 2021)</span>
                </li>
            </ul>
        </div>

    </div>

    <div class="full-bleed">
        <figure>
            <img class="image is-4by3" loading="lazy" decoding="async"
                alt="Кейс: выступление Дмитрия Бартошевича на конференции по маркетингу"
                src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1622259224/site/presentation-hormann.jpg"
                width="1100" height="825">
        </figure>
    </div>



</article>