<article class="full-bleed  block__space--top-h2 row-gap--m" itemscope itemtype="https://schema.org/ItemList">
    <meta itemprop="name" content="Публичные выступления Дмитрия Бартошевича">
    <meta itemprop="description" content="Семинары, мастер-классы, вебинары и конференции с участием Дмитрия Бартошевича">
    <meta itemprop="numberOfItems" content="7">
    
    <h3 class="h2 bold">
       Выступления
    </h3>
   


 <div class="full-bleed full-bleed-row ">
        <div class="grid-columns__first-one-half">
            <ul class="additive-spacing">
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="1">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <a class="link" href="https://bartoshevich.by/blog/marketing-mind/" itemprop="url">Акция не сработает, если не думать как маркетолог</a>
                        <meta itemprop="name" content="Акция не сработает, если не думать как маркетолог">
                        <meta itemprop="startDate" content="2020-02-25T10:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="Hörmann">
                        </div>
                        <meta itemprop="description" content="Выступление о принципах маркетингового мышления и его влиянии на эффективность рекламных акций">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="image" content="https://i.ytimg.com/vi_webp/fXspplVnrEM/maxresdefault.webp">
                        <meta itemprop="endDate" content="2020-02-25T17:00:00+03:00" />
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="1">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="5">
                            <meta itemprop="reviewCount" content="125">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>

                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="2">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Практикум «Взлом барьеров развития бизнеса»">
                        <a class="link" href="https://bartoshevich.by/blog/vzlom-barerov-biznesa/" itemprop="url">Практикум «Взлом барьеров развития бизнеса»</a>
                        <meta itemprop="startDate" content="2015-08-20T10:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="A24">
                        </div>
                        <meta itemprop="description" content="Обсуждали с позиций продаж, системного маркетинга и рекламы, что тормозит рост белорусских предприятий и как придать бизнесу ускорение.">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="image" content="/assets/images/blog/vzlom-barerov-biznesa/bar1.avif">
                        <meta itemprop="endDate" content="2015-08-20T17:00:00+03:00" />
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="300">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="5">
                            <meta itemprop="reviewCount" content="30">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>

                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="3">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Семинар «1С-Битрикс»: «Формула сайта: от идеи интернет-магазина до лидера отрасли»">
                        <a class="link" href="https://bartoshevich.by/blog/klientskij-opyt-v-ecommerce/" itemprop="url">Семинар «1С-Битрикс»: «Формула сайта: от&nbsp;идеи интернет-магазина до&nbsp;лидера отрасли»</a>
                        <meta itemprop="startDate" content="2017-05-11T10:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="1С-Битрикс">
                        </div>
                        <meta itemprop="description" content="Рассказывал о понимании потребностей клиента и создании уникального пользовательского опыта.">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/v1615123529/site/seminar110517.jpg">
                        <meta itemprop="endDate" content="2017-05-11T18:00:00+03:00" />
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="1">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="4.8">
                            <meta itemprop="reviewCount" content="315">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>

                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="4">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Вебинар «Маркетинг психологических услуг»">
                        <a class="link" href="https://shop.pisareva.by/tt/marketing-psihologicheskih-uslug-kak-zalozhit-fundament-uspeshnoi-chastnoi-praktiki/" itemprop="url">Вебинар «Маркетинг психологических услуг»</a>
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="startDate" content="2017-02-17T15:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="pisareva.by">
                        </div>
                        <meta itemprop="description" content="Разбираю методологию составления карт потребительского опыта (Customer Journey Map)Рассказываю, как анализировать путь клиента от первого запроса до завершения работы и улучшать каждый этап взаимодействия.">
                        <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1602868382/psycareer/youtu.be-Ocx-TZ3Uj04.jpg">
                        <meta itemprop="endDate" content="2017-02-17T18:00:00+03:00" />
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="60">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="5">
                            <meta itemprop="reviewCount" content="65">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>       
  
            </ul>
        </div>


        <div class="grid-columns__last-one-half">
            <ul class="additive-spacing">
                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="5">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Мастер-класс «Торговый маркетинг: от выбора месторасположения до привлечения посетителей и покупателей»" />
                        <a class="link" href="https://bartoshevich.by/blog/mify-o-marketinge/" itemprop="url">Мастер-класс «Торговый маркетинг: от&nbsp;выбора месторасположения до&nbsp;привлечения посетителей и&nbsp;покупателей»</a>
                        <meta itemprop="startDate" content="2017-07-17T10:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="Арт-Престиж">
                        </div>
                        <meta itemprop="description" content="Рассказал о пяти заблуждениях о маркетинге, из-за которых владельцы магазинов и торговых павильонов теряют деньги.">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="image" content="https://megapolis-real.by/assets/cache/images/stati/2017/iyul/bartashevich/DSC01490-x-8e0.jpg">
                        <meta itemprop="endDate" content="2017-07-17T18:00:00+03:00" />
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="300">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="4.9">
                            <meta itemprop="reviewCount" content="25">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>

                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="6">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Международная конференция «Психологическая практика онлайн: возможности и перспективы»">
                        <a class="link" href="https://www.youtube.com/watch?v=1y5jNAP28kE" itemprop="url">Международная конференция «Психологическая практика онлайн: возможности и&nbsp;перспективы»</a>
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode">
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="startDate" content="2018-03-02T15:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="psyconf.by">
                        </div>
                     
                        <meta itemprop="description" content="рассказывыю о типичных ошибках, которые допускают психологи на своих сайтах">
                        <meta itemprop="image" content="https://i.ytimg.com/vi_webp/1y5jNAP28kE/maxresdefault.webp">
                        <meta itemprop="endDate" content="2018-03-02T18:00:00+03:00" />
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="200">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="4.9">
                            <meta itemprop="reviewCount" content="2446">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>


                <li class="list-li" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <meta itemprop="position" content="7">
                    <div itemprop="item" itemscope itemtype="https://schema.org/Event">
                        <meta itemprop="name" content="Маркетинг vs. втюхинг. Как привлекать клиентов без втюхинга">
                        <span itemprop="description">«Маркетинг vs. втюхинг. Как привлекать клиентов без втюхинга» (Минск, июль 2021)</span>
                        <meta itemprop="startDate" content="2021-07-13T10:00:00+03:00">
                        <meta itemprop="location" content="Минск, Беларусь">
                        <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="Nature's Sunshine">
                        </div>
                        
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                        <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1626334469/site/context_rb.jpg">
                        <meta itemprop="endDate" content="2021-07-13T18:00:00+03:00" />
                        <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                        <meta itemprop="performer" itemscope itemtype="https://schema.org/ProfessionalService" itemid="https://bartoshevich.by/#service">
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <meta itemprop="price" content="1">
                            <meta itemprop="priceCurrency" content="BYN">
                            <meta itemprop="availability" content="https://schema.org/SoldOut">
                        </div>
                        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                            <meta itemprop="ratingValue" content="5">
                            <meta itemprop="reviewCount" content="400">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        
                    </div>
                </li>
          </ul>
        </div>

    </div>

    <div class="full-bleed">
        <figure itemscope itemtype="https://schema.org/ImageObject">
            <img class="image is-4by3" loading="lazy" decoding="async" alt="Кейс: выступление Дмитрия Бартошевича на конференции по маркетингу" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1622259224/site/presentation-hormann.jpg" width="1100" height="825" itemprop="contentUrl">
            <meta itemprop="description" content="Дмитрий Бартошевич выступает на бизнес-мероприятии" >
           
        </figure>
    </div>
    
  



  

</article> 