

 {% include "client__hormann.njk" %} 
  {% include "client__flex-n-roll.njk" %} 
  {% include "client__pes-global.njk" %} 

 {% include "client__ego-art.njk" %} 
  {% include "client__termium.njk" %} 
   {% include "client__giperlink.njk" %} 
     {% include "client__3dom.njk" %} 


  

<article class="case space-chapter">

    <header class="case__header">
        <h3 class="case__label">Другие кейсы</h3>  
    </header>



    <hr class="separator">

    <section class="case__stage">
        <div class="case__stage-layout">
            <div class="case__stage-title-wrapper">
                <h4 class="case__stage-title text--subtitle">
                   Читать в&nbsp;блоге
                </h4>
                             
            </div>
            <div class="case__stage-content">

               <ul class="additive-spacing list-reset">
        <li>

          <a class="link" href="/blog/editorial-policy/">
            <span>Составил редакционную политику бренда</span>
          </a>

        </li>

         <li>

          <a class="link" href="/blog/reklamnyj-tekst-atlant-telekom/">
            <span>Исправил рекламный текст Атлант Телеком</span>
          </a>

        </li>

         <li>

          <a class="link" href="/blog/kejs-delayu-sistemu-skidok/">
            <span>Сделал систему скидок</span>
          </a>

        </li>

        <li>

          <a class="link" href="/blog/riski-splochnennogo-kollektiva-v-marketinge/#bartoshevich-role">
            <span>Усилил маркетинговую стратегию предприятий</span>
          </a>

        </li>
      <li>

          <a class="link" href="/blog/sajt-dlya-psihologa-kejs/">
            <span>Сделал сайт для психолога</span>
          </a>

        </li>

        <li>
          <a class="link" href="/blog/reklama-dlya-banka-tinkova/">
            <span>Рекламировал банк Олега Тинькова</span>
          </a>

        </li>

        <li>


          Работал с компаниями: Истела Роса, Danone Беларусь, САВ-лайн, MODISTA, <span class="noperenos">PES GLOBAL</span> и&nbsp;другие.
          Постепенно
            <a class="link" href="/blog/" title="Блог о маркетинге и развитии бизнеса">в блоге</a>
            будут появляться новые кейсы.
          </div>

        </li>
      </ul>
            </div>
            
    </section>
    </article>



