<article class="full-bleed row-gap--m space-block" id="articles">

  <div class="row-gap--xs">
    <p class="section-kicker">Статьи</p>
    <h3 class="heading--gamma">В&nbsp;деловых изданиях</h3>
  </div>

  <ul class="additive-spacing list-reset">
    <li>
      <p><a class="link" href="https://probusiness.io/management/4239-neadekvaty-ikholodnaya-shaurma-kak-rabotat-sproblemnymi-klientami.html">Неадекваты и&nbsp;«холодная шаурма»: как работать с&nbsp;проблемными клиентами</a></p>
      <p class="small secondary-color">Проблемных клиентов определяют менеджеры, ситуации или собственный характер. Как грамотно прорабатывать недовольство клиентов и&nbsp;в&nbsp;каких случаях не&nbsp;стоит работать с&nbsp;«проблемными» вообще.</p>
    </li>
    <li>
      <p><a class="link" href="https://probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html">Как взглянуть на&nbsp;работу компании глазами клиентов, чтобы повысить продажи: методика Customer Journey Mapping</a></p>
      <p class="small secondary-color">Что такое методика изучения потребительского опыта и&nbsp;как с&nbsp;её&nbsp;помощью увеличить поток покупателей.</p>
    </li>
    <li>
      <p><a class="link" href="https://probusiness.io/tech/2323-eti-elementarnye-oshibki-na-saytakh-meshayut-kompaniyam-privlekat-klientov-inostrancev-primer-agrousadeb.html">Эти элементарные ошибки на&nbsp;сайтах мешают компаниям привлекать иностранных клиентов: пример агроусадеб</a></p>
      <p class="small secondary-color">Список элементарных ошибок, на&nbsp;исправление которых не&nbsp;требуется выделять больших средств и&nbsp;много времени.</p>
    </li>
    <li>
      <p><a class="link" href="https://probusiness.io/do_it/2445-ne-stavte-telegu-vperedi-loshadi-veshchi-kotorye-obyazatelno-dolzhen-znat-i-delat-marketolog.html">Не&nbsp;ставьте телегу впереди лошади&nbsp;— вещи, которые обязательно должен знать и&nbsp;делать маркетолог</a></p>
      <p class="small secondary-color">О&nbsp;чём часто забывают маркетологи белорусских компаний, планируя рекламную кампанию или уже запустив&nbsp;её.</p>
    </li>
    <li>
      <p><a class="link" href="https://probusiness.io/management/2778-v-chernuyu-pyatnicu-skidki-budut-u-mnogikh-chem-vydelitsya-na-fone-konkurentov.html">В&nbsp;«Черную пятницу» скидки будут у&nbsp;многих&nbsp;— чем выделиться на&nbsp;фоне конкурентов</a></p>
      <p class="small secondary-color">Узнали мнение экспертов: как компании можно выделиться среди похожих друг на&nbsp;друга акций со&nbsp;скидками.</p>
    </li>
  </ul>

</article>
