{# Файл: _includes/related-ideas.njk #}
{% if relatedIdeas %}
<section class="related-ideas-block">
  <h2 class="related-ideas__title">Полезные статьи</h2>
  <ul>
    {% for idea in relatedIdeas %}
    <li class="related-ideas__item">
      <svg class="related-idea__arrow" role="presentation" aria-hidden="true">
        <use href="{{ spritePath() }}#arrow"></use>
      </svg>
      <a href="{{ idea.url }}" class="related-ideas__link">
        {{ idea.title | safe }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}




    


