<ul class="footer-social__list" aria-label="Ссылки на социальные сети">
    <li class="footer-social__item footer-social__item--facebook">
        <a class="footer-social__link" href="https://www.facebook.com/bartoshevichby/" target="_blank"
            rel="noopener noreferrer me" aria-label="Профиль в Facebook (откроется в новой вкладке)">
            <svg class="footer-social__icon" role="presentation" aria-hidden="true">
                <use href="{{ spritePath() }}#facebook_icon"></use>
            </svg>
        </a>
    </li>
    <li class="footer-social__item footer-social__item--telegram">
        <a class="footer-social__link" href="https://t.me/+OuzxNOZg-g44ZjYy" target="_blank"
            rel="noopener noreferrer me" aria-label="телеграм-канал (откроется в новой вкладке)">
            <svg class="footer-social__icon" role="presentation" aria-hidden="true">
                <use href="{{ spritePath() }}#telegram"></use>
            </svg>
        </a>
    </li>

    <li class="footer-social__item footer-social__item--linkedin">
        <a class="footer-social__link" href="https://www.linkedin.com/in/bartoshevich" target="_blank"
            rel="noopener noreferrer me" aria-label="Профиль в LinkedIn (откроется в новой вкладке)">
            <svg class="footer-social__icon" role="presentation" aria-hidden="true">
                <use href="{{ spritePath() }}#linkedin_icon"></use>
            </svg>
        </a>
    </li>

    <li class="footer-social__item footer-social__item--mastodon">
        <a class="footer-social__link" href="https://mastodon.social/@bartoshevich" target="_blank"
            rel="noopener noreferrer me" aria-label="Профиль в Мастодон (откроется в новой вкладке)">
            <svg class="footer-social__icon" role="presentation" aria-hidden="true">
                <use href="{{ spritePath() }}#mastodon_icon"></use>
            </svg>
        </a>
    </li>
</ul>