<footer class="subscription-block">
	<div class="subscription-block__options">
		<h2 class="element--hidden">Подписаться</h2>
		{# --- Левая колонка: Рассылка --- #}
		<div class="subscription-block__option">
			<svg class="subscription-block__icon " role="presentation" aria-hidden="true">
				<use href="{{ spritePath() }}#mail--big"></use>
			</svg>
			<h3 class="subscription-block__title">Узнавайте о&nbsp;новых статьях первыми</h3>
			<p class="subscription-block__text">Пишу редко, долго, обдуманно.<br>Оставьте email, чтобы не&nbsp;пропустить.</p>
			{# Используем существующий стиль кнопок для консистентности #}
			<a href="{{ navigation.subscription.list[1].url | url }}" class="button-secondary">Следить за&nbsp;обновлениями</a>

		</div>

		{# --- Правая колонка: Telegram --- #}
		<div class="subscription-block__option">
			<svg class="subscription-block__icon" role="presentation" aria-hidden="true">
				<use href="{{ spritePath() }}#telegram--big"></use>
			</svg>
			<h3 class="subscription-block__title">Присоединяйтесь к&nbsp;Telegram-каналу</h3>
			<p class="subscription-block__text">Материалы, которых нет на&nbsp;сайте. <br>Плюс можно комментировать и&nbsp;обсуждать.</p>
			<a href="https://t.me/+1btAMw1eDpA4YzRi" class="button-secondary" target="_blank" rel="noopener">Перейти в&nbsp;Telegram</a>
		</div>

	</div>

	<a href="/confidentiality/" class="subscription-block__legal">политика конфиденциальности</a>
</footer>