<footer class="full-bleed newsletter row-gap--m ">



	<div class="subscription-block row-gap--m">
		<h2 class="element--hidden">Подписаться</h2>
		
		<div class="row ">
			<div class="c-5 mb-m ">
				<h3>
					<svg class="icon">
						<use xlink:href="/assets/images/icons.svg#mail"></use>
					  </svg><br>
					
					<a href="https://eepurl.com/cmkKcz" class="link bold h2" target="_blank" rel="noopener noreferrer">Подпишитесь на рассылку</a></h3>
				<p>Буду присылать анонсы новых статей на почту. Не&nbsp;чаще одного раза в&nbsp;месяц.</p>
		
			</div>
			<div class="c-5 mb-m ">
				<svg class="icon">
					<use xlink:href="/assets/images/icons.svg#telegram"></use>
				  </svg><br>
				<h3><a href="https://t.me/MeaningfulMarketing" class="link bold  h2" target="_blank" rel="noopener noreferrer">Присоединяйтесь к&nbsp;каналу в&nbsp;Telegram</a></h3>
				<p>Здесь не&nbsp;только анонсы, но&nbsp;и&nbsp;материал, который не&nbsp;попадает на&nbsp;сайт. Плюс, можно пообщаться с&nbsp;единомышленниками.</p>
				
	
			</div>
		</div>

		<p><a class="link" href="/confidentiality/">политика конфиденциальности</a></p>
	</div>
	
</footer>






{#

<div class="block__item">
	<div class="block__sign"></div>
</div>

<h2 class="element--hidden">Подписаться</h2>

<p class="h1 max-width-text"><a class="link bold" href="https://eepurl.com/cmkKcz">Подпишитесь на&nbsp;рассылку</a>, чтобы получать письма-оповещения о&nbsp;новых статьях на&nbsp;сайте. Не&nbsp;более одного письма в&nbsp;месяц. </p>

<p >Кликнув по&nbsp;ссылке, вы&nbsp;перейдете на&nbsp;страницу сервиса email-рассылок. На&nbsp;странице введите и&nbsp;подтвердите адрес электронной почты, на&nbsp;который хотите получать письма.  </p>

<p><a class="link" href="/confidentiality/">политика конфиденциальности</a></p>

#} 