<footer class="subscription-block space-block">
	<div class="subscription-block__options">
		<h2 class="element--hidden">Подписаться</h2>
		{# --- Левая колонка: Рассылка --- #}
		<div class="subscription-block__option">
			<svg class="subscription-block__icon " role="presentation" aria-hidden="true">
				<use href="{{ spritePath() }}#mail--big"></use>
			</svg>
			<h3 class="subscription-block__title">Статьи на&nbsp;почту</h3>
			<p class="subscription-block__text">Пишу редко, долго и&nbsp;обдуманно. Оставьте email&nbsp;— сообщу, когда выйдет новый материал. </p>
			<a href="{{ navigation.subscription.list[1].url | url }}" class="button-primary">Сообщите о&nbsp;новой статье</a>

		</div>

		{# --- Правая колонка: Telegram --- #}
		<div class="subscription-block__option">
			<svg class="subscription-block__icon" role="presentation" aria-hidden="true">
				<use href="{{ spritePath() }}#telegram--big"></use>
			</svg>
			<h3 class="subscription-block__title">Telegram-канал</h3>
			<p class="subscription-block__text">То, что не&nbsp;входит в&nbsp;статьи: разборы кейсов, наблюдения за&nbsp;рынком, рабочие заметки.</p>
			<a href="https://t.me/+1btAMw1eDpA4YzRi" class="button-secondary" target="_blank" rel="noopener">Открыть Telegram</a>
		</div>

	</div>

	<a href="/confidentiality/" class="subscription-block__legal">политика конфиденциальности</a>
</footer>
