.clients {
  margin-block: var(--rhythm-macro);
  text-align: center;
}

.clients__list {
  display: grid;
 grid-template-columns: repeat(2, 1fr); 
  gap: var(--space-xs) var(--space-s);
  width: 100%;
}

.clients__block {
  margin-block: var(--rhythm-section);
}
