// Стили для страницы контактов

.contact-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s); 
  margin-top: var(--space-m);
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: var(--space-s); 
  font-size: var(--step-0);
}

.contact-icon {
   width: 24px;
      height: 24px;
      min-width: 24px;
      margin-right: var(--space-2xs);
      fill: var(--decoration-subtle);

   
}