@use "./variables" as v;

.figure {
  margin-block: var(--space-2xs);
}

.figcaption {
  max-width: 60ch;
  font-size: var(--step--1);
  margin: 8px 0 16px; 
  line-height: 1.6;
}
.figcaption p {
 margin: var(--space-2xs) 0 0; 
}

.image {
  display: block;
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 0;
}

.border--gray { border: 1px solid v.$gray; }
.width--full { width: 100%; }

/* Aspect Ratios - OK */
.is-square, .is-1by1 { aspect-ratio: 1/1; }
.is-5by4 { aspect-ratio: 5/4; }
.is-4by3 { aspect-ratio: 4/3; }
.is-3by2 { aspect-ratio: 3/2; }
.is-5by3 { aspect-ratio: 5/3; }
.is-16by9 { aspect-ratio: 16/9; }
.is-2by1 { aspect-ratio: 2/1; }
.is-3by1 { aspect-ratio: 3/1; }
.is-4by5 { aspect-ratio: 4/5; }
.is-3by4 { aspect-ratio: 3/4; }
.is-2by3 { aspect-ratio: 2/3; }
.is-3by5 { aspect-ratio: 3/5; }
.is-9by16 { aspect-ratio: 9/16; }
.is-1by2 { aspect-ratio: 1/2; }
.is-1by3 { aspect-ratio: 1/3; }

.is-16x16 { height: 16px; width: 16px; }
.is-150x150 { height: 150px; width: 150px; }

.icon {
  width: 40px;
  height: 40px;
   margin: var(--space-2xs);
  stroke: v.$text-colour;
}