@use './variables' as v;



/* Состояние блокировки после клика */
#random-article-button.button-cooldown {
  opacity: 0.6;
  cursor: wait;
  pointer-events: none;
  border-color: v.$link-opacity-05;
  background-color: v.$link-opacity-05;
  // color: var(--background-color);
  transform: scale(0.9);
}

/* Анимация для индикации периода ожидания */
@keyframes pulse-fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}

#random-article-button.button-cooldown {
  animation: pulse-fade 2s ease infinite;
}
