@use "./variables" as v;

.with-side {
  position: relative;
   display: flex;          
  flex-direction: column; 
  gap: var(--space-m); 
}





.side img {
  max-width: 100%;
}

.side {
  display: flex;               
  flex-direction: column;      
  gap: var(--space-xs); 
  color: var(--secondary-text-colour);
  position: relative;
  left: 9%;
  width: 91%;
  padding: 0;
}



.side > * {
  font-size: var(--step--1);
  line-height: 1.69;
}

.span__side {
  font-size: 0.8em;
  line-height: 1.76;
  margin-bottom: 0;
}

@media screen and (min-width: 1430px) {
  .side {
     margin-block-start: 8px; 
   line-height: 1.69;
     color: var(--secondary-text-colour);
    position: absolute;
    top: 0;
    left: 112%;
    width: calc(300px - var(--space-2xl));
    color: v.$text-colour;
  }
}
