@use './variables' as v;

:root {
  --background-light: #fff;
  --background-dark: #2c2c2c;
  --link-background-light: #007bff;
  --link-background-dark: #0056b3;
  --link-hover-light: #0056b3;
  --link-hover-dark: #004080;
}

[data-theme='light'] .subscription-block {
  background-color: var(--background-light);
}

[data-theme='dark'] .subscription-block {
  background-color: var(--background-dark);
}

.subscription-block {
  grid-column: 1 / -1;
  background-color: var(--color-toc-ui-element-background); 
  border-radius: 12px;
  padding: var(--space-xl); 
  margin: 0 0 var(--space-l) 0;

  .button-link {   
    width: fit-content;
    margin-top: auto; 
  }

  // Сетка для двух колонок
  &__options {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-xl);

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Каждая колонка
  &__option {
    display: flex;
    flex-direction: column; 
     min-height: 100%;
  }

   &__content {
    flex-grow: 1; 
  }

  // Иконка
  &__icon {
    width: 45px;
    height: 45px;
   // margin-top: var(--space-xs);
    stroke: v.$text-colour;
     margin-bottom: var(--space-m); 
  }

  // Заголовок
  &__title {
    font-size: var(--step-1);
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: .5em;
  }

  // Текст-описание
  &__text {
    font-size: var(--step-0);
    color: var(--secondary-text-colour);
    line-height: 1.5;
    max-width: 45ch;
     margin-bottom: var(--space-l);
  }

  // Юридическая информация (политика)
  &__legal {
     display: block; 
     max-width: 30ch;
    text-align: left; 
    font-size: var(--step--1);
    margin-top: var(--space-l); 
    text-decoration: none;
    color: var(--text-colour);

    &:hover {
      text-decoration: none; 
      color: var(--secondary-text-colour);
      
    }
  }
}

// Дополнительный стиль для текста на кнопке
.subscription-block .button-link {
  font-weight: 500; 
  width: fit-content; 
}
