table {
  position: relative;
  background-color: var(--table-bg-color);
  border-top: none;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  margin: var(--space-l) 0; /* 24px */
  text-align: left;
}

caption {
  padding: 0 0 var(--space-s) 0;
  font-size: var(--step-0);
  color: var(--text-colour);
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--gray);
}

td,
th {
  border: none;
  border-bottom: 1px solid var(--gray);
  padding: var(--space-s); /* 16px */
  vertical-align: top;
  line-height: 1.4118;
}

thead th,
tfoot td {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text-accent);
}

thead th {
  background-color: var(--table-bg-th);
}

tfoot tr:last-child td {
  border-bottom: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.width43 { width: 43%; }
.width50 { width: 50%; }
.Gainsboro { background-color: var(--table-bg-th); }

td > ul,
td > li {
  margin-left: 0.1em;
}

td > p:not(:first-child) {
  margin-bottom: var(--space-xs);
  margin-top: var(--space-xs);
}

.text-right { text-align: right; }