# Node.js
node_modules/
package-lock.json
npm-debug.log*

# Eleventy output
_site/               

# Eleventy cache
.eleventy.js.cache/ 

# OS / Editor
.DS_Store
Thumbs.db
*.log

# VSCode
.vscode/

# dotenv и конфиденциальные данные
.env
.env.*


