<section class="full-bleed  block__space--top-h2 row-gap--m">

    <h2 class=" bold h1">О&nbsp;работе в&nbsp;найме</h2>

    <p>Перед тем, как начать свою независимую практику в&nbsp;2015&nbsp;году, я&nbsp;прожил много лет в&nbsp;корпоративном мире. Это было не&nbsp;только восхождение по&nbsp;карьерной лестнице, но&nbsp;и&nbsp;непрерывное накопление знаний и&nbsp;опыта, которые до&nbsp;сих пор поддерживают меня в&nbsp;работе.  </p> 
    
    <div class="border-top"></div>   
    <div class="full-bleed full-bleed-row mt-m row-gap--m">
        <div class="grid-column__first-four">
            <p class="h2"> 
               Последние 4&nbsp;места работы

            </p> 
        </div>
        <div class="grid-column__last-six  ">
            <ul class="work__list list-reset">

                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/about/work__logo/brownsme-1x.webp 1x,
                        /assets/images/about/work__logo/brownsme-2x.webp 2x" type="image/webp">
                        <img  loading="lazy" decoding="async"  class="image" src="/assets/images/about/work__logo/brownsme-1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/about/work__logo/brownsme-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> «Тичино», <span class="noperenos">тм&nbsp;«Brown’s Manufactory»</span> (Беларусь)</h3>
                    
                    <p class="secondary-color mb-m"> 2013-2014 — директор компании</p>
                    <p> Здесь я&nbsp;отчетливо понял, что хочу заниматься вопросами развития бренда и&nbsp;решать маркетинговые
                        задачи. </p>
                    </li>
        
        
                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/about/work__logo/getpointme-1x.webp 1x,
                        /assets/images/about/work__logo/getpointme-2x.webp 2x" type="image/webp">
                        <img  loading="lazy" decoding="async"  class="image" src="/assets/images/about/work__logo/getpointme-1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/about/work__logo/getpointme-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> GetPoint&nbsp;— агентство креативного брендинга (Россия)</h3>
                    <p class="secondary-color mb-m"> 2012-2013 — директор по&nbsp;развитию бизнеса</p>
                    <p> Окунулся в&nbsp;рекламный бизнес. В&nbsp;некоторых моментах ощущал себя персонажем книг Пелевина. </p>
        
                </li>
        
        
        
                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/about/work__logo/pro-trademe-1x.webp 1x,
                        /assets/images/about/work__logo/pro-trademe-2x.webp 2x" type="image/webp">
                        <img  loading="lazy" decoding="async"   class="image" src="/assets/images/about/work__logo/pro-trademe-2x.jpg" alt="" width="250" height="90"  srcset="/assets/images/about/work__logo/pro-trademe-1x.jpg 1x, /assets/images/about/work__logo/pro-trademe-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> «Мебелинк», <span class="noperenos">тм «Pro-Trade»</span> (Беларусь)</h3>
                    <p class="secondary-color mb-m"> 2010-2011 — начальник отдела маркетинга </p>
                    <p > Через месяц после моего ухода учредитель позвонил и&nbsp;поблагодарил за&nbsp;принесенный вклад. Также <span
                            class="noperenos">«Pro-Trade»</span>&nbsp;— компания, ставшая одним из&nbsp;первых клиентов, когда
                        я&nbsp;оформил ИП. </p>
                </li>
        
        
        
        
        
        
        
                <li class="work row-gap--m"> 
                  
                    <picture>
                        <source srcset="/assets/images/about/work__logo/nielsen@1x.avif 1x, /assets/images/about/work__logo/nielsen@2x.avif 2x, /assets/images/about/work__logo/nielsen@3x.avif 3x" type="image/avif">
                        <source srcset="/assets/images/about/work__logo/nielsen@1x.webp 1x, /assets/images/about/work__logo/nielsen@2x.webp 2x, /assets/images/about/work__logo/nielsen@3x.webp 3x" type="image/webp">
                        <img  loading="lazy" decoding="async"  class="image" src="/assets/images/about/work__logo/nielsen@3x.jpg" alt="логотип" width="250" height="90"
                            srcset="/assets/images/about/work__logo/nielsen@1x.jpg 1x, /assets/images/about/work__logo/nielsen@2x.jpg 2x, /assets/images/about/work__logo/nielsen@3x.jpg 3x">
                    </picture>
                 
        
                    <h3 class="bold mb-m">Nielsen</h3>
                    <p class="secondary-color mb-m"> 2005-2009&nbsp;— главный специалист (Беларусь) → руководитель отдела (Казахстан) </p>
                  <p>Данные рассказывают истории. Но&nbsp;только если вы&nbsp;умеете слушать. <a class="link" href="https://global.nielsen.com/">   Нильсен</a> научил меня слушать рынок, клиентов и&nbsp;самого себя, а&nbsp;также научил <a class="link" href="/blog/otlichie-marketologa-ot-brexuna/">отличать маркетолога от&nbsp;брехуна</a>. </p>
                </li>
            </ul>

        </div>
    </div>



</section>