<section class="full-bleed block__space--top-h2 row-gap--m">
  <h2 class="bold h1">Образование</h2>

  <p>
    У&nbsp;меня два высших образования&nbsp;— психологическое
    и&nbsp;экономическое. Идеальное сочетание для маркетолога.
  </p>

  <div class="border-top"></div>
  <article class="full-bleed row-gap--m">
    <div class="full-bleed full-bleed-row mt-m row-gap--m">
      <div class="grid-column__first-four additive-spacing">
        <span class="secondary-color small mb-m"
          ><time datetime="1997">1997</time>-<time datetime="2002"
            >2002</time
          ></span
        >
        <h3 class="h2">Белорусский государственный университет</h3>
        <p>
          Факультет философии и&nbsp;социальных наук | специальность: психология
        </p>
      </div>
      <div class="grid-column__last-six row-gap--m">
        <p class="mb-m">
          В&nbsp;основе хорошего маркетинга&nbsp;— понимание процессов,
          проходящих в&nbsp;сознании целевой аудитории. И&nbsp;психологическое
          образование этому помогает. Дело не&nbsp;столько в&nbsp;специальных
          знаниях, сколько в&nbsp;профессиональном мышлении и&nbsp;способе
          восприятия реальности, умении выделять психологически важное
          и&nbsp;существенное.
        </p>

        <details>
          <summary><span class="link italic">Подробнее</span></summary>
          <p class="mt-m">Приведу два простых примера:</p>
          <ul class="additive-spacing max-width-text">
            <li class="list-li additive-spacing">
              <p>
                «Как воспринимаю предмет я&nbsp;отличается от&nbsp;того, как его
                воспринимают другие». Подобный тезис записан
                <i>«на&nbsp;подкорке»</i> у&nbsp;каждого, кто получил
                академическое психологическое образование. Как следствие&nbsp;—
                нет соблазна додумывать за&nbsp;другого, приписывать ему
                «<i>понятные</i>» мотивы, пробуждается исследовательский
                интерес.
              </p>
              <p>
                Естественным образом появляются вопросы: «Что привлекает
                внимание покупателя? С&nbsp;какими ожиданиями он&nbsp;выбирает
                продукт? Как принимает решение о&nbsp;покупке? Почему этот
                критерий выбора важен?» Через ответы на&nbsp;эти и&nbsp;другие
                вопросы достигается соответствие между маркетингом компании
                и&nbsp;наиболее значимыми для потребителя вопросами, задачами,
                проблемами.
              </p>
            </li>
            <li class="list-li additive-spacing">
              <p>
                Психологическое образование убивает веру в&nbsp;«человека
                рационального». Нельзя надеяться только на&nbsp;рациональные
                доводы. Вы&nbsp;предоставите «за», ответите на&nbsp;«против»,
                и&nbsp;человек тут&nbsp;же отбросит все, что не&nbsp;впишется
                в&nbsp;его систему представлений.
              </p>
              <p>
                В&nbsp;блоге я&nbsp;рассказываю
                <a class="link" href="/blog/emotions-in-marketing/"
                  >об&nbsp;ограниченности рационального маркетинга</a
                >. Не&nbsp;стану здесь повторяться. Расскажу историю, как
                в&nbsp;<span class="noperenos">1970-х</span> экономист Ричард
                Талер выступал с&nbsp;рациональной теорией сбережений перед
                преподавателями факультета психологии в&nbsp;одном
                из&nbsp;американских ВУЗов.
              </p>

              <p>
                <q
                  cite="https://books.google.com/books?id=9EJzAwAAQBAJ&lpg=PP1&dq=inauthor%3A%22Richard%20H.%20Thaler%22&hl=es&pg=PP1#v=onepage&q&f=false"
                  >Психологи пребывали в&nbsp;недоумении, удивляясь, как
                  у&nbsp;их&nbsp;коллег с&nbsp;экономического факультета могло
                  быть настолько безумное предоставление о&nbsp;человеческом
                  поведении</q
                >,&nbsp;— пишет он&nbsp;в&nbsp;книге «Новая поведенческая
                экономика». Позже Талер признал ограниченность рациональной
                модели, призвал строить модель поведения не&nbsp;Рационалов,
                а&nbsp;Людей, которыми управляют страсти.
                В&nbsp;2017&nbsp;г.&nbsp;за&nbsp;вклад в&nbsp;исследование
                поведенческой экономики Ричард Талер получил Нобелевскую премию.
              </p>
            </li>
          </ul>
        </details>
      </div>
    </div>
  </article>

  <article class="full-bleed row-gap--m mt-m">
    <div class="full-bleed full-bleed-row mt-m row-gap--m">
      <div class="grid-column__first-four additive-spacing">
        <span class="secondary-color small mb-m"
          ><time datetime="2010">2010</time>-<time datetime="2013"
            >2013</time
          ></span
        >
        <h3 class="h2">
          Белорусский государственный экономический университет
        </h3>
        <p>
          факультет: &laquo;Высшая школа управления и&nbsp;бизнеса&raquo; |
          специальность: бизнес-администрирование
        </p>
      </div>
      <div class="grid-column__last-six row-gap--m">
        <p>
          В&nbsp;БГЭУ я&nbsp;пришел с&nbsp;хорошим опытом работы с&nbsp;сфере
          маркетинга, но&nbsp;хотелось лучше понимать работу и&nbsp;управление
          предприятиями в&nbsp;целом. Так, мне казалось, я&nbsp;буду еще более
          эффективен.
        </p>

        <p>
          Во&nbsp;время учебы работал на&nbsp;две страны, балансируя между
          написанием дипломной работы, семьей, командировками, клиентами
          и&nbsp;рабочими проектами. Невольно прокачивал навыки планирования
          и&nbsp;управления задачами.
        </p>
      </div>
    </div>
  </article>

  <div
    class="full-bleed mt-m"
    itemscope
    itemtype="http://schema.org/ImageObject"
  >
    <link itemprop="url" href="/assets/images/main/bartoshevich@16x9.jpg">
    <picture>
      <source
      sizes="(max-width: 1100px) 100vw, (max-width: 1900px) 80vw, 50vw"
        srcset="
          /assets/images/main/bartoshevich@16x9_640w.avif   640w,
          /assets/images/main/bartoshevich@16x9_1040w.avif 1040w,
          /assets/images/main/bartoshevich@16x9_1280w.avif 1280w,
          /assets/images/main/bartoshevich@16x9_2080w.avif 2080w,
          /assets/images/main/bartoshevich@16x9.avif       2400w
        "
        type="image/avif"
      >
      <source
      sizes="(max-width: 1100px) 100vw, (max-width: 1900px) 80vw, 50vw"
        srcset="
          /assets/images/main/bartoshevich@16x9_640w.webp   640w,
          /assets/images/main/bartoshevich@16x9_1040w.webp 1040w,
          /assets/images/main/bartoshevich@16x9_1280w.webp 1280w,
          /assets/images/main/bartoshevich@16x9_2080w.webp 2080w,
          /assets/images/main/bartoshevich@16x9.webp       2400w
        "
        type="image/webp"
      >
      <img
        loading="lazy"
        decoding="async"
        class="full-bleed image is-16by9"
        sizes="(max-width: 1100px) 100vw, (max-width: 1900px) 80vw, 50vw"
        
        srcset="
        /assets/images/main/bartoshevich@16x9_640w.jpg   640w,
        /assets/images/main/bartoshevich@16x9_1040w.jpg 1040w,
        /assets/images/main/bartoshevich@16x9_1280w.jpg 1280w,
        /assets/images/main/bartoshevich@16x9_2080w.jpg 2080w,
        /assets/images/main/bartoshevich@16x9.jpg       2400w
      "
        src="/assets/images/main/bartoshevich@16x9.jpg"
        alt="Дмитрий Бартошевич (или Барташевич), портрет"
        width="2400"
        height="1350"
        itemprop="contentUrl"
      >
    </picture>
  </div>
</section>
