<section class="full-bleed  block__space--top-h2 row-gap--m">
    <h2 class=" bold h1">Образование</h2>

<p> У&nbsp;меня два высших образования&nbsp;— психологическое и&nbsp;экономическое. Идеальное сочетание для маркетолога. </p>


<div class="border-top"></div>  
<section class="full-bleed row-gap--m">

    <div class="full-bleed full-bleed-row mt-m row-gap--m">
        <div class="grid-column__first-four additive-spacing">           
                <span class="secondary-color small mb-m">1997-2002</span> 
                <h3 class="h2">Белорусский государственный университет  </h3>
                <p>Факультет философии и&nbsp;социальных наук | специальность: психология </p> 
               
        </div>
        <div class="grid-column__last-six row-gap--m ">
            <p class="mb-m"> В&nbsp;основе хорошего маркетинга&nbsp;— понимание процессов, проходящих в&nbsp;сознании целевой аудитории. И&nbsp;психологическое образование этому помогает. Дело не&nbsp;столько в&nbsp;специальных знаниях, сколько в&nbsp;профессиональном мышлении и&nbsp;способе восприятия реальности, умении выделять психологически важное и&nbsp;существенное. Приведу два простых примера: </p>
            <ul class="additive-spacing max-width-text">
            <li class="list-li additive-spacing">
                <p>«Как воспринимаю предмет я&nbsp;отличается от&nbsp;того, как его воспринимают другие». Подобный тезис записан <i>«на&nbsp;подкорке»</i> у&nbsp;каждого, кто получил академическое психологическое образование. Как следствие&nbsp;— нет соблазна додумывать за&nbsp;другого, приписывать ему «<i>понятные</i>» мотивы, пробуждается исследовательский интерес. </p>
                <p> 
                    Естественным образом появляются вопросы: «Что привлекает внимание покупателя? С&nbsp;какими ожиданиями он&nbsp;выбирает продукт? Как принимает решение о&nbsp;покупке? Почему этот критерий выбора важен?» Через ответы на&nbsp;эти и&nbsp;другие вопросы достигается соответствие между маркетингом компании и&nbsp;наиболее значимыми для потребителя вопросами, задачами, проблемами.</p> </li>
            <li class="list-li additive-spacing">
                <p>Психологическое образование убивает веру в&nbsp;«человека рационального». Нельзя надеяться только на&nbsp;рациональные доводы. Вы&nbsp;предоставите «за», ответите на&nbsp;«против», и&nbsp;человек тут&nbsp;же отбросит все, что не&nbsp;впишется в&nbsp;его систему представлений.</p>
                <p> В&nbsp;блоге я&nbsp;рассказываю <a class="link" href="/blog/emotions-in-marketing/">об&nbsp;ограниченности рационального маркетинга</a>. Не&nbsp;стану здесь повторяться. Расскажу историю, как в&nbsp;<span class="noperenos">1970-х</span> экономист Ричард Талер выступал с&nbsp;рациональной теорией сбережений перед преподавателями факультета психологии в&nbsp;одном из&nbsp;американских ВУЗов. </p>
                    
                <p><q cite="https://books.google.com/books?id=9EJzAwAAQBAJ&lpg=PP1&dq=inauthor%3A%22Richard%20H.%20Thaler%22&hl=es&pg=PP1#v=onepage&q&f=false">Психологи пребывали в&nbsp;недоумении, удивляясь, как у&nbsp;их&nbsp;коллег с&nbsp;экономического факультета могло быть настолько безумное предоставление о&nbsp;человеческом поведении</q>,&nbsp;— пишет он&nbsp;в&nbsp;книге «Новая поведенческая экономика». Позже Талер признал ограниченность рациональной модели, призвал строить модель поведения не&nbsp;Рационалов, а&nbsp;Людей, которыми управляют страсти. В&nbsp;2017&nbsp;г.&nbsp;за&nbsp;вклад в&nbsp;исследование поведенческой экономики Ричард Талер получил Нобелевскую премию.</p></li>
            </ul>
            

         </div>
    </div>    

</section>



<section class="full-bleed row-gap--m">

    <div class="full-bleed full-bleed-row mt-m row-gap--m">
        <div class="grid-column__first-four additive-spacing">           
                <span class="secondary-color small mb-m">2010-2013</span> 
                <h3 class="h2">Белорусский государственный экономический университет </h3>
                <p>факультет: &laquo;Высшая школа управления и&nbsp;бизнеса&raquo; | специальность: бизнес-администрирование </p> 
                
        </div>
        <div class="grid-column__last-six row-gap--m ">
            <p>В&nbsp;БГЭУ я&nbsp;пришел с&nbsp;хорошим опытом работы с&nbsp;сфере маркетинга, но&nbsp;хотелось лучше понимать работу и&nbsp;управление предприятиями в&nbsp;целом. Так, мне казалось, я&nbsp;буду еще более эффективен. </p>

            <p>Одно из&nbsp;ярких воспоминаний&nbsp;&mdash; во&nbsp;время учебы я&nbsp;работал на&nbsp;две страны, приходилось балансировать между написанием дипломной работы, семьей, командировками, клиентами и&nbsp;рабочими задачами. И, кстати, за&nbsp;дипломную работу я&nbsp;получил высокую оценку. </p>
          
           

        </div>
        <div class="full-bleed"  itemprop="image" itemscope itemtype="http://schema.org/ImageObject">	
            <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1695562479/site/bartoshevich_dmitry.jpg" />
        
     <img class="full-bleed image is-16by9" sizes="100vw"  loading="lazy" decoding="async" 
                srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 640w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 1200w,
          https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 1600w,
          https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 2560w" 
          src="https://res.cloudinary.com/bartoshevich/image/upload/v1695562479/site/bartoshevich_dmitry.jpg" alt="Профессиональный портрет Дмитрия Бартошевича, консультанта по маркетинговой стратегии" width="2560" height="1440" itemprop="contentUrl"> 
    </div>



    </div>    

</section>




</section>