<div class="buffer"></div>
<footer class="footer"> 

    <h1 class="element--hidden">Дополнительная информация</h1>


    <section class="footer__nav" >  
        <h2 class="element--hidden">Больше на сайте</h2>      
        <nav class="menu__header__item">  
            <h3 class="element--hidden">Разделы сайта</h3>        
            <ul class="header__item--bleed item__content nav__group" >
                <li class="nav__li bold"><a class="link" href="/">Главная</a></li>           
                   <li class="nav__li bold"><a class="link" href="/me/">Проекты</a></li>
                   <li class="nav__li bold" ><a class="link  " href="/faq/">Вопрос - Ответ </a></li>
                   <li class="nav__li bold"><a class="link" href="/contact/">Контакты</a></li>
            </ul>
        </nav>   
    
    
        <nav class="menu__header__item">
            <h3 class="bold block__title item__title" ><a class="link text-color" href="/uslugi/">Услуги</a></h3>
                <ul class="nav__group item__content" >          
                    <li class="nav__li" ><a class="link" href="/uslugi/marketing-audit/">Аудит маркетинга</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/brand-conception/">Концепция бренда</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/promo-conception/">Концепция рекламной кампании</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/subscription-service/">Абонентское обслуживание</a></li>
                </ul>
        </nav>
    
        <nav class="menu__header__item">
            <h3 class="block__title item__title bold"><a href="/blog/" class="link">Блог</a> </h3>
                    <ul class="nav__group item__content" >          
                    {% for post in site.posts limit:3 %}
                        <li class="nav__li">
                            <a class="link" href="{{ post.url }}">
                            {{ post.name }}                   
                            </a>
                        </li>
                        {% endfor %}
                        <li class="nav__li "> <a class="link-is-more" href="/blog/"> Смотреть все записи  </a> </li>          
                    </ul>
        </nav>  
    </section>
 



<div class="social">
   <ul class="list-reset">
        <li class="inline-block social__item"> <a class="link" href="https://www.facebook.com/bartoshevichby/" target="_blank" rel="noopener nofollow noreferrer" title="читать в фейсбуке" aria-label="моя страница на фейсбуке (откроется в новой вкладке)"> фейсбук</a> </li> 
        <li class="inline-block social__item"> <a class="link" href="https://www.linkedin.com/in/bartoshevich" target="_blank" rel="noopener nofollow noreferrer" title="читать в линкедине" aria-label="моя страница в линкедине (откроется в новой вкладке)"> линкедин</a> </li> 
        <li class="inline-block social__item"> <a class="link" href="https://twitter.com/dbartoshevich" target="_blank" rel="noopener nofollow noreferrer" title="читать в твиттере" aria-label="моя лента в твиттере (откроется в новой вкладке)">твиттер</a></li> 
        <li class="inline-block"> <a class="link" href="https://mastodon.social/@bartoshevich" target="_blank" rel="me noopener nofollow noreferrer" title="читать в мастодоне" aria-label="моя лента в мастодоне (откроется в новой вкладке)">мастодон</a></li> 
   </ul>
</div>

<div class="credentials menu--flex">
<div class="small"> © 2015-2022, УНП 192414874 </div>


<div class="switcher__block">
    <fieldset class="switcher">
        <legend class="element--hidden">Схема</legend>
        <input class="switcher__radio switcher__radio--light" type="radio" name="color-scheme" value="light" aria-label="Светлая">
       <input class="switcher__radio switcher__radio--auto" type="radio" name="color-scheme" value="auto" aria-label="Системная" checked> 
        <input class="switcher__radio switcher__radio--dark" type="radio" name="color-scheme" value="dark" aria-label="Тёмная">
        <div class="switcher__status"></div>
    </fieldset>
    <script src="/assets/scripts/theme.js"></script> 
</div>


</div>


</footer>







