<div class="buffer"></div>
<footer class="footer"> 

    <h1 class="element--hidden">Дополнительная информация</h1>


    <section class="footer__nav" >  
        <h2 class="element--hidden">Больше на сайте</h2>      
        <nav class="menu__header__item">  
            <h3 class="element--hidden">Разделы сайта</h3>        
            <ul class="header__item--bleed item__content nav__group" >
                <li class="nav__li bold"><a class="link" href="/">Главная</a></li>           
                   <li class="nav__li bold"><a class="link" href="/cases/">Проекты</a></li>
                   <li class="nav__li bold" ><a class="link" href="/about/">Обо мне</a></li>
                   <li class="nav__li bold" ><a class="link" href="/faq/">Вопрос - Ответ</a></li>
                   <li class="nav__li bold"><a class="link" href="/contact/">Контакты</a></li>
            </ul>
        </nav>   
    
    
        <nav class="menu__header__item">
            <h3 class="bold block__title item__title" ><a class="link text-color" href="/uslugi/">Услуги</a></h3>
                <ul class="nav__group item__content" >          
                    <li class="nav__li" ><a class="link" href="/uslugi/marketing-audit/">Аудит маркетинга</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/brand-conception/">Концепция бренда</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/razrabotka-reklamnyh-kampanij/">Разработка рекламных кампаний</a></li>
                    <li class="nav__li"><a class="link" href="/uslugi/autsorsing-marketinga/">Абонентское обслуживание</a></li>
                </ul>
        </nav>
    
        <nav class="menu__header__item">
            <h3 class="block__title item__title bold"><a href="/blog/" class="link">Блог</a> </h3>
                    <ul class="nav__group item__content" >          
                    {% for post in site.posts limit:3 %}
                        <li class="nav__li">
                            <a class="link" href="{{ post.url }}">
                            {{ post.name }}                   
                            </a>
                        </li>
                        {% endfor %}
                        <li class="nav__li "> <a class="link link-is-more" href="/blog/#all-posts">Смотреть все записи</a> </li>          
                    </ul>
        </nav>  
    </section>
 



<section class="social">
    <h2 class="element--hidden">Социальные сети</h2>
    <ul class="list-reset">
        <li class="inline-block social__item"> <a class="link" href="https://www.facebook.com/bartoshevichby/" target="_blank" rel="noopener"  title="откроется в новой вкладке" aria-label="фейсбук"> фейсбук</a> </li> 
        <li class="inline-block social__item"> <a class="link" href="https://www.linkedin.com/in/bartoshevich" target="_blank" rel="noopener" title="откроется в новой вкладке" aria-label="линкедин"> линкедин</a> </li> 
        <li class="inline-block social__item"> <a class="link" href="https://twitter.com/dbartoshevich" target="_blank" rel="noopener"  title="откроется в новой вкладке" aria-label="твиттер">твиттер</a></li> 
        <li class="inline-block social__item"> <a class="link" href="https://mastodon.social/@bartoshevich" target="_blank" rel="me noopener" title="откроется в новой вкладке" aria-label="мастодон">мастодон</a></li> 
        <li class="inline-block"> <a class="link" href="https://t.me/+OuzxNOZg-g44ZjYy" target="_blank" rel="me noopener"  title="откроется в новой вкладке" aria-label="телеграм">телеграм</a></li> 
    </ul>
</section>

<div class="credentials menu--flex">
<div class="small"> © 2015...2025, УНП&nbsp;192414874 </div>


<button type="button" class="theme-toggle" id="theme-toggle" title="Переключатель светлой и темной темы" aria-label="auto" aria-live="polite">
    <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
      <mask class="moon" id="moon-mask">
        <rect x="0" y="0" width="100%" height="100%" fill="white" />
        <circle cx="24" cy="10" r="6" fill="black" />
      </mask>
      <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
      <g class="sun-beams" stroke="currentColor">
        <line x1="12" y1="1" x2="12" y2="3" />
        <line x1="12" y1="21" x2="12" y2="23" />
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
        <line x1="1" y1="12" x2="3" y2="12" />
        <line x1="21" y1="12" x2="23" y2="12" />
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
       </g>
    </svg>
  </button>

</div>


</footer>







