<header class="page__header">
   
    <div class="menu--flex">

        <div class="logoside">
            <div class="navbar-logo"></div>
            <nav class="breadcrumbs" aria-label="breadcrumbs">
                <ol class="breadcrumbs__ol"  >
                    <li class="breadcrumbs__li" >
                    <a href="{{ site.url }}" class="logo__title nav-link  text-color" aria-label="открыть главную страницу сайта" >
                        Бартошевич 
                    </a>                 
                   
                    </li> 
                    <li class="breadcrumbs__li" >
                        <span class="logo__title"  aria-current="location">Контакты</span>                                
                        
                    </li> 
                </ol>
            </nav>
        </div>



            <button class="menu__button" type="button" aria-expanded="false" aria-controls="menu__list" aria-label="открыть меню">
                <svg class="menu__icon" aria-hidden="true" width="30" height="36">
                    <use class="menu__icon-menu" href="/assets/images/sprite.svg#menu"></use>
                    <use class="menu__icon-cross" href="/assets/images/sprite.svg#cross"></use>
                </svg>
            </button>
    </div>

<div class="menu-header__wrapper">

    <div class="menu__header" id="menu__list">
    
        <nav class="menu__header__item">
            <h2 class="element--hidden">Основное меню</h2>
                <ul class="header__item--bleed item__content nav__group" >
                    <li class="nav__li"><a class="nav-link  bold" href="/" >Главная</a></li>         
                    <li class="nav__li"><a class="nav-link  bold" href="/cases/">Проекты</a></li>
                    <li class="nav__li" ><a class="nav-link  bold " href="/blog/">Блог</a></li>
                    <li class="nav__li" ><a class="nav-link  bold " href="/faq/">Вопрос - Ответ </a></li>
                    <li class="nav__li"><span class="bold nav__li--selected">Контакты</span></li>
                </ul>
        </nav>   


        <nav class="menu__header__item">
            <h2 class="bold block__title item__title" ><a class="nav-link  text-color" href="/uslugi/">Услуги</a></h2>
                <ul class="nav__group item__content" >          
                    <li class="nav__li" ><a class="nav-link " href="/uslugi/marketing-audit/">Аудит маркетинга</a></li>
                    <li class="nav__li"><a class="nav-link " href="/uslugi/brand-conception/">Концепция бренда</a></li>
                    <li class="nav__li"><a class="nav-link " href="/uslugi/razrabotka-reklamnyh-kampanij/">Разработка рекламных кампаний</a></li>
                    <li class="nav__li"><a class="nav-link " href="/uslugi/autsorsing-marketinga/">Абонентское обслуживание</a></li>
                </ul>
        </nav>

        <section class="menu__header__item">
            <h2 class="block__title item__title bold" >Подписка</h2>
                    <ul class="nav__group item__content" >          
                        <li class="nav__li" ><a class="nav-link " href="https://t.me/+OuzxNOZg-g44ZjYy">Telegram</a></li>
                        <li class="nav__li"><a class="nav-link " href="https://eepurl.com/cmkKcz">Электронная почта </a></li>           
                    </ul>
        </section> 
    
            
    </div>
</div>
</header>



