<!--  вариант оптимизации видео -->

<div class="video">
        <iframe
        class="has-ratio"
							 width="560"
							 height="315"
							 src="https://www.youtube-nocookie.com/embed/I33IM8MRHIo"
							 srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/I33IM8MRHIo?autoplay=1><img src=https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1622201382/video/pic/youtu.be-I33IM8MRHIo.jpg alt='видео, в котором Игорь Ашманов рассказывает о&nbsp;механике распространения вирусов'><span>▶</span></a>"

							 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							 allowfullscreen
							 title="Игорь Ашманов рассказывает о&nbsp;механике распространения вирусов">
         </iframe>
</div>
<figcaption>Игорь Ашманов рассказывает о&nbsp;механике распространения вирусов</figcaption>




<!-- код js для смены темы -->

const storageKey = 'theme-preference'

const onClick = () => {

  theme.value = theme.value === 'light'
    ? 'dark'
    : 'light'

  setPreference()
}

const getColorPreference = () => {
  if (localStorage.getItem(storageKey))
    return localStorage.getItem(storageKey)
  else
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
}

const setPreference = () => {
  localStorage.setItem(storageKey, theme.value)
  reflectPreference()
}

const reflectPreference = () => {
  document.firstElementChild
    .setAttribute('data-theme', theme.value)

  document
    .querySelector('#theme-toggle')
    ?.setAttribute('aria-label', theme.value)
}

const theme = {
  value: getColorPreference(),
}


reflectPreference()

window.onload = () => {
  
  reflectPreference()

  
  document
    .querySelector('#theme-toggle')
    .addEventListener('click', onClick)
}


window
  .matchMedia('(prefers-color-scheme: dark)')
  .addEventListener('change', ({matches:isDark}) => {
    theme.value = isDark ? 'dark' : 'light'
    setPreference()
  })


  <!-- конец кода  js для смены темы -->