<section class="full-bleed row-gap--m">
    <h2 class="element--hidden">Кейсы</h2>
   
       <article class="full-bleed row-gap--m">
           <div class="mb-m">        
               <h2 class="h1 bold inline">клиент: Hörmann</h2> <br/>немецкий производитель дверей, ворот, электроприводов                
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m row-gap--m">
               <h3 class="c-3 bold h2 "> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>
                <div class="c-7 "> 
                       <div class="figure">                        
                           <img class="image" loading="lazy"  width="2002" height="1502"
                               src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/bo_1px_solid_gray/v1622023855/site/hormann-slide.jpg" alt="скриншот"  />
                       </div>
                       <div class="figcaption">
                                           Содержание презентации с&nbsp;концепцией бренда
                       </div>
               </div>
           </section>  
   
            <section class="row mt-m row-gap--m">
               <h3 class="c-3 bold h2 "> Разработал рекламные кампании, координировал проведение</h3>
                <div class="c-7 row-gap--m"> 
                      <h4 class="bold mb-m">Видео</h4>
   
                       <div class="figure">						
                           <div class="video ">
                               <a class="video__link " href="https://youtu.be/Rl2jUmZWSfg" target="_blank" rel="noopener nofollow noreferrer">
                                   <picture>
                                       <source srcset="https://i.ytimg.com/vi_webp/Rl2jUmZWSfg/maxresdefault.webp" type="image/webp">
                                       <img loading="lazy" class="video__media " src="https://i.ytimg.com/vi/Rl2jUmZWSfg/maxresdefault.jpg" alt="" width="1280" height="720"/>
                                   </picture>
                               </a>
                               <button class="video__button" aria-label="Запустить видео">
                                   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
                               </button>
                           </div>
   
                       <div class="figcaption">
                           Проморолик белорусского офиса Hörmann. Идея&nbsp;— Дмитрий Бартошевич. Режиссер&nbsp;— <a class="link" href="https://alexbondarev.pro/">Александр Бондарев</a>. Больше видео <a class="link" href="https://www.youtube.com/channel/UCyEPzGj0pU3OdwV2uvO9cmw" >на&nbsp;youtube-канале компании</a>
                       </div>
                       </div>
   
           
                       <h4 class="bold mb-m">Аудио</h4>
                       <div class="figure">
                           <audio controls>
                               <source  src="/assets/media/project/hormann_100.mp3" type="audio/mpeg">		
                               Аудиопроигрователь не поддерживается вашим браузером :-( 
                           </audio>
                           <div class="figcaption">
                               Рекламный ролик для радио. Идея и&nbsp;сценарий&nbsp;&mdash; Дмитрий Бартошевич
                           </div>
                    
   
                           <details>
                               <summary class="link">
                               Транскрипт аудио ролика <small>(нажмите, чтобы открыть)</small>
                               </summary>
                               <div class="mt-m">
                                   <p>—&nbsp;Папа, а&nbsp;сколько раз нужно сделать, чтобы получилось хорошо? </p>
                                   <p>—&nbsp;Сто раз так точно, сынок. </p>
                                   <p>—&nbsp;Ого!.. А&nbsp;вот наши ворота... мм, как там...</p>
                                   <p>—&nbsp;Хёрманн? </p>
                                   <p>—&nbsp;Да, Хёрманн! Им&nbsp;уже 10&nbsp;лет, а&nbsp;они работают. Вот их&nbsp;сколько раз делали? </p>
                                   <p>—&nbsp;Больше 10&nbsp;миллионов раз. </p>
                                   <p>—&nbsp;Так много?! Теперь понятно, почему у&nbsp;них так хорошо получается. </p>
                                   <p>Отбивка: «Хёрманн знает, как делать гаражные ворота». </p>
                               </div>
                           </details>
                       </div>
               </div>
           </section> 
   
   
   
   
            <section class="row mt-m ">
               <h3 class="c-3 bold h2 "> Подготовил промо материалы</h3>
                <div class="c-7 row-gap--m"> 
                        <div class="figure" itemscope itemtype="http://schema.org/ImageObject">
                           <img class="image" loading="lazy"  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614110807/site/helper-3.jpg" title="Визуализация: Елизавета Мамчиц" width="2400" height="1600" itemprop="contentUrl" alt="пример альтернативы рекламной листовке"/>
                           <div class="figcaption"> Помощник в&nbsp;выборе ворот. Идея и&nbsp;текст&nbsp;— Дмитрий Бартошевич. Верстка&nbsp;— <a class="link" href="http://dsgndreamer.com/">Елизавета Мамчиц</a>
                           </div>                  
                       </div>
   
                       <div class="figure" itemscope itemtype="http://schema.org/ImageObject">                                    
                           <img class="image" loading="lazy"  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/bo_1px_solid_grey/v1623041572/site/hormann_print_1.jpg" alt="информационный буклет Hörmann" width="838" height="1192" itemprop="contentUrl"/>   
                           <div class="figcaption"> Информационный буклет H&ouml;rmann. Идея и&nbsp;текст&nbsp;&mdash; Дмитрий Бартошевич. Верстка&nbsp;&mdash; <a class="link" href="https://t.me/alexmastak">Алексей Кузьменков</a> 
                           </div> 
                       </div>          
               </div>
           </section>   
   
   
            <section class="row mt-m row-gap--m">
               <h3 class="c-3 bold h2 ">  Координировал разработку промо сайта</h3>
                <div class="c-7 row-gap-m"> 
                         <div class="figure" itemscope itemtype="http://schema.org/ImageObject">
                               <img loading="lazy" class="image" width="2000" height="1500" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/hormann_site_3.png" alt="" itemprop="contentUrl"/>
                               <div class="figcaption" itemprop="description">
                                               Стартовая версия сайта. Разработчик&nbsp;— Giperlink
                               </div>
                           </div>    
               </div>
           </section>       
   
   
   
            <section class="row mt-m row-gap--m">
               <h3 class="c-3 bold h2 "> О&nbsp;Hörmann в&nbsp;блоге </h3>
                <div class="c-7 row-gap-m"> 
                         <ul >
                           <li class="list-li">
                               <a class="link" href="/blog/brand-conception-hormann/">Разработал концепцию бренда для Hörmann Беларусь</a>
                           </li>
                           <li class="list-li">
                               <a class="link" href="/blog/spam-replacement/">Заменил рекламные листовки на&nbsp;помощники в&nbsp;выборе</a>
                            </li>
                                                                                                                                                                                           </ul>
               </div>
           </section>   
       </article>
   
   
   
   
       <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">клиент: <span class="noperenos">Flex-n-Roll</span></h2> <br/>типография, лидер в&nbsp;РБ в&nbsp;сегменте самоклеящихся этикеток
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m row-gap--m">
               <h3 class="c-3 bold h2 "> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>
               <div class="c-7 "> 
                   <blockquote class="blockquote--emphasis ml-2xl">
                       <p class="citation">«Впереди много планов и&nbsp;есть главное&nbsp;— четкий выверенный вектор развития компании, который обозначил для нас Дмитрий Бартошевич. Поэтому <strong>хотелось&nbsp;бы поблагодарить его за&nbsp;предложенную концепцию и&nbsp;проведенную большую работу по&nbsp;брендингу нашего предприятия</strong>».</p>
                           <div class="citation__author" >
                           <cite>
                           <a href="/blog/brand-strategy-flex-n-roll/" class="link" >Елена Горбачева</a> <br/>директор <span class="noperenos">Flex-n-Roll</span>, 2018&nbsp;г.
                           </cite>
                           </div>
                   </blockquote>
               </div>
           </section>  
       </article>    
   
   
   
        <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">клиент: <span class="noperenos">EGO-ART</span></h2> <br/>ювелирное производство
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m row-gap--m">
           <div class="c-3 row-gap--m">
               <h3 class="bold h2"> Провел аудит работы отдела маркетинга </h3>
               <h3 class="bold h2"> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>
               <h3 class="bold h2"> Подготовил годовой маркетинговый план</h3>
           </div>
   
               <div class="c-7 "> 
                   <div class="figure">
                       <div class="figcaption">
                           Могу показать только скриншот обзора слайдов презентации с&nbsp;результатами аудита маркетинга (соглашение о&nbsp;неразглашении)
                       </div>
                       <img loading="lazy" class="image" width="1920" height="1080"
               src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/ego-art_slides.png" alt="слайд с содержанием итоговой презентации для EGO-ART" />				
                   </div>	
               </div>
           </section>  
       </article>    
   
   
   
       <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">клиент: ЮВИ Электроникс (тм. Termium)</h2> <br/>производство и&nbsp;поставки промышленных нагревателей и&nbsp;комплектующих
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m row-gap--m">
           <div class="c-3">            
               <h3 class="bold h2"> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>			
           </div>
   
               <div class="c-7 "> 
                  <div class="figure">
                       <div class="figcaption">
                           После утверждения концепции компания разработала новый сайт. И&nbsp;это только начало ;-)
                       </div>
                       <img loading="lazy" class="image" width="2000" height="1500"
               src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1623041572/site/termium_site.png" alt="скриншот главной страницы сайта Termium" />
                       
                   </div>	
               </div>
           </section>  
       </article>    
   
   
   
   
   
        <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">клиент: Giperlink</h2> <br/>интернет-агентство
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m row-gap--m">
           <div class="c-3">            
               <h3 class="bold h2"> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>			
           </div>
   
               <div class="c-7 "> 
                 <blockquote class="blockquote--emphasis ml-2xl">
               <p class="citation">«На&nbsp;опыте прочувствовали, насколько <strong>наличие концепции бренда помогает развитию компании</strong>».</p>
                   <div class="citation__author" >
                   <cite>
                   <a href="/blog/brand-giperlink/" class="link" >Дмитрий Лихтарович</a><br/> директор Giperlink
                   </cite>
                   </div>
           </blockquote>
               </div>
           </section>  
       </article>   
   
   
   
       <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">клиент: 3Dom</h2> <br/>производство и&nbsp;продажа корпусной мебели
           </div> 
   
             <div class="border-top"></div>   
   
           <section class="row mt-m ">
           <div class="c-3 row-gap--m">            
               <h3 class="bold h2"> Cоздал концепцию бренда и&nbsp;стратегию развития</h3>	
               <h3 class="bold h2"> Разработал рекламные кампании, координировал проведение</h3>		
           </div>
   
               <div class="c-7 row-gap--m"> 
   
                   <div class="figure" itemscope itemtype="http://schema.org/ImageObject">
                       <picture>
                                       <source srcset="/assets/images/posts/3dom-mebel-dlya-semi/3dom3.webp" type="image/webp">
                                       <img loading="lazy" src="/assets/images/posts/3dom-mebel-dlya-semi/3dom3.jpg" alt="праздник 3Dom" width="695" height="463" itemprop="contentUrl"/>
                           </picture>
                       <div class="figcaption">
                       Концепция 3Dom&nbsp;— мебель для семьи. Одна из&nbsp;инициатив&nbsp;— семейные праздники. На&nbsp;фотографии момент, когда через маленькую щелочку приоткрытой двери шкафа дети смотрели на&nbsp;северное сияние :-)
                       </div>    
                   </div>
   
                   <p class="mb-m"> О&nbsp;работе с&nbsp;3Dom в блоге: </p>
                   <ul >
                       <li class="list-li">
                           <a class="link" href="/blog/3dom-mebel-dlya-semi/">Создал концепцию бренда 3Dom</a>
                       </li>
                                                                                                       
                       <li class="list-li">
                           <a class="link" href="/blog/sobiraem-bazu-podpischikov/">Собрал с&nbsp;нуля базу подписчиков</a>
                       </li>
                                                                                                                                                                                   </ul>             
               </div>
           </section>  
       </article> 
   
   
        <article class="full-bleed block__space--top-h2 row-gap--m">
           <div class="mt-m mb-m">        
               <h2 class=" h1 bold inline">Другие кейсы</h2> 
           </div> 
   
             <div class="border-top"></div>   
   
           <div class=" mt-m row">
           <div class="c-5">
            <ul class="additive-spacing max-width-text">
                       <li class="list-li">
                           <a class="link" href="/blog/editorial-policy/">Составил редакционную политику бренда</a>
                       </li>
                       <li class="list-li">
                           <a class="link" href="/blog/reklamnyj-tekst-atlant-telekom/">Исправил рекламный текст Атлант Телеком</a>
                       </li>
                       
                       <li class="list-li">
                           <a class="link" href="/blog/kejs-delayu-sistemu-skidok/">Сделал систему скидок</a>
                       </li>	
                       <li class="list-li">
                           <a class="link" href="/blog/razrabotka-marketingovoj-strategii/">Усилил маркетинговую стратегию предприятий</a>
                       </li>
                   </ul>    
   
           </div>
           <div class="c-5">
           <ul class="additive-spacing max-width-text">
               <li class="list-li">
                           <a class="link" href="/blog/delayu-sajt-detskogo-psixologa/">Сделал сайт психолога</a>
                       </li>
                       <li class="list-li">
                           <a class="link" href="/blog/reklama-dlya-banka-tinkova/">Рекламировал банк Олега Тинькова</a>
                       </li>
                       <li class="list-li">
                           выполнил проекты для «Истела Роса», Danone Беларусь, <span class="noperenos">«САВ-лайн»</span>,
                           MODISTA и&nbsp;других компаний. Постепенно <a class="link" href="/blog/" title="авторский блог о маркетинге и развитии бизнеса">в&nbsp;блоге</a> появится описание всех завершенных проектов, о&nbsp;ходе которых могу рассказать публично.
                       </li>
   
           </ul>
   
           </div>
   
   
          
                       
                   
           
           </div>  
       </article> 
   </section>