<section class="full-bleed block__space--top-h1 row-gap--m">
    <h2 class="h1 bold">
        Написал для «Про Бизнес»
    </h2>


    <div class="cards">
        <ul>
            <li class="card">
                <div class="img"><img loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1hardclient.jpg" alt=""></div>
                <div class="text">
                    <h3><a class="link h2" href="https://probusiness.io/management/4239-neadekvaty-ikholodnaya-shaurma-kak-rabotat-sproblemnymi-klientami.html">Неадекваты и&nbsp;«холодная шаурма»: как работать с&nbsp;проблемными клиентами</a></h3>
                    <p class="small">Проблемных клиентов определяют менеджеры, ситуации или собственный характер. Как грамотно прорабатывать недовольство клиентов и&nbsp;в&nbsp;каких случаях не&nbsp;стоит работать с&nbsp;«проблемными» вообще.</p>
                    
                </div>
            </li>
            <li class="card">
                <div class="img"><img loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1cjmpb.jpg" alt=""></div>
                <div class="text">
                    <h3><a class="link h2" href="https://probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html">Как взглянуть на&nbsp;работу компании глазами клиентов, чтобы повысить продажи</a></h3>
                    <p class="small">Что такое методика изучения потребительского опыта (Customer Journey Mapping) и&nbsp;как с&nbsp;ее&nbsp;помощью увеличить поток покупателей.</p>
                    
                </div>
            </li>
            <li class="card">
                <div class="img"><img loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1belarustourismpb.jpg" alt=""></div>
                <div class="text">
                    <h3><a class="link h2" href="https://probusiness.io/tech/2323-eti-elementarnye-oshibki-na-saytakh-meshayut-kompaniyam-privlekat-klientov-inostrancev-primer-agrousadeb.html">Эти элементарные ошибки на&nbsp;сайтах мешают компаниям	привлекать иностранных клиентов: пример агроусадеб</a></h3>
                    <p class="small">Список элементарных ошибок, на&nbsp;исправление которых не&nbsp;требуется выделять больших средств и&nbsp;много времени.</p>
                </div>
            </li>


            <li class="card">
                <div class="img"><img loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1mistakespb.jpg" alt=""></div>
                <div class="text">
                    <h3><a class="link h2" href="https://probusiness.io/do_it/2445-ne-stavte-telegu-vperedi-loshadi-veshchi-kotorye-obyazatelno-dolzhen-znat-i-delat-marketolog.html">Не&nbsp;ставьте телегу впереди лошади&nbsp;— вещи, которые обязательно должен знать и&nbsp;делать маркетолог</a></h3>
                    <p class="small">О&nbsp;чем часто забывают маркетологи белорусских компаний, планируя рекламную кампанию или уже запустив&nbsp;ее?</p>
                </div>
            </li>


            <li class="card">
                <div class="img"><img loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1fridaypb.jpg" alt=""></div>
                <div class="text">
                    <h3><a class="link h2" href="https://probusiness.io/management/2778-v-chernuyu-pyatnicu-skidki-budut-u-mnogikh-chem-vydelitsya-na-fone-konkurentov.html">В&nbsp;«Черную пятницу» скидки будут у&nbsp;многих&nbsp;— чем	выделиться на&nbsp;фоне конкурентов</a></h3>
                    <p class="small">«Узнали мнение экспертов&nbsp;— как компании можно выделиться среди похожих друг на&nbsp;друга акций со&nbsp;скидками»</p>
                </div>
            </li>
          



        </ul>
    </div>        
</section>