<section class="full-bleed row-gap--m">


    <h2 class="block__space--top-h1 bold h1">Работал в найме</h2>
    
    <div class="border-top"></div>   
    <div class="full-bleed full-bleed-row mt-m">
        <div class="grid-column__first-four">
            <p class="bold h2"> Последние 4 места </p> 
        </div>
        <div class="grid-column__last-six  ">
            <ul class="work__list list-reset">

                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/me/work__logo/brownsme-1x.webp 1x,
                        /assets/images/me/work__logo/brownsme-2x.webp 2x" type="image/webp">
                        <img loading="lazy" class="work-logo" src="/assets/images/me/work__logo/brownsme-1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/me/work__logo/brownsme-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> «Тичино», <span class="noperenos">тм&nbsp;«Brown’s Manufactory»</span> (Беларусь)</h3>
                    
                    <p class="secondary-color mb-m"> 2013-2014 — директор компании</p>
                    <p> Здесь я&nbsp;отчетливо понял, что хочу заниматься вопросами развития бренда и&nbsp;решать маркетинговые
                        задачи. </p>
                    </li>
        
        
                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/me/work__logo/getpointme-1x.webp 1x,
                        /assets/images/me/work__logo/getpointme-2x.webp 2x" type="image/webp">
                        <img loading="lazy" class="work-logo" src="/assets/images/me/work__logo/getpointme-1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/me/work__logo/getpointme-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> GetPoint&nbsp;— агентство креативного брендинга (Россия)</h3>
                    <p class="secondary-color mb-m"> 2012-2013 — директор по&nbsp;развитию бизнеса</p>
                    <p> Окунулся в&nbsp;рекламный бизнес. В&nbsp;некоторых моментах ощущал себя персонажем книг Пелевина. </p>
        
                </li>
        
        
        
                <li class="work row-gap--m">
                    <picture>
                        <source srcset="/assets/images/me/work__logo/pro-trademe-1x.webp 1x,
                        /assets/images/me/work__logo/pro-trademe-2x.webp 2x" type="image/webp">
                        <img loading="lazy" class="work-logo" src="/assets/images/me/work__logo/pro-trademe-1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/me/work__logo/pro-trademe-2x.jpg 2x">
                    </picture>
                    <h3 class="bold mb-m"> «Мебелинк», <span class="noperenos">тм «Pro-Trade»</span> (Беларусь)</h3>
                    <p class="secondary-color mb-m"> 2010-2011 — начальник отдела маркетинга </p>
                    <p > Через месяц после моего ухода учредитель позвонил и&nbsp;поблагодарил за&nbsp;работу. Также <span
                            class="noperenos">«Pro-Trade»</span>&nbsp;— компания, ставшая одним из&nbsp;первых клиентов, когда
                        я&nbsp;оформил ИП. </p>
                </li>
        
        
        
        
        
        
        
                <li class="work row-gap--m">                   
 
                    <picture>
                        <source srcset="/assets/images/me/work__logo/nielsen@1x.avif 1x, /assets/images/me/work__logo/nielsen@2x.avif 2x, /assets/images/me/work__logo/nielsen@3x.avif 3x" type="image/avif">
                        <source srcset="/assets/images/me/work__logo/nielsen@1x.webp 1x, /assets/images/me/work__logo/nielsen@2x.webp 2x, /assets/images/me/work__logo/nielsen@3x.webp 3x" type="image/webp">
                        <img loading="lazy" class="image" src="/assets/images/me/work__logo/nielsen@1x.jpg" alt="" width="250" height="90"
                            srcset="/assets/images/me/work__logo/nielsen@2x.jpg 2x, /assets/images/me/work__logo/nielsen@3x.jpg 3x">
                    </picture>
                    
        
                    <h3 class="bold mb-m">Nielsen</h3>
                    <p class="secondary-color mb-m"> 2005-2009&nbsp;— главный специалист (Беларусь) → руководитель отдела (Казахстан) </p>
                    <p > <a class="link" href="https://global.nielsen.com/">  Компания «Нильсен»</a>&nbsp;— мировой лидер в&nbsp;области маркетинговых исследований. Сначала
                        я&nbsp;работал в&nbsp;белорусском офисе, а&nbsp;затем принял предложение возглавить отдел по&nbsp;работе
                        с&nbsp;клиентами в&nbsp;Казахстане. Многие принципы анализа данных и&nbsp;подход в&nbsp;работе
                        с&nbsp;клиентами привил мне <b>Нильсен</b>. В&nbsp;частности, Нильсен научил <a class="link"
                            href="/blog/otlichie-marketologa-ot-brexuna/">отличать маркетолога от&nbsp;брехуна</a>. </p>
                </li>
            </ul>

        </div>
    </div>


    
    
 








</section>