
<article class="full-bleed  row-gap--m" itemscope itemtype="https://schema.org/CollectionPage">
    <meta itemprop="name" content="Статьи Дмитрия Бартошевича в Про Бизнес">
    <meta itemprop="description" content="Коллекция публикаций в СМИ о маркетинге, брендинге и работе с клиентами">

    <h3 class="h2 bold" itemprop="headline">
        Статьи в&nbsp;&laquo;Про Бизнес&raquo;
    </h3>

    <div class="cards" itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList">
        <meta itemprop="numberOfItems" content="5">
        <ul>
            <li class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="position" content="1">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Pro Business">
                    <link itemprop="url" href="https://probusiness.io/">
                </div>
                <div class="img">
                    <img loading="lazy" decoding="async" itemprop="image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1hardclient.jpg" alt="Тизер для статьи в Pro Business о проблемных клиентах" width="640" height="426">
                </div>
                <div class="text">
                    <h4><a class="link h2" href="https://probusiness.io/management/4239-neadekvaty-ikholodnaya-shaurma-kak-rabotat-sproblemnymi-klientami.html" itemprop="url"><span itemprop="headline">Неадекваты и&nbsp;«холодная шаурма»: как работать с&nbsp;проблемными клиентами</span></a></h4>
                    <p class="small" itemprop="description">Проблемных клиентов определяют менеджеры, ситуации или собственный характер. Как грамотно прорабатывать недовольство клиентов и&nbsp;в&nbsp;каких случаях не&nbsp;стоит работать с&nbsp;«проблемными» вообще.</p>
                </div>
            </li>

            <li class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="position" content="2">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Pro Business">
                    <link itemprop="url" href="https://probusiness.io/">
                </div>
                <div class="img">
                    <img loading="lazy" decoding="async" itemprop="image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1cjmpb.jpg" alt="Тизер для статьи в Pro Business о карте потребительского опыта (CJM)" width="640" height="426">
                </div>
                <div class="text">
                    <h4><a class="link h2" href="https://probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html" itemprop="url"><span itemprop="headline">Как взглянуть на&nbsp;работу компании глазами клиентов, чтобы повысить продажи</span></a></h4>
                    <p class="small" itemprop="description">Что такое методика изучения потребительского опыта (Customer Journey Mapping) и&nbsp;как с&nbsp;ее&nbsp;помощью увеличить поток покупателей.</p>
                </div>
            </li>


            <li class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="position" content="3">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Pro Business">
                    <link itemprop="url" href="https://probusiness.io/">
                </div>
                <div class="img">
                    <img loading="lazy" decoding="async" itemprop="image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1belarustourismpb.jpg" alt="Тизер для статьи в Pro Business об ошибках сайтов агроусадеб" width="640" height="426">
                </div>
                <div class="text">
                    <h4><a class="link h2" href="https://probusiness.io/tech/2323-eti-elementarnye-oshibki-na-saytakh-meshayut-kompaniyam-privlekat-klientov-inostrancev-primer-agrousadeb.html" itemprop="url"><span itemprop="headline">Эти элементарные ошибки на&nbsp;сайтах мешают компаниям привлекать иностранных клиентов: пример агроусадеб</span></a></h4>
                    <p class="small" itemprop="description">Список элементарных ошибок, на&nbsp;исправление которых не&nbsp;требуется выделять больших средств и&nbsp;много времени.</p>
                </div>
            </li>


            <li class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="position" content="4">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Pro Business">
                    <link itemprop="url" href="https://probusiness.io/">
                </div>
                <div class="img">
                    <img loading="lazy" decoding="async" itemprop="image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1mistakespb.jpg" alt="Тизер для статьи в Pro Business о том, что обязательно должен знать маркетолог" width="640" height="426">
                </div>
                <div class="text">
                    <h4><a class="link h2" href="https://probusiness.io/do_it/2445-ne-stavte-telegu-vperedi-loshadi-veshchi-kotorye-obyazatelno-dolzhen-znat-i-delat-marketolog.html" itemprop="url"><span itemprop="headline">Не&nbsp;ставьте телегу впереди лошади&nbsp;— вещи, которые обязательно должен знать и&nbsp;делать маркетолог</span></a></h4>
                    <p class="small" itemprop="description">О&nbsp;чем часто забывают маркетологи белорусских компаний, планируя рекламную кампанию или уже запустив&nbsp;ее?</p>
                </div>
            </li>


            <li class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="position" content="5">
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Дмитрий Бартошевич">
                    <link itemprop="url" href="https://bartoshevich.by/about/">
                </div>
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="Pro Business">
                    <link itemprop="url" href="https://probusiness.io/">
                </div>
                <div class="img">
                    <img loading="lazy" decoding="async" itemprop="image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648159462/site/1fridaypb.jpg" alt="Тизер для статьи в Pro Business о черной пятнице" width="640" height="426">
                </div>
                <div class="text">
                    <h4><a class="link h2" href="https://probusiness.io/management/2778-v-chernuyu-pyatnicu-skidki-budut-u-mnogikh-chem-vydelitsya-na-fone-konkurentov.html" itemprop="url"><span itemprop="headline">В&nbsp;«Черную пятницу» скидки будут у&nbsp;многих&nbsp;— чем выделиться на&nbsp;фоне конкурентов</span></a></h4>
                    <p class="small" itemprop="description">«Узнали мнение экспертов&nbsp;— как компании можно выделиться среди похожих друг на&nbsp;друга акций со&nbsp;скидками»</p>
                </div>
            </li>
          



        </ul>
    </div> 

   </article> 






 {% comment %}   
    <ul class="row-gap--l list-reset">
		<li class="block__item">
            <div class="block__name--align-left additive-spacing">
                <h3 class="h2">
                    <a class="link" href="https://probusiness.io/management/4239-neadekvaty-ikholodnaya-shaurma-kak-rabotat-sproblemnymi-klientami.html">		    <span class="article_title">Неадекваты и&nbsp;«холодная шаурма»: как работать с&nbsp;проблемными клиентами</span> 
                    </a>
                </h3>
                <p>
                    <small>
                        <time  datetime="2018-02-06" class="secondary-color"> 						
                            6 февраля 2018		
                        </time> 
                    </small>
                </p> 
            </div>
                       
            <p class="block__content">
                Проблемных клиентов определяют менеджеры, ситуации или собственный характер. Как грамотно прорабатывать недовольство клиентов и&nbsp;в&nbsp;каких случаях не&nbsp;стоит работать с&nbsp;«проблемными» вообще.
            </p>				
		</li>



        <li class="block__item">
            <div class="block__name--align-left additive-spacing">
            
                <h3 class="h2">
                    <a class="link" href="https://probusiness.io/management/2778-v-chernuyu-pyatnicu-skidki-budut-u-mnogikh-chem-vydelitsya-na-fone-konkurentov.html">		    <span class="article_title">В&nbsp;«Черную пятницу» скидки будут у&nbsp;многих&nbsp;— чем	выделиться на&nbsp;фоне конкурентов</span> 
                    </a>
                </h3>
                <p>
                    <small>
                        <time  datetime="2016-11-23" class="secondary-color"> 						
                            23 ноября 2016	
                        </time> 
                    </small>
                </p> 
               
            </div>
                       
            <p class="block__content">
                «Узнали мнение экспертов&nbsp;— как компании можно выделиться среди похожих друг на&nbsp;друга акций со&nbsp;скидками»
            </p>				
		</li>



        <li class="block__item">
            <div class="block__name--align-left additive-spacing">
            
                <h3 class="h2">
                    <a class="link" href="https://probusiness.io/do_it/2445-ne-stavte-telegu-vperedi-loshadi-veshchi-kotorye-obyazatelno-dolzhen-znat-i-delat-marketolog.html">		    <span class="article_title">Не&nbsp;ставьте телегу впереди лошади&nbsp;— вещи, которые обязательно должен знать и&nbsp;делать маркетолог</span> 
                    </a>
                </h3>
                <p>
                    <small>
                        <time  datetime="2016-08-25" class="secondary-color"> 						
                            25 августа 2016	
                        </time> 
                    </small>
                </p> 
               
            </div>
                       
            <p class="block__content">
                О&nbsp;чем часто забывают маркетологи белорусских компаний, планируя рекламную кампанию или уже запустив&nbsp;ее?
            </p>				
		</li>




        <li class="block__item">
            <div class="block__name--align-left additive-spacing">
            
                <h3 class="h2">
                    <a class="link" href="https://probusiness.io/tech/2323-eti-elementarnye-oshibki-na-saytakh-meshayut-kompaniyam-privlekat-klientov-inostrancev-primer-agrousadeb.html">		    <span class="article_title">Эти элементарные ошибки на&nbsp;сайтах мешают компаниям	привлекать иностранных клиентов: пример агроусадеб</span> 
                    </a>
                </h3>
                <p>
                    <small>
                        <time  datetime="2016-07-20" class="secondary-color"> 						
                            20 июля 2016	
                        </time> 
                    </small>
                </p> 
               
            </div>
                       
            <p class="block__content">
                Список элементарных ошибок, на&nbsp;исправление которых не&nbsp;требуется выделять больших средств и&nbsp;много времени.
            </p>				
		</li>




        <li class="block__item">
            <div class="block__name--align-left additive-spacing">
            
                <h3 class="h2">
                    <a class="link" href="https://probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html">		    <span class="article_title">Как взглянуть на&nbsp;работу компании глазами клиентов, чтобы повысить продажи</span> 
                    </a>
                </h3>
                <p>
                    <small>
                        <time  datetime="2016-06-16" class="secondary-color"> 						
                            6 июня 2016	
                        </time> 
                    </small>
                </p> 
               
            </div>
                       
            <p class="block__content">
                Что такое методика изучения потребительского опыта (Customer Journey Mapping) и&nbsp;как с&nbsp;ее&nbsp;помощью увеличить поток покупателей.
            </p>				
		</li>




	</ul>
 


 {% endcomment %}