<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Blog",
    "name": "{{ page.title | escape  }}",
    "description": "{{ page.description | escape  }}",
    "url": "https://bartoshevich.by/blog/",
    "author": { "@id": "#service" },
    "publisher": { "@id": "#service" },
    "mainEntity": { "@id": "#service" }
  }
</script>

<!-- BlogPosting для всех статей -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {% for post in site.posts %}
      {
        "@type": "BlogPosting",
        "headline": "{{ post.name | escape }}",
        "name": "{{ post.name | escape  }}",
        "datePublished": "{{ post.date | date_to_xmlschema | escape  }}",
        "dateModified": "{{ post.last_modified_at | date_to_xmlschema  | escape  }}",
        "description": "{{ post.description | strip_html | strip | escape  }}",
        "url": "{{ site.url }}{{ post.url }}",
        {% if post.image %}
        "image": "{{ site.url }}{{ post.image }}",
        {% endif %}
        "author": {
          "@id": "#person"
        },
        "publisher": {
          "@id": "#service"
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}{{ post.url }}"
        }
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
</script>
