<script
  type="application/ld+json"
  nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA"
>
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Разработка концепции бренда",
    "serviceType": "Brand Strategy Development",
    "provider": {
      "@id": "#service"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "EUR",
      "price": "3000",
      "priceSpecification": {
        "@type": "PriceSpecification",
        "valueAddedTaxIncluded": true,
        "minPrice": "3000",
        "maxPrice": "10000"
      }
    },
    "description": "{{ page.description | escape  }}",
    "url": "https://bartoshevich.by/uslugi/brand-conception/",
    "serviceOutput": {
      "@type": "Thing",
      "name": "Детально проработанная концепция бренда с позиционированием и стратегией развития"
    },
    "subjectOf": {
      "@type": "HowTo",
      "name": "Процесс разработки концепции бренда",
      "step": [
        {
          "@type": "HowToStep",
          "name": "Анализ бизнеса",
          "text": "Погружение в бизнес клиента, анализ миссии, ценностей и существующего позиционирования."
        },
        {
          "@type": "HowToStep",
          "name": "Анализ конкурентов и клиентов",
          "text": "Исследование рынка, анализ конкурентов и изучение потребностей целевой аудитории."
        },
        {
          "@type": "HowToStep",
          "name": "Создание структуры бренда",
          "text": "Разработка атрибутов, выгод, позиционирования, обещания и личности бренда."
        }
      ]
    }   
  }
</script>
