<script type="application/ld+json" nonce="2D9bL6yR1V3kT7oM4P8qF0nW5G5xJ2d">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Бартошевич Д.А. ИП",
      "url": "https://bartoshevich.by/",
      "logo": "https://res.cloudinary.com/bartoshevich/image/upload/v1645366318/site/bartoshevich_1x.jpg",
      "description": "Профессиональные услуги по маркетингу и стратегическому консалтингу: аудит маркетинга, разработка концепций бренда и рекламные активности для малого и среднего бизнеса.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Ольшевского, 22",
        "addressLocality": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      },
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+375297753340",
        "email": "dmitry@bartoshevich",
        "contactType": "customer support",
        "areaServed": "BY",
        "availableLanguage": ["Belarusian", "en", "Russian"]
      }],
      "sameAs": [
        "https://www.facebook.com/bartoshevichby/",
        "https://www.linkedin.com/in/bartoshevich",
        "https://mastodon.social/@bartoshevich",
        "https://t.me/+OuzxNOZg-g44ZjYy"
      ]
    }
</script>
