<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@type": "Service",
          "provider": { "@id": "#service" },
          "name": "Аудит маркетинга",
          "description": "Независимый аудит маркетинга: оценка и анализ вашего маркетинга с фокусом на потребительский опыт (CJM). Экспертные рекомендации и улучшения.",
          "url": "https://bartoshevich.by/uslugi/marketing-audit/"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@type": "Service",
          "provider": { "@id": "#service" },
          "name": "Разработка концепции бренда",
          "description": "Создам концепцию бренда, которая выведет вашу торговую марку на новый уровень. Выделяйтесь среди конкурентов и привлекайте клиентов с помощью сильного бренда!",
          "url": "https://bartoshevich.by/uslugi/brand-conception/"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@type": "Service",
          "provider": { "@id": "#service" },
          "name": "Разработка рекламных кампаний",
          "description": "Креативные рекламные кампании и стратегии. Профессиональная разработка и реализация для достижения ваших маркетинговых целей.",
          "url": "https://bartoshevich.by/uslugi/razrabotka-reklamnyh-kampanij/"
        }
      },
      {
        "@type": "ListItem",
        "position": 4,
        "item": {
          "@type": "Service",
          "provider": { "@id": "#service" },
          "name": "Аутсорсинг маркетинга",
          "description": "Руководство и поддержка в продвижении бренда, управление рекламными кампаниями, работа с подрядчиками. Повышение эффективности маркетинга.",
          "url": "https://bartoshevich.by/uslugi/autsorsing-marketinga/"
        }
      }
    ]
  }
</script>


