<script type="application/ld+json" nonce="2D9bL6yR1V3kT7oM4P8qF0nW5G5xJ2d">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Дмитрий Бартошевич",
    "description": "Дмитрий Бартошевич (или Барташевич) - эксперт по маркетингу и развитию брендов",
    "jobTitle": "Консультант по маркетингу и стратегии, Директор",
    "worksFor": [
      {
        "@type": "Organization",
        "name": "Бартошевич Д.А. ИП",
        "url": "https://bartoshevich.by/",
        "description": "Консультант по маркетингу и стратегии"
      },
      {
        "@type": "Organization",
        "name": "Агентство маркетинговых решений BARSAN",
        "url": "https://barsan.kz",
        "description": "Основатель, директор"
      }
    ],
    "image": [
      "https://bartoshevich.by/assets/images/main/bartoshevich@16x9.jpg",
      "https://bartoshevich.by/assets/images/main/bartoshevich@4x3.jpg",
      "https://bartoshevich.by/assets/images/main/bartoshevich@1x1.jpg"
    ],
    "url": "https://bartoshevich.by/about/",
    "sameAs": [
      "https://www.facebook.com/bartoshevichby/",
      "https://www.linkedin.com/in/bartoshevich",
      "https://mastodon.social/@bartoshevich",
      "https://t.me/+OuzxNOZg-g44ZjYy"
    ],
    "email": "dmitry@bartoshevich.by",
    "telephone": "+375297753340",
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Белорусский государственный университет",
        "url": "https://bsu.by/"
      },
      {
        "@type": "EducationalOrganization",
        "name": "Белорусский государственный экономический университет",
        "url": "https://bseu.by/"
      }
    ],
    "hasCredential": {
      "@type": "EducationalOccupationalCredential",
      "name": "Преквалификация в Европейском банке реконструкции и развития",
      "credentialCategory": "Профессиональная квалификация",
      "recognizedBy": {
        "@type": "Organization",
        "name": "Европейский банк реконструкции и развития",
        "url": "https://www.ebrd.com/ru/home.html"
      }
    },

    "knowsAbout": ["Маркетинг", "Брендинг", "Стратегия"],
    "hasOccupation": [
      {
        "@type": "Occupation",
        "name": "Руководитель отдела маркетинга",
        "description": "Разработал и защитил структуру отдела и бюджет перед главой компании. Организовал систему сбора и анализа рыночной информации, что позволило руководству компании принимать обоснованные решения. Увеличил долю заказов с сайта до 15%. ",
        "sameAs": "https://pro-trade.by/"
      },
      {
        "@type": "Occupation",
        "name": "Client Director",
        "description": "В Nielsen я проработал четыре с половиной года, сначала в белорусском офисе, затем возглавил отдел по работе с клиентами в Казахстане. В Казахстане создал отдел по работе с клиентами с нуля (нанял и обучил 11 человек, планировал и контролировал их работу). Обеспечил высокий стандарт предоставления услуг. Вёл переговоры с региональным высшим руководством клиентских компаний, расширил объём сотрудничества. Ключевые клиенты: JTI, BAT, Mars, P&G, Colgate, Coca Cola, PepsiCo, Henkel, METRO, Ramstore",
        "sameAs": "https://global.nielsen.com/"
      },
      {
        "@type": "Occupation",
        "name": "Директор по развитию бизнеса",
        "description": "Реализовал в России новую бизнес-модель для белорусского брендингового агентства. Выявил потенциальные бизнес-возможности с новыми и существующими клиентами. Получил приглашение к участию в тендерах и возглавил тендеры по проектам для Tinkoff Credit Systems, \"Ниармедик\", \"Царицыно\", \"Materia Medica\" (\"Анаферон\", \"Тенотен\", \"Эргоферон\"). Достиг долгосрочного сотрудничества с клиентами: \"ТЕКТА\", \"Саватцкий\", Galeon, \"Ретиноиды\", \"Позитроника\".",
        "sameAs": "https://aidapioneer.agency/by/"
      }
    ]
  }
</script>
