<script
  type="application/ld+json"

>
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Аудит маркетинга",
    "serviceType": "Marketing Audit",
    "provider": {
      "@id": "https://bartoshevich.by/#service"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "EUR",
      "price": "300",
      "priceSpecification": {
        "@type": "PriceSpecification",
        "valueAddedTaxIncluded": true,
        "minPrice": "300",
        "maxPrice": "1000"
      }
    },
    "description": "{{ page.description | escape  }}",
    "url": "https://bartoshevich.by/uslugi/marketing-audit/"
  }
</script>
