<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "ContactPage",
    "name": "Контакты",
    "url": "https://bartoshevich.by/contact/",
    "mainEntity": {
      "@type": "Organization",
      "name": "Частный консультант по маркетингу и стратегии Бартошевич Дмитрий",
      "url": "https://bartoshevich.by/",
      "logo": "https://res.cloudinary.com/bartoshevich/image/upload/v1645366318/site/bartoshevich_1x.jpg",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "+375297753340",
          "email": "dmitry@bartoshevich.by",
          "contactType": "customer support",
          "areaServed": "BY",
          "availableLanguage": ["Belarusian", "en", "Russian"]
        }
      ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Ольшевского, 22",
        "addressLocality": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      }
    }
  }
</script>
