<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Разработка рекламных кампаний",
    "serviceType": "Advertising Campaign Development",
    "provider": {
      "@type": "LocalBusiness",
      "name": "Частный консультант по маркетингу и стратегии Бартошевич Дмитрий",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Ольшевского, 22",
        "addressLocality": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      },
      "telephone": "+375297753340",
      "email": "dmitry@bartoshevich.by",
      "url": "https://bartoshevich.by/",
      "priceRange": "$$",
      "image": [
        "https://bartoshevich.by/assets/images/main/bartoshevich@16x9.jpg",
        "https://bartoshevich.by/assets/images/main/bartoshevich@4x3.jpg",
        "https://bartoshevich.by/assets/images/main/bartoshevich@1x1.jpg"
      ]
    },
    "description": "Креативные рекламные кампании и стратегии. Профессиональная разработка и реализация для достижения ваших маркетинговых целей.",
    "url": "https://bartoshevich.by/uslugi/razrabotka-reklamnyh-kampanij/"
  }
</script>
