<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ page.title }}",
    "url": "{{ site.url }}{{ page.url }}",
    "description": "{{ page.description }}",
    "inLanguage": "ru",
    "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
    "dateModified": "{{ page.last_modified_at | date: "%Y-%m-%dT%H:%M:%S%z" }}",
    "author": { "@id": "#service" },
    "publisher": { "@id": "#service" },
    "mainEntity": { "@id": "#service" }
  }
</script>
