<script type="application/ld+json" nonce="2D9bL6yR1V3kT7oM4P8qF0nW5G5xJ2d">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Разработка рекламных кампаний",
    "serviceType": "Advertising Campaign Development",
    "provider": {
      "@type": "LocalBusiness",
      "name": "Бартошевич Д.А. ИП",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Ольшевского, 22",
        "addressLocality": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      },
      "telephone": "+375297753340",
      "email": "dmitry@bartoshevich",
      "url": "https://bartoshevich.by/"
    },
    "description": "Креативные рекламные кампании и стратегии. Профессиональная разработка и реализация для достижения ваших маркетинговых целей.",
    "url": "https://bartoshevich.by/uslugi/razrabotka-reklamnyh-kampanij/"
  }
</script>
