<script type="application/ld+json" nonce="2D9bL6yR1V3kT7oM4P8qF0nW5G5xJ2d">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@type": "Service",
          "name": "Аудит маркетинга",
          "url": "https://bartoshevich.by/uslugi/marketing-audit/"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@type": "Service",
          "name": "Разработка концепции бренда",
          "url": "https://bartoshevich.by/uslugi/brand-conception/"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@type": "Service",
          "name": "Разработка рекламных кампаний",
          "url": "https://bartoshevich.by/uslugi/razrabotka-reklamnyh-kampanij/"
        }
      },
      {
        "@type": "ListItem",
        "position": 4,
        "item": {
          "@type": "Service",
          "name": "Аутсорсинг маркетинга",
          "url": "https://bartoshevich.by/uslugi/autsorsing-marketinga/"
        }
      }
    ]
  }
</script>
