<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ page.title }}",
    "url": "{{ site.url }}{{ page.url }}",
    "description": "{{ page.description }}",
    "inLanguage": "ru",
    "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
    "dateModified": "{{ page.last_modified_at | date: "%Y-%m-%dT%H:%M:%S%z" }}",
    "publisher": {
      "@type": "Organization",
      "name": "Частный консультант по маркетингу и стратегии Бартошевич Дмитрий",
      "url": "https://bartoshevich.by/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://res.cloudinary.com/bartoshevich/image/upload/v1645366318/site/bartoshevich_1x.jpg"
      }
    },
    "author": {
      "@type": "Person",
      "name": "Дмитрий Бартошевич",
      "alternateName": "Дмитрий Барташевич",
      "url": "https://bartoshevich.by/about/"
    }
  }
</script>
