<script
  type="application/ld+json"
>
  {
    "@context": "https://schema.org",
    "@id": "#person",
    "@type": "Person",
    "name": "Дмитрий Бартошевич",
    "alternateName": "Дмитрий Барташевич",
    "url": "https://bartoshevich.by/about/",
    "image": "https://bartoshevich.by/assets/images/main/bartoshevich@1x1.jpg",
    "description": "Эксперт по маркетингу и развитию брендов с 20+ летним опытом",
    "jobTitle": ["Консультант по маркетингу и стратегии", "Директор"],
    "worksFor": [
      {
        "@id": "#service"
      },
      {
        "@type": "Organization",
        "name": "Агентство маркетинговых решений BARSAN",
        "url": "https://barsan.kz"
      }
    ],
    "knowsAbout": [
      "Маркетинговая стратегия",
      "Брендинг",
      "Маркетинговый аудит",
      "Концепция бренда",
      "Рекламные кампании",
      "Абонентское маркетинговое обслуживание"
    ],  
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Белорусский государственный университет",
        "url": "https://bsu.by/"
      },
      {
        "@type": "EducationalOrganization",
        "name": "Белорусский государственный экономический университет",
        "url": "https://bseu.by/"
      }
    ]
      
  }
</script>
