<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "description": "{{ page.description | strip_html | truncate: 180 }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
    "image": "{{ page.image | default: '/assets/images/main/bartoshevichby.png' | prepend: site.url | escape }}",
    "author": {
      "@id": "#person"
    },
    "publisher": {
      "@id": "#service"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url }}"
    }
  }
</script>
