<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Аутсорсинг маркетинга",
    "serviceType": "Marketing Outsourcing",
    "provider": {
      "@id": "#service"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "EUR",
      "price": "1300",
      "priceSpecification": {
        "@type": "PriceSpecification",
        "valueAddedTaxIncluded": true,
        "minPrice": "1300",
        "maxPrice": "2000"
      }
    },
    "description": "{{ page.description | escape  }}",
    "url": "https://bartoshevich.by/uslugi/autsorsing-marketinga/"
  }
</script>
