<script type="application/ld+json" nonce="y4VZC0VrqMma_4wARYnlJpifIomnbHG-ibt6RepxdkA">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Частный консультант по маркетингу и стратегии Бартошевич Дмитрий",
      "url": "https://bartoshevich.by/",
      "logo": "https://res.cloudinary.com/bartoshevich/image/upload/v1645366318/site/bartoshevich_1x.jpg",
      "description": "Профессиональные услуги по маркетингу и стратегическому консалтингу: аудит маркетинга, разработка концепций бренда и рекламные активности для малого и среднего бизнеса.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "г. Минск, ул. Ольшевского, 22",
        "addressLocality": "Фрунзенский район",
        "addressRegion": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      },
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+375297753340",
        "email": "dmitry@bartoshevich.by",
        "contactType": "customer support",
        "areaServed": "BY",
        "availableLanguage": ["be", "en", "ru"]
      }],
      "sameAs": [
        "https://www.facebook.com/bartoshevichby/",
        "https://www.linkedin.com/in/bartoshevich",
        "https://mastodon.social/@bartoshevich",
        "https://t.me/+OuzxNOZg-g44ZjYy"
      ]
    }
</script>
