<script type="application/ld+json" nonce="2D9bL6yR1V3kT7oM4P8qF0nW5G5xJ2d">
  {
    "@context": "https://schema.org",
    "@type": "Service",
    "name": "Аутсорсинг маркетинга",
    "serviceType": "Marketing Outsourcing",
    "provider": {
      "@type": "LocalBusiness",
      "name": "Независимый консультант по маркетингу и стратегии Бартошевич Дмитрий",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ул. Ольшевского, 22",
        "addressLocality": "Минск",
        "postalCode": "220073",
        "addressCountry": "BY"
      },
      "telephone": "+375297753340",
      "email": "dmitry@bartoshevich",
      "url": "https://bartoshevich.by/"
    },
    "description": "Руководство и поддержка в продвижении бренда, управление рекламными кампаниями, работа с подрядчиками. Повышение эффективности маркетинга.",
    "url": "https://bartoshevich.by/uslugi/autsorsing-marketinga/"
  }
</script>
