
<section class="newsletter row-gap--m ">

	<div class="block__item">
		<div class="block__sign"></div>
	</div>


	<h2 class="element--hidden">Подписаться</h2>

	<p class="h2 max-width-text"><a class="link bold" href="https://eepurl.com/cmkKcz">Подпишитесь на&nbsp;рассылку</a>, чтобы получать письма-оповещения о&nbsp;новых статьях на&nbsp;сайте. Не&nbsp;более одного письма в&nbsp;месяц. </p>

	<p >Кликнув по&nbsp;ссылке, вы&nbsp;перейдете на&nbsp;страницу сервиса email-рассылок. На&nbsp;странице введите и&nbsp;подтвердите адрес электронной почты, на&nbsp;который хотите получать письма.  </p>

	<p><a class="link" href="/confidentiality/">политика конфиденциальности</a></p>



</section>
