
$terminal-window-height: 10px;
$base-color: #393e46;
$terminal-border-radius: 0.125em;
$terminal-border-color: mix(#fff, $base-color, 80%);



.language-terminal {
  position: relative;
   margin-bottom: 1.5em;
   padding: 1em;
   border: 1px solid $terminal-border-color;
   border-radius: $terminal-border-radius;
   -webkit-box-shadow: 0 0.25em 1em rgba($base-color, 0.25);
           box-shadow: 0 0.25em 1em rgba($base-color, 0.25);
   background-color: $base-color;
   color:#fff;
    width: 100%;
    max-width:90vw;
 overflow-x: scroll;
 font-size: .9em;
  -webkit-overflow-scrolling: touch;
 
  text-align: start;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

}

.tag {
  color: #7EDEF1;
}

.attr-value {
  color: #b3dfb3;
}

