@use "variables" as v;

.language-terminal {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1em;
  border: 1px solid v.$terminal-border-color;
  border-radius: v.$terminal-border-radius;
  -webkit-box-shadow: 0 0.25em 1em rgba(v.$base-color, 0.25);
  box-shadow: 0 0.25em 1em rgba(v.$base-color, 0.25);
  background-color: v.$base-color;
  color: #d1d1d1;
  width: 100%;
  max-width: 90vw;
  overflow-x: scroll;
  font-size: 0.9em;
  -webkit-overflow-scrolling: touch;

  text-align: start;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

.tag {
  color: #f9cb80; //#7EDEF1;
}

.attr-value {
  color: #b3dfb3;
}
