@use "variables" as v;
@use "sass:color";



.link {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 -1px v.$link-opacity-80;
  color: v.$link;
  cursor: pointer;
  position: relative;
  transition:  0.4s ease;
  
  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -2px 0 -1px v.$link;
    background-color: v.$link-opacity-05;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: v.$link;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s ease;
    z-index: 1;
  }
  
  &::after:hover {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.link:visited {
  color: v.$link;
}



.focus:focus,
.link:focus {
  outline: 3px solid transparent;
  color: v.$link;
  background-color: v.$link-bg;
  -webkit-box-shadow: 0 -2px v.$link-bg, 0 -1px v.$link-active;
  box-shadow: 0 -2px v.$link-bg, 0 -1px v.$link-active;
  text-decoration: none;
}


.link:active {
  color: v.$link-active;
}

.link-is-more {
  color: v.$secondary-text-colour!important;

  &:hover {
    color: v.$link!important;
  }
  &:visited {
    color: v.$secondary-text-colour;
  }
  &:active {
    color: v.$link-active;
  }
}



.link-as-text,
.link-as-text:visited,
.link-as-text:focus,
.link-as-text:hover,
.link-as-text:active {
  color: inherit;
  text-decoration: none;
  cursor: default;
}