
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  position: relative;
font-family: $family-sans-serif;
  height: 100%;
}



body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  color: $text-colour;
  background-color: $background-color;
  overflow-x: hidden;
}



h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-colour;
    font-weight: inherit;
    font-size: inherit;    
  }
    


input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

strong, 
b {
  font-weight: inherit;
}

