:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
 
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  position: relative;
font-family: $family-sans-serif;
  height: 100%;
}


html {
  block-size: 100%;
  color-scheme: light;
  --background-color: #fafafa;
  --selected-bg-color:#e7e7e7;
  --text-colour: #000000;
  --secondary-text-colour: #515154;
  --toc: #fafafa; 
  --gray:#eaeaea; 
  --link:  #000000;
  --link-hover:  #000000;
  --link-active: #000000;
  --link-bg:  #beff5c; //	#fffb27;
  --radio-focus: #000000;
  --table-bg-color: #fbfbfd;
  --table-border-top: #b5b5b5;
  --table-border-td: #86868b;
  --table-bg-th: #f2f2f2;
  --table-gainsboro:#dcdcdc;
}

html[data-theme=dark] {
  color-scheme: dark;
  --background-color: #232323;
  --selected-bg-color: rgb(63, 63, 63);
  --text-colour: #fefefe;
  --secondary-text-colour: #aeaeab;
  --toc: rgb(5, 5, 5);
  --gray:#464646; 
  --link:  rgb(250, 250, 250);
  --link-hover:  rgb(250, 250, 250);
  --link-active: rgb(250, 250, 250);
  --link-bg:  #0a50c2; 
  --radio-focus: #0a50c2;
  --icon-filter_hover: invert(60%);
  --icon-filter: invert(100%);
  --icon-filter_hover: invert(40%);
  --image-filter: grayscale(40%); //brightness(.8) contrast(1.2); 
  --table-bg-color: #292929;
  --table-border-top: #4a4a4a;
  --table-border-td: #797974;
  --table-bg-th: #2f2f2f;
  --table-gainsboro:#232323;
}

[data-theme=dark] img {
  filter: var(--image-filter);
}

[data-theme=dark] .svg {
  filter: var(--icon-filter);
}

@supports not (color-scheme: dark) {
  html[data-theme=dark] {
      background: #232323;
  }
}


body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  color: $text-colour;
  background-color: $background-color;
  overflow-x: hidden;
}



h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-colour;
    font-weight: inherit;
    font-size: inherit;    
  }
    


input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

strong, 
b {
  font-weight: inherit;
}

