details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
details summary::-webkit-details-marker {
    display: none;
}
details summary {
    width: 100%;
    padding: 1rem 0;
  
    position: relative;
    cursor: pointer;
  
    font-weight: 400;
    list-style: none;
    outline: 0;
    margin: 1em 0;
}
details summary:after {
    content: "+";
    color: #000;
    position: absolute;
    font-size: 40px;
    line-height: 0;
    margin-top: -.35em;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 0.2s linear;
}
details[open] summary:after {
    transform: rotate(45deg);
    font-size: 40px;
}

.summary--details {
    margin-left: 68px;
}