.toc {
    margin-top: var(--space-s); 
 	border: solid $secondary-text-colour;
    border-width: var(--space-3xs);
 	padding: var(--space-m);
 	display:inline-block;
	word-wrap: break-word;
	max-width: 680px;
    line-height: 1.65;
    position: relative;
}


.toc__title {
	font-weight:600;
    position: absolute;
    background-color: $background-color;
    color: $text-colour;
    right: 1rem;
    top: -.85em;
    padding: 0 .6em;
    font-size: var(--step-1);
    line-height: var(--space-m);

}

.toc ul {
	list-style-type: none;
	list-style-image: none;
	text-align: left;
}

li.level2 {
	padding-left: 1em;
}

.tocnumber {
	padding-right: var(--space-2xs);
	color: $text-colour;  
}
