
/* Text  */

$text-colour:var(--text-colour);	
$secondary-text-colour: var(--secondary-text-colour);

/* Color */
$background-color: var(--background-color);
$toc: var(--toc);

/*  Link  */

$link: var(--link);
$link-hover: var(--link-hover);
$link-active: var(--link-active);
$link-bg: var(--link-bg);
$link-focus: var(--link-focus);



/* Border */

$gray: var(--gray); 


// Typography

$family-sans-serif: "PT Sans", Arial, Helvetica, sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

