
/* Text  */

$text-colour:#000000; //#161616; 	
$secondary-text-colour: #6e6e73;

/* Color */
$background-color: #ffffff; //#e5e5e5;
$toc:#fafafa;

/*  Link  */

$link: #000000;//#0b42c3;
$link-hover:  #000000;//#0b42c3;
$link-active: #000000;
$link-bg:  	#fffb27;



/* Border */

$gray: #eaeaea; 


// Typography

$family-sans-serif: "PT Sans", Arial, Helvetica, sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

