/* Text  */

$text-colour: var(--text-colour);
$secondary-text-colour: var(--secondary-text-colour);

/* Color */
$background-color: var(--background-color);
$toc: var(--toc);


/*  Link  */

$link: var(--link);
$link-hover: var(--link-hover);
$link-active: var(--link-active);
$link-bg: var(--link-bg);
$link-focus: var(--link-focus);
$link-opacity-80: var(--link-opacity-80);
$link-opacity-05: var(--link-opacity-05);

/* Border */

$gray: var(--gray);

// Typography

$family-sans-serif: "PT Sans", "PT Sans-fallback", Arial, Helvetica, sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

// Terminal
@use "sass:color";
$base-color: #393e46;
$terminal-border-color: color.mix(#fff, $base-color, 80%);
$terminal-window-height: 10px;
$terminal-border-radius: 0.125em;
