{% extends "default.njk" %}



{# Переопределяем блок основного контента #}
{% block main_content %}
  {{ content | nbspPrepositions | safe }}
  {# Уникальные инклюды для about #}
  {% include "about__approach.njk" %}
  {% include "about__jobs.njk" %}
  {% include "about__education.njk" %}
    {% include "about__antipromotion.njk" %}
{% endblock %}
