{% extends "default.njk" %}



{# Переопределяем блок основного контента #}
{% block main_content %}
<header class="intro max-width-text">
  <h1 class="inline bold">Проекты и публикации</h1>:
  <nav class="inline" aria-label="Навигация по портфолио">
    <p class="inline"><a class="link" href="#cases">кейсы</a>, <a class="link" href="#speeches">выступления</a> на&nbsp;конференциях, <a class="link" href="#articles">статьи</a> в&nbsp;деловых изданиях.</p>
  </nav>
</header>

<section class="full-bleed row-gap--m space-section" id="cases">
<h2 class="heading--beta">Развиваю бренды</h2>
{% include "project__clients.njk" %}
</section>
  
<section class="full-bleed row-gap--m space-chapter">
  <hr class="separator"> 
<h2 class="heading--beta space-chapter">Делюсь знаниями и&nbsp;профессиональным опытом</h2>

{% include "project__articles.njk" %}

{% include "project__presentations.njk" %}

</section>

<p class="small secondary-color space-connected">
<small> Проекты Дмитрия Бартошевича. Обновлено <time datetime="2023-08-13">13 августа 2023 года</time>. </small>
</p>
{% endblock %}

