{% extends "default.njk" %}



{# Переопределяем блок основного контента #}
{% block main_content %}
<header class="intro max-width-text">
  <h1 class="inline bold">Портфолио Дмитрия Бартошевича</h1>:
  <p class="inline">детальные разборы <strong>проектов</strong>, записи <strong>выступлений</strong> и&nbsp;<strong>статьи</strong> в&nbsp;бизнес-СМИ.</p>
</header>

<section class="full-bleed row-gap--l mt-2xl">
<h2 class="h1 bold mb-m">Развиваю бренды</h2>
{% include "project__clients.njk" %}
</section>

<section class="full-bleed row-gap--l">
<h2 class="h1 bold block__space--top-h1">Делюсь знаниями и&nbsp;профессиональным опытом</h2>

{% include "project__articles.njk" %}

{% include "project__presentations.njk" %}

</section>

<p class="mt-m small secondary-color">
<small> Проекты Дмитрия Бартошевича. Обновлено <time datetime="2023-08-13">13 августа 2023 года</time>. </small>
</p>
{% endblock %}

