
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include "meta__tags.njk" %} 
  <script src="/assets/scripts/critical--theme.js"></script>
  <link rel="stylesheet"  href="/assets/css/style.css"> 

  {% include "icons.njk" %} 
</head>
<body class="body">
  <div class="body__container">
 
 
    {% block page_menu %}
    {% include "header.njk" %}   
{% endblock %}

 
 
    <main class="section__content row-gap--m">
      {{ content | safe }} 
    </main>
    {% include "footer.njk" %} 
  </div>

  <script src="/assets/scripts/main.bundle.js" defer></script>
  <script src="/assets/scripts/registerServiceWorker.js"></script>

</body>
</html> 