:root {
    --background-color: #232323;
    --selected-bg-color: rgb(63, 63, 63);
    --text-colour: #fefefe;
    --secondary-text-colour: rgb(145, 145, 140);
    --toc: rgb(5, 5, 5);
    --gray:#464646; 
    --link:  rgb(250, 250, 250);
    --link-hover:  rgb(250, 250, 250);
    --link-active: rgb(250, 250, 250);
    --link-bg: #0a50c2; #0004d8;
    --radio-focus: #0a50c2;
    --icon-filter_hover: invert(60%);
    --icon-filter: invert(100%);
    --icon-filter_hover: invert(40%);
    --image-filter: grayscale(50%);
  
  }
  
  /*
  img[src*=".svg"] {
    filter: var(--icon-filter);
  }
  
  img:not([src*=".svg"]) {
    filter: var(--image-filter);
  }
*/

  img {
    filter: var(--image-filter);
  }

  /* Switcher */

.switcher__radio {
    filter: invert(1);
}

.switcher__radio:checked {
    filter: invert(0);
}

.switcher__status {
    filter: invert(1);
}
