---
layout: post
title: "Как тест-драйвы и пробники увеличивают продажи"
name: "Хотите увеличить продажи? Дайте клиенту попробовать"
description: "Люди покупают&nbsp;то, что попробовали. Как тест-драйвы и&nbsp;пробники увеличивают продажи, создают доверие и&nbsp;превращают потенциальных клиентов в&nbsp;реальных покупателей."
date:   2015-10-12
last_modified_at: 2024-09-17
categories: мнение
permalink: "/blog/test-drajv-dlya-rosta-prodazh/"
tags: "инструменты"
keywords: "тестирование продукта"
image: /assets/images/tizers/tizer-9.jpg
eleventyNavigation:
  key: test-drajv-dlya-rosta-prodazh
  title: "Хотите увеличить продажи? Дайте клиенту попробовать"    
  parent: blog  
---




<p>Компании, которые в&nbsp;своих торговых залах вывешивают таблички типа «Не&nbsp;трогать!» или «Детям не&nbsp;играть», упускают нечто важное. Они фактически говорят: «Мы&nbsp;не&nbsp;доверяем вам». И&nbsp;что может быть хуже для бизнеса, чем отсутствие доверия? </p>

<p>Эффективный маркетинг начинается с&nbsp;доверия и&nbsp;открытости. Дайте людям возможность взаимодействовать с&nbsp;вашим продуктом, пусть они почувствуют его, испытают на&nbsp;себе. Это не&nbsp;просто тактика. Это философия взаимоотношений с&nbsp;клиентами, которая в&nbsp;корне меняет их&nbsp;опыт и&nbsp;вашу прибыль.</p>
<p>Автоцентры организовывают тест драйвы. В&nbsp;книжных онлайн-магазинах можно прочесть несколько глав вызвавшей интерес книги. Представители косметических и&nbsp;парфюмерных компаний добавляют к&nbsp;покупке набор пробников. Эти примеры&nbsp;— не&nbsp;благотворительность, а&nbsp;способ увеличения продаж. </p>

<div class="post__note h2 max-width-text">Если хотите меньше продаж в&nbsp;книжном магазине, заверните книги в&nbsp;целлофан. Хотите, чтобы книги покупали&nbsp;— целлофан уберите.</div>

<div class="max-width-text"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.jpg">	
   <picture>
    <source srcset="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.avif" type="image/avif">
        <source srcset="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.webp" type="image/webp">
        <img loading="lazy" decoding="async" class="image"  src="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.jpg" alt="Детский стол с ограничительной надписью как пример неэффективной маркетинговой стратегии" width="695" height="521"  itemprop="contentUrl" >
	</picture>
<div class="figcaption">
Отношения с&nbsp;потенциальным покупателем не&nbsp;стоит начинать с&nbsp;запретов.
</div>
</div>

<div class="max-width-text"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test3.jpg">



    {% image "src/assets/images/blog/test-drajv-dlya-rosta-prodazh/test3.jpg", "Стул в магазине мебели с листом 'Убедительная просьба не садиться на образцы' — пример противоречивой маркетинговой стратегии", "(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 707, 984, 1220, 1412, 1440], ["avif", "webp", "jpeg"], "image width--full" %}

    <meta itemprop="contentUrl" content="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test3.jpg">

<div class="figcaption">
Иллюстрация распространеной ошибки: создание барьеров между продуктом и&nbsp;потенциальным покупателем.
</div>	
</div>


<section class="row-gap--m" >
<h2 class="section__title h1 bold">Польза тестирования продукта покупателями</h2>
<ul class="additice-spacing">
	<li class="list-li">Если продукт тестируют в&nbsp;торговом салоне, у&nbsp;продавцов появляется дополнительное время для предметного общения с&nbsp;посетителями. Выявляйть потребности, работать с&nbsp;сомнениями, слушать предложения по&nbsp;развитию.</li>

	<li class="list-li">Тестируя продукт, покупатель на&nbsp;время становится его обладателем. И&nbsp;чем дольше длится это чувство, тем труднее затем отказаться от&nbsp;товара.</li>

	<li class="list-li">Благодаря тест-драйву покупатель делает осознанный выбор. Количество разочарованных клиентов уменьшится.</li>

	<li class="list-li">Тест-драйв порождает обязательства. Чалдини в&nbsp;книге «Психология влияния» утверждает, что люди чувствуют себя обязанными купить те&nbsp;товары, которые попробовали бесплатно. И&nbsp;приводит примеры, как после массовой раздачи пробников в&nbsp;местах скопления людей, продажи косметики выросли.</li>

	<li class="list-li">Тест-драйв&nbsp;— <strong>сигнал о&nbsp;намерении совершить покупку.</strong> Число людей, которые согласились испытать товар, укажет на потенциальный спрос. По&nbsp;этому индикатору можно прогнозировать успешность продаж нового товара и&nbsp;<strong>оценивать эффективность проводимых маркетинговых мероприятий</strong>.</li>

	<li class="list-li">Сарафанное радио. Необычный тест-драйв побудит людей поделиться информацией о&nbsp;продукте. Возьмем блендер и&nbsp;попробуем перемолоть iPhone 6&nbsp;Plus и&nbsp;Samsung Galaxy Note&nbsp;3, снимем процесс на&nbsp;видео, разместим на&nbsp;youtube и&nbsp;наберем свыше 4&nbsp;млн. просмотров. Как это сделал Blendtec.</li>
</ul>


<div class="figure">
 <div class="video ">
        <a class="video__link " href="https://youtu.be/lBUJcD6Ws6s" target="_blank" rel="noopener noreferrer">
                <img loading="lazy" decoding="async" class="video__media " src="https://i.ytimg.com/vi/lBUJcD6Ws6s/maxresdefault.jpg" alt="тест-драйв блендера: справится ли с iPhone 6&nbsp;Plus и&nbsp;Samsung Galaxy Note&nbsp;3?"  width="1280" height="720" >
                <span class="element--hidden">Видео: тест-драйв блендера</span>
        </a>
      <button class="video__button" aria-label="Запустить видео">
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
        </button>
</div>
<div class="figcaption">
тест-драйв блендера: справится ли с iPhone 6&nbsp;Plus и&nbsp;Samsung Galaxy Note&nbsp;3? Нестандартный маркетинг Blendtec!
</div>
</div>
</section>



<section class=" row-gap--m " >
<h2 class="section__title h1 bold ">Не&nbsp;бойтесь делиться бесплатно</h2>
<p class="mb-m">В&nbsp;заключение приведу цитату из&nbsp;книги «Rework: Бизнес без предрассудков»: </p>


<blockquote class="italic row-gap--m">
<p>«Наркоторговцы&nbsp;— очень дальновидные бизнесмены. Они знают: их&nbsp;товар настолько хорош, что они готовы бесплатно дать на&nbsp;пробу небольшую порцию... Копируйте наркоторговцев. Сделайте свой продукт фантастически хорошим... Таким, чтобы вы&nbsp;были уверены, давая клиентам кусочек на&nbsp;пробу бесплатно: они вернутся уже с&nbsp;наличными.</p>
<p>Для начала создайте небольшую пробную версию своего продукта. Устройте простую и&nbsp;понятную презентацию, которая даст потребителям возможность попробовать продукт, не&nbsp;тратя при этом много времени и&nbsp;денег... Не&nbsp;бойтесь делиться бесплатно. Вы&nbsp;должны знать, что люди вернутся „за&nbsp;добавкой“. А&nbsp;если вы&nbsp;в&nbsp;этом пока не&nbsp;уверены, значит, достаточно сильный продукт вами еще не&nbsp;создан».</p>
</blockquote>

</section>