---
layout: post
title: "Как сделать маркетинговые исследования эффективными"
name:  "Три&nbsp;правила маркетинговых исследований: как получить данные и&nbsp;не&nbsp;потратить бюджет впустую"
description: "Не сливайте бюджет на бесполезные исследования! Узнайте три главных правила, которые помогут анализировать рынок и принимать обоснованные решения. "
date:   2015-08-18
last_modified_at: 2024-06-07
categories: инструкции
permalink: "/blog/pravila-marketingovyx-issledovanij/"
tags: "инструменты"
hasPullQuote: true
image: /assets/images/tizers/tizer-3.jpg
eleventyNavigation:
  key: pravila-marketingovyx-issledovanij
  title: "Как сделать маркетинговые исследования эффективными"     
  parent: blog 
relatedIdeas:
  - title: "Как контролировать качество маркетингового исследования"
    url: "/blog/research-quality/"
  - title: "Айтрекинг в&nbsp;маркетинге: как понять клиентов и&nbsp;сделать рекламу сильнее"
    url: "/blog/eye-tracking/"
  - title: "Аутсорсинг маркетинга: как избежать ошибок и&nbsp;снизить риски"
    url: "/blog/autsorsing-marketinga/"
  - title: "Задачи «выполнены», но результата нет: разбор ошибок"
    url: "/blog/how-to-effectively-complete-tasks-and-manage-projects/"
  - title: "Первые сто дней маркетолога на новом рабочем месте"
    url: "/blog/100-dnej-marketologa/" 
---



<p>В&nbsp;учебниках пишут, что <b>маркетинговые исследования</b> устраняют неопределенность в&nbsp;бизнесе и&nbsp;способствуют глубокому пониманию рынка. Однако реальность не&nbsp;всегда совпадает с&nbsp;написанным в&nbsp;книгах. Я&nbsp;знаю примеры, когда компании потратили значительные средства на&nbsp;исследования, но&nbsp;никакой отдачи не&nbsp;получили: ни&nbsp;понимания рынка, ни&nbsp;ясности в&nbsp;дальнейших шагах.</p>

<div class="max-width-text"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="/assets/images/blog/pravila-marketingovyx-issledovanij/research.jpg">

{% image "assets/images/blog/pravila-marketingovyx-issledovanij/research.jpg", "Маркетинговые исследования: объяснение различий.", "(min-width: 1100px) 670px, (min-width: 700px) 61.84vw, (min-width: 420px) 93.85vw, calc(18vw + 296px)", [400, 670, 984, 1340, 1710, 1920], ["avif", "webp", "jpeg"], "image is-16by9 width--full" %}

<meta itemprop="contentUrl" content="/assets/images/blog/pravila-marketingovyx-issledovanij/research.jpg">

</div>



<p>Чтобы маркетинговые исследования помогали развитию компании, <strong>я&nbsp;вывел 3&nbsp;правила организации исследований рынка</strong>. Этим правилам интуитивно следует каждый опытный сотрудник исследовательских агентств. А&nbsp;теперь их&nbsp;узнаете и&nbsp;вы.</p>

<section class="row-gap--m space-section">
<h2 class="heading--beta">1) Цель&nbsp;— польза в&nbsp;принятии решений</h2>
<p> Смысл исследований&nbsp;— не&nbsp;в&nbsp;презентации с&nbsp;красивыми диаграммами, а&nbsp;помощь в&nbsp;принятии обоснованных управленческих решений. Рассмотрим пример: вы&nbsp;стоите перед выбором&nbsp;— запускать новый продукт или нет. Вместо того чтобы полагаться на&nbsp;интуицию, вы&nbsp;можете опираться на&nbsp;данные о&nbsp;предпочтениях потребителей и&nbsp;их&nbsp;готовности к&nbsp;покупке.</p>
<p>Перед тем как начать исследование, определите, какие конкретные решения вам предстоит принимать на&nbsp;его основе. Это поможет сфокусироваться на&nbsp;сборе наиболее релевантной информации.</p>
<p>Далее представьте, что результаты исследования уже на&nbsp;руках. Спросите себя: «Эта информация поможет мне принять решение?» Если ответ отрицательный, определите, чего не&nbsp;хватает. Приступайте к&nbsp;исследованию лишь тогда, когда уверены, что результаты вам помогут. </p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">2) Данные без интерпретации — просто шум</h2>
<p>Иногда анализ результатов маркетингового исследования подменяют констатацией или визуализацией полученных ответов. Это неправильно. Само слово «анализ» предполагает разложение данных на&nbsp;части и&nbsp;определение отношений между ними.</p>

<div class="with-side">
<p><strong class="bold">Не&nbsp;принимайте данные без контекста.</strong><br>
 Утверждение «продажи выросли на&nbsp;10%» может звучать обнадеживающе. Но&nbsp;что, если общий объем рынка увеличился на&nbsp;60%? В&nbsp;этом случае рост в&nbsp;10% уже выглядит как неудача. Руководителям важно уметь видеть данные в&nbsp;контексте общих трендов рынка. 
</p>
<p><strong class="bold">Детализация данных открывает новые возможности.</strong><br>
 Если общие продажи по&nbsp;стране увеличились на&nbsp;10%, но&nbsp;в&nbsp;одном регионе&nbsp;— на&nbsp;45%, это может указывать на&nbsp;потенциальные возможности для роста. Анализируя, благодаря какому дистрибьютору или продукту произошел такой рост, вы&nbsp;сможете выявить успешные стратегии и&nbsp;расширить их&nbsp;применение. 
</p>
<p><strong class="bold">Следуйте за&nbsp;аномалиями.</strong><br>
 В&nbsp;данных часто скрываются неожиданные инсайты. Вместо того чтобы сосредотачиваться только на&nbsp;общих показателях, ищите аномалии и&nbsp;отклонения. Это может помочь выявить новые рыночные возможности или потенциальные риски. 
</p>

<div class="side">
<p>Подробнее об&nbsp;этом читайте <a class="link" href="/blog/analiz-prodazh-nielsen/" >в&nbsp;&laquo;Алгоритме анализа продаж&raquo;</a></p>
</div>
</div>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">3) Аналитический отчет&nbsp;— план действий</h2>
<p>Результат маркетингового исследования&nbsp;— не&nbsp;презентация в&nbsp;PowerPoint, а&nbsp;взвешенное решение, которое принимает руководитель компании.</p>

<p  class="pull-quote">Результат анализа данных исследования&nbsp;— план действий.</p>
<p>Опытные маркетологи соотносят выводы по&nbsp;исследованию с&nbsp;первоначальными задачами и&nbsp;предлагают план действий. Без плана действий данные остаются просто информацией, а&nbsp;не&nbsp;инструментом для роста.</p>


<table class="space-connected">
<caption>Уровни анализа данных</caption>
<thead>

 		<tr>
			<th class="text-right">Уровень</th>
			<th>Описание </th>
			<th>Пример</th>
 		</tr>
</thead>
<tbody>		 
		<tr>
			<th scope="row" class="text-right">0</th>
			<td>констатация фактов, идей, значений </td>
			<td>«В&nbsp;прошлом месяце от&nbsp;нас отказалось 13&nbsp;клиентов».</td>
 		</tr>
		<tr>
			<th scope="row" class="text-right">1</th>
			<td>данные упорядочены, группировка по&nbsp;неким критериям, сопоставление показателей и&nbsp;параметров </td>
			<td>«Выявлена общая причина и&nbsp;характерное поведение накануне. У&nbsp;нас есть 9&nbsp;клиентов с&nbsp;похожими "симптомами"».</td>
 		</tr>
		<tr>
			<th scope="row" class="text-right">2</th>
			<td>ответ на&nbsp;вопрос: «Что делать?» </td>
			<td>«Я&nbsp;предлагаю сделать...»</td>
 		</tr>
</tbody>		 
</table>
</section>

