---
layout: post
title: "В кризис маркетинговая стратегия важнее, чем кажется"
name:  "Маркетинговая стратегия важна даже в&nbsp;кризис&nbsp;&mdash; и&nbsp;особенно в&nbsp;кризис"
description: "Стратегия кажется лишней в&nbsp;кризис, но&nbsp;именно её&nbsp;отсутствие ведёт к&nbsp;потере рынка. Почему важно не&nbsp;просто &laquo;ждать лучших времён&raquo;, а&nbsp;действовать осмысленно?"
date:   2015-07-31
last_modified_at: 2023-08-17
categories: мнение
permalink: "/blog/vremya-dlya-strategii/"
tags: "управление"
keywords: "маркетинговая стратегия в кризис"
image: /assets/images/tizers/tizer-1.jpg
eleventyNavigation:
  key: vremya-dlya-strategii
  title: "Маркетинговая стратегия важна в кризис — и особенно в кризис"
  parent: blog  

---



<p>Не&nbsp;первый раз сталкиваюсь с&nbsp;ситуацией, когда директоры, прикрываясь кризисом, откладывают работу над <b>маркетинговой стратегией предприятия</b>. Для меня это равносильно оставлению штурвала корабля капитаном во&nbsp;время шторма. Или как если&nbsp;бы Ставка Верховного Главнокомандования осенью сорок первого разошлась по&nbsp;домам, потому как информация с&nbsp;фронта каждый день новая, немцы воюют нечестно, стабильности нет, мало времени для детей, любимых друзей и&nbsp;чтения.</p>


<section class="row-gap--m">
<h2 class="section__title h1 bold">Важность стратегического подхода в&nbsp;кризис </h2>
<p>Стратегическое мышление необходимо вне зависимости от&nbsp;экономических циклов. Отказ от&nbsp;систематического подхода может привести к&nbsp;эпизодической и&nbsp;неэффективной маркетинговой активности. Опыт показывает, что компании, активно работающие над своей стратегией в&nbsp;кризис, часто выходят из&nbsp;него сильнее.</p>
<p><span class="bold">Пример.</span> Netflix, вместо того чтобы сократить инвестиции в&nbsp;кризис 2008&nbsp;года, сосредоточился на&nbsp;стратегии стриминга, что позволило им&nbsp;стать лидером в&nbsp;своей отрасли.</p>
</section>


<section class="row-gap--m">
<h2 class="section__title  h1 bold">Значимость стратегии в&nbsp;условиях неопределенности</h2>
<p>Значимый компонент <b>разработки стратегии</b>&nbsp;— оценка внешней среды. Успешна та&nbsp;компания, которая функционирует в&nbsp;оптимальном соответствии с&nbsp;внешней средой. Поэтому в&nbsp;основе правильной стратегии лежит глубокое понимание рынка. И&nbsp;такого понимания следует добиваться в&nbsp;ситуации кризиса и&nbsp;непредсказуемости. Т.е. сама ситуация подталкивает к&nbsp;исследованию клиентов, конкурентов, корректировке способов достижения целей и&nbsp;анализу возможностей. </p>


<p class="post__note h2 max-width-text">Как говорят боксеры, держите глаза открытыми, а&nbsp;то&nbsp;пропустите самое интересное.</p>



<p>Предсказуемое и&nbsp;некризисное время&nbsp;— время действий, нежели рефлексии и&nbsp;стратегии. Когда на&nbsp;мелководье много рыбы, то&nbsp;не&nbsp;требуется оттачивать мастерство рыбака. Здесь следует действовать и&nbsp;как можно быстрее руками перебрасывать рыбу на&nbsp;берег. А&nbsp;вот когда глубоко и&nbsp;рыбы мало, то&nbsp;здесь уже пора и&nbsp;о&nbsp;рыбацких хитростях подумать. Если продажи растут ежемесячно в&nbsp;геометрической прогрессии, то&nbsp;вопросы развития бренда, отстройки от&nbsp;конкурентов не&nbsp;столь актуальны. А&nbsp;когда рынок замирает или сужается, то&nbsp;вопрос восприятия клиентами вашей торговой марки играет одну из&nbsp;главных ролей. Ведь сознание клиента&nbsp;— это и&nbsp;есть реальность рынка.</p>

</section>


<section class="row-gap--m">
<h2 class="section__title  h1 bold">Подходы к&nbsp;маркетингу в&nbsp;условиях кризиса</h2>


<p>В&nbsp;условиях экономической нестабильности некоторые компании решают привлекать клиентов скидками. Однако&nbsp;те, кто строит свою работу на&nbsp;основе четко проработанной стратегии, оказываются менее уязвимыми перед вызовами кризиса.</p>
<p class="post__note h2">Как капитан познается в&nbsp;шторм, так и&nbsp;маркетинг&nbsp;— в&nbsp;кризис. </p>



<p class="mb-m mt-m"> Если вы&nbsp;хотите узнать больше о&nbsp;том, как адаптировать ваш маркетинговый план к&nbsp;текущим экономическим условиям, изучите следующие материалы:</p>
<ul class="addictive-spacing">
<li class="list-li"><a href="/blog/system-marketing/" class="link">Таблицы и&nbsp;схемы не&nbsp;делают маркетинг системным</a>
</li>
<li class="list-li">
  <a href="/blog/marketing-v-krizis/" class="link"> Антикризисный маркетинг: стратегия и&nbsp;ценности бренда определяют успех</a>
</li>
<li class="list-li">
  <a href="/blog/marketing-in-belarus/" class="link"> Задачи маркетолога в&nbsp;Беларуси</a>
</li>
<li class="list-li">
  <a href="/blog/oshibki-v-swot-analize-i-kak-ih-izbezhat/" class="link"> Разбираем ошибки в&nbsp;SWOT-анализе: как их&nbsp;избежать и&nbsp;провести анализ правильно </a>
</li>
<li class="list-li">
  <a href="/blog/marketing-bolshe-chem-prodazhi/" class="link"> От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;&mdash; это больше, чем просто продажи </a>
</li>
</ul>
</section>
