---
layout: post
title: "Сила маркетинга – в доверии: польза продаёт лучше рекламы"
name: "Маркетинг, который вызывает доверие,&nbsp;&mdash; главное конкурентное преимущество"
description: "Маркетинг, основанный на&nbsp;доверии, работает лучше агрессивной рекламы, превращает клиентов в&nbsp;адвокатов бренда и&nbsp;даёт долгосрочное конкурентное преимущество. "
date:   2016-01-30
last_modified_at: 2022-02-04
categories: мнение
permalink: "/blog/konkurentnoe-preimushhestvo/"
tags: "управление"
keywords: "конкурентное преимущество"
image: /assets/images/tizers/tizer-15.jpg
eleventyNavigation:
  key: konkurentnoe-preimushhestvo
  title: "Маркетинг, который вызывает доверие, - главное конкурентное преимущество"  
  parent: blog  
---



<p>Нас окружает непрерывный поток хвалебных рекламных сообщений. «Восхитительный вкус», «высококачественные услуги», «непревзойденный гуру маркетинга». Среди источников, заслуживающих доверия, редко называют рекламу и&nbsp;пресс-релизы корпораций. Тем самым потребители говорят компаниям: «Вы&nbsp;лжете!» Люди устали и&nbsp;скрываются от&nbsp;рекламы. <b>Маркетологи</b>&nbsp;же кричат о&nbsp;якобы конкурентных преимуществах громче и&nbsp;чаще, вызывая лишь раздражение.</p>
<p>В&nbsp;такой ситуации, <strong>чтобы отличаться и&nbsp;выделиться из&nbsp;фона конкурентов</strong>, достаточно перестать себя расхваливать, сконцентрироваться на&nbsp;полезности и&nbsp;говорить клиентам правду. Объективное описание пользы услуг или товара&nbsp;— это&nbsp;то, чего боятся маркетологи. Сама идея правдивой презентации вызывает шок и&nbsp;нервный смех.</p>
<p>«В&nbsp;канун дня влюбленных мы&nbsp;снизили стоимость квартир... Стоп. Только правду? Давайте еще раз... Полгода мы&nbsp;не&nbsp;можем продать квартиры с&nbsp;окнами на&nbsp;мусорные контейнеры, поэтому снижаем цену на&nbsp;10%».</p>


<section class="row-gap--m max-width-text">
<h2 class="section__title h1 bold ">Маркетинг как «втюхинг»</h2>
<p>В&nbsp;конце статьи вернемся к&nbsp;квартирам с&nbsp;плохим видом из&nbsp;окон, а&nbsp;пока поговорим о&nbsp;ценностях, лежащих в&nbsp;основе маркетинга. Доминирующей ценностью в&nbsp;недавнем прошлом был рост потребления. Высшая степень ее&nbsp;проявления&nbsp;— восприятие маркетинга как «втюхинга»: отождествление профессионализма маркетолога и&nbsp;способности увеличить рост продаж дрянного товара. Чем хуже товар и&nbsp;чем выше рост продаж, тем круче маркетолог.</p>
<p>Если маркетолог принимал правила игры, то&nbsp;вскоре начинал стыдиться работы либо оправдываться.</p>
<p>Сейчас не&nbsp;каждый поверит, что когда-то Coca-Cola призывала поить газировкой грудных детей, чтобы те&nbsp;лучше стартовали в&nbsp;жизни. А&nbsp;маркетологи «Дюпон» были готовы обернуть в&nbsp;целлофан всех и&nbsp;вся.</p>




<div class="row">
   <div class="c-5"   itemscope itemtype="https://schema.org/ImageObject">
   <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/cola.jpg">

	{% image "assets/images/blog/konkurentnoe-preimushhestvo/cola.jpg", "Архивный рекламный плакат CocaCola с грудным ребенком.", "(min-width: 1100px) 323px, (min-width: 720px) 30.56vw, (min-width: 620px) calc(18.75vw + 304px), calc(100vw - 32px)", [400, 665, 984, 1140, 1600], ["avif", "webp", "jpeg"], "image width--full " %}

		<meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/cola.jpg">

   </div>
   <div class="c-5"   itemscope itemtype="https://schema.org/ImageObject">
   <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/cellophane.jpg">


	{% image "assets/images/blog/konkurentnoe-preimushhestvo/cellophane.jpg", "Архивный рекламный плакат Du Pont, на котором младенца обернули в целофан.", "(min-width: 1100px) 323px, (min-width: 720px) 30.56vw, (min-width: 620px) calc(18.75vw + 304px), calc(100vw - 32px)", [400, 665, 795], ["avif", "webp", "jpeg"], "image width--full " %}

		<meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/cellophane.jpg">
   </div>
</div>



<p>В&nbsp;<span class="noperenos">90-хх</span> годах прошлого века американцы начали осваивать новый сегмент рынка стрелкового оружия&nbsp;— дети. Создали винтовку с&nbsp;малой отдачей при стрельбе, раскрасили в&nbsp;цвета от&nbsp;розового до&nbsp;оранжевого с&nbsp;синим. Запустили рекламные кампании.</p>
<p>Акции дали плоды: продажи росли, а&nbsp;вместе с&nbsp;ними росло и&nbsp;количество детских смертей. Когда СМИ облетела новость, что <a class="link" href="https://edition.cnn.com/2013/05/01/us/kentucky-accidential-shooting/index.html">пятилетний ребенок застрелил двухлетнюю сестру во&nbsp;время игры с&nbsp;ружьем, которое ему подарили на&nbsp;день рождения</a>, производитель оружия вынуждено закрыл сайт на&nbsp;несколько недель.</p>

<div   itemscope itemtype="https://schema.org/ImageObject">
 <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/cricket.jpg">


 {% image "assets/images/blog/konkurentnoe-preimushhestvo/cricket.jpg", "Упаковка с ружьем Cricket.", "(min-width: 1100px) 670px, (min-width: 760px) 60.31vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 670, 720, 900], ["avif", "webp", "jpeg"], "image width--full" %}

 <meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/cricket.jpg">

</div>  


<p>Обратите внимание на&nbsp;упаковку ружья. Для большей привлекательности предложения маркетологи преподнесли ружье как безопасную игрушку, коротко призвав играть под наблюдением взрослых. Нет ни&nbsp;малейшего намека, что неосторожное обращение с&nbsp;оружием приводит к&nbsp;смерти.</p>

<p>Для сравнения приведу пример упаковки, которая призывает осторожно обращаться с&nbsp;содержимым.</p>


<div   itemscope itemtype="https://schema.org/ImageObject">
 <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/poison.jpg">

 {% image "assets/images/blog/konkurentnoe-preimushhestvo/poison.jpg", "Упаковка с интуитивно понятным знаком опасного вещества.", "(min-width: 1100px) 670px, (min-width: 760px) 60.31vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 670, 720, 900, 1100], ["avif", "webp", "jpeg"], "image width--full" %}

 <meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/poison.jpg">

      <div class="figcaption">
Представьте последствия, если&nbsp;бы тару с&nbsp;ядохимикатами оформляли в&nbsp;фирменном стиле магазинов детских товаров.
</div>
</div>  

</section>


<section class="row-gap--m max-width-text">
<h2 class="section__title h1 bold ">Основа маркетинга&nbsp;— польза и&nbsp;доверие</h2>
<p>К счастью, потребление как ценность постепенно уступает место новой ценности&nbsp;— полезности. Поэтому развиваются проекты OpenStreetMap, Wikipedia и&nbsp;краудфандинговые площадки. Поэтому <a class="link" href="//www.campaignlive.com/article/end-false-recognitions/1379124" >Амир Кассей</a>, получивший больше <span class="noperenos">60-ти</span> Канских Львов, призывает рекламщиков решать реальные проблемы компаний и&nbsp;общества в&nbsp;целом, а&nbsp;не&nbsp;работать ради наград на&nbsp;фестивалях.</p>
<p>В&nbsp;новой ценностной картине мира хвалебно-назойливый маркетинг обречен. Обречен на&nbsp;короткий взлет продаж и&nbsp;последующий спад, постоянный поиск новых и&nbsp;новых клиентов. Для маркетинга, акцентированного на&nbsp;пользу, характерен медленный, но&nbsp;стабильный рост продаж, постоянные и&nbsp;лояльные клиенты.</p>
<p>Если в&nbsp;ситуации культа потребления покупатели выбирают товар, поддавшись агитации, то&nbsp;в&nbsp;«полезном маркетинге»&nbsp;— благодаря росту доверия к&nbsp;компании.</p> <p>Развитие отношений с&nbsp;клиентами напоминает приручение лиса Маленьким Принцем. <strong>Потребуется запастись терпением и&nbsp;постепенно входить в&nbsp;личное пространство клиента, а&nbsp;не&nbsp;обрушиваться градом коммерческих предложений.</strong></p>
<p>Доверие клиентов&nbsp;— то&nbsp;конкурентное преимущество, которому сложно что-то противопоставить. Но&nbsp;его невозможно завоевать, опираясь на&nbsp;рекламные лозунги и&nbsp;расхваливая себя в&nbsp;каждом предложении. Основа доверия&nbsp;— открытое и&nbsp;честное обсуждение с&nbsp;клиентами полезности услуг и&nbsp;конкретные действия по&nbsp;улучшению и&nbsp;развитию.</p>
<p>Популярная в&nbsp;Беларуси интернет платформа предложила директору крупного белорусского предприятия рекламироваться. Условия сделки: стоимость ноль рублей, фиксация обращений, вызванных рекламой, и&nbsp;последующее совместное обсуждение результатов. Лишь убедившись в&nbsp;пользе размещения, стороны оговорят цену дальнейшего сотрудничества. Если&nbsp;бы платформа отправила коммерческое предложение сразу, то&nbsp;вероятнее всего оно отправилось&nbsp;бы в&nbsp;корзину.</p>
<p>В&nbsp;«полезном маркетинге» пропагандистский стиль в&nbsp;коммуникации заменяется открытым общением с&nbsp;клиентами. Компания не&nbsp;боится признавать ошибки.</p>

<p class="post__note h2"> Главное&nbsp;— не&nbsp;«эго» предприятия, а&nbsp;решение запроса клиента.</p>
<p>Отсутствует нужда во&nbsp;что&nbsp;бы то&nbsp;ни&nbsp;стало продать товар каждому клиенту. <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">Компания не&nbsp;боится отговаривать от&nbsp;покупки</a>, если уверена, что она не&nbsp;принесет клиенту пользы.</p>
<p>Так «Patagonia» в&nbsp;одном из&nbsp;самых дорогих печатных изданий США выкупила рекламное место и&nbsp;призвала читателей не&nbsp;покупать их&nbsp;продукцию, не&nbsp;подумав дважды.</p>



<div itemscope itemtype="https://schema.org/ImageObject">
 <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/patagonia.jpg">

 {% image "assets/images/blog/konkurentnoe-preimushhestvo/patagonia.jpg", "Patagonia призывает не покупать их куртки.", "(min-width: 1100px) 670px, (min-width: 760px) 60.31vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 670, 720, 984, 1340, 1600], ["avif", "webp", "jpeg"], "image width--full" %}

 <meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/patagonia.jpg">


</div> 






<p>Создатель движка для ведения блога «Эгея» признает, что «Эгея» обладает как достоинствами, так и&nbsp;недостатками. И&nbsp;на&nbsp;официальном сайте рекомендует альтернативы разработанному им&nbsp;продукту.</p>
<p>На&nbsp;сайте операционной системы Debian отдельную страницу посвятили <a class="link" href="https://www.debian.org/Bugs/" >списку обнаруженных ошибок</a>. Ошибки есть и&nbsp;у&nbsp;OS&nbsp;X, но&nbsp;Apple предпочитает, чтобы клиенты узнавали о&nbsp;них после покупки гаджетов, и&nbsp;расхваливает каждый миллиметр продуктовой линейки.</p>


<div  itemscope itemtype="https://schema.org/ImageObject">
 <link itemprop="url" href="/assets/images/blog/konkurentnoe-preimushhestvo/yandex.jpg">


 {% image "assets/images/blog/konkurentnoe-preimushhestvo/yandex.jpg", "При вводе запроса Яндекс подсказывает, какие проблемы могут быть с MacBook Pro.", "(min-width: 1100px) 670px, (min-width: 760px) 60.31vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 670, 720, 870], ["avif", "webp", "jpeg"], "image width--full" %}

 <meta itemprop="contentUrl" content="/assets/images/blog/konkurentnoe-preimushhestvo/yandex.jpg">
   <div class="figcaption">
Яндекс найдет все проблемы MacBook Pro :-)
</div>
</div> 



<p>Вернемся к&nbsp;квартирам, упомянутым в&nbsp;начале статьи. Если недостаток очевиден и&nbsp;значим, то&nbsp;не&nbsp;упомянуть его риелтор не&nbsp;может, иначе потеряет доверие клиента. Как это сделать грамотно&nbsp;— отдельная тема. Сейчас&nbsp;же задамся вопросом, как вообще появилась проблема с&nbsp;мусорными контейнерами.</p>
<p>Маркетинг начинается с&nbsp;идеи продукта. И&nbsp;если основываться на&nbsp;пользе для клиента, то&nbsp;в&nbsp;концепции жилого комплекса не&nbsp;должно быть никакого мусора перед окнами. Если все изначально спроектировано с&nbsp;мыслями о&nbsp;пользе для будущих клиентов, то&nbsp;сверх-усилия по&nbsp;сбыту станут не&nbsp;нужны.</p>
</section>