---
layout: post
title: "Как я разработал систему скидок, которая работает"
name: "Как я&nbsp;разобрался в&nbsp;хаосе скидок и&nbsp;сделал систему, удобную для всех"
description: "Бизнес запутался в&nbsp;скидках, партнеры не&nbsp;понимали условий. Я&nbsp;разработал систему скидок, которая работает четко и&nbsp;понятно. Кейс, детали внутри."
date:   2016-05-16
last_modified_at: 2022-02-04
categories: опыт
permalink: "/blog/kejs-delayu-sistemu-skidok/"
tags: "кейсы"
keywords: "разработка системы скидок"
image: /assets/images/tizers/tizer-21.jpg
eleventyNavigation:
  key: kejs-delayu-sistemu-skidok
  title: "Как я разбирался в хаосе скидок и сделал систему, удобную для всех"
  parent: blog 
relatedIdeas:
  - title: "Как узнать сильного маркетолога на&nbsp;собеседовании"
    url: "/blog/kak-uznat-silnogo-marketologa/"
  - title: "Разбираем ошибки в&nbsp;SWOT-анализе: как их&nbsp;избежать и&nbsp;провести анализ правильно"
    url: "/blog/oshibki-v-swot-analize-i-kak-ih-izbezhat/"
  - title: "Доля в&nbsp;поиске&nbsp;&mdash; новый показатель в&nbsp;маркетинге"
    url: "/blog/share-of-searches/"
  - title: "Таблицы и схемы не делают маркетинг системным"
    url: "/blog/system-marketing/"
---


<p>Производитель и&nbsp;оптовый поставщик столов, кухонных и&nbsp;барных стульев обратился за&nbsp;помощью в&nbsp;изменении дисконтной политики предприятия. Руководство признало, что существующая система скидок не&nbsp;работает, клиенты и&nbsp;сотрудники ею&nbsp;не&nbsp;пользуются и&nbsp;звонят директору за&nbsp;одобрением каждого изменения указанной в&nbsp;прайс-листе цены. Требовалось создать доступную для восприятия и&nbsp;легкую в&nbsp;использовании систему скидок. Рассказываю, как я&nbsp;справлялся с&nbsp;задачей.</p>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Проблема</h2>
<p>Описание видов и&nbsp;условий предоставления скидок занимало 6&nbsp;страниц печатного текста. Три вида скидок в&nbsp;зависимости от&nbsp;объема закупок, скидки за&nbsp;ассортимент, за&nbsp;эксклюзив, за&nbsp;крупные единовременные заказы, скидки на&nbsp;образцы и&nbsp;три предложения (условия и&nbsp;расчеты) по&nbsp;отсрочке платежа. Продавцы не&nbsp;могли коротко объяснить дисконтную политику компании, покупатели&nbsp;— пользоваться.</p>
<p>Получив запрос от&nbsp;клиента, менеджер листал <span class="noperenos">6-страничное</span> руководство, пытался вычленить доступные опции, запутывался и&nbsp;шел в&nbsp;кабинет директора за&nbsp;советом, какую скидку дать. Новая сделка&nbsp;— новый круг «запрос&nbsp;— 6&nbsp;листов текста&nbsp;— директор», а&nbsp;то&nbsp;и&nbsp;вовсе «запрос&nbsp;— директор».</p>
<p>Подобная ситуация типична для предприятий, которые накапливают скидочные предложения с&nbsp;момента основания. Вначале компания предлагает <span class="noperenos">1-2</span> опции в&nbsp;зависимости от&nbsp;объема закупок, затем стимулирует предоплату, потом появляются клиенты с&nbsp;разовыми тендерными заказами и&nbsp;незаметно система скидок превращается в&nbsp;запутанный набор условий и&nbsp;опций.</p>
<p>Руководство приглашало дизайнера, чтобы графически отобразить дисконтную политику. Получалось красиво, но&nbsp;сложно. Не&nbsp;было единства и&nbsp;целостности. Проблему дизайнер не&nbsp;решил.</p>
</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Решение</h2>

<section class="row-gap--m space-tight">
<h3 class="heading--gamma">Шаг первый</h3>
<p> Я&nbsp;рекомендовал создать новую дисконтную программу. Связать условия предоставления скидки с&nbsp;отличиями компании от&nbsp;конкурентов, чтобы клиенты за&nbsp;ценой видели ценность предложения. Примеры подобной реализации описывал <a class="link"  href="/blog/skidki-instrukciya-po-primeneniyu/" title="Как снижать цену правильно">в&nbsp;статье «Скидки&nbsp;— инструкция по&nbsp;применению»</a>.
</p>
<p>Однако, заказчик не&nbsp;согласился детально анализировать конкурентов, формулировать отличия и&nbsp;пожелал сохранить по&nbsp;максимуму существующие скидки, к&nbsp;которым привыкли «старые» клиенты. Несколько десятков стоимостных опций требовалось уместить в&nbsp;простое и&nbsp;ясное предложение.</p>
</section>
<section class="row-gap--m space-tight">
<h3 class="heading--gamma">Шаг второй</h3>
 <p>Пересмотрел основы дисконтной программы. Предложил сфокусироваться не&nbsp;на&nbsp;отдельно взятой сделке, а&nbsp;на&nbsp;клиенте. И&nbsp;определять условия работы в&nbsp;зависимости от&nbsp;ценности клиента для компании.
</p>
<p>Для отражения степени полезности клиента ввел систему трех разрядов. Клиенту с&nbsp;высшим разрядом компания предлагает лучшие условия сотрудничества. Клиенту без присвоенного разряда продукция отгружается по&nbsp;стоимости, указанной в&nbsp;прайс-листе.</p>
<p>Скидки, к&nbsp;которым привыкли «старожилы», превратились в&nbsp;характеристики сотрудничества: у&nbsp;каждого разряда свои значения.</p>
<p>Идея заказчику понравилась. Вместе определили критерий ценности клиента&nbsp;— объем закупок за&nbsp;последний квартал. По&nbsp;этому показателю присудили разряды.</p>

<div   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="/assets/images/blog/kejs-delayu-sistemu-skidok/sav.jpg">
<picture>
  <source srcset="/assets/images/blog/kejs-delayu-sistemu-skidok/sav.avif" type="image/avif">
  <source srcset="/assets/images/blog/kejs-delayu-sistemu-skidok/sav.webp" type="image/webp">
  <img loading="lazy" decoding="async"  src="/assets/images/blog/kejs-delayu-sistemu-skidok/sav.jpg" alt="Система скидок." class="image" width="695" height="486" itemprop="contentUrl" >
    </picture>
<div class="figcaption">Предложенная система разрядов. Значения показателей изменены</div>
</div>

<p>Разряд определяет не&nbsp;только размер скидки, но&nbsp;и&nbsp;другие аспекты работы с&nbsp;предприятием: от&nbsp;количества личных встреч с&nbsp;менеджером до&nbsp;совместных рекламных кампаний. Это уже не&nbsp;просто система скидок, а&nbsp;правила, нормы и&nbsp;стандарты сотрудничества с&nbsp;партнерами.</p>
</section>
</section>

