---
layout: post
title:  "Стратегия бренда 3Dom"
name: "Кейс: стратегия бренда 3Dom"
description: "Стратегия бренда 3Dom: пример преодоления шаблонности в&nbsp;мебельной индустрии. Рассказываю, как создавал и&nbsp;развивал концепцию бренда корпусной мебели."
date:   2016-02-25
last_modified_at: 2022-02-04
categories: опыт
permalink: "/blog/3dom-mebel-dlya-semi/"
tags: "кейсы"
keywords: "разработка бренда 3Dom"
image: /assets/images/tizers/tizer-16.jpg
eleventyNavigation:
  key: 3dom-mebel-dlya-semi
  title: "Кейс: стратегия бренда 3Dom" 
  parent: blog  
---




<p>Производители корпусной мебели один за&nbsp;одним повторяют, что мебель их&nbsp;качественная, функциональная и&nbsp;современная. Говорят о&nbsp;стильности, практичности, модульности и&nbsp;широком модельном ряде. Предлагают бесплатную доставку и&nbsp;сборку. Через полчаса серфинга по&nbsp;сайтам все компании сливаются в&nbsp;один невыразительный образ. В&nbsp;статье поделюсь, что я&nbsp;предложил компании&nbsp;— белорусскому производителю домашней мебели&nbsp;— для исправления ситуации.</p>

<div   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="/assets/images/blog3dom-mebel-dlya-semi/3Dom@2,8x.jpg">	
<picture> 
<source srcset="/assets/images/blog/3dom-mebel-dlya-semi/3Dom@1x.avif 1x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2x.avif 2x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2,8x.avif 2.88x" type="image/avif"> 
<source srcset="/assets/images/blog/3dom-mebel-dlya-semi/3Dom@1x.webp 1x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2x.webp 2x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2,8x.webp 2.88x" type="image/webp"> 
<img class="image"  src="/assets/images/blog/3dom-mebel-dlya-semi/3Dom@2,8x.jpg" srcset="/assets/images/blog/3dom-mebel-dlya-semi/3Dom@1x.jpg 1x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2x.jpg 2x, /assets/images/blog/3dom-mebel-dlya-semi/3Dom@2,8x.jpg 2.88x" alt="3Dom" width="250" height="83" itemprop="contentUrl"> 
</picture>

<div class="figcaption" itemprop="description">
<span class="bold">Справка.</span> Торговая марка 3Dom объединяет две компании&nbsp;— ООО «Мебелинк» и&nbsp;ООО «ЕвроСтильМебель». Первая изготавливает домашнюю мебель, вторая&nbsp;— ее&nbsp;продвигает и&nbsp;продает.
</div>
</div>


<section class="row-gap--m ">
<h2 class="section__title h1 bold max-width-text">Как создавалась концепция развития торговой марки 3Dom</h2>
<p><strong>Работать над брендом</strong> 3Dom я&nbsp;<strong>начал с&nbsp;анализа конкурентного окружения компании</strong> и&nbsp;предпочтений покупателей мебели, бесед с&nbsp;технологами и&nbsp;консультантами салонов. Несколько вещей из&nbsp;того, что бросилось в&nbsp;глаза.</p>



<p>Производители мебели, которых исследовал, описывали себя шаблонно, через технические характеристики товара. Не&nbsp;было вербализованных конкурентных преимуществ и&nbsp;единой коммуникационной политики.</p>

<div class="figure"   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="/assets/images/blog/3dom-mebel-dlya-semi/antiformula_brenda.jpg">	

  {% image "assets/images/blog/3dom-mebel-dlya-semi/antiformula_brenda.jpg", "Стандартные атрибуты, которые упоминаются мебельными торговыми марками.", "(min-width: 1140px) 707px, (min-width: 700px) 64.52vw, (min-width: 460px) calc(10.45vw + 352px), calc(94.29vw - 15px)", [400, 720, 984, 1412, 1760, 1920], ["avif", "webp", "jpeg"], "image full-bleed" %}

  <meta itemprop="contentUrl" content="/assets/images/blog/3dom-mebel-dlya-semi/antiformula_brenda.jpg">


    <div class="figcaption">
    Назовите мебель качественной, функциональной, современной, стильной. И&nbsp;растворитесь в&nbsp;море шаблонных текстов и&nbsp;однотипных предложений.
    </div>
</div>


<p><strong>Когда у&nbsp;компаний нет четкого фокуса в&nbsp;маркетинговой активности, затраты на&nbsp;продвижение, как правило, завышены</strong>. Кроме того, без внятного позиционирования у&nbsp;покупателя нет побудительных причин для выбора торговой марки, что для предприятия означает риск снижения продаж.</p>


<p class="mb-m">Сотрудники 3Dom, рассказывая о&nbsp;мебели, часто соскальзывали на&nbsp;семейную тему:</p>

<ul class="">
 <li class="list-li"> 
 <p>У&nbsp;стеллажей 3Dom конструкции устойчивые, «чтобы дети случайно не&nbsp;опрокинули».</p>
 </li>
 <li class="list-li"> 
 <p>На&nbsp;фабрике используют австрийские плиты с&nbsp;высоким классом безопасности (экологический стандарт&nbsp;Е1) и&nbsp;закрывают все торцы кромкой ПВХ. Закрывать кромкой невидимые торцы мебели для гостиных и&nbsp;спален не&nbsp;требуется по&nbsp;законодательству, не&nbsp;каждый покупатель обратит на&nbsp;их&nbsp;отсутствие внимание, и&nbsp;это легкий способ снижения затрат в&nbsp;кризис. Однако, 3Dom не&nbsp;идет на&nbsp;такую экономию, ведь «в&nbsp;квартире могут быть дети и&nbsp;им&nbsp;дышать ДСП незачем».</p>
 </li>
<li class="list-li"> 
  <p>Собирает мебель сервисная служба 3Dom сразу&nbsp;же после доставки. «Чтобы женщины десять раз не&nbsp;просили мужей разобрать коробки&nbsp;и, наконец-то, собрать мебель». </p></li>
</ul>

  
<p>Опрос покупателей четко указал, что мебель 3Dom выбирают люди семейные. Сотрудники 3Dom, описывая мебель, упоминали семьи клиентов. Руководству предприятия семейные ценности тоже близки. Но&nbsp;в&nbsp;коммуникациях торговой марки семейная тема не&nbsp;звучала.</p>
<p>Я&nbsp;предложил не&nbsp;прятать семейную направленность компании, а&nbsp;гордо о&nbsp;ней заявить. 3Dom&nbsp;— мебель для семьи. Вместо того, чтобы толкаться в&nbsp;коридоре схожих технических описаний, предприятие преподносит себя через тех, для кого работает.</p>
<p>Вместе с&nbsp;отделом маркетинга мы&nbsp;разработали семейную дисконтную программу, ряд рекламных кампаний. Скидки 3Dom предоставляет только тем, кто состоит в&nbsp;официальном браке. А&nbsp;размер скидки напрямую зависит от&nbsp;стажа семейной жизни.</p>
</section>

<section class="row-gap--m ">
<h2 class="section__title h1 bold ">Семейные праздники 3Dom</h2>
<p>Доброй традицией 3Dom стали семейные праздники, на&nbsp;которые компания приглашает клиентов и&nbsp;посетителей салона. Детей ждали пушистые кролики, веселые клоуны, вкусные угощения, родителей&nbsp;— розыгрыши призов. Гости салона и&nbsp;сотрудники 3Dom заряжались позитивными эмоциями. Мне признавались, что появлялся дополнительный стимул в&nbsp;работе.</p>
<p>Радость и&nbsp;веселье&nbsp;— это хорошо. Но&nbsp;мне&nbsp;— <b>консультанту по&nbsp;маркетингу</b>&nbsp;— этого было мало. После праздника дети с&nbsp;восторгом рассказывали об&nbsp;огромных мыльных пузырях, о&nbsp;победах в&nbsp;конкурсах, а&nbsp;мне хотелось, чтобы они рассказывали о&nbsp;мебели, волшебной мебели 3Dom. В&nbsp;моем представлении стеллажи, кровати и&nbsp;тумбы должны были стать частью содержания представлений.</p>
<p>Задумку реализовал вместе с&nbsp;бэби-театром «Бусы». Поделюсь некоторыми эпизодами новогодней программы.</p>



<div class="full-bleed"   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1648365692/site/3Dom.jpg">	
  <img
  class="image is-3by2"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1648365692/site/3Dom.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270,f_auto,q_auto/v1648365692/site/3Dom.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1648365692/site/3Dom.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1648365692/site/3Dom.jpg 984w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1412,f_auto,q_auto/v1648365692/site/3Dom.jpg 1412w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1760,f_auto,q_auto/v1648365692/site/3Dom.jpg 1760w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2048,f_auto,q_auto/v1648365692/site/3Dom.jpg 2048w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_3408,f_auto,q_auto/v1648365692/site/3Dom.jpg 3408w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  width="3408"
  height="2272"
  alt="фотография семейного праздника 3Dom"
  itemprop="contentUrl"
>

</div>




<p>Через маленькую щелочку приоткрытой двери шкафа дети смотрели на&nbsp;северное сияние. Видя удивление на&nbsp;лицах, родители пытались подойти ближе, посмотреть и&nbsp;узнать, что&nbsp;же там придумал 3Dom.</p>
<p>В&nbsp;каждом ящике комода детей ожидал сюрприз: интересное задание или игра. В&nbsp;зависимости от&nbsp;того, какой ящик выдвигали, салон 3Dom превращался в&nbsp;ледяную юрту, Северный Ледовитый океан или заснеженный лес.</p>
<p>Семейные ценности сближают компании. В&nbsp;празднике участвовал и&nbsp;<a class="link" href="https://kovrova.by/" >Семейный центр Катерины Ковровой</a> с&nbsp;благотворительной акцией «Коробка смелости». Желающие приобретали гипсовую игрушку для раскраски и&nbsp;помогали детям, находящимся на&nbsp;лечении во&nbsp;<span class="noperenos">2-ой</span> городской детской клинической больнице г.&nbsp;Минска.</p>


<div class=" figure"   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="/assets/images/blog/3dom-mebel-dlya-semi/kovrova.jpg">	

  {% image "assets/images/blog/3dom-mebel-dlya-semi/kovrova.jpg", "Cемейный центр Ковровой предлагает гипсовые игрушки.", "(min-width: 1140px) 707px, (min-width: 700px) 64.52vw, (min-width: 460px) calc(10.45vw + 352px), calc(94.29vw - 15px)", [400, 720, 984, 1200], ["avif", "webp", "jpeg"], "image full-bleed" %}

  <meta itemprop="contentUrl" content="/assets/images/blog/3dom-mebel-dlya-semi/kovrova.jpg">

</div>





<div class=""   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="/assets/images/blog/3dom-mebel-dlya-semi/kovrova__thanks.jpg">	


  {% image "assets/images/blog/3dom-mebel-dlya-semi/kovrova__thanks.jpg", "Центр Ковровой благодарит меня за поддержку благотворительной акции для детей.", "(min-width: 1140px) 707px, (min-width: 700px) 64.52vw, (min-width: 460px) calc(10.45vw + 352px), calc(94.29vw - 15px)", [400, 706, 984, 1412, 1500], ["avif", "webp", "jpeg"], "image full-bleed" %}

  <meta itemprop="contentUrl" content="/assets/images/blog/3dom-mebel-dlya-semi/kovrova__thanks.jpg">


</div>
</section>

<p class="mt-m">Я&nbsp;описал крупными мазками опыт работы с&nbsp;торговой маркой 3Dom. Постепенно появятся новые статьи о&nbsp;развитии концепции «мебель для семьи», примеры решения задач других предприятий. Подписывайтесь, чтобы ничего не&nbsp;пропустить.</p>
