---
layout: post
title: "Встреча «Про бизнес»: идеи и советы предпринимателей"
name: "Встреча Про бизнес. Личный взгляд"
description: "Отчет о&nbsp;встрече &laquo;Про бизнес&raquo; с&nbsp;Иосифом Фридманом и&nbsp;Андреем Торсуновым. Узнайте ключевые идеи и&nbsp;рекомендации успешных предпринимателей."
date:   2016-05-07
last_modified_at: 2022-01-20
categories: опыт
permalink: "/blog/vstrecha-pro-biznes/"
tags: "бизнес"
keywords: "Про бизнес"
image: /assets/images/tizers/tizer-20.jpg
eleventyNavigation:
  key: vstrecha-pro-biznes
  title: "Встреча Про бизнес. Личный взгляд"
  parent: blog 
---



<p>

5&nbsp;мая состоялась &laquo;Встреча &bdquo;Про бизнес&ldquo;&raquo;. Приглашенные спикеры&nbsp;&mdash; генеральный директор Svitland Development в&nbsp;Беларуси и&nbsp;Литве Иосиф Фридман и&nbsp;директор компании &laquo;Волис&raquo;, сооснователь &laquo;Инволюкс&raquo; Андрей Торсунов.
</p>
<picture>
<source srcset="/assets/images/blog/vstrecha-pro-biznes/pro1.avif" type="image/avif">
                <source srcset="/assets/images/blog/vstrecha-pro-biznes/pro1.webp" type="image/webp">
             <img class="image" src="/assets/images/blog/vstrecha-pro-biznes/pro1.jpg"  alt="Встреча Про бизнес с участием Иосифа Фридмана и Андрея Торсунова" width="695" height="539">
</picture>



<div class="notetip mb-1"><span class="bold">Справка.</span> Встреча Про Бизнес — разговор о бизнесе с двумя успешными бизнесменами в формате вопрос-ответ. Вопросы задает модератор встречи, спикеры друг другу и зрители. Организатор — портал «Про бизнес».</div>
<p><a class="link" href="https://probusiness.io/">На портале «Про бизнес»</a> вы найдете детальное описание ключевых идей, высказанных спикерами. Здесь же — личная история посещения мероприятия и то важное, что я отметил для себя.</p>

<section class="row-gap--m">
<h2 class="section__title h1 bold">С чем шел на встречу</h2>
<p>Svitland Development у меня ассоциируется прежде всего с жилым комплексом D3. Он настолько отличается от того, что строят в Минске, что, читая описание D3, у меня невольно родился слоган: «При возведении комплекса строители не ругались матом» :-) </p>

<p>Компанией управляет 35-летний Иосиф Фридман. По интервью с ним составил образ человека, который точно знает, что хочет, ставит амбициозные цели и обязательно достигает. Читаешь и заряжаешься энергией. И хочется в свои 36 делать чуть-чуть больше.</p>

<p>С «Волис» и «Инволюкс» я познакомился в 2011 году, когда <strong>работал руководителем отдела маркетинга</strong> в конкурирующей компании — ООО «Мебелинк» (торговая марка Pro-Trade). Мы изучали ассортимент конкурентов, узнавали стоимость, дистрибьюторскую политику и прочее. Старались увидеть рынок глазами того же «Инволюкс» и предугадать дальнейшие действия… Прошло время и я снова пересекся с «Инволюкс», когда разрабатывал <a class="link" href="/blog/3dom-mebel-dlya-semi/">концепцию бренда 3Dom.</a> Нужно ли говорить, что Андрея Торсунова я собирался слушать внимательно.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold">Разговор о бизнесе</h2>

<article class="row-gap--m">
<h3 class="h2 bold list-sign"> с Иосифом Фридманом</h3>

<div   itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="url" href="/assets/images/blog/vstrecha-pro-biznes/pro2.jpg">			
<picture>
<source srcset="/assets/images/blog/vstrecha-pro-biznes/pro2.avif" type="image/avif">
                <source srcset="/assets/images/blog/vstrecha-pro-biznes/pro2.webp" type="image/webp">
           <img loading="lazy" class="image" src="/assets/images/blog/vstrecha-pro-biznes/pro2.jpg" alt="Иосиф Фридман на встрече Про бизнес" width="695" height="463" title="Иосиф Фридман" itemprop="contentUrl">
</picture>
<div class="figcaption" itemprop="description">
Иосиф Фридман. Фото: Андрей Пискун, портал «Про бизнес»
</div>
</div>


<p>Иосиф ожидаемо для меня отметил, что хоть кризис в Беларуси — один из крупных в его карьере, благодаря ему работа интереснее. Иосиф не боится не продать квартиры в D3, несмотря на высокую стоимость квадратного метра. Он не отказывается от новых идей для инвестиций. И в ближайшее время полетит в Ригу, чтобы обсудить проект в 50–60 млн. евро.</p>

<p>Иосиф советует принимать решения без эмоций. Решения в состоянии паники — плохие решения. Следует думать и рассчитывать все на несколько шагов вперед.</p>

<p><span class="bold">Мой вопрос Иосифу:</span> «В одном интервью вы сказали, что быстрому развитию инвестпроектов в РБ мешает ментальность, законодательство и бюрократия. Если речь идет о ментальности белорусов, то от каких ценностных установок, культурных особенностей белорусов следует избавиться в первую очередь, чтобы бизнес развивался быстро?»</p>

<p><span class="bold">Ответ:</span> Я говорил о ментальности чиновников. Они очень долго принимают решения. И если есть возможность не принимать, они решений принимать не будут. Работают по принципу: «инициатива наказуема». А каждый день их обдумывания — убытки для меня — инвестора… Поймите, нельзя строить так, как это делали 30 лет назад. Появились новые материалы, новые технологии, другие требования к удобству жилья. Я возил белорусскую делегацию во главе с замминистра архитектуры и строительства по Тель-Авиву и городу-спутнику и показывал, как сейчас застраивают новые районы. Всем понравилось, но прошло несколько лет, а так ничего и не поменялось. К сожалению, среди чиновников единомышленников я не нашел.</p>
</article>
<article class="row-gap--m">
<h3 class="h2 bold mt-m list-sign"> с Андреем Торсуновым</h3>

<div    itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="url" href="/assets/images/blog/vstrecha-pro-biznes/pro3.jpg">	
<picture>
<source srcset="/assets/images/blog/vstrecha-pro-biznes/pro3.avif" type="image/avif">
                <source srcset="/assets/images/blog/vstrecha-pro-biznes/pro3.webp" type="image/webp">
         <img loading="lazy" class="image" src="/assets/images/blog/vstrecha-pro-biznes/pro3.jpg" alt="Андрей Торсунов на встрече Про бизнес" width="695" height="463" title="Андрей Торсунов" itemprop="contentUrl">
</picture>
<div class="figcaption" itemprop="description">
Андрей Торсунов. Фото: Андрей Пискун, портал «Про бизнес»
</div>
</div>



<p>Андрей затронул интересные темы, но здесь отмечу только рассуждения о кризисе и предпринимательстве.</p>

<p class="mb-m">Две ключевые цитаты:</p>
<ul class="additive-spacing">
<li class="list-li">«Если денег много — это работа для менеджера, если мало — для предпринимателя. Я — предприниматель».</li>
<li class="list-li">«Кризис мобилизует. Пока ты сидишь и думаешь, ничего не происходит. Чтобы выжить, нужно действовать, быть проактивным. Когда некуда отступать, то движешься только вперед».</li>
</ul>

<p>Главное качество предпринимателя в кризисное время — по мнению Андрея — стрессоустойчивость. Рецепт стрессоустойчивости — активные виды спорта («чтоб дышать тяжело, потеть») и семья.</p>

<p><span class="bold">Мой вопрос Андрею:</span> «Андрей Иванович, удивляли ли вас конкуренты в Беларуси? Если да, то как и кто?»</p>
<p><span class="bold">Ответ:</span> «Нет. Белорусские компании меня не удивляли».</p>
</article>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold">Штрихи к описанию встречи</h2>
<ul class="additive-spacing">
 	<li class="list-li">Заявленное время начала встречи — 19.00. Во столько она и началась. <span class="italic">#понравилось</span></li>
 	<li class="list-li">Объявили о завершении мероприятия. Зрители обступили спикеров и общение продолжилось. К Иосифу подходили по одному, выстроилась очередь. Иосиф быстро схватывал суть вопроса и направлял к личному помощнику, которая стояла рядом. Коротко ей указывал, что сделать, и переходил к следующему человеку… Личного помощника у Андрея я не заметил. Вокруг него собралась группа людей, желающие подходили и включались в общую беседу. <span class="italic">#бросилось_в_глаза</span></li>
 	<li class="list-li">Полезно взбадривать себя подобными встречами! <span class="italic">#словил_себя_на_мысли</span></li>
</ul>
</section>
