---
layout: post
title: "Возможности 1С-Битрикс для интернет-магазинов"
name: "1С-Битрикс: какие возможности платформы вы упускаете"
description: "Как 1С-Битрикс помогает интернет-магазинам? Разбор CRM, SEO-инструментов и автоматизации. Главные инсайты семинара."
date:   2016-06-27
last_modified_at: 2023-02-04
categories: опыт
permalink: "/blog/1s-bitriks/"
tags: "интернет-маркетинг семинары"
keywords: "возможности Битрикс"
image:  /assets/images/tizers/tizer-24.jpg
eleventyNavigation:
  key: 1s-bitriks
  title: "1С-Битрикс: какие возможности платформы вы упускаете"
  parent: blog 
---


<p>23&nbsp;июня прошел региональный семинар «1С-Битрикс» в&nbsp;Минске. Как сэкономить время и&nbsp;деньги и&nbsp;избежать ошибок при создании и&nbsp;продвижении <a class="link" href="/blog/kejs-internet-magazina-delovoy/">интернет-магазина</a>, организаторы обещали показать на&nbsp;примерах. Я&nbsp;посетил семинар и&nbsp;расскажу, насколько он&nbsp;полезен для руководителей бизнеса и&nbsp;<b>маркетологов</b>.</p>
<p class="mb-m">Условно семинар разделю на&nbsp;три части:</p>
<ul class="additive-spacing">
	<li class="list-li"><a class="link" href="#1">Презентация продуктов «1С-Битрикс».</a> О&nbsp;возможностях «1С-Битрикс» через функции интернет-магазина и&nbsp;CRM-решения говорили сотрудники B3x.by.</li>
	<li class="list-li"><a class="link" href="#2">SEO интернет-магазина с&nbsp;помощью «1С-Битрикс».</a> Сотрудники Seoconsult.by поделились секретами автоматизации SEO в&nbsp;«Битриксе».</li>
	<li class="list-li"><a class="link" href="#3">Юридическое сопровождение работы интернет-магазина.</a> На&nbsp;вопросы участников семинара ответила Ольга Мещерякова&nbsp;— юрист агентства «Белзакон».</li>
 </ul>


<section class="row-gap--m" id="1">
<h2 class="section__title h1 bold ">Презентация продуктов «1С-Битрикс»</h2>
<p>Егор Урбан и&nbsp;Феликс Ермоленко рассказывали о&nbsp;функциях интернет-магазина и&nbsp;CRM-решениях. Говорили, как интернет-магазин должен выглядеть и&nbsp;работать, и&nbsp;как в&nbsp;этом поможет «1С-Битрикс».</p>

<div    itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/1s-bitriks/bitrix1.jpg">
<picture>
               <source srcset="/assets/images/blog/1s-bitriks/bitrix1.avif" type="image/avif">
			    <source srcset="/assets/images/blog/1s-bitriks/bitrix1.webp" type="image/webp">
                <img class="image" loading="lazy" decoding="async" src="/assets/images/blog/1s-bitriks/bitrix1.jpg" alt="Егор Урбан" width="695" height="666"  itemprop="contentUrl" >
    </picture>
	<div class="figcaption" itemprop="description">
		Егор Урбан рассказывает, что должно быть в&nbsp;карточке товара
	</div>
</div>





<p>Если вы&nbsp;тщательно изучили рекламные материалы «Битрикса», ничего принципиально нового спикеры&nbsp;бы вам не&nbsp;сообщили. Но&nbsp;как выяснилось в&nbsp;ходе семинара, не&nbsp;каждый владелец интернет-магазина, работающего на&nbsp;1С-Битрикс, знает все возможности используемой платформы.</p>
<p>Невольно вспоминаю рассказ о&nbsp;человеке, который на&nbsp;последние деньги купил билет на&nbsp;круиз и&nbsp;во&nbsp;время долгого плавания отказывался от&nbsp;еды, опасаясь счетов на&nbsp;оплату. И&nbsp;только в&nbsp;конце путешествия он&nbsp;узнал, что еда и&nbsp;напитки входили в&nbsp;стоимость билета.</p>
<p><span class="bold">Если вы&nbsp;купили лицензию Битрикс</span> и&nbsp;не&nbsp;хотите походить на&nbsp;персонажа рассказа, узнайте, за&nbsp;какие возможности вы&nbsp;уже заплатили. Откройте панель администратора сайта, зайдите в&nbsp;настройки продукта и&nbsp;выберите раздел «модули». Вы&nbsp;увидите, чем уже пользуетесь и&nbsp;что можете использовать, но&nbsp;пока не&nbsp;установили. Обсудите с&nbsp;разработчиком сайта назначение и&nbsp;целесообразность подключения каждого модуля.</p>

<div    itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/1s-bitriks/bitrix2.jpg">
<picture>
               <source srcset="/assets/images/blog/1s-bitriks/bitrix2.avif" type="image/avif">
			    <source srcset="/assets/images/blog/1s-bitriks/bitrix2.webp" type="image/webp">
                <img class="image" loading="lazy" decoding="async"  src="/assets/images/blog/1s-bitriks/bitrix2.jpg" alt="модули Битрикс" width="695" height="334"  itemprop="contentUrl" >
    </picture>
</div>



<p>Если вы&nbsp;ищите сервис для email-маркетинга, знайте, что можете рассылать письма через сайт. Сомневаетесь, на&nbsp;каком дизайне главной страницы сайта остановиться,&nbsp;— установите модуль А/Б -тестирования. Хотите повысить повторные продажи&nbsp;— настройте триггерные рассылки.</p>
<p>С&nbsp;помощью «Битрикса» интернет-магазин, 1С&nbsp;и&nbsp;CRM могут работать как одно целое. Часто эффективность рекламных каналов измеряют по&nbsp;количеству звонков или визитов. Схематично выглядит так: «канал&nbsp;Х дал нам 10&nbsp;визитов, а&nbsp;канал Y&nbsp;— всего 3. Вывод&nbsp;— канал&nbsp;Х эффективнее». Вывод преждевременный.&nbsp;10&nbsp;визитов могло принести 5&nbsp;покупок по&nbsp;$5, а&nbsp;3&nbsp;визита&nbsp;— 2&nbsp;покупки по&nbsp;$40. Настройте интеграцию интернет-магазина и&nbsp;1С, ведите CRM и&nbsp;оценивайте эффективность маркетинговых кампаний правильно.</p>
<p><span class="italic">Лайфхак от&nbsp;спикеров: </span>Разработчики сайтов на&nbsp;«Битрикс» для управления задачами часто используют Битрикс24. Попросите назначить вас наблюдателем. Вас добавят в&nbsp;систему так, чтобы вы&nbsp;могли следить за&nbsp;сроками каждого этапа разработки и&nbsp;контролировать исполнение. Так вы&nbsp;снизите риски неприятных сюрпризов и&nbsp;повысите управляемость <a class="link" href="/blog/autsorsing-marketinga/">аутсорсинга маркетинга</a>.</p>
</section>

<section class="row-gap--m" id="2">
<h2 class="section__title h1 bold ">SEO интернет-магазина с&nbsp;помощью <span class="noperenos"> «1С-Битрикс»</span></h2>
<p>Задачи по&nbsp;SEO Илья Черняковский разделил на&nbsp;две категории: то, что делается один раз, и&nbsp;то, над чем следует работать постоянно. Первая категория&nbsp;— фундамент. Если проигнорируете&nbsp;— снизите эффективность дальнейшей работы по&nbsp;поисковой оптимизации.</p>
<p class="mb-m">Что входит в&nbsp;фундамент SEO интернет-магазина:</p>
<ul>
	<li class="list-li">корректно пропишите title и&nbsp;discription;</li>
	<li class="list-li">убедитесь, что картинки идут с&nbsp;атрибутом alt;</li>
	<li class="list-li">настройте страницу 404&nbsp;ошибки;</li>
	<li class="list-li">проверьте сервисом Гугл, удобно&nbsp;ли работать с&nbsp;сайтом на&nbsp;мобильных устройствах, и&nbsp;устраните ошибки;</li>
	<li class="list-li">создайте карту сайта xml;</li>
	<li class="list-li">добавьте яндекс-файл yml.</li>
 </ul>
 

<div    itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/1s-bitriks/bitrix3.jpg">
<picture>
               <source srcset="/assets/images/blog/1s-bitriks/bitrix3.avif" type="image/avif">
			    <source srcset="/assets/images/blog/1s-bitriks/bitrix3.webp" type="image/webp">
                <img class="image" loading="lazy" decoding="async"  src="/assets/images/blog/1s-bitriks/bitrix3.jpg" alt="Илья показывает как яндекс yml-файл улучшает сниппет в поисковой выдаче" width="695" height="553" itemprop="contentUrl" >
    </picture>
<div class="figcaption" itemprop="description">
	Илья Черняковский показывает как яндекс yml-файл улучшает сниппет в&nbsp;поисковой выдаче
</div>
</div>

<p>Девять месяцев назад я&nbsp;посетил <a class="link" href="/blog/sovety-po-razrabotke-i-razvitiyu-internet-proektov/">семинар Студии Борового</a> и&nbsp;слышал идентичные рекомендации. Но&nbsp;в&nbsp;отличие от&nbsp;коллег, Илья не&nbsp;ограничился повторением сеошных истин, а&nbsp;продемонстрировал, что и&nbsp;как можно сделать на&nbsp;платформе Битрикс самостоятельно. Если в&nbsp;вашей отрасли конкуренция не&nbsp;высокая, этих шагов может хватить для топовых позиций в&nbsp;поисковой выдаче.</p>
</section>

<section class="row-gap--m" id="3">
<h2 class="section__title h1 bold ">Юридическое сопровождение работы интернет-магазина</h2>
<p>Обычно на&nbsp;подобные семинары организаторы приглашают сеошников, рекламщиков, специалистов по&nbsp;соц.медиа. Юристов обходят стороной и&nbsp;— как оказалось&nbsp;— зря. Этот блок&nbsp;— рекордсмен по&nbsp;количеству заданных вопросов.</p>
<p>Не&nbsp;каждый в&nbsp;аудитории понимал, что считается интернет-магазином и&nbsp;в&nbsp;каких случаях требуется регистрировать сайт как интернет-магазин.</p>
<p>Если на&nbsp;сайте нет кнопки «Купить», но&nbsp;при этом клиент может позвонить и&nbsp;попросить доставить товар по&nbsp;удобному адресу,&nbsp;— это интернет-магазин. Чтобы не&nbsp;попасться на&nbsp;контрольной закупке, регистрируйте интернет-магазин или приглашайте звонящих в&nbsp;торговую точку.</p>
<p>О&nbsp;таких требованиях к&nbsp;интернет-магазину как доменное имя в&nbsp;зоне «бел» или «by», хостинг в&nbsp;РБ, регистрация в&nbsp;торговом реестре знали многие, но&nbsp;то, что следует оформить кассовый аппарат, отдельно подавать сведение о&nbsp;товарообороте&nbsp;— слышали единицы.</p>
<p>Общий вывод: вышли в&nbsp;интернет&nbsp;— заручитесь поддержкой юриста.</p>
</section>



<footer class="additive-spacing">
<p class="mb-m mt-m">Идеи для развития:</p>
<ul class="addictive-spacing">
<li class="list-li">
  <a href="/blog/accessibility/" class="link"> Доступность (accessibility) сайтов&nbsp;&mdash; новая норма</a>
</li>
<li class="list-li">
  <a href="/blog/smelyj-brend/" class="link"> Как смелость помогает брендам выделяться и&nbsp;оставаться собой</a>
</li>
<li class="list-li">
  <a href="/blog/sajt-agrousadby/" class="link"> Ошибки и&nbsp;решения при создании сайта агроусадьбы для иностранных гостей</a>
</li>
<li class="list-li">
  <a href="/blog/optimizaciya-izobrajenii/" class="link"> Эффективные способы оптимизации изображений</a>
</li>
<li class="list-li">
  <a href="/blog/chatgpt-v-marketinge/" class="link"> Использование ChatGPT в маркетинге</a>
</li>
</ul>
</footer>