---
layout: post
title: "Семь маркетинговых тенденций, которые определяют будущее бизнеса"
name: "Семь трендов в&nbsp;маркетинге, которые нельзя игнорировать"
description: "Маркетинг меняется: уходит навязчивая реклама, растёт мобильный трафик, контент становится эмоциональнее. Разбираем семь трендов, которые нельзя игнорировать."
date:   2016-01-16
last_modified_at: 2022-02-04
categories: мнение
permalink: "/blog/sem-tendencij-marketinga/"
tags: "управление"
keywords: "тренды маркетинга"
image: /assets/images/tizers/tizer-14.jpg
eleventyNavigation:
  key: sem-tendencij-marketinga
  title: "Семь трендов в маркетинге, которые нельзя игнорировать"  
  parent: blog  
relatedIdeas:
  - title: "Тест-драйвы и&nbsp;пробники для роста продаж: выбор стратегии, разбор примеров"
    url: "/blog/test-drajv-dlya-rosta-prodazh/"
  - title: "Искусственный интеллект в&nbsp;маркетинге: компании внедряют, клиенты ненавидят"
    url: "/blog/kompanii-vnedryayut-ii-klienty-protiv/"
  - title: "12 архетипов для B2B: как усилить бренд и привлекать клиентов"
    url: "/blog/12-archetypes-b2b-marketing/"
  - title: "Трудовая миграция и маркетинг: как работать там, где все иначе"
    url: "/blog/marketing-v-afrike-i-migraciya/"
---



<p><strong>Тенденции, описанные ниже, отражают изменения в&nbsp;покупательском поведении и&nbsp;развитии маркетинга.</strong> Если вы&nbsp;не&nbsp;намереваетесь выпасть из&nbsp;поля зрения потенциальных клиентов, обратите на&nbsp;них внимание.</p>


<nav class="toc">
 <h2 class="toc__title">Содержание</h2>
 <ul class="additive-spacing">
  <li>   
      <span class="tocnumber">1 </span>
       <a class="link" href="#1">
       Навязчивая реклама умирает
      </a>
  </li>
  <li>    
      <span class="tocnumber">2 </span>
      <a class="link" href="#2"> Ориентация на&nbsp;диалог с&nbsp;клиентом     </a>
  </li>

  <li>        
        <span class="tocnumber">3 </span>
        <a class="link" href="#3">Рост мобильного интернет-трафика        </a>
      </li>
      <li>
        <span class="tocnumber">4 </span>
        <a class="link" href="#4"> Рост скорости реагирования         </a>
      </li>
      <li>       
        <span class="tocnumber">5 </span>
         <a class="link" href="#5"> Использование эмоций в&nbsp;маркетинговых коммуникациях         </a>
      </li>
      <li>       
        <span class="tocnumber">6 </span>
         <a class="link" href="#6"> Рост качества контента        </a>
      </li>
      <li>       
        <span class="tocnumber">7 </span> <a class="link" href="#7">Рост видеоконтента        </a>
      </li>
    </ul>
</nav>


<section class="row-gap--m max-width-text" id="1">
<h2 class="section__title h1 bold ">1) Навязчивая реклама умирает</h2>
<p>Расширения браузеров, блокирующие рекламу, набирают популярность. В&nbsp;июне 2015 года Adobe и&nbsp;PageFair насчитали 191 миллион пользователей блокировщиков рекламы, отметив, что их&nbsp;количество увеличилось на&nbsp;41% в&nbsp;течение года.</p>

<div class="figure"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="/assets/images/blog/sem-tendencij-marketinga/global-adblocking-trends.jpg">

{% image "assets/images/blog/sem-tendencij-marketinga/global-adblocking-trends.jpg", "График роста пользователей AdBlock", "(min-width: 1100px) 670px, (min-width: 760px) 60.31vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)", [400, 670, 720, 870, 965], ["avif", "webp", "jpeg"], "image width--full" %}

<meta itemprop="contentUrl" content="/assets/images/blog/sem-tendencij-marketinga/global-adblocking-trends.jpg">

</div>



 <p>У&nbsp;меня нет информации, насколько распространены подобные расширения в&nbsp;Беларуси. В&nbsp;соседней Польше рекламу блокируют&nbsp;35% пользователей интернета. Что касается меня, uBlock Origin, Ghostery и&nbsp;NoScript&nbsp;— постоянные спутники серфинга в&nbsp;сети. Меня не&nbsp;отвлекают всплывающие окна, яркие мигающие баннеры и&nbsp;громкие рекламные призывы в&nbsp;духе <span class="noperenos">90-х.</span>
</p>
<p>Устанавливают блокировщики из-за роста количества <a class="link" href="/blog/kak-reklamu-podrujit-s-potrebitelyami/">рекламы</a>, а&nbsp;также&nbsp;— а&nbsp;может и&nbsp;прежде всего&nbsp;— из-за низкой ценности текста объявлений. Потребители научились распознавать манипуляции и&nbsp;попытки обмана. Лозунгам типа «увеличение доли рынка на&nbsp;40%!» не&nbsp;верят. Но&nbsp;вместо того, чтобы улучшить предложение, маркетологи закричали громче и&nbsp;чаще. Естественная реакция окружения&nbsp;— избавиться от&nbsp;назойливого шума.</p>
<p><strong>Рекламодатели терпят убытки и&nbsp;вынуждены менять методы работы.</strong> Однако, блокировщики рекламы&nbsp;— вопрос не&nbsp;только интернет-маркетинга. Это сигнал востребованности иного подхода в&nbsp;общении с&nbsp;потребителем, принцип которого «меньше агитации&nbsp;— больше пользы». Люди готовы слушать честную и&nbsp;полную информацию о&nbsp;продукте. И&nbsp;прибегнут к&nbsp;берушам как только почувствуют <a class="link" href="/blog/otlichie-marketologa-ot-brexuna/">брехню</a>.</p>

</section>

<section class="row-gap--m max-width-text" id="2">
<h2 class="section__title h1 bold ">2) Ориентация на&nbsp;диалог с&nbsp;клиентом</h2>
<p>В&nbsp;2015&nbsp;г. маркетологи Nescafe <a class="link" href="https://web.archive.org/web/20200919065931/https://vc.ru/marketing/10580-nescafe-tumblr" >закрыли корпоративный сайт</a>. Объяснили тем, что он&nbsp;не&nbsp;подталкивает клиентов к&nbsp;общению. Поэтому всю коммуникацию перенесли в&nbsp;блог на&nbsp;платформе Tumblr.</p>
<p>Это один из&nbsp;примеров отказа маркетологов от&nbsp;«статичного» контента. «Продать себя» аудитории с&nbsp;помощью статей, новостей компании и&nbsp;пресс-релизов сложно. Эти методы перестают работать. Исследования показывают, что <a class="link" href="//lifehacker.ru/2013/08/07/endless/">посты не&nbsp;читают до&nbsp;конца</a>. Люди ставят «лайки» и&nbsp;нажимают «поделиться», прочитав только заголовок, так и&nbsp;не&nbsp;приступив к&nbsp;содержанию. Если вы&nbsp;в&nbsp;тренде, эту статью вы&nbsp;не&nbsp;прочтете полностью ;-) </p>
<p>Вот почему компании озаботились инструментами, подталкивающими пользователей к&nbsp;осознанному взаимодействию с&nbsp;контентом и&nbsp;активному общению. На&nbsp;сайты добавляют тесты, опросы, объявляют конкурсы.</p>
<p>Когда я&nbsp;с&nbsp;коллегами организовывал практикум <a class="link" href="/blog/vzlom-barerov-biznesa/">«Взлом барьеров развития бизнеса»</a>, мы&nbsp;разработали тест для диагностики состояния управления продажами и&nbsp;маркетингом в&nbsp;компании. Желающие отвечали на&nbsp;вопросы и&nbsp;получали нашу оценку рабочих процессов. Тест нашел больший отклик, чем реклама практикума.</p>
</section>

<section class="row-gap--m max-width-text" id="3">
<h2 class="section__title h1 bold ">3) Рост мобильного интернет-трафика</h2>
<p>В&nbsp;10&nbsp;странах, включая США и&nbsp;Японию, <a class="link" href="//searchengineland.com/its-official-google-says-more-searches-now-on-mobile-than-on-desktop-220369" >мобильный трафик уже превышает «десктопный»</a>. В&nbsp;Беларуси, насколько я&nbsp;могу судить по&nbsp;своим проектам, со&nbsp;смартфонов и&nbsp;планшетов открывают сайты 20%-30% пользователей. И&nbsp;их&nbsp;количество увеличивается.</p>
<p>С&nbsp;апреля 2015 Google изменил алгоритм поисковой выдачи: mobile-friendly сайты ранжируются выше прочих. Таким образом результаты интернет-поиска теперь зависят от&nbsp;устройства, с&nbsp;которого делается запрос.</p>
<p>Высказывание «если вас нет в&nbsp;интернете, вас нет в&nbsp;бизнесе» белорусы вскоре осознают как «если вас нет в&nbsp;мобильном интернете, вас нет в&nbsp;бизнесе».</p>
<p>Google помогает определить, <a class="link" href="https://search.google.com/test/mobile-friendly" >насколько удобно просматривать сайт на&nbsp;мобильных устройствах,</a> и&nbsp;подсказывает, что исправить. Если вы&nbsp;еще не&nbsp;тестировали свой сайт в&nbsp;прошлом году, сделайте это после прочтения статьи.</p>
</section>


<section class="row-gap--m max-width-text" id="4">
<h2 class="section__title h1 bold ">4) Рост скорости реагирования</h2>
<p>Чиновников заставляют отвечать на&nbsp;обращения граждан в&nbsp;течение 30&nbsp;дней. В&nbsp;мире бизнеса это правило не&nbsp;работает. Если на&nbsp;коммерческом сайте новости месячной давности, пользователь может усомниться в&nbsp;благополучии предприятия. Оставив сообщение в&nbsp;форме обратной связи, человек ожидает реакции в&nbsp;течение одного-двух часов.</p>
<p>К&nbsp;чему приводят оставленные без оперативной реакции комментарии в&nbsp;интернете, показывает история Нобелевского лауреата, биохимика сэра Тима Ханта. На&nbsp;конференции в&nbsp;Южной Корее он&nbsp;отметил заслуги женщин ученых и&nbsp;подчеркнул, что наука в&nbsp;женщинах нуждается. Свою похвалу разбавил шуткой, что женщины в&nbsp;лаборатории отвлекают от&nbsp;работы: то&nbsp;в&nbsp;них влюбляются, то&nbsp;влюбляются они.</p>
<p>Пока Нобелевский лауреат возвращался из&nbsp;Южной Кореи домой, одна присутствующая на&nbsp;конференции журналистка, вырвав из&nbsp;контекста слова биохимика, описала ученого в&nbsp;Twitter как мужского шовиниста. Это подхватили феминистки и&nbsp;сочувствующие. Пока Тим Хант летел в&nbsp;самолете, на&nbsp;земле разгорался скандал. Заочно ученого осудили СМИ, университеты и&nbsp;коллеги. Тим Хант лишился поста почетного профессора в&nbsp;Университетском колледже Лондона, поста в&nbsp;комитете по&nbsp;награждению в&nbsp;области биологических наук Королевского общества и&nbsp;приостановил членство в&nbsp;Европейском исследовательском совете. Позже выяснилось, что слова ученого исказили, что <a class="link" href="https://www.svoboda.org/a/27101883.html" >личность журналистки, обвинившей Ханта, вызывает вопросы</a>, однако, как говорится, осадочек остался.</p>

<p>Вот почему все большее значение приобретает способность маркетолога правильно и&nbsp;быстро работать с&nbsp;внешними стимулами.</p>

<div class="post__note">Если компания не&nbsp;реагирует на&nbsp;окружающие события&nbsp;— она мертва.</div>
</section>

<section class="row-gap--m max-width-text" id="5">
<h2 class="section__title h1 bold ">5) Использование эмоций в&nbsp;маркетинговых коммуникациях</h2>
<p>Если раньше акцент в&nbsp;<b>дифференциации брендов</b> делали на&nbsp;характеристиках товара или услуги, то&nbsp;сейчас компании отстраиваются от&nbsp;конкурентов с&nbsp;помощью эмоций. Эмоциональные ценности используются для позиционирования, дифференциации и&nbsp;легенды торговой марки.</p>

<div class="figure">
 <div class="video ">
        <a class="video__link " href="https://youtu.be/zvgyWsSQOh8" target="_blank" rel="noopener noreferrer">
            <picture>
                <source srcset="https://i.ytimg.com/vi_webp/zvgyWsSQOh8/maxresdefault.webp" type="image/webp">
                <img loading="lazy" decoding="async" class="video__media " src="https://i.ytimg.com/vi/zvgyWsSQOh8/maxresdefault.jpg" alt="Пример использования эмоций в рекламе Cineplex" width="1280" height="720">
            </picture>
             <span class="element--hidden">Видео: эмоциональный рекламный ролик</span>
        </a>
        <button class="video__button" aria-label="Запустить видео">
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
        </button>
</div>
<div class="figcaption">
Пример использования эмоций в рекламе Cineplex
</div>
</div>





<p>В&nbsp;начале 2016г. компания Нильсен опубликовала результаты исследования, которое показало, что <a class="link" href="https://www.nielsen.com/insights/2016/were-ruled-by-our-emotions-and-so-are-the-ads-we-watch/">эмоциональная реклама увеличивает рост продаж</a>. Ожидаю, эмоций в&nbsp;рекламе станет больше.</p>
<p>Работая над маркетинговым мероприятием, по&nbsp;меньшей мере задумайтесь, найдет&nbsp;ли кампания эмоциональный отклик у&nbsp;потребителя и&nbsp;какой.</p>
</section>

<section class="row-gap--m max-width-text" id="6">
<h2 class="section__title h1 bold ">6) Рост качества контента</h2>
<p>Выживет&nbsp;ли сообщение в&nbsp;информационном шуме зависит от&nbsp;того, насколько оно полезно для клиента. Если речь идет о&nbsp;странице товара на&nbsp;сайте, то&nbsp;одной фотографии и&nbsp;указания цены недостаточно. Необходима помощь в&nbsp;принятии решения. Подробно опишите продукт, укажите плюсы и&nbsp;возможные минусы, делитесь примерами использования, инструкциями, отзывами. Ответы на&nbsp;часто задаваемые вопросы выведите в&nbsp;отдельный блок.</p>
<p>Изменились и&nbsp;требования к&nbsp;языку. Преимущество за&nbsp;однозначными, точными и&nbsp;объективными формулировками. Описывая товар, удаляйте лишние слова и&nbsp;эмоции. Избавляйтесь от&nbsp;«стильный», «эффектный», «уникальный», «профессиональный» и&nbsp;других рекламных штампов <span class="noperenos">90-х</span> гг.</p>
<p>От&nbsp;словесного мусора текст помогут очистить <a class="link" href="/blog/redaktirovanie-teksta-instrumenty/">специальные сервисы</a>.</p>
</section>

<section class="row-gap--m max-width-text" id="7">
<h2 class="section__title h1 bold ">7) Рост видеоконтента</h2>
<p>О&nbsp;необходимости использования видеороликов говорят и&nbsp;web-разработчики, и&nbsp;seo-шники и&nbsp;специалисты по&nbsp;соц.сетям. Каждый со&nbsp;своей стороны подчеркивает плюсы. По&nbsp;оценкам Cisco, <a class="link" href="https://web.archive.org/web/20181217174834/https://www.cisco.com/c/en/us/solutions/collateral/service-provider/visual-networking-index-vni/white-paper-c11-741490.html" >доля видео в&nbsp;2019&nbsp;г. составит&nbsp;80% от&nbsp;мирового интернет-трафика.</a></p>
<p>Видео не&nbsp;обязательно должно быть «вирусным», скорeе наоборот, поскольку коммерчески успешные «вирусные» ролики единичны. Делайте ставку на&nbsp;видео-обзоры и&nbsp;обучающие видео. Чем меньше профессиональных эффектов используете в&nbsp;съемке, тем в&nbsp;большей степени ролик будет выглядеть настоящим и&nbsp;вызывать доверие.</p>
</section>