---
layout: post
title:  "Customer Journey Map: как понять клиента и улучшить маркетинг"
name: "Как создать Customer Journey Map (CJM) и&nbsp;превратить клиентов в&nbsp;лояльных покупателей"
description: "Почему клиенты уходят? Карта потребительского опыта (CJM) покажет слабые места бизнеса. Готовый алгоритм и&nbsp;лучшие инструменты для маркетологов."
date:   2016-06-06
last_modified_at: 2024-12-05
categories: инструкции
permalink: "/blog/customer-journey-map/"
tags: "инструменты бизнес"
keywords: "customer journey map"
image: /assets/images/tizers/tizer-22.jpg
eleventyNavigation:
  key: customer-journey-map
  title: "Как создать Customer Journey Map (CJM) и превратить клиентов в лояльных покупателей"
  parent: blog 
---


<p> По&nbsp;запросу «<b>Customer Journey Map</b>» («<b>CJM</b>», «<b>карта потребительского опыта</b>») поисковики выдают статьи с&nbsp;одними и&nbsp;теми&nbsp;же, скопированными друг у&nbsp;друга общими фразами. Портал «Про бизнес» попросил объяснить на&nbsp;простом примере, <a class="link" href="//probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html">как составлять карту потребительского опыта правильно</a>. Публикую версию для блога. </p>

<nav class="toc">
 <h2 class="toc__title">Содержание</h2>
 <ul class="additive-spacing">
      <li>       
          <span class="tocnumber">1 </span><a class="link" href="#1">Зачем customer journey mapping
        </a>
      </li>
      <li>       
          <span class="tocnumber">2 </span>
          <a class="link" href="#2">Правила составления CJM, которые помогут избежать ошибок
        </a>
      </li>
      <li>            
            <span class="tocnumber">3 </span>
            <a class="link" href="#3">
            Алгоритм создания карты потребительского опыта
            </a>
      </li>
      <li>            
            <span class="tocnumber">4 </span>
            <a class="link" href="#CJM-tools">
            Инструменты для разработки CJM
            </a>
      </li>
</ul>
</nav>


<section class="row-gap--m" id="1">
<h2 class="section__title h1 bold ">Зачем customer journey mapping</h2>

<p>Потребительский опыт&nbsp;— все, что клиент думает и&nbsp;чувствует, когда контактирует с&nbsp;компанией, будь-то видит всплывающую рекламу в&nbsp;интернете или звонит в&nbsp;отдел продаж. Если отобразить все случаи взаимодействия клиента с&nbsp;фирмой и&nbsp;отметить его мысли и&nbsp;эмоции на&nbsp;каждом этапе, мы&nbsp;получим карту потребительского опыта или customer journey map.</p>

<p>Зачем нам все это? Потому что в&nbsp;каждом контакте, будь&nbsp;то всплывающая реклама или звонок в&nbsp;отдел продаж, скрыта история. История о&nbsp;том, как ваш клиент видит мир, что он&nbsp;чувствует и&nbsp;какие решения принимает. Если вы&nbsp;готовы прислушаться к&nbsp;этой истории, вы&nbsp;можете создать не&nbsp;просто продукт, а&nbsp;историю, которую ваш клиент захочет рассказать дальше.</p>

<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/customer-journey-map/cjm4.jpg">
<picture>
<source srcset="/assets/images/blog/customer-journey-map/cjm4.avif" type="image/avif"> 
<source srcset="/assets/images/blog/customer-journey-map//cjm4.webp" type="image/webp"> 
<img class="image" src="/assets/images/blog/customer-journey-map/cjm4.jpg" alt="варианты карт потребительского опыта" width="695" height="695" itemprop="contentUrl">
</picture>
<div class="figcaption">
Карты потребительского опыта могут выглядеть по-разному. Не&nbsp;волнуйтесь, если сейчас ничего не&nbsp;понятно. Скоро вы&nbsp;поймете принцип и&nbsp;сможете &laquo;читать&raquo; и&nbsp;составлять карты
</div>
</div>

<p> Представим, что у&nbsp;нас сервисный центр по&nbsp;ремонту компьютеров. Что даст нам CJM? Благодаря карте мы&nbsp;увидим центр глазами клиентов. Поймем, какие каналы необходимо задействовать в&nbsp;коммуникации, что требуется усилить, чего не&nbsp;хватает, а&nbsp;что, наоборот, не&nbsp;влияет на&nbsp;итоговый результат. Мы&nbsp;увидим, как сделать так, чтобы обслуживание в&nbsp;сервисном центре клиентам нравилось, чтобы люди легко обращались к&nbsp;нам за&nbsp;помощью и&nbsp;так&nbsp;же легко рекомендовали друзьям и&nbsp;знакомым.  </p>

<p class="post__note">Цель customer journey mapping&nbsp;— улучшить потребительский опыт </p>



<p>Это все, конечно, в&nbsp;идеале. Я&nbsp;знаю примеры, как люди загорались идей CJM, неделями чертили диаграммы и&nbsp;схемы, но&nbsp;итогом была только запутанность и&nbsp;раздраженность. «Это еще одна,&nbsp;— говорят они,&nbsp;— бесполезная выдумка <b>маркетологов</b>!»</p>
<p>Чтобы карта потребительского опыта действительно оказалась полезным инструментом, перед ее&nbsp;составлением необходимо усвоить и&nbsp;следовать трем правилам.</p>
</section>

<section class="row-gap--m" id="2">
<h2 class="section__title h1 bold ">Правила составления CJM, которые помогут избежать ошибок</h2>

<section class="row-gap--m">
<h3 class="h2 bold mb-m">1) Начинайте работу с&nbsp;выбора персонажа</h3>
<p>Одна карта описывает потребительский опыт одного клиента. Если у&nbsp;вас много клиентов, используйте метод персонажей. Персонаж&nbsp;— обобщенный образ выбранного сегмента клиентов. Поведение и&nbsp;мысли персонажа отражают реальное поведение и&nbsp;мысли представителей сегмента.</p>

<p>Различные персонажи выбирают и&nbsp;используют ваш продукт по&nbsp;разному. Если вам интересны несколько персонажей&nbsp;— составляйте несколько карт.</p>


<p>В&nbsp;нашем примере с&nbsp;сервисным центром персонаж может быть таким: девушка-блогер, проводит с&nbsp;сетях 4+&nbsp;часов в&nbsp;день. Ноутбук стал внезапно выключаться, самостоятельно устранить неисправность девушка не&nbsp;может. </p>
<p>Чем больше деталей&nbsp;/ характеристик в&nbsp;описании персонажа, тем проще будет &laquo;идти&raquo; по&nbsp;его пути потребителя. Для удобства можете придумать персонажу имя и&nbsp;даже нарисовать портрет. </p>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">2) Описывайте реальный клиентский опыт</h3>
<p>Если подменить клиентский опыт собственными представлениями и&nbsp;догадками, методика не&nbsp;принесет пользы. Вы&nbsp;построите фантазию, которая с&nbsp;действительностью может не&nbsp;иметь ничего общего.</p>
<p class="mb-m">Как погрузиться в&nbsp;мир клиента:</p>
<ul class="additive-spacing">
<li class="list-li">Опирайтесь на&nbsp;доступные результаты исследований, опросы, метрики.</li>
<li class="list-li">Описывая взаимодействие с&nbsp;компанией, говорите от&nbsp;первого лица («Я&nbsp;сделал...», «Я&nbsp;услышал...»).</li>
<li class="list-li">Готовую карту обсудите с&nbsp;клиентами. Найдите 10&nbsp;добровольцев из&nbsp;нужного сегмента и&nbsp;уточните, весь&nbsp;ли их&nbsp;опыт вы&nbsp;отразили, правильно&nbsp;ли описали поведение и&nbsp;намерения на&nbsp;каждом шаге взаимодействия с&nbsp;компанией.</li>
 </ul>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">3) Работайте коллективно</h3>
<p>Привлекайте коллег к&nbsp;работе над картой. Соберите за&nbsp;одним столом бухгалтеров, юриста, продавцов, маркетолога и&nbsp;попробуйте вместе «влезть в&nbsp;шкуру» клиента. Пользы компании принесет больше, чем многие рядовые совещания.</p>
</section>
</section>

<section class="row-gap--m" id="3">
<h2 class="section__title h1 bold ">Алгоритм создания карты потребительского опыта</h2>
<p>Чтобы&nbsp;— наконец-то&nbsp;— составить CJM, следуйте описанным ниже шагам и&nbsp;схематичным примерам.</p>
<section class="row-gap--m">
<h3 class="h2 bold mb-m">Шаг&nbsp;1. Проследите путь персонажа</h3>
<p> Опишите действия персонажа от&nbsp;момента осознания потребности до&nbsp;покупки и&nbsp;использования вашего товара или услуги. Если затрудняетесь с&nbsp;определением этапов, воспользуетесь схемой: осознание потребности → сбор информации → выбор → покупка → использование → рекомендации. Укажите, что делает персонаж на&nbsp;каждом этапе.
</p>

<div    itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/customer-journey-map/cjm1.jpg">	
<picture>
<source srcset="/assets/images/blog/customer-journey-map/cjm1.avif" type="image/avif"> 
<source srcset="/assets/images/blog/customer-journey-map/cjm1.webp" type="image/webp"> 
<img class="image" loading="lazy" src="/assets/images/blog/customer-journey-map/cjm1.jpg" alt="Первый этап разработки карты потребительского опыта" width="695" height="344" itemprop="contentUrl">
</picture>
<div class="figcaption">
Путь выбранного ранее персонажа
</div>
</div>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Шаг&nbsp;2. Выясните задачи, мысли и&nbsp;эмоции персонажа</h3>
<p> Вживитесь в&nbsp;роль максимально полно. Задача&nbsp;— на&nbsp;каждом этапе пути понять эмоциональную реакцию, ожидания, надежды и&nbsp;мысли персонажа. Что хочет достичь? Что чувствует? Какие ожидания? О чем думает?
</p>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Шаг&nbsp;3. Определите каналы коммуникации и&nbsp;точки контакта</h3>
 <p>Осознайте, как компания присутствует в&nbsp;опыте персонажа на&nbsp;каждом этапе. Как компания появляется, как персонаж с&nbsp;ней контактирует или потенциально может контактировать. Варианты: сайт, СМИ, сплетни, рассылка, колцентр, шоурумы и&nbsp;пр. Если на&nbsp;каком-то этапе компания не&nbsp;присутствует, это важно отметить.
</p>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Шаг&nbsp;4. Выявите барьеры</h3>
 <p>Задача компании&nbsp;— легко и&nbsp;комфортно провести человека от&nbsp;момента осознания потребности до&nbsp;момента, когда он&nbsp;становится лояльным клиентом. Что в&nbsp;силах затормозить этот процесс? Для каждого этапа выявите факторы, которые могут помешать переходу клиента к&nbsp;следующему шагу. 
</p>


<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/customer-journey-map/cjm2.jpg">	
<picture>
<source srcset="/assets/images/blog/customer-journey-map/cjm2.avif" type="image/avif"> 
<source srcset="/assets/images/blog/customer-journey-map/cjm2.webp" type="image/webp"> 
<img class="image" loading="lazy" decoding="async" src="/assets/images/blog/customer-journey-map/cjm2.jpg" alt="Визуализация выполненных шагов по созданию карты потребительского опыта" width="686" height="915" itemprop="contentUrl">
</picture>
</div>

</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Шаг&nbsp;5. Определите действия компании</h3>
 <p>После описания потребительского опыта решите, что компания сделает для нивелирования негативных переживаний клиента, как будет преодолевать барьеры.
</p>
<p>Действительно&nbsp;ли на&nbsp;каждом этапе компания на&nbsp;100% помогает клиенту справиться с&nbsp;задачей? Если нет, то&nbsp;как усилить полезность компании?</p>
<p>Возможно вы&nbsp;выявите «слепые пятна»&nbsp;— стадии потребительского опыта, о&nbsp;которых вам известно чрезвычайно мало. Запланируйте дополнительное исследование.</p>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Шаг&nbsp;6. Назначьте ответственных</h3>
 <p>Определили действие&nbsp;— определите кто сделает.
</p>

<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/customer-journey-map/cjm3.jpg">	
<picture> 
<source srcset="/assets/images/blog/customer-journey-map/cjm3.avif" type="image/avif"> 
<source srcset="/assets/images/blog/customer-journey-map/cjm3.webp" type="image/webp"> 
<img class="image" loading="lazy" src="/assets/images/blog/customer-journey-map/cjm3.jpg" alt="Завершающий этап составления карты потребительского опыта" width="695" height="609" itemprop="contentUrl">
</picture>
</div>


<p>&nbsp;</p>
<p>В&nbsp;последних двух шагах&nbsp;&mdash; смысл предыдущей работы. Мы&nbsp;получаем список задач и&nbsp;можем приступить к&nbsp;реализации. <strong>Благодаря карте потребительского опыта вся активность по&nbsp;продвижению приобретает цельный характер. Мы&nbsp;понимаем, какие маркетинговые инструменты использовать, зачем и&nbsp;когда.</strong> Появляется ощущение контроля над развитием бизнеса. </p>
</section>
</section>

<section class="row-gap--m" id="CJM-tools">
<h2 class="section__title h1 bold ">Инструменты для разработки CJM</h2>

<p>Опубликовал статью и&nbsp;получил отзыв от&nbsp;UXPressia&nbsp;&mdash; компании, которая развивает онлайн-сервис построения карт потребительского опыта.</p> 

<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/customer-journey-map/UXPressia@1x.jpg">	
<picture>
<source srcset="/assets/images/blog/customer-journey-map/UXPressia@1x.avif" type="image/avif"> 
<source srcset="/assets/images/blog/customer-journey-map/UXPressia@1x.webp" type="image/webp"> 
<img class="image" loading="lazy" src="/assets/images/blog/customer-journey-map/UXPressia@1x.jpg" alt="твит UXPressia после прочтения моей статьи" width="540" height="270" itemprop="contentUrl">
</picture>
<div class="figcaption">
Обратная связь UXPressia в&nbsp;Твиттере
</div>
</div>

<p>Решил дополнить материал полезными ссылками. Составить CJM можно и&nbsp;на&nbsp;школьной доске, но, боюсь, поддерживать ее&nbsp;будет неудобно. А&nbsp;если вам необходимо переслать карту партнерам или инвесторам, то&nbsp;скорее всего вы&nbsp;захотите, чтобы она была не&nbsp;только информативна, но&nbsp;и&nbsp;хорошо выглядела. В&nbsp;этом могут помочь сервисы. </p>

<ul class="additive-spacing">
<li class="list-li"> <a  class="link" href="https://uxpressia.com/">UXPressia</a>. Компания предлагает готовые шаблоны для разных сфер бизнеса. Есть бесплатный тариф: можно составить одну карту без ограничения возможностей ее&nbsp;форматирования. Для работы потребуется минимальное знание английского языка. Локализации сайта и&nbsp;интерфейса сервиса нет, но&nbsp;саму карту можно составлять на&nbsp;любом языке.  </li>
<li class="list-li"> <a  class="link" href="https://www.smaply.com/">Smaply</a>. Еще один сервис для создания CJM.  </li>
<li class="list-li"> Touchpoint Dashboard. Судя по&nbsp;обзорам на&nbsp;youtube, это комбайн в&nbsp;мире CJM . Однако сайт приложения уже долго не&nbsp;открывается. Судьба сервиса под вопросом. </li>
<li class="list-li"> <a  class="link" href="https://miro.com/templates/customer-journey-map/"> Miro</a> (до&nbsp;2019&nbsp;г. &mdash;&nbsp;RealtimeBoard). Онлайн аналог маркерной доски для совместной работы. Для создания карт потребительского опыта есть специальный шаблон.  </li>

</ul>

</section>

<p class="mb-m mt-m">Идеи для развития:</p>
<ul class="addictive-spacing">
<li class="list-li">
  <a href="/blog/kak-uznat-silnogo-marketologa/" class="link"> Как узнать сильного маркетолога на&nbsp;собеседовании</a>
</li>
<li class="list-li">
  <a href="/blog/oshibki-v-swot-analize-i-kak-ih-izbezhat/" class="link">Разбираем ошибки в&nbsp;SWOT-анализе: как их&nbsp;избежать и&nbsp;провести анализ правильно </a>
</li>
<li class="list-li">
  <a href="/blog/share-of-searches/" class="link"> Доля в&nbsp;поиске&nbsp;&mdash; новый показатель в&nbsp;маркетинге</a>
</li>
<li class="list-li">
  <a href="/blog/system-marketing/" class="link">Таблицы и&nbsp;схемы не&nbsp;делают маркетинг системным</a>
</li>
<li class="list-li">
  <a href="/blog/iskusstvennyj-intellekt-v-marketinge/" class="link"> Заменит ли ИИ маркетолога?</a>
</li>
</ul>