---
layout: post
title: "Искусственный интеллект в маркетинге: угроза или будущее профессии?"
name: "ИИ&nbsp;в&nbsp;маркетинге: заменит&nbsp;ли искусственный интеллект маркетологов?"
description: "Искусственный интеллект уже меняет маркетинг, но&nbsp;сможет&nbsp;ли он&nbsp;полностью заменить маркетологов? Разбираем тренды, прогнозы и&nbsp;новые возможности. "
date:   2017-10-12
last_modified_at: 2022-08-05
categories: мнение
permalink: "/blog/iskusstvennyj-intellekt-v-marketinge/"
tags: "маркетолог"
image: /assets/images/tizers/tizer-45.jpg
keywords: "Искусственный Интеллект, Маркетинг, Тренды, Прогнозы, Анализ Данных, Машинное Обучение, Блокчейн, Криптовалюты, Технологии, Стратегии, Бренды, Контент, Мерчендайзинг, Реклама, Клиенты, Анализ Информации, Прогнозирование, Управление Проектами, Дмитрий Бартошевич"
eleventyNavigation:
  key: iskusstvennyj-intellekt-v-marketinge
  title: "ИИ в маркетинге: заменит ли искусственный интеллект маркетологов?"
  parent: blog 
relatedIdeas:
  - title: "Искусственный интеллект в&nbsp;маркетинге: компании внедряют, клиенты ненавидят"
    url: "/blog/kompanii-vnedryayut-ii-klienty-protiv/"
  - title: "Новые технологии для бизнеса: тренды, инсайты и&nbsp;реальные примеры"
    url: "/blog/novye-tehnologii-dlya-biznesa/"
  - title: "Маркетинг, который вызывает доверие, — главное конкурентное преимущество"
    url: "/blog/konkurentnoe-preimushhestvo/"
  - title: "Как маркетолога отличить от брехуна"
    url: "/blog/otlichie-marketologa-ot-brexuna/"
  - title: "Игра в «Спасителя»: как маркетологи становятся жертвами"
    url: "/blog/lovushka-dlya-marketologov-igra-spasitel/"
---

<p>Технологии кардинально меняют бизнес-процессы. О&nbsp;цифровой экономике говорят в&nbsp;выпусках новостей, ток-шоу, на&nbsp;бизнес-порталах. И&nbsp;разговорами дело не&nbsp;ограничивается. Сбербанк России, например, <a  class="link"  href="https://aif.ru/money/economy/7_prognozov_ot_grefa_glava_sberbanka_predskazal_nashe_blizhayshee_budushchee" >перестал брать на&nbsp;работу юристов</a>, которые не&nbsp;умеют работать с&nbsp;нейросетью. Мир меняется. Рассуждаю, к&nbsp;чему готовиться и&nbsp;что делать <b>маркетологам</b>. </p>



<nav class="toc toc_divided">
 <h2 class="toc__title">Содержание</h2>
 <ul class="additive-spacing">
		  <li>
		    
		      <span class="tocnumber">1 </span>
			  <a  class="link" href="#ii-zdravyy-podkhod">ИИ: здравый подход
		    </a>
		  </li>
		  <li class="additive-spacing">
		    
		      <span class="tocnumber">2 </span>
			  <a  class="link" href="#zony-primeneniya-ii">Зоны ближайшего развития маркетинга
		    </a>
		  
		  <ul class="additive-spacing">
			<li class="level2">
		   
		      <span class="tocnumber">a) </span>
			   <a  class="link" href="#analiz-informacii">анализ информации и&nbsp;прогнозирование
		    </a>
		  </li>
		  <li class="level2">
		   
		      <span class="tocnumber">б) </span>
			   <a  class="link" href="#kontent">контент
		    </a>
		  </li>
			<li class="level2">
			
				 <span class="tocnumber">в) </span> <a  class="link" href="#merchandayzing">мерчендайзинг
			 </a>
		 </li>
		 <li class="level2">
			
				<span class="tocnumber">г) </span>
				<a  class="link"  href="#rabota-s-klientami">работа с&nbsp;клиентами
			</a>
		</li>
		<li class="level2">
		 
			 <span class="tocnumber">д)</span><a class="link" href="#reklama">реклама</a>
	 </li>
	 </ul>
	 </li>
		 
</ul>
</nav>

<section class="row-gap--m" id="ii-zdravyy-podkhod">
<h2 class="section__title h1 bold ">ИИ: здравый подход</h2>
<div class="with-side row-gap--m">
<div class="side"><p>Искусственный интеллект&nbsp;— в&nbsp;тексте&nbsp;— термин, объединяющий технологии машинного обучения, глубокого обучения, генерации естественного языка, распознавания изображений и&nbsp;речи. </p></div>
<p>Агентство Wakefield Research <a class="link" href="https://web.archive.org/web/20170501204308/http://www.prnewswire.com/news-releases/80-percent-of-all-marketing-executives-predict-artificial-intelligence-will-revolutionize-marketing-by-2020-300377076.html" >исследовало влияние&nbsp;ИИ на&nbsp;маркетинг</a>, опросив 500&nbsp;маркетологов.&nbsp;80% уверены: искусственный интеллект кардинально изменит отрасль. Но&nbsp;при этом&nbsp;74% респондентов признались: они не&nbsp;понимают, как именно использовать&nbsp;ИИ на&nbsp;практике. В&nbsp;этом парадокс: вера в&nbsp;революцию без понимания механики.</p></div>


<p>Хайп и&nbsp;модные тренды&nbsp;&mdash; плохие советчики. В&nbsp;порыве восторга легко принимать поспешные, необдуманные решения. А&nbsp;потом&nbsp;&mdash; разочарование и&nbsp;ощущение потраченного впустую времени. Не&nbsp;нужно поддаваться ажиотажу и&nbsp;бездумно становится &laquo;техническим евангелистом&raquo;. Придавать технологиям сакральный оттенок&nbsp;&mdash; лишнее. Заниматься компании машинным обучением ради машинного обучения&nbsp;&mdash; по&nbsp;меньшей мере, нерационально</p>

<p>Машины уверенно заходят на&nbsp;&laquo;территорию людей&raquo;. Конкурировать человеку с&nbsp;другими людьми уже недостаточно. Но&nbsp;бояться ИИ&nbsp;&mdash; тоже ошибка. </p>

<p>Технологии&nbsp;— это инструмент. Смысл любого инструмента лежит вне его. Возьмем, например, шариковую ручку. Смысл ручки&nbsp;— не&nbsp;в&nbsp;ней самой, а&nbsp;в&nbsp;тексте, который я&nbsp;пишу в&nbsp;блокноте. Следует&nbsp;ли мне бороться за&nbsp;шариковые ручки и&nbsp;бояться компьютеров с&nbsp;текстовыми редакторами? Нет, конечно. Компьютеры помогают мне писать и&nbsp;редактировать текст быстрее. Но&nbsp;если я&nbsp;путаю средство и&nbsp;цель, если смысл письма нахожу в&nbsp;письме ручкой, то&nbsp;тогда в&nbsp;компьютерах я&nbsp;могу увидеть угрозу. </p>
<p>Если чувствуете тревогу от&nbsp;темпов изменений&nbsp;&mdash; задайте себе главный вопрос: &laquo;Зачем я&nbsp;это делаю?&raquo;. Пишите&nbsp;ли вы, исследуете, изучаете&nbsp;&mdash; важно понимать, какой личный смысл за&nbsp;этим стоит. Чем выше уровень осознанности, тем проще понять, где машины будут вам в&nbsp;помощь, а&nbsp;не&nbsp;во&nbsp;вред. И&nbsp;делать это стоит регулярно&nbsp;&mdash; мир меняется стремительно, и&nbsp;наша задача&nbsp;&mdash; успевать переосмысливать себя вместе с&nbsp;ним.</p>
</section>





<section class="row-gap--m" id="zony-primeneniya-ii">
<h2 class="section__title h1 bold ">Зоны ближайшего развития маркетинга </h2>
<p>Я&nbsp;выделил несколько сфер, <strong>где искусственный интеллект уже сейчас меняет маркетинг</strong>. </p>

<article class="row-gap--m " id="analiz-informacii">
<h3 class="h2 bold mb-m">а) анализ информации и&nbsp;прогнозирование</h3>

<section>
<h4 class="bold">Интеграция данных</h4>
<p>Технологии помогут объединить данные о&nbsp;клиентах, полученных с&nbsp;разных источников и&nbsp;каналов. Это приведет к&nbsp;более глубокому и&nbsp;целостному пониманию потребительского поведения и&nbsp;принципиально изменит взаимодействие компаний и&nbsp;клиентов, <strong>подход к&nbsp;созданию и&nbsp;развитию брендов.</strong> </p>
</section>

<section>
<h4 class="bold">Мониторинг брендов</h4>
<p>С&nbsp;развитием искусственного интеллекта появится возможность собирать и&nbsp;обрабатывать больше данных о&nbsp;клиентах. Например, развилась технология распознавания изображений и&nbsp;появился сервис Netra. Netra сканирует фотографии, выложенные в&nbsp;социальных сетях и&nbsp;анализирует&nbsp;те, где присутствуют логотипы и&nbsp;названия брендов. Сервис помогает понять, в&nbsp;каком контексте бренд (ваш или конкурента) присутствует, кто бренд использует, как часто и&nbsp;в&nbsp;каких ситуациях, какие фотографии с&nbsp;брендом собирают больше откликов.</p>


<div class="mt-m"  itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/hype/hype3.jpg">
	<picture>
               <source srcset="/assets/images/blog/hype/hype3.avif" type="image/avif">
			    <source srcset="/assets/images/blog/hype/hype3.webp" type="image/webp">
				<img class="image" loading="lazy" decoding="async" src="/assets/images/blog/hype/hype3.jpg" alt="пример работы Netra" width="471" height="562"  itemprop="contentUrl" >
    </picture>
	<div class="figcaption">
		Сервис обнаружил логотипы Starbucks и&nbsp;Toronto Blue Jays в&nbsp;твите о&nbsp;чьем-то прекрасном дне. <br>Источник: канал Netra на&nbsp;Medium.com. 
	</div>
</div>
</section>

<section>
<h4 class="bold">Автоматизация тестирования</h4>
<p>A/Б-тестирование перейдет в&nbsp;автоматический режим. Искусственный интеллект сам определит элементы для сравнения, внесет изменения, измерит результат, снова начнет экспериментировать и&nbsp;так постепенно будет повышать целевые показатели. </p>
</section>

<section>
<h4 class="bold">Прогностическая аналитика</h4>
<p>Технологии возьмут на&nbsp;себя не&nbsp;только рутинные операции по&nbsp;анализу данных, но&nbsp;и&nbsp;некоторые прогностические функции. Например, смогут определить вероятность перехода клиентов к&nbsp;конкурентам и&nbsp;в&nbsp;случае необходимости рекомендовать упреждающие виды активности.</p>
</section>
</article>

<article class="row-gap--m " id="kontent">
<h3 class="h2 bold mt-m mb-m">б) контент</h3>

<section>
<h4 class="bold">Автоматическая генерация</h4>
<p>Переводить цифровую информацию в&nbsp;осмысленный текст технологии умеют уже сейчас. Финансовые сводки для Yahoo Finance, например, пишет не&nbsp;человек. Дальше&nbsp;— больше. Агентство стратегических инициатив прогнозирует <a  class="link"  href="https://www.cossa.ru/149/117262/">исчезновение профессий журналиста и&nbsp;копирайтера</a> в&nbsp;ближайшие 15&nbsp;лет. </p>
</section>

<section>
<h4 class="bold">Персонализация сообщений</h4>
<p>Готовить коммерческие предложения будут роботы. Начало положено. <a  class="link"  href="https://www.persado.com/" >Сервис Persado</a> подбирает слова, фразы, изображения так, чтобы увеличить уровень эмоциональной вовлеченности клиента.</p>
</section>

<section>
<h4 class="bold">SMM-автоматизация</h4>
<p>Возможно через несколько лет предприятия вместо найма SMM-специалиста заключат договор с&nbsp;сервисами, которые в&nbsp;автоматическом режиме будут анализировать клиентов и&nbsp;подписчиков, собирать в&nbsp;интернете интересную для них информацию, приводить в&nbsp;нужный вид и&nbsp;размещать в&nbsp;сетях.</p>
</section>
</article>


<article class="row-gap--m " id="merchandayzing">
<h3 class="h2 bold mt-m mb-m">в) мерчендайзинг</h3>
<p>Крупнейшая европейская торговая сеть внедрила <a  class="link" href="https://www.youtube.com/watch?v=rZ2VfhyUXYM&amp;feature=youtu.be&amp;t=5m5s">систему, которая отслеживает поведение каждого покупателя в&nbsp;торговом зале</a>: на&nbsp;что обращает внимание, какие товары покупает и&nbsp;т.&nbsp;д. Далее система предлагает владельцу магазина переставить товары таким образом, чтобы увеличить максимальный чек. Система работает в&nbsp;автоматическом режиме и&nbsp;— по&nbsp;оценкам&nbsp;— в&nbsp;16&nbsp;раз лучше, чем мерчендайзер-человек или маркетолог-аналитик. Ожидаю, со&nbsp;временем подобные системы станут доступнее, проще и&nbsp;их&nbsp;начнут использовать даже в&nbsp;минском «Азарэнне» :-) </p>
</article>

<article class="row-gap--m " id="rabota-s-klientami">
<h3 class="h2 bold mt-m mb-m">г) работа с&nbsp;клиентами </h3>

<section>
<h4 class="bold">Гиперперсонализация</h4>
<p>Искусственный интеллект поможет глубже понимать потребительское поведение. Общение с&nbsp;клиентами станет персонифицированным. Рекомендации и&nbsp;предложения компании будут основаны на&nbsp;точном понимании потребностей и&nbsp;предпочтений конкретного потребителя. В&nbsp;том или ином виде подобные технологии уже использует Google, Facebook, Yandex, Amazon, Netflix. </p>
</section>

<section>
<h4 class="bold">Умные чат-боты</h4>
<p>Чат-боты из&nbsp;раздражающих всплывающих окон превратятся в&nbsp;личных помощников клиентов, готовых отвечать на&nbsp;вопросы и&nbsp;консультировать в&nbsp;режиме 7/24.</p>
</section>
</article>

<article class="row-gap--m" id="reklama">
<h3 class="h2 bold  mt-m mb-m">д) реклама </h3>
<p>Программы решат, какую рекламу стоит показывать, кому, когда и&nbsp;по&nbsp;какой цене. Информационные рассылки и&nbsp;коммерческие предложения станут приходить в&nbsp;то&nbsp;время и&nbsp;по&nbsp;тем каналам, где вероятность отклика выше. </p>
</article>
</section>



<p class="mt-2xl post__note h2">ИИ&nbsp;&mdash; мощный инструмент, который при правильном применении радикально меняет маркетинг. Но&nbsp;его внедрение требует трезвого подхода, высокой осознанности и&nbsp;четкого понимания целей, чтобы избежать бессмысленных затрат и&nbsp;разочарований.</p>


