---
layout: post
title: "Как я создал сайт для психолога: ошибки, решения, результаты"
name: "Как создать сайт для психолога: мой опыт, ошибки и&nbsp;лучшие решения"
description: "Как создать сайт для психолога? Разбираю ключевые принципы: дизайн, выбор движка, структура контента и&nbsp;ошибки, которых стоит избегать."
date:   2017-02-05
last_modified_at: 2022-02-04
categories: опыт
permalink: "/blog/sajt-dlya-psihologa-kejs/"
hasPullQuote: true
citations:
  - type: "VideoObject"
    name: " Сайт психолога. 5 типичных ошибок и 10+ полезных советов " 
    url: "https://www.youtube.com/watch?v=1y5jNAP28kE" 
    embedUrl: "https://www.youtube.com/embed/1y5jNAP28kE"
    thumbnailUrl: "https://i.ytimg.com/vi/1y5jNAP28kE/hqdefault.jpg"
    description: "Выступление на международной онлайн-конференции Психологическая практика-онлайн: возможности и перспективы. 2 марта 2018г"
    uploadDate: "2018-04-19" 
    author:
      - type: "Person"
        name: "Дмитрий Бартошевич"
    publisher: 
      type: "Organization"
      name: "Dźmitry Bartašėvič"

image: /assets/images/tizers/tizer-36.jpg
eleventyNavigation:
  key: sajt-dlya-psihologa-kejs
  title: "Как создать сайт для психолога: мой опыт, ошибки и лучшие решения"
  parent: blog 
---


<p>Для психолога Натальи Масюкевич сверстал сайт&nbsp;— <a class="link" href="https://www.vitaline.by">www.vitaline.by</a>. Расскажу о&nbsp;ходе работы.</p>

<figure class="figure max-width-text"  itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1642407624/site/vitaline_site.jpg">	
		<img
		class="image"
		loading="lazy"
		
		src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1642407624/site/vitaline_site.jpg"
		srcset="
		  https://res.cloudinary.com/bartoshevich/image/upload/w_290,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 290w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 706w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_984,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 984w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_1220,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 1220w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_1412,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 1412w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_1650,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 1650w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_1860,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 1860w,
		  https://res.cloudinary.com/bartoshevich/image/upload/w_2000,f_auto,q_auto/v1642407624/site/vitaline_site.jpg 2000w
		"
		sizes="(min-width: 1140px) 707px, (min-width: 700px) 64.52vw, (min-width: 440px) 93.33vw, calc(19.17vw + 308px)"
		width="2000"
		height="1500"
		alt="Демонстрирую сайт психолога Натальи Масюкевич на разных устройствах"
		itemprop="contentUrl"
	  >
	  
<figcaption class="figcaption" itemprop="description">
первый экран vitaline.by
</figcaption>
</figure>

<p>Я&nbsp;не&nbsp;ставил задачей сделать сайт, который похвалил&nbsp;бы Артемий Лебедев. У&nbsp;меня нет для этого нужных знаний, да&nbsp;и&nbsp;подобная цель&nbsp;— от&nbsp;лукавого. У&nbsp;Натальи сайта раньше не&nbsp;было, четкие критерии и&nbsp;требования к&nbsp;ресурсу отсутствовали. В&nbsp;подобной ситуации требуется площадка для тестирования и&nbsp;база для сбора обратной связи и&nbsp;статистики. Нужен не&nbsp;сайт-эталон, а&nbsp;сайт&nbsp;— точка отсчета в&nbsp;развитии. Работу начал с&nbsp;определения необходимых составляющих «базового пакета» сайта психолога.</p>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Сфокусировался на&nbsp;пользе</h2>
<p>Процентов девяносто психологов, с&nbsp;которыми сталкивался, описывают себя через инструменты и&nbsp;ничего не&nbsp;говорят о&nbsp;пользе. «Я&nbsp;— гештальт-терапевт, использую приемы арт-терапии». Это выглядит так, как если&nbsp;бы строительная компания на&nbsp;вопрос «Кто&nbsp;вы?» отвечала «мы&nbsp;используем бетон марки 400&nbsp;— B30». «Наверное, это круто»,&nbsp;— подумает обыватель, но&nbsp;не&nbsp;сможет соотнести это со&nbsp;своими проблемами, задачами и&nbsp;целями.</p>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Перешел на&nbsp;язык боли клиента</h2>

<p>В 2010 году я&nbsp;создал проект <a  class="link" href="https://www.psycareer.ru" >www.psycareer.ru</a>&nbsp;— рассказывал психологам, <strong>как привлекать клиентов</strong> и&nbsp;зарабатывать частными консультациями. Однажды я опубликовал реальный клиентский запрос и несколько описаний психологов. Посетителям предложил выбрать подходящего под запрос специалиста. В комментариях многие написали, что сделать выбор невозможно: тексты психологов слишком общие и непонятно, с какими проблемами каждый из них реально работает. Эти описания были настоящими — именно так психологи рассказывают о себе. И при этом они сами признают, что по таким описаниям трудно понять, с чем к ним можно обратиться.</p>


</section>

<div class="pull-quote space-block row-gap--m max-width-text">
<p> В&nbsp;марте 2018&nbsp;г. выступил на&nbsp;международной онлайн-конференции «Психологическая практика-онлайн: возможности и&nbsp;перспективы». <strong>Рассказывал об&nbsp;ошибках, которые допускают психологи на&nbsp;своих сайтах, и&nbsp;рекомендовал полезные инструменты.</strong> </p>
 
 
 <figure class="figure max-width-text">						
			<div class="video">
				   <a class="video__link" href="https://youtu.be/1y5jNAP28kE" target="_blank" rel="noopener  noreferrer">
					   <picture>
						   <source srcset="https://i.ytimg.com/vi_webp/1y5jNAP28kE/maxresdefault.webp" type="image/webp">
						   <img loading="lazy" decoding="async" class="video__media " src="https://i.ytimg.com/vi/1y5jNAP28kE/maxresdefault.jpg" alt="Видео выступления Дмитрия Бартошевича на конференции" width="1280" height="720">
					   </picture>
					   <span class="element--hidden">Видео: Дмитрий Бартошевич рассказывает на ошибки, которые делают владельцы сайтов</span>
				   </a>
				   <button class="video__button" aria-label="Запустить видео">
					   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
				   </button>
		   </div>
		   <figcaption class="figcaption">
			<p>«Сайт психолога.&nbsp;5&nbsp;типичных ошибок и&nbsp;10+&nbsp;полезных советов». Запись выступления на&nbsp;конференции</p>
		   </figcaption>
		   </figure>
 
</div>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Обозначил проекты и&nbsp;результаты</h2>

<p>Заявить о&nbsp;пользе&nbsp;— мало. Слова без дел ничего не&nbsp;стоят. Заявили о&nbsp;пользе&nbsp;— расскажите, что полезного уже сделали.</p>

<p>Хвастовство отталкивает. Хотите убедительно рассказывать о&nbsp;себе&nbsp;— сухо перечисляйте проекты, обозначайте задачи, которые выполняли, говорите о&nbsp;результатах.</p>


<table>
<caption><span class="secondary-color">пример:</span> <span class="regular">«Я&nbsp;помогу леворукому ребенку сформировать пространственные представления, потому что...»</span></caption>
<thead>
<tr>
<th>Пустые заявления</th>
<th>Базовые компетенции</th>
<th>Доказанная экспертиза</th>
</tr>
</thead>
<tbody>
<tr>
<td><i>я&nbsp;в&nbsp;этом лучший в&nbsp;мире</i></td>
<td><i>у&nbsp;меня психологическое образование</i></td>
<td><i>я&nbsp;15&nbsp;лет провожу коррекционные занятия с&nbsp;леворукими детьми</i></td>
</tr>
</tbody>
</table>

</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Ответил на&nbsp;потенциальные вопросы </h2>
<p>Вопрос не&nbsp;в&nbsp;том, зачем сайт психологу. Важно понимать, зачем сайт психолога нужен клиенту. Напр., уточнить адрес кабинета и&nbsp;понять, как добраться. Отсюда → указываем адрес, объясняем, как лучше добраться, показываем карту. Как записаться на&nbsp;прием, что ожидать от&nbsp;первой консультации, почему важно принести медицинскую карту ребенка,&nbsp;— на&nbsp;эти и&nbsp;другие вопросы следует ответить на&nbsp;сайте. </p>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Убрал из&nbsp;дизайна все, что отвлекает</h2>
<p>Дизайн сайта должен соответствовать мотивам целевой аудитории ресурса. Если пользователи нацелены на&nbsp;поиск полезной для себя информации, то&nbsp;ничего не&nbsp;должно отвлекать от&nbsp;содержания. Все мигающее, всплывающее, заслоняющее&nbsp;— под запретом.</p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Выбрал движок сайта</h2>
<p>Сначала движком сайта выбрал вордпрес и&nbsp;начал занудно искать простую и&nbsp;минималистичную тему. Через час понял, что занимаюсь не&nbsp;тем. Вместо того, чтобы думать, как создать содержательно интересный ресурс, я&nbsp;копался в&nbsp;настройках. Отказался в&nbsp;принципе от&nbsp;вордпреса и&nbsp;начал искать другой движок.</p>

<p>Остановился <a  class="link" href="//blogengine.ru/">на&nbsp;«Эгее»</a>. Мне понравился лаконичный дизайн и&nbsp;— по&nbsp;отзывам&nbsp;— отсутствие избыточности в&nbsp;функциональности. Когда несколько пользователей сказали, что авторов ничего не&nbsp;отвлекает от&nbsp;содержания, я&nbsp;подумал «Да&nbsp;это&nbsp;же то, что нужно!»</p>

<p>Установил движок на&nbsp;сервер и&nbsp;начал разбираться. Нет админской панели, из&nbsp;настроек&nbsp;— указываю название блога, разрешаю комментирование и&nbsp;социальные кнопки. Все. Больше ничего нет. Идеальный вариант для тех, кто хочет сосредоточенно писать и&nbsp;не&nbsp;отвлекаться на&nbsp;html, плагины и&nbsp;прочее.</p>

<p>Из&nbsp;минусов&nbsp;— закрытый код и&nbsp;— насколько понял&nbsp;— небольшая команда разработчиков. Что это означает:</p>
<ul>
	<li class="list-li">Поддержки пользователей нет.</li>
	<li class="list-li">Функциональность зависит от&nbsp;одного человека&nbsp;— Ильи Бирмана&nbsp;— автора движка. Илье не&nbsp;нравится, когда в&nbsp;блогах часть текста прячут «под кат», и&nbsp;подобной возможности у&nbsp;пользователей «Эгеи» нет. Илья не&nbsp;принимает значимость карты сайта для поисковых роботов и&nbsp;в&nbsp;«Эгее» нет sitemap.xml.</li>
	<li class="list-li">Оперативность обновлений и&nbsp;стабильность развития движка под вопросом. Неизвестно, что будет с&nbsp;«Эгеей», стоит только автору заболеть или увлечься иными проектами.</li>
</ul> 
<p>А&nbsp;еще в&nbsp;«Эгее» нельзя добавить страницы. Главную страницу, страницы с&nbsp;контактами и&nbsp;перечислением проектов я&nbsp;написал на&nbsp;html с&nbsp;нуля.</p>

<p>Сайт работает уже месяц. Идеи, замечания заношу в&nbsp;Trello. Как накопится критическая масса&nbsp;— возьмусь за&nbsp;изменения.</p>

<p>Не&nbsp;факт, что внешний вид сайта не&nbsp;изменится. Пока разбирался с&nbsp;версткой, возникло желание отказаться от&nbsp;блогового движка и&nbsp;баз данных, верстать и&nbsp;помещать на&nbsp;сервер готовые html-страницы. Поиск привел меня к&nbsp;генераторам статических сайтов. Изучаю плюсы и&nbsp;минусы, тестирую. Но&nbsp;независимо от&nbsp;внешнего вида и&nbsp;технической составляющей, принципы, которые легли в&nbsp;основу сайта, останутся прежними.</p>




<section class="row-gap--m space-block">
 <h3 class="heading--gamma">Дополнение: выбор генератора статических сайтов</h3>
<p class="mt-m mb-m"><span class="bold">Updated</span></p>
<div class="with-side">
<p>После изучения и&nbsp;тестирования я&nbsp;полностью перевел сайт на&nbsp;Jekyll&nbsp;— генератор статических сайтов.</p>
<div class="row">
<div class="c-5 row-gap--m">
<p class=" italic">Плюсы </p>
<ul>
	<li class="list-li">нет баз данных → высокая скорость загрузки;</li>
	<li class="list-li">нет лишней функциональности;</li>
	<li class="list-li">100% контроль работы;</li>
	<li class="list-li">безопасность;</li>
	<li class="list-li">бесплатный хостинг на&nbsp;GitHub.</li>
</ul>
</div>
<div class="c-5 row-gap--m">
<p class="italic">Минусы</p>
<ul>
	<li class="list-li">более высокий «порог входа» (в&nbsp;сравнении с&nbsp;тем&nbsp;же wordpress)</li>
</ul>
</div>
</div>

<div class="side">
<p>Ссылки для интересующихся:</p>
<ul>
	<li class="list-li"><a  class="link" href="http://prgssr.ru/documentation/" >Документация Jekyll</a></li>
	<li class="list-li"><a  class="link" href="https://jekyllrb.com/" >Сайт Jekyll</a></li>
</ul>
</div>
</div>
</section>
</section>