---
layout: post
title: "Почему клиентский опыт решает все в интернет-магазине"
name: "Клиентский опыт в&nbsp;интернет-магазине: главный фактор успеха"
description: "Успех интернет-магазина&nbsp;&mdash; это не&nbsp;только технологии, но&nbsp;и&nbsp;понимание клиента: карты потребительского опыта и&nbsp;адаптация помогают увеличить продажи. "
date:   2017-05-16
last_modified_at: 2024-08-17
categories: опыт
permalink: "/blog/klientskij-opyt-v-ecommerce/"
tags: "интернет-маркетинг семинары"
keywords: "маркетинг интернет-магазинов"
image: /assets/images/tizers/tizer-40.jpg
eleventyNavigation:
  key: klientskij-opyt-v-ecommerce
  title: "Клиентский опыт в интернет-магазине: главный фактор успеха"
  parent: blog 
relatedIdeas:
  - title: "Доступность (accessibility) сайтов&nbsp;&mdash; новая норма"
    url: "/blog/accessibility/"
  - title: "1С-Битрикс: какие возможности платформы вы&nbsp;упускаете"
    url: "/blog/1s-bitriks/"
  - title: "Ошибки и&nbsp;решения при создании сайта агроусадьбы для иностранных гостей"
    url: "/blog/sajt-agrousadby/"
  - title: "Эффективные способы оптимизации изображений"
    url: "/blog/optimizaciya-izobrajenii/"
  - title: "Использование ChatGPT в&nbsp;маркетинге"
    url: "/blog/chatgpt-v-marketinge/"

---


<p>Cоздание интернет-магазина&nbsp;&mdash; это не&nbsp;просто техническая задача. Это искусство понимания потребностей клиента и&nbsp;создания уникального пользовательского опыта. Эту мысль я&nbsp;старался донести до&nbsp;участников семинара «Формула сайта: от&nbsp;идеи интернет-магазина до&nbsp;лидера отрасли», на котором выступал по приглашению компании «1С-Битрикс» и&nbsp;веб-студии «Новый сайт».</p> 

<figure  class="figure" itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/v1615123529/site/seminar110517.jpg">
<img src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1615123529/site/seminar110517.jpg"  alt="Дмитрий Бартошевич на бизнес-конференции рассказывает о CJM и маркетинговых стратегиях"  class="image" width="720" height="540" itemprop="contentUrl">
<figcaption class="figcaption">Фото: Арина Чернышева</figcaption>
</figure>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Фокусируйтесь на&nbsp;клиенте</h2>
<p>Мы&nbsp;часто забываем, что за&nbsp;каждым кликом&nbsp;&mdash; человек. Человек с&nbsp;потребностями, желаниями, страхами. Когда мы&nbsp;говорим о&nbsp;магазинах, то&nbsp;часто говорим о&nbsp;коде, дизайне, ассортименте. Но&nbsp;что насчет человека? Упускается основа, без которой развитие превращается в&nbsp;изматывающие крысиные бега.</p>



<p class="space-connected"> Дополнительные материалы</p>
<ul>
<li class="list-li">
  <a class="link" href="/blog/vospriyatie-klienta-uspeh/#distinction">Сущность маркетинга&nbsp;&mdash; в&nbsp;отличиях</a>
</li>
<li class="list-li">
  <a href="/blog/set-godin-eto-marketing/" class="link"> &laquo;Это маркетинг&raquo; Сета Година: в&nbsp;чем суть маркетинга на&nbsp;самом деле</a>
</li>
<li class="list-li">
  <a href="/blog/marketing-mind/" class="link"> Акция не&nbsp;сработает, если не&nbsp;думать как маркетолог</a>
</li>
</ul>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Карта потребительского опыта&nbsp;— ваш компас</h2>


<div class="with-side">
<p>О&nbsp;важности клиентов говорить модно. Чтобы забота о&nbsp;клиенте не&nbsp;превратилась в&nbsp;пустой лозунг, переходите от&nbsp;слов к&nbsp;действиям&nbsp;— <strong>составляйте карты потребительского опыта (customer journey map)</strong>. Это&nbsp;шанс увидеть мир глазами вашего покупателя и&nbsp;создать для него наилучший опыт.</p>
<div class="side"><p><a class="link" href="/blog/customer-journey-map/">Карта потребительского опыта</a>&nbsp;— отображение процесса взаимодействия человека с&nbsp;компанией, от&nbsp;момента осознания потребности до&nbsp;рекомендации предприятия.</p></div></div>


<p>Польза карт:</p>
<ul>
	<li class="list-li">
		создадите ясный план действий по&nbsp;развитию интернет-магазина;
	</li>
	<li class="list-li">
		в&nbsp;маркетинговой активности выделите главное, откажетесь от&nbsp;лишнего и&nbsp;избыточного;
	</li>
	<li class="list-li">
		снизите потери клиентов при переходе от&nbsp;одной стадии потребительского опыта к&nbsp;другой.
	</li>
</ul>

<figure class="figure"  itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/ecommerce/polza-cjm.jpg">
<picture>
               <source srcset="/assets/images/blog/ecommerce/polza-cjm.avif" type="image/avif">
			    <source srcset="/assets/images/blog/ecommerce/polza-cjm.webp" type="image/webp">
              <img class="image" loading="lazy" decoding="async" src="/assets/images/blog/ecommerce/polza-cjm.jpg" alt="Слайд с преимуществами Customer Journey Map (CJM) в маркетинге." width="720" height="540" itemprop="contentUrl" >
    </picture>
</figure>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Адаптация — ваше конкурентное преимущество</h2>
<p>Не&nbsp;ищите универсальных решений. Их&nbsp;не&nbsp;существует. Ваш интернет-магазин должен быть зеркалом вашего клиента. Отражать его потребности, желания, страхи. </p>
<p>Рассмотрим на&nbsp;примерах, как меняется значимость и&nbsp;содержание каталога продукции на&nbsp;сайте в&nbsp;зависимости от&nbsp;аудитории.</p>


<section class="row-gap--m space-tight">
  <h3 class="heading--gamma">Интернет-магазин мебели: адаптация под жильцов новостроек</h3>
   Интернет-магазин мебели X. Ориентирован на&nbsp;жильцов новостроек нового микрорайона. Вместо кучи элементов в&nbsp;каталоге сайт может предложить посетителям выбрать планировку своей квартиры, а&nbsp;затем&nbsp;— понравившийся дизайн интерьера. Заказанная мебель автоматически подойдет по&nbsp;цвету, стилю и&nbsp;размеру.

<figure class="figure full-bleed">
	<figcaption class="figcaption">
 Update: через несколько лет после конференции IKEA пришла к&nbsp;такой&nbsp;же идее и&nbsp;встроила выбор мебели в&nbsp;контекст жизни покупателя. </figcaption>
<div class="row mt-m">

<div class="c-3">
	<img
	class="image"
	loading="lazy"
	decoding="async"
	src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto:best/v1616576878/site/ikea-1.png"
	srcset="
	  https://res.cloudinary.com/bartoshevich/image/upload/w_295/f_auto/q_auto:best/v1616576878/site/ikea-1.png 295w,
	  https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto/q_auto:best/v1616576878/site/ikea-1.png 600w
	"
sizes="(min-width: 720px) 184px, (min-width: 680px) 600px, 90.28vw"
	width="600"
	height="900"
	alt="Системный маркетинг: Скриншот интерфейса магазина Икея для выбора планировки квартиры"
  >
  
</div>

<div class="c-3">
	<img
	class="image"
	loading="lazy"
	decoding="async"
	src="https://res.cloudinary.com/bartoshevich/image/upload/w_295/f_auto/q_auto:best/v1616576878/site/ikea-2.png"
	srcset="
	  https://res.cloudinary.com/bartoshevich/image/upload/w_295/f_auto/q_auto:best/v1616576878/site/ikea-2.png 295w,
	  https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto/q_auto:best/v1616576878/site/ikea-2.png 600w
	"
	sizes="(min-width: 720px) 184px, (min-width: 680px) 600px, 90.28vw"
	width="600"
	height="900"
	alt="Системный маркетинг: Икеа предлагает выбрать планировку квартиры"
  >
  
</div>


<div class="c-3">
	<img
	class="image"
	loading="lazy"
	decoding="async"
	src="https://res.cloudinary.com/bartoshevich/image/upload/w_295/f_auto/q_auto:best/v1616576878/site/ikea-3.png"
	srcset="
	  https://res.cloudinary.com/bartoshevich/image/upload/w_295/f_auto/q_auto:best/v1616576878/site/ikea-3.png 295w,
	  https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto/q_auto:best/v1616576878/site/ikea-3.png 600w
	"
	sizes="(min-width: 720px) 184px, (min-width: 680px) 600px, 90.28vw"
	width="600"
	height="900"
	alt="Системный маркетинг: Икеа предлагает выбрать дизайн-проект"
  >
  
</div>

</div>

</section>

<section class="row-gap--m space-connected">
  <h3 class="heading--gamma">Интернет-магазин сантехники: фокус на профессиональной аудитории</h3>
   Интернет-магазин сантехники Y. Значимую роль в&nbsp;потребительском опыте клиентов магазина играют дизайнеры интерьеров. Разумно на&nbsp;сайте не&nbsp;только показать каталог продукции, но&nbsp;и&nbsp;объяснить, что дизайнерам с&nbsp;этим интернет-магазином работать легко, удобно и&nbsp;полезно.
</section>

<section class="row-gap--m space-connected">
  <h3 class="heading--gamma">Магазин для пивоваров-энтузиастов: работа с экспертами</h3>
   Интернет-магазин оборудования и&nbsp;ингредиентов для варки домашнего пива Z. Целевая аудитория&nbsp;— эксперты. Они регулярно читают профессиональную литературу и&nbsp;общаются на&nbsp;тематических форумах, знают все точки продаж, удивляют друзей новыми вкусами и&nbsp;стилями пива. На&nbsp;сайте магазина их&nbsp;интересует только каталог: технологическое описание продукции (напр., хмель&nbsp;— альфа-кислотность, год урожая, аромат, таблица взаимозаменяемости, тип использования и&nbsp;пр.), стоимость, наличие или ожидаемое время доставки. Тратить ресурсы на&nbsp;рерайтинг статей о&nbsp;пиве и&nbsp;публикацию популярных рецептов&nbsp;— нецелесообразно.
</section>


<figure class="figure"  itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/ecommerce/seminar110517.jpg">
<picture>
               <source srcset="/assets/images/blog/ecommerce/seminar110517.avif" type="image/avif">
			    <source srcset="/assets/images/blog/ecommerce/seminar110517.webp" type="image/webp">
         <img class="image" loading="lazy" decoding="async" src="/assets/images/blog/ecommerce/seminar110517.jpg" alt="Дмитрий Бартошевич объясняет, как создавать карту клиентского опыта (CJM)" width="720" height="540"  title="Фото: Арина Чернышева" itemprop="contentUrl">
    </picture>
</figure>
</section>



