---
layout: post
title: "5 заблуждений о маркетинге, которые лишают вас прибыли"
name: "Пять заблуждений о&nbsp;маркетинге, которые тормозят рост вашего бизнеса"
description: "Вложения в&nbsp;маркетинг не&nbsp;окупаются? Дело может быть в&nbsp;неверных установках. Раскрываю 5&nbsp;заблуждений, которые мешают росту и&nbsp;сливают бюджет. Пора это исправить!"
date:   2017-07-23
last_modified_at: 2025-08-24
categories: мнение
permalink: "/blog/mify-o-marketinge/"
image: /assets/images/tizers/tizer-43.jpg
tags: "интернет-маркетинг семинары управление"
hasPullQuote: true
eleventyNavigation:
  key: mify-o-marketinge
  title: "5 заблуждений о маркетинге, которые лишают вас прибыли"
  parent: blog 
---



<p>19&nbsp;июля состоялся мастер-класс «<b>Торговый маркетинг</b>: от&nbsp;выбора месторасположения до&nbsp;привлечения посетителей и&nbsp;покупателей», который организовала медиагруппа «Арт-Престиж». Я&nbsp;был в&nbsp;числе спикеров и&nbsp;рассказал о&nbsp;пяти заблуждениях о&nbsp;маркетинге, из-за которых владельцы магазинов и&nbsp;торговых павильонов теряют деньги. В&nbsp;статье&nbsp;— основные идеи.</p>


    
<nav class="toc space-tight"  aria-labelledby="toc-title">
  <h2 class="toc__title" id="toc-title" >Содержание</h2>
  <ul class="additive-spacing">
    <li><span class="tocnumber">1 </span>
      <a class="link" href="#spros-otlichiya">От&nbsp;удовлетворения потребностей&nbsp;— к&nbsp;созданию отличий</a>
    </li>
    <li>
      <span class="tocnumber">2 </span>
      <a class="link" href="#doverie-nps">От&nbsp;«продать всем»&nbsp;— к&nbsp;формированию доверия</a>
    </li>
    <li>
      <span class="tocnumber">3 </span>
      <a class="link" href="#opyt-klienta-cjm">От&nbsp;продать здесь и&nbsp;сейчас&nbsp;— к&nbsp;управлению опытом (CJM)</a>
    </li>
    <li>
      <span class="tocnumber">4 </span>
      <a class="link" href="#omnikanalnost">От&nbsp;разделения каналов&nbsp;— к&nbsp;омниканальной системе</a>
    </li>
    <li>
      <span class="tocnumber">5 </span>
      <a class="link" href="#reklama-sistema">От&nbsp;веры в&nbsp;рекламу&nbsp;— к&nbsp;системному подходу</a>
    </li>
  </ul>
</nav>

  

<article class="row-gap--m space-section max-width-text" id="spros-otlichiya">
<h2 class="heading--beta">От&nbsp;удовлетворения потребностей&nbsp;— к&nbsp;созданию отличий</h2>
<p>Когда-то действительно успех бизнеса зависел от&nbsp;способности предприятия найти потребность клиента и&nbsp;удовлетворить&nbsp;ее. Если в&nbsp;городе не&nbsp;было гречки, а&nbsp;вы&nbsp;ее&nbsp;завезли и&nbsp;начали продавать, вы&nbsp;молодец. </p>
<p>Но&nbsp;сейчас для людей не&nbsp;проблема, где найти. Проблема&nbsp;— как выбрать. И&nbsp;задача предприятия&nbsp;— быть заметным. Поэтому компаниям важно отличаться. Поэтому <b>маркетинг</b>&nbsp;— это история не&nbsp;о&nbsp;потребностях, а&nbsp;о&nbsp;восприятии. </p>

<p class="pull-quote">Маркетинг&nbsp;— это деятельность по&nbsp;созданию и&nbsp;укреплению отличий, значимых для клиентов. В&nbsp;каждой <b>маркетинговой активности</b> подчеркивайте значимые отличия компании. </p>

<p>Фразы «достойное качество товаров», «широчайший ассортимент», «мы&nbsp;зарекомендовали себя как надежное предприятие», «любой клиент нам важен» и&nbsp;подобные&nbsp;— не&nbsp;отличия, а&nbsp;штампы. Клиенты их&nbsp;слышат постоянно, от&nbsp;ваших конкурентов в&nbsp;том числе. </p>



<section class="example--card">
  <div class="card-header">
          <span class="example-tag">Пример</span>
          <h3 class="heading--gamma">как скидка стала инструментом бренда</h3>
        </div>
<div class="card-divider"></div>
        
        <div class="context-block additive-spacing">
         <p class="context-text">Производитель домашней мебели намеревался стимулировать продажи скидками. Концепция торговой марки: <a class="link" href="/blog/3dom-mebel-dlya-semi/">«3Dom&nbsp;— мебель для семьи»</a>. Если просто объявить о&nbsp;скидках, до&nbsp;покупателя мы&nbsp;будем доносить не&nbsp;ценности бренда, а&nbsp;цену. И&nbsp;поскольку 3Dom&nbsp;— не&nbsp;дискаунтер, это не&nbsp;лучший вариант. Я&nbsp;предложил определять размер скидки в&nbsp;зависимости от&nbsp;стажа семейной жизни. Тогда ценности торговой марки останутся в&nbsp;фокусе внимания покупателя. </p>
<p class="context-text">Проверьте себя. Вспомните последние маркетинговые мероприятия и&nbsp;подумайте, какие идеи вы&nbsp;хотели донести до&nbsp;клиентов и&nbsp;как эти идеи выделяют вас из&nbsp;фона конкурентов.  </p>
        </div>
</section>

</article>

<article class="row-gap--m space-section max-width-text" id="doverie-nps">
<h2 class="heading--beta">От&nbsp;«продать всем»&nbsp;— к&nbsp;формированию доверия</h2>
<p>Словарь В.Н. Тришина в&nbsp;ряду синонимов слова «рекламирование» называет слово «втюхивание». Действительно, раньше <b>профессионализм маркетолога</b> отождествляли со&nbsp;способностью увеличить объем продаж любого товара. Обычным делом была хвалебно-назойливая реклама, манипуляции и&nbsp;игнорирование моральных норм. </p>
<p>Сейчас люди защищаются от&nbsp;агрессивной рекламы, прорабатывают вопрос и&nbsp;идут в&nbsp;магазины, зная о&nbsp;товаре иногда больше, чем продавец-консультант. Фразам «один из&nbsp;самых действенных», «мировые эксперты», «уникальные возможности», «самое популярное направление», «восхитительный вкус» верят все меньше людей. Большее значение в&nbsp;принятии решения о&nbsp;покупке играют отзывы других покупателей. </p>
<p>В&nbsp;декабре 2016 года агентство Fan&amp;Fuel провело исследование и&nbsp;обнаружило, что&nbsp;97% респондентов при выборе товаров онлайн читают отзывы других покупателей, а&nbsp;92% респондентов, если не&nbsp;видят отзывов, сомневаются, стоит&nbsp;ли делать покупку. Это данные по&nbsp;американскому рынку, но&nbsp;— полагаю&nbsp;— это общемировой тренд. </p>

 <figure class="figure"  itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/misconceptions/vainer.jpg">

    {% image "assets/images/blog/misconceptions/vainer.jpg", "Гарри Вайнерчук жестикулирует во время выступления.", "(min-width: 760px) 668px, 89.77vw", [420, 706, 984, 1412, 1412, 1500], ["avif", "webp", "jpeg"], "image full-bleed" %}

		<meta itemprop="contentUrl" content="/assets/images/blog/misconceptions/vainer.jpg">

    <figcaption itemprop="caption" class="figcaption">
  <p><strong>Гарри Вайнерчук</strong>, основатель агентства VaynerMedia, уверен, что втюхинг в&nbsp;рекламе обречен. </p>
      
  </figcaption>

</figure>



<p>Международное агентство Landor, описывая <strong>факторы, которые изменят брендинг</strong> в&nbsp;ближайшее время, указывает: «потребитель будет выбирать бренды, основываясь на&nbsp;мнениях и&nbsp;рекомендациях других людей, будь то&nbsp;система рейтингов (как, например, на&nbsp;сайте TripAdvisor), или отзывы в&nbsp;соцсетях». </p>

<p>Вместо «продающих» текстов и&nbsp;шумных акций следует перейти к&nbsp;открытому и&nbsp;честному обсуждению с&nbsp;клиентом полезности услуг и&nbsp;признанию ошибок. Показатель, на&nbsp;динамику которого маркетологу стоит ориентироваться,&nbsp;— готовность клиентов рекомендовать компанию (Net Promoter Score). </p>


<p class="pull-quote">Маркетолог должен не&nbsp;втюхивать товар, а&nbsp;формировать доверие. </p>


<footer class="space-connected row-gap--m">
<p class="italic">Узнать больше:</p>
<ul>
<li class="list-li"> <a class="link" href="/blog/konkurentnoe-preimushhestvo/">Маркетинг, который вызывает доверие,&nbsp;&mdash; главное конкурентное преимущество</a></li>
<li class="list-li"> <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">Маркетинг без нужды продать</a></li>
<li class="list-li"> <a class="link" href="/blog/metodika-nps-indeks-loyalnosti-klientov/">Net Promoter Score: как определить и&nbsp;использовать правильно</a></li>
</ul>
</footer>
</article>




<article class="row-gap--m space-section max-width-text" id="opyt-klienta-cjm">
<h2 class="heading--beta">От&nbsp;продать здесь и&nbsp;сейчас&nbsp;— к&nbsp;управлению опытом (CJM)</h2>
<p>В&nbsp;минских торговых центрах можно встретить надписи: «Не&nbsp;трогайте товар руками!», «Не&nbsp;садитесь!». За&nbsp;подобными предупреждениями скрывается посыл: «нечего тут смотреть, покупай или уходи!». </p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.jpg">	
   <picture>
    <source srcset="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.avif" type="image/avif">
        <source srcset="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.webp" type="image/webp">
        <img loading="lazy" decoding="async" class="image"  src="/assets/images/blog/test-drajv-dlya-rosta-prodazh/test2.jpg" alt="Запрещающая надпись на товаре в магазине — пример плохого клиентского опыта." width="695" height="521"  itemprop="contentUrl" >
	</picture>
<figcaption class="figcaption">
Пример, как делать не&nbsp;нужно
</figcaption>
</figure>



<p>Стоит признать, многие посещают магазины без намерения что-то купить. Порою человеку нужны идеи и&nbsp;он&nbsp;приходит, чтобы узнать, что вообще есть на&nbsp;рынке. Иногда человек заходит, чтобы только примерить и&nbsp;оценить, насколько вещь для него подходит. </p>
<p>Опрос клиентов одного производителя домашней мебели показал, что в&nbsp;среднем перед покупкой мебели человек посещает <span class="noperenos">5-6 салонов.</span> Это означает, что если ваш магазин для посетителя первый, скорее всего он&nbsp;пойдет к&nbsp;вашим конкурентам. Независимо от&nbsp;того, что предложите ему&nbsp;вы. И&nbsp;здесь главная задача&nbsp;— не&nbsp;продажа, а&nbsp;повторный визит. </p>

<p class="pull-quote">Маркетинг фокусируется на&nbsp;всем потребительском опыте клиентов и&nbsp;для задач каждого этапа предлагает решения. </p>

<p>Если составите карту потребительского опыта (customer journey map), вы&nbsp;будете точно знать, что ждут клиенты, что и&nbsp;когда им&nbsp;стоит предлагать, чтобы они возвращались. </p>

<footer class="space-connected row-gap--m">
<p class="italic">Узнать больше:</p>
<ul>
<li class="list-li"><a class="link" href="/blog/test-drajv-dlya-rosta-prodazh/">Тест-драйвы и&nbsp;пробники для роста продаж: выбор стратегии, разбор примеров</a></li>
<li class="list-li"> <a class="link" href="/blog/customer-journey-map/">Как создать Customer Journey Map (CJM) и&nbsp;превратить клиентов в&nbsp;лояльных покупателей</a></li>
</ul>
</footer>
</article>


<article class="row-gap--m space-section max-width-text" id="omnikanalnost">
<h2 class="heading--beta">От&nbsp;разделения каналов&nbsp;— к&nbsp;омниканальной системе</h2>
<p>Граница между онлайн и&nbsp;офлайн&nbsp;— условна. По&nbsp;данным Kibo Software, 94% потребителей перед посещением магазина ищут информацию в&nbsp;интернете.&nbsp;80%&nbsp;— если не&nbsp;находят информации на&nbsp;сайте магазина, скорее всего в&nbsp;него не&nbsp;пойдут. </p>
<p>Гарвардская школа бизнеса около года изучала покупательское поведение американцев и&nbsp;пришла к&nbsp;выводу, что&nbsp;73% респондентов комбинируют офлайн и&nbsp;онлайн каналы. Напр., заказывают онлайн и&nbsp;забирают товар в&nbsp;магазине. Или приходят в&nbsp;магазин и&nbsp;сравнивают цены через мобильный интернет. </p>
<p>Покупатель не&nbsp;разделяет онлайн и&nbsp;офлайн. Девушка может увидеть по&nbsp;телевизору рекламу тренажера, посмотреть все его характеристики в&nbsp;интернете, зайти в&nbsp;магазин (офлайн) и&nbsp;испытать тренажер «в&nbsp;живую», поискать в&nbsp;интернете отзывы других покупателей и&nbsp;только затем оформить доставку. </p>


<p class="pull-quote">Рассматривать каналы коммуникации изолированно друг от&nbsp;друга&nbsp;— недальновидно. Делайте так, чтобы они работали вместе. На&nbsp;одну цель. </p>



<p id="args-heading">Традиционным ритейл каналам следует выходить в&nbsp;интернет. Три аргумента:</p>
<ul aria-labelledby="args-heading">
	<li class="list-li">Соответствие реальному пути клиента (CJM): вы&nbsp;будете присутствовать там, где клиент принимает решение.</li>
	<li class="list-li">Создание уникального преимущества перед e-commerce: дайте клиентам причину прийти к&nbsp;вам офлайн после онлайн-изучения.</li>
	<li class="list-li">Гибкое тестирование гипотез и&nbsp;сбор данных: онлайн&nbsp;— это ваша R&amp;D лаборатория для проверки идей с&nbsp;минимальными затратами.</li>
</ul>


<footer class="space-connected row-gap--m">
  <p class="italic">Узнать больше:</p>
  <ul>
    <li class="list-li"><a class="link" href="/blog/kejs-internet-magazina-delovoy/">Кейс delovoy.by: создание
        интернет-магазина, SEO и&nbsp;рост продаж</a></li>
    <li class="list-li"> <a class="link" href="/blog/sovety-po-razrabotke-i-razvitiyu-internet-proektov/">Секреты успеха
        интернет-проектов Студии Борового</a></li>
    <li class="list-li">
      <a href="/blog/system-marketing/" class="link">Таблицы и&nbsp;схемы не&nbsp;делают маркетинг системным</a>
    </li>
  </ul>
</footer>

</article>

<article class="row-gap--m space-section max-width-text" id="reklama-sistema">
  <h2 class="heading--beta">От&nbsp;веры в&nbsp;рекламу&nbsp;— к&nbsp;системному подходу</h2>
  <p>Часто сталкиваюсь, когда рекламу заказывают по&nbsp;знакомству, без должных расчетов по&nbsp;охвату максимума
    человек из&nbsp;целевой аудитории. Когда на&nbsp;рекламу возлагают несвойственные ей&nbsp;задачи и&nbsp;функции,
    а&nbsp;затем разочаровываются и&nbsp;обвиняют всеx и&nbsp;вся. Но&nbsp;реклама не&nbsp;может исправить плохой
    продукт, завышенную цену или отсутствие сервиса.</p>

  <p>Задача рекламы&nbsp;— не&nbsp;«решить все проблемы с&nbsp;продажами», а&nbsp;выполнить конкретную функцию
    в&nbsp;отлаженной системе: привлечь внимание, сформировать знание. Чтобы она
    работала, сначала <a class="link" href="/blog/system-marketing/">нужно построить саму систему маркетинга</a>.</p>

  <p>Если для решения задач бизнеса не&nbsp;требуется увеличить уровень осведомленности или изменить восприятие
    клиентов, не&nbsp;рекламируйтесь. Если все это требуется, следуйте <a class="link"
      href="/blog/algoritm-reklamnoj-kampanii/">алгоритму проведения рекламной кампании</a>. </p>


    <p class="pull-quote">Реклама&nbsp;— это не&nbsp;панацея, а&nbsp;лишь один из&nbsp;инструментов.
      Ее&nbsp;эффективность зависит от&nbsp;качества системы маркетинга, а&nbsp;не&nbsp;от&nbsp;креативности одного
      объявления.</p>



  <footer class="space-connected row-gap--m">
    <p class="italic">Принципы и&nbsp;практика системного подхода:</p>
    <ul>
      <li class="list-li"><a class="link" href="https://barsan.kz/services/brand-concept/" target="_blank" rel="noopener me">Разработка концепции бренда (архитектурного
          ядра системы маркетинга)</a></li>
      <li class="list-li"> <a class="link" href="/blog/pes-global-brand-concept/">Создаю концепцию бренда для компании
          «PES GLOBAL»</a></li>
      <li class="list-li"> <a class="link" href="/blog/marketing-mind/">Акция не&nbsp;сработает, если не&nbsp;думать как
          маркетолог</a></li>
    </ul>
  </footer>

</article>


<footer class="space-block">
<p><span class="bold">Дополнение.</span> Как выяснилось позже, на&nbsp;мастер-классе присутствовала журналист Мария Мелёхина. Для портала «Megapolis-real» она подготовила <a class="link" href="https://megapolis-real.by/stati/5-opasnyix-zabluzhdenij-o-marketinge.html">материал по&nbsp;теме моего выступления</a>.</p>
</footer>
