---
layout: post
title: "Искусственный интеллект в маркетинге: угроза или будущее профессии?"
name: "ИИ&nbsp;в&nbsp;маркетинге: заменит&nbsp;ли искусственный интеллект маркетологов?"
description: "Искусственный интеллект уже меняет маркетинг, но&nbsp;сможет&nbsp;ли он&nbsp;полностью заменить маркетологов? Разбираем тренды, прогнозы и&nbsp;новые возможности. "
date:   2017-10-12
last_modified_at: 2022-02-05
categories: мнение
permalink: "/blog/iskusstvennyj-intellekt-v-marketinge/"
tags: "маркетолог"
image: /assets/images/tizers/tizer-45.jpg
keywords: "Искусственный Интеллект, Маркетинг, Тренды, Прогнозы, Анализ Данных, Машинное Обучение, Блокчейн, Криптовалюты, Технологии, Стратегии, Бренды, Контент, Мерчендайзинг, Реклама, Клиенты, Анализ Информации, Прогнозирование, Управление Проектами, Дмитрий Бартошевич"
eleventyNavigation:
  key: iskusstvennyj-intellekt-v-marketinge
  title: "ИИ в маркетинге: заменит ли искусственный интеллект маркетологов?"
  parent: blog 
---



<p>Нельзя не&nbsp;заметить всплеск интереса к&nbsp;темам, связанных с&nbsp;машинным обучением, блокчейном, криптовалютами. О&nbsp;цифровой экономике говорят в&nbsp;выпусках новостей, ток-шоу, на&nbsp;бизнес-порталах. И&nbsp;разговорами дело не&nbsp;ограничивается. Сбербанк России, например, <a  class="link"  href="https://aif.ru/money/economy/7_prognozov_ot_grefa_glava_sberbanka_predskazal_nashe_blizhayshee_budushchee" >перестал брать на&nbsp;работу юристов</a>, которые не&nbsp;умеют работать с&nbsp;нейронной сетью. Мир стремительно меняется. Рассуждаю, к&nbsp;чему готовиться и&nbsp;что делать <b>маркетологам</b>. </p>



<nav class="toc">
 <h2 class="toc__title">Содержание</h2>
 <ul class="additive-spacing">
		  <li>
		    
		      <span class="tocnumber">1 </span>
			  <a  class="link" href="#1">Трезвый расчет вместо хайпа
		    </a>
		  </li>
		  <li class="additive-spacing">
		    
		      <span class="tocnumber">2 </span>
			  <a  class="link" href="#2">Зоны ближайшего развития маркетинга
		    </a>
		  
		  <ul class="additive-spacing">
			<li class="level2">
		   
		      <span class="tocnumber">a) </span>
			   <a  class="link" href="#2.1">анализ информации и&nbsp;прогнозирование
		    </a>
		  </li>
		  <li class="level2">
		   
		      <span class="tocnumber">б) </span>
			   <a  class="link" href="#2.2">контент
		    </a>
		  </li>
			<li class="level2">
			
				 <span class="tocnumber">в) </span> <a  class="link" href="#2.3">мерчендайзинг
			 </a>
		 </li>
		 <li class="level2">
			
				<span class="tocnumber">г) </span>
				<a  class="link"  href="#2.4">работа с&nbsp;клиентами
			</a>
		</li>
		<li class="level2">
		 
			 <span class="tocnumber">д)</span>
			 <a  class="link" href="#2.5">реклама
		 </a>
	 </li>
	 </ul>
	 </li>
		 
</ul>
</nav>

<section class="row-gap--m" id="1">
<h2 class="section__title h1 bold ">Трезвый расчет вместо хайпа</h2>
<div class="with-side row-gap--m">
<div class="side"><p>Искусственный интеллект&nbsp;— в&nbsp;тексте&nbsp;— термин, объединяющий технологии машинного обучения, глубокого обучения, генерации естественного языка, распознавания изображений и&nbsp;речи. </p></div>
<p>Агентство Wakefield Research заинтересовалось <a  class="link" href="https://web.archive.org/web/20170501204308/http://www.prnewswire.com/news-releases/80-percent-of-all-marketing-executives-predict-artificial-intelligence-will-revolutionize-marketing-by-2020-300377076.html" ><strong>влиянием искусственного интеллекта на&nbsp;маркетинг</strong></a>. Опросили 500&nbsp;маркетологов.&nbsp;80% однозначно высказались, что искусственный интеллект изменит отрасль к&nbsp;2020 году. И&nbsp;изменит существенно. И&nbsp;сразу&nbsp;же 74% опрошенных признались, что не&nbsp;понимают точно, как использовать искусственный интеллект в&nbsp;маркетинге. На&nbsp;чем основывается их&nbsp;уверенность в&nbsp;неотвратимости и&nbsp;значимости изменений&nbsp;— непонятно.</p></div>
<p>В&nbsp;Беларуси&nbsp;— такое впечатление&nbsp;— последние несколько месяцев об&nbsp;искусственном интеллекте, блокчейне и&nbsp;криптовалютах заговорили все. Люди отрабатывают на&nbsp;заводе смену, приходят домой, заводят кошельки и&nbsp;думают, чтобы такого замайнить. Директору фабрики, который не&nbsp;знает, что такое блокчейн, стало стыдно в&nbsp;этом признаться.</p>


<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/hype/hype2.jpg">
<picture>
               <source srcset="/assets/images/blog/hype/hype2.avif" type="image/avif">
			    <source srcset="/assets/images/blog/hype/hype2.webp" type="image/webp">
				<img class="image" loading="lazy" decoding="async" src="/assets/images/blog/hype/hype2.jpg" alt="статистика поисковых показов" width="720" height="399"  itemprop="contentUrl" >
    </picture>
	<div class="figcaption">
		Количество показов по&nbsp;фразе «биткоин» выросло в&nbsp;5,2 раза<br>
Май’17-Сен’17&nbsp;vs. Май’16-Сен’16, Беларусь, Яндекс 
	</div>
</div>



<p>Шумиха и&nbsp;ажиотаж вокруг технологий&nbsp;— не&nbsp;то, что должно определять поведение. Ажиотаж&nbsp;— это то, что поверхностно. В&nbsp;таком состоянии редко принимаются взвешенные и&nbsp;обдуманные решения. Ажиотаж&nbsp;— это сиюминутно. Вы&nbsp;сливаете в&nbsp;общий хайп часть жизни, а&nbsp;завтра люди переключатся на&nbsp;иное и&nbsp;предмет текущих дискуссий забудут.</p>

<p>Не&nbsp;нужно поддаваться ажиотажу и&nbsp;бездумно становится «техническим евангелистом». Придавать технологиям сакральный оттенок&nbsp;— лишнее. Заниматься промышленному предприятию машинным обучением ради машинного обучения&nbsp;— по&nbsp;меньшей мере, нерационально.</p>

<article class="additive-spacing italic extract">
<h3 class="element--hidden"> Об IT евангелистах </h3>
<p>Когда мне кто-то представляется как «евангелист», в&nbsp;уме невольно всплывает вопрос «Пятый? Матфей, Марк, Лука, Иоанн и&nbsp;ты?».</p>
<p>«Нет, ты&nbsp;не&nbsp;понял, я&nbsp;технический евангелист, я&nbsp;вне религии»,&nbsp;— словно отвечает собеседник. </p>
<p>«То&nbsp;есть те&nbsp;первые говорили о&nbsp;спасении души и&nbsp;вечности, а&nbsp;ты&nbsp;об&nbsp;преходящем. Мельчают евангелисты, не&nbsp;кажется?»,&nbsp;— не&nbsp;унимаюсь&nbsp;я. </p>
<p>«Ну&nbsp;это&nbsp;же простая аналогия. Как апостолы шли в&nbsp;массы и&nbsp;распространяли слово Христа, так и&nbsp;я&nbsp;рассказываю о&nbsp;технологиях»,&nbsp;— говорит «виртуальный» собеседник. </p>
<p>«Трое из&nbsp;четырех евангелистов были казнены, а&nbsp;ты&nbsp;готов умереть за&nbsp;право говорить о&nbsp;технологии компании, на&nbsp;которую работаешь? Нет? Тогда ты&nbsp;только пропагандист или популяризатор». </p>
<p>Внутренний диалог угасает. Сатори :-) </p>
</article>

<p>Поддаваться ажиотажу не&nbsp;стоит, но&nbsp;и&nbsp;игнорировать развитие искусственного интеллекта нельзя. Конкурировать человеку с&nbsp;людьми уже недостаточно. Важно убедиться, что с&nbsp;рынка вас не&nbsp;вытеснят технологии.</p>
<p>Если почувствовали, что машины заходят на&nbsp;вашу «территорию», не&nbsp;конкурируйте, а&nbsp;превратите их&nbsp;в&nbsp;ресурс.</p>
<p>Технологии&nbsp;— это инструмент. Смысл любого инструмента, который вы&nbsp;используете, лежит вне его. Возьмем шариковую ручку. Смысл ручки&nbsp;— не&nbsp;в&nbsp;ней самой, а&nbsp;в&nbsp;тексте, который я&nbsp;пишу в&nbsp;блокноте. Следует&nbsp;ли мне бороться за&nbsp;шариковые ручки и&nbsp;бояться компьютеров с&nbsp;текстовыми редакторами? Нет, конечно. Компьютеры помогают мне писать и&nbsp;редактировать текст быстрее. Но&nbsp;если я&nbsp;путаю средство и&nbsp;цель, если смысл письма нахожу в&nbsp;письме ручкой, то&nbsp;тогда в&nbsp;компьютерах я&nbsp;могу увидеть угрозу. </p>
<p>Почувствовали опасность со&nbsp;стороны технического прогресса&nbsp;— подумайте, на&nbsp;каком смысловом уровне деятельности вы&nbsp;находитесь. Много раз спросите себя «Зачем я&nbsp;это делаю (пишу текст, строю дома, читаю лекции и&nbsp;пр.)?», чтобы найти тот смысл и&nbsp;цели, где машины будут вам помощниками. Учитывая скорость изменений в&nbsp;мире, будьте готовы проделывать это упражнение часто и&nbsp;подниматься по&nbsp;лестнице смыслов.</p>
</section>

<section class="row-gap--m" id="2">
<h2 class="section__title h1 bold ">Зоны ближайшего развития маркетинга </h2>
<p>Я&nbsp;выделил несколько сфер, <strong>где искусственный интеллект уже сейчас меняет маркетинг</strong>. </p>

<article class="row-gap--m " id="2.1">
<h3 class="h2 bold mb-m">а) анализ информации и&nbsp;прогнозирование</h3>

<p>Технологии помогут объединить данные о&nbsp;клиентах, полученных с&nbsp;разных источников и&nbsp;каналов. Это приведет к&nbsp;более глубокому и&nbsp;целостному пониманию потребительского поведения и&nbsp;принципиально изменит взаимодействие компаний и&nbsp;клиентов, <strong>подход к&nbsp;созданию и&nbsp;развитию брендов.</strong> </p>
<p>С&nbsp;развитием искусственного интеллекта появится возможность собирать и&nbsp;обрабатывать больше данных о&nbsp;клиентах. Например, развилась технология распознавания изображений и&nbsp;появился <a  class="link"  href="https://www.netra.io/" >сервис Netra</a>. Netra сканирует фотографии, выложенные в&nbsp;социальных сетях и&nbsp;анализирует&nbsp;те, где присутствуют логотипы и&nbsp;названия брендов. Сервис помогает понять, в&nbsp;каком контексте бренд (ваш или конкурента) присутствует, кто бренд использует, как часто и&nbsp;в&nbsp;каких ситуациях, какие фотографии с&nbsp;брендом собирают больше откликов.</p>


<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="/assets/images/blog/hype/hype3.jpg">
	<picture>
               <source srcset="/assets/images/blog/hype/hype3.avif" type="image/avif">
			    <source srcset="/assets/images/blog/hype/hype3.webp" type="image/webp">
				<img class="image" loading="lazy" decoding="async" src="/assets/images/blog/hype/hype3.jpg" alt="пример работы Netra" width="471" height="562"  itemprop="contentUrl" >
    </picture>
	<div class="figcaption">
		Сервис обнаружил логотипы Starbucks и&nbsp;Toronto Blue Jays в&nbsp;твите о&nbsp;чьем-то прекрасном дне. <br>Источник: канал Netra на&nbsp;Medium.com. 
	</div>
</div>


<p>A/Б-тестирование перейдет в&nbsp;автоматический режим. Искусственный интеллект сам определит элементы для сравнения, внесет изменения, измерит результат, снова начнет экспериментировать и&nbsp;так постепенно будет повышать целевые показатели. </p>
<p>Технологии возьмут на&nbsp;себя не&nbsp;только рутинные операции по&nbsp;анализу данных, но&nbsp;и&nbsp;некоторые прогностические функции. Например, смогут определить вероятность перехода клиентов к&nbsp;конкурентам и&nbsp;в&nbsp;случае необходимости рекомендовать упреждающие виды активности.</p>
</article>

<article class="row-gap--m " id="2.2">
<h3 class="h2 bold mt-m mb-m">б) контент</h3>
<p>Переводить цифровую информацию в&nbsp;осмысленный текст технологии умеют уже сейчас. Финансовые сводки для Yahoo Finance, например, пишет не&nbsp;человек. Дальше&nbsp;— больше. Агентство стратегических инициатив прогнозирует <a  class="link"  href="https://www.cossa.ru/149/117262/">исчезновение профессий журналиста и&nbsp;копирайтера</a> в&nbsp;ближайшие 15&nbsp;лет. </p>
<p>Готовить коммерческие предложения будут роботы. Начало положено. <a  class="link"  href="https://www.persado.com/" >Сервис Persado</a> подбирает слова, фразы, изображения так, чтобы увеличить уровень эмоциональной вовлеченности клиента.</p>
<p>Возможно через несколько лет предприятия вместо найма SMM-специалиста заключат договор с&nbsp;сервисами, которые в&nbsp;автоматическом режиме будут анализировать клиентов и&nbsp;подписчиков, собирать в&nbsp;интернете интересную для них информацию, приводить в&nbsp;нужный вид и&nbsp;размещать в&nbsp;сетях.</p>
</article>


<article class="row-gap--m " id="2.3">
<h3 class="h2 bold mt-m mb-m">в) мерчендайзинг</h3>
<p>Крупнейшая европейская торговая сеть внедрила <a  class="link" href="https://www.youtube.com/watch?v=rZ2VfhyUXYM&amp;feature=youtu.be&amp;t=5m5s">систему, которая отслеживает поведение каждого покупателя в&nbsp;торговом зале</a>: на&nbsp;что обращает внимание, какие товары покупает и&nbsp;т.&nbsp;д. Далее система предлагает владельцу магазина переставить товары таким образом, чтобы увеличить максимальный чек. Система работает в&nbsp;автоматическом режиме и&nbsp;— по&nbsp;оценкам&nbsp;— в&nbsp;16&nbsp;раз лучше, чем мерчендайзер-человек или маркетолог-аналитик. Ожидаю, со&nbsp;временем подобные системы станут доступнее, проще и&nbsp;их&nbsp;начнут использовать даже в&nbsp;минском «Азарэнне» :-) </p>
</article>

<article class="row-gap--m " id="2.4">
<h3 class="h2 bold mt-m mb-m">г) работа с&nbsp;клиентами </h3>
<p>Искусственный интеллект поможет глубже понимать потребительское поведение. Общение с&nbsp;клиентами станет персонифицированным. Рекомендации и&nbsp;предложения компании будут основаны на&nbsp;точном понимании потребностей и&nbsp;предпочтений конкретного потребителя. В&nbsp;том или ином виде подобные технологии уже использует Google, Facebook, Yandex, Amazon, Netflix. </p>
<p>Чат-боты из&nbsp;раздражающих всплывающих окон превратятся в&nbsp;личных помощников клиентов, готовых отвечать на&nbsp;вопросы и&nbsp;консультировать в&nbsp;режиме 7/24.</p>
</article>

<article class="row-gap--m" id="2.5">
<h3 class="h2 bold  mt-m mb-m">д) реклама </h3>
<p>Программы решат, какую рекламу стоит показывать, кому, когда и&nbsp;по&nbsp;какой цене. Информационные рассылки и&nbsp;коммерческие предложения станут приходить в&nbsp;то&nbsp;время и&nbsp;по&nbsp;тем каналам, где вероятность отклика выше. </p>
</article>
</section>




<div class="section__title post__note additive-spacing h2 ">

		<p><b>Маркетинг</b> стремительно меняется. </p>

		<p>Конкурировать с&nbsp;людьми уже недостаточно. Убедитесь, что вашу работу не&nbsp;заменит искусственный интеллект.</p>

		<p>Ажиотаж заменяйте поиском смыслов и&nbsp;значений, <a href="/blog/chatgpt-v-marketinge/" class="link">превращайте технологии в&nbsp;ресурсы для достижения целей</a>. </p>

</div>
