---
layout: post
title:  "Кейс: разработка бренда Giperlink"
name: "Разработка концепции бренда интернет-агентства Giperlink"
description: "Кейс Giperlink: анализ конкурентов, CJM, стратегия позиционирования и&nbsp;внедрение. Что изменилось? Отзыв директора о&nbsp;результатах работы. "
date:   2018-11-30
last_modified_at: 2024-02-05
categories: опыт
permalink: "/blog/kejs-brend-giperlink/"
tags: "кейсы"
image: /assets/images/tizers/tizer-51a.jpg
mentions:
  - name: "Дмитрий Лихтарович"
    jobTitle: "генеральный директор"
    affiliation: "Giperlink"
    image: "https://res.cloudinary.com/bartoshevich/image/upload/f_auto/v1610783871/d-giperlink-500.jpg"
    profileUrl: "https://www.linkedin.com/in/dmitry-likhtarovich-8b341157/"
eleventyNavigation:
  key: kejs-brend-giperlink
  title: "Разработка концепции бренда интернет-агентства Giperlink"
  parent: blog 
---





<p>&laquo;Мы&nbsp;потерялись на&nbsp;фоне других агентств и&nbsp;нам нужно отстроиться от&nbsp;конкурентов&raquo;,&nbsp;&mdash; с&nbsp;такой проблемой ко&nbsp;мне обратился директор <a class="link" href="https://giperlink.by/">интернет-агентства Giperlink</a>. Когда рынок переполнен похожими предложениями, единственным верным решением становится не&nbsp;очередная рекламная акция, а&nbsp;<a class="link" href="https://barsan.kz/services/brand-concept/" target="_blank" rel="noopener me">разработка сильной концепции бренда</a>. Рассказываю пошагово, что делал. Комментарий директора&nbsp;&mdash; в&nbsp;конце статьи.</p>



<nav class="toc space-tight"  aria-labelledby="toc-title">
 <h2 class="toc__title" id="toc-title">Содержание</h2>
 <ul class="additive-spacing">
		  <li>
		   
		      <span class="tocnumber">1 </span>
			   <a class="link" href="#1">Изучил конкурентную среду 
		    </a>
		  </li>
		  <li >
		    
		      <span class="tocnumber">2 </span>
			  <a class="link" href="#2">Составил карты потребительского опыта
		    </a>
		  </li>
		   <li>
			
				<span class="tocnumber">3 </span>
				<a class="link" href="#3">Разработал структуру бренда
			</a>
		</li>
		 <li>
			
				<span class="tocnumber">4 </span>
				<a class="link" href="#4">Обратная связь директора интернет-агентства Giperlink
			</a>
		</li>
</ul>
</nav>

<section class="row-gap--m space-section max-width-text" id="1">
<h2 class="heading--beta">Изучил конкурентную среду </h2>
<p>Пытаться отстроиться от&nbsp;всех и&nbsp;вся&nbsp;— не&nbsp;самая продуктивная идея. Поэтому с&nbsp;руководством компании мы&nbsp;выделили конкурентов, которые представляют наибольшую угрозу и&nbsp;от&nbsp;которых следует дифференцироваться. </p>

<p>Я&nbsp;проанализировал сайты и&nbsp;презентационные материалы конкурентов. Меня интересовало, как они объясняют, почему следует работать с&nbsp;ними, какие ценности лежат в&nbsp;основе коммуникации, какую идею(и) доносят до&nbsp;потенциальных клиентов. </p>

<section class="row-gap--m space-tight">
<h3 class="heading--gamma"> позиционирование</h3>
<p class="mb-m">Выявил несколько популярных шаблонов <b>позиционирования</b> интернет-агентств:</p>
<ul class="additive-spacing">
	<li class="list-li">
		«финансисты»: подчеркивают, что нацелены на&nbsp;прибыль, делают продающие сайты, что превращают онлайн-ресурсы в&nbsp;инвестиции и&nbsp;учат зарабатывать в&nbsp;интернете.
 	</li>
	<li class="list-li">
		«технические эксперты»: говорят «мы&nbsp;знаем, что делать, и&nbsp;сделаем все правильно». Если проводят семинары, то&nbsp;рассказывают не&nbsp;о&nbsp;монетизации, а&nbsp;о&nbsp;нюансах интеграции процессов внутри компании и&nbsp;торговой веб-площадки или объясняют преимущества определенной технологии для решения задач бизнеса.
 	</li>
	<li class="list-li">
		«драйверы»: рассказывают об&nbsp;эффективности, успехе, больших достижениях в&nbsp;век высоких технологий.
 	</li>
 </ul>
</section>

<section class="row-gap--m space-block">
<h3 class="heading--gamma"> услуги</h3>
<p>В&nbsp;услугах выделил точки паритета&nbsp;— то, что предлагает каждый из&nbsp;конкурентов. Напр., адаптивный дизайн, интеграция с&nbsp;1С, автоматизация бизнес-процессов. Конкурентных преимуществ эти услуги не&nbsp;дают, поскольку есть у&nbsp;всех выбранных игроков рынка, но&nbsp;без них компания проиграет.</p>

<p>Обозначил точки дифференциации&nbsp;— за&nbsp;счет чего в&nbsp;услугах можно отстроиться. Например, <strong>разрабатывать стратегию развития бренда</strong> в&nbsp;интернете или предлагать длительную техническую поддержку. </p>
</section>

<section class="row-gap--m space-block">
<h3 class="heading--gamma"> мотивы </h3>
<p class="mb-m">Для каждого конкурента выделил мотивы, через которые компания доносила свое предложение. Их&nbsp;оказалось 4&nbsp;группы:</p>
<ul>
	<li class="list-li">
		статус&nbsp;— агентство помогает стать успешнее;
 	</li>
	<li class="list-li">
		превосходство&nbsp;— агентство помогает быть лучше других;
 	</li>
	<li class="list-li">
	контроль&nbsp;— с&nbsp;агентством работа над сайтом предсказуема и&nbsp;контролируема;
 	</li>
	<li class="list-li">
		защищенность/безопасность&nbsp;— с&nbsp;агентством сотрудничать безопасно (надежный партнер, проверенные технологии, награды, высокие места в&nbsp;рейтингах и&nbsp;пр.)
 	</li>
 </ul>

<p>Этот перечень отнес в&nbsp;«черный список». Бренд Giperlink предстояло преподносить через иные мотивы и&nbsp;ценности. </p>
</section>
</section>

<section class="row-gap--m space-section max-width-text" id="2">
<h2 class="heading--beta">Составил карты потребительского опыта</h2>
<div class="with-side">
<div class="side">
<p>Интересующимся&nbsp;— <a class="link" href="/blog/customer-journey-map/">алгоритм создания карты потребительского опыта</a></p>
</div>
<p>Вместе с&nbsp;сотрудниками агентства выделили типичные ситуации заказа, составили портреты персонажей&nbsp;— обобщенные образы значимых клиентских сегментов. Детально описали путь персонажей от&nbsp;момента осознания потребности до&nbsp;обращения в&nbsp;агентство и&nbsp;заказа разработки сайта. </p>
</div>

<p>В&nbsp;случае Giperlink типичная компания-клиент состоит из&nbsp;двух персонажей: собственника и&nbsp;маркетолога. Поведение, мысли, эмоции и&nbsp;критерии выбора агентства отличаются. Напр., отзыв маркетолога о&nbsp;том, насколько ему было комфортно работать с&nbsp;подрядчиком, персонаж-собственник при выборе агентства может пропустить, а&nbsp;персонаж-маркетолог обязательно обратит внимание. </p>

<p>Зачем нужны карты потребительского опыта? Они показывают, что важно клиентам, и&nbsp;как можно улучшить опыт их&nbsp;взаимодействия с&nbsp;компанией на&nbsp;каждом этапе. </p>

<div class="with-side">
<p>Некоторые бизнес-спикеры сводят маркетинг к&nbsp;точкам контакта. Они выделяют <span class="noperenos">100-200</span> точек контакта клиента с&nbsp;компанией, призывают постоянно работать над их&nbsp;улучшением и&nbsp;уверяют, что с&nbsp;маркетингом будет все в&nbsp;порядке. Нет, не&nbsp;будет. </p>
<div class="side">
	<p>Теория «точек контакта» напоминает фетишизм. А&nbsp;когда маркетолог начинает составлять 100+ точек контакта и&nbsp;что-то с&nbsp;ними делать&nbsp;— это уже состоявшийся религиозный культ. </p>
</div></div>

<p>То, что для вас Точка контакта, для меня&nbsp;— клиента&nbsp;— может быть информационным шумом. Не&nbsp;нужно пытаться охватить все&nbsp;— не&nbsp;получится. Концентрируйтесь на&nbsp;главном. Карта потребительского опыта показывает главное, на&nbsp;чем следует концентрироваться. </p>
</section>

<section class="row-gap--m space-section max-width-text" id="3">
<h2 class="heading--beta">Разработал структуру бренда </h2>
<div class="with-side">
<p>Для составления структуры бренда я&nbsp;взял модель Censydiam. Она описывает 8&nbsp;основных мотиваций человека. Вычеркнул&nbsp;те, которые уже используют конкуренты. А&nbsp;оставшиеся проверил на&nbsp;актуальность для клиента (на&nbsp;основе карт потребительского опыта) и&nbsp;соответствие ценностям компании. </p>

<div class="side">
<p><a class="link" href="https://www.youtube.com/watch?v=cU4-m7swVbM" >Видео с&nbsp;объяснением принципов Censydiam</a> (англ.)</p>
</div></div>

<p>В&nbsp;итоге остановился на&nbsp;группе мотивов «гармония, единение» и&nbsp;через нее описал <b>структуру бренда</b>. </p>

<div class="block__item">
	<div class="block__name--align-left bold">
	Атрибуты
	</div>
	<div class="block__content ">
	Интернет-агентство, делает сайты и&nbsp;интернет-магазины на&nbsp;1С-Битрикс
	</div>
</div>
<div class="block__item">
	<div class="block__name--align-left bold">
	Рациональная выгода
	</div>
	<div class="block__content ">
	Веб-разработка основана на&nbsp;анализе потребительского опыта. С&nbsp;помощью аудита, тестирования и&nbsp;веб-аналитики проектируют понятный и&nbsp;удобный пользовательский интерфейс, организовывают грамотную подачу информации.
	</div>
</div>
<div class="block__item">
	<div class="block__name--align-left bold">
	Эмоциональная выгода
	</div>
	<div class="block__content ">
	Агентство помогает строить гармоничные отношения с&nbsp;клиентами.
	</div>
</div>

<div class="block__item">
	<div class="block__name--align-left bold">
	Обещание
	</div>
	<div class="block__content ">
	«Делаем сайты, которые говорят с&nbsp;клиентами на&nbsp;одном языке»
	</div>
</div>

<div class="block__item">
	<div class="block__name--align-left bold">
	Личность
	</div>
	<div class="block__content ">
	Мужчина, <span class="noperenos">35-40 лет,</span> эрудирован, позитивен, общителен. Сложные вещи объясняет просто, легко, доступно.
	</div>
</div>

<div class="block__item">
	<div class="block__name--align-left bold">
	Суть бренда
	</div>
	<div class="block__content ">
	Дружественное интернет-агентство, которое помогает строить гармоничные отношения с&nbsp;клиентами.
	</div>
</div>
</section>


<section class="row-gap--m space-section max-width-text" id="4">
<h2 class="heading--beta">Комментарий директора интернет-агентства Giperlink</h2>
<div class="with-side">
<div class="side">
	<div class="guests">
		<div class="guest-person">
			<img loading="lazy" decoding="async"  class="image is-150x150" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/v1610783871/d-giperlink-500.jpg" alt="Дмитрий Лихтарович" width="150" height="150">	
				<div class="guest-person__name">Дмитрий Лихтарович</div>
				<div class="guest-person__position">директор Giperlink</div>			
		</div>
	</div>
</div>



<p>— В&nbsp;какой-то момент мы&nbsp;осознали, что стратегия, которая помогала в&nbsp;первые годы работы агентства, перестала работать. Агентство выросло. Изменился и&nbsp;беларуский рынок веб-разработок. Мы&nbsp;спрашивали себя: «Чем мы&nbsp;отличаемся? В&nbsp;чем сильнее? В&nbsp;чем отстаем и&nbsp;чего не&nbsp;хватает, чтобы быть лучшими?». Ответы искали сами. Обсуждали, спорили, устраивали мозговые штурмы. Но&nbsp;того решения, которое устроило&nbsp;бы всех, не&nbsp;находили.</p>
<p> Обратились к&nbsp;Бартошевичу Дмитрию. Сначала пригласили его как «внешнего наблюдателя и&nbsp;критика». Нам важно было найти сильное решение. Поэтому попросили Дмитрия присутствовать на&nbsp;совещаниях и&nbsp;находить слабые места в&nbsp;идеях. Нам понравилось, как он&nbsp;рассуждает и&nbsp;какие вопросы задает. Обсудив с&nbsp;партнером, мы&nbsp;решили поручить Дмитрию <strong>разработать концепцию бренда</strong>. Предоставили необходимые материалы по&nbsp;рынку и&nbsp;конкурентам, провели дополнительные рабочие встречи. </p>
<p>Что получили в&nbsp;итоге:</p>
<ul>
	<li class="list-li">
		идею, которая отражает специализацию и&nbsp;дифференцирует нас среди конкурентов;
 	</li>
	<li class="list-li">
		точки роста и&nbsp;рекомендации по&nbsp;развитию Giperlink;
 	</li>
	<li class="list-li">
		четкое видение стратегии агентства.
 	</li>
 </ul>
<p class="mb-m"> Далее, на&nbsp;основе концепции бренда мы&nbsp;изменили:</p>
<ul>
	<li class="list-li">
		логотип и&nbsp;фирменные цвета;
 	</li>
	<li class="list-li">
		презентацию и&nbsp;рекламные материалы;
 	</li>
	<li class="list-li">
		сайт компании.
 	</li>
 </ul>
<p>На&nbsp;опыте прочувствовали, насколько <strong>наличие концепции бренда помогает развитию компании</strong>. Мы&nbsp;не&nbsp;просто изменили внешний облик агентства, мы&nbsp;переосмыслили свое место на&nbsp;рынке веб-разработок и&nbsp;преобразили свой подход к&nbsp;бизнесу.    </p>

<p>Благодарим Дмитрия за&nbsp;профессионализм и&nbsp;рекомендуем его услуги всем, кто стремится укрепить рыночное положение своей компании.</p>

</div>
</section>