---
layout: post
title: "Создаю концепцию бренда типографии"
name: "Разрабатываю концепцию бренда типографии"
description: "Кейс о том, как исследование рынка, позиционирование, концепция бренда помогли типографии «Флекс-н-Ролл» определить свои отличия и задать новый вектор развития."
date:   2018-04-18
last_modified_at: 2025-05-04
categories: опыт
permalink: "/blog/brand-strategy-flex-n-roll/"
tags: "кейсы"
image: /assets/images/tizers/tizer-48.jpg
mentions:
  - name: "Елена Горбачева"
    jobTitle: "генеральный директор"
    affiliation: "Флекс-н-Ролл"
    image: "https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/e_improve/v1588702100/site/gorbacheva-600.jpg"
    profileUrl: "https://www.linkedin.com/in/%D0%B5%D0%BB%D0%B5%D0%BD%D0%B0-%D0%B3%D0%BE%D1%80%D0%B1%D0%B0%D1%87%D0%B5%D0%B2%D0%B0-b2120a169/"
eleventyNavigation:
  key: brand-strategy-flex-n-roll
  title: "Разрабатываю концепцию бренда типографии"
  parent: blog 
relatedIdeas:
  - title: "От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;&mdash; это больше, чем просто продажи"
    url: "/blog/marketing-bolshe-chem-prodazhi/"
  - title: "Бренд PES GLOBAL в Казахстане: разработка стратегии"
    url: "/blog/pes-global-brand-concept/"
  - title: "Как понять, что маркетинг несистемный: 9 признаков"
    url: "/blog/priznaki-nesistemnogo-marketinga/"
  - title: "12&nbsp;архетипов для B2B: как усилить бренд и&nbsp;привлекать клиентов"
    url: "/blog/12-archetypes-b2b-marketing/"
  - title: "ИИ — главная угроза и шанс для вашего бренда"
    url: "/blog/kak-ai-menyaet-brending/"
topic: brand-positioning
---


<div class="max-width-text with-side">

	<p>В&nbsp;2017 году я&nbsp;<strong>разработал концепцию бренда типографии <span
				class="noperenos">«Флекс-н-Ролл»</span></strong>. Проект длился 6&nbsp;месяцев, за&nbsp;которыми стояли
		две волны исследований агентства МАСМИ, мозговые штурмы, встречи и&nbsp;многочасовые обсуждения. Вместе
		с&nbsp;Еленой
		Горбачевой&nbsp;— генеральным директором типографии&nbsp;— раскрываем подробности проекта. </p>

	<p>Этот кейс важен не только как история проекта для типографии, но и как пример того, как концепция бренда
		помогает компании точнее определить свои отличия, выстроить коммуникацию вокруг значимой для клиента ценности и
		задать более осмысленный вектор развития.</p>

	<div class="side">
		<div class="guests">
			<div class="guest-person">
				<img class="image is-150x150"
					src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/e_improve/v1588702100/site/gorbacheva-600.jpg"
					srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_150/f_auto/q_auto/e_improve/v1588702100/site/gorbacheva-600.jpg 150w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_450/f_auto/q_auto/e_improve/v1588702100/site/gorbacheva-600.jpg 450w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto/q_auto/e_improve/v1588702100/site/gorbacheva-600.jpg 640w
  " sizes="150px" width="640" height="641" alt="Елена Горбачева" aria-hidden="true">

				<div class="guest-person__name">Елена Горбачева</div>
				<div class="guest-person__position">генеральный директор <span class="noperenos">ООО
						«Флекс-н-Ролл»</span></div>
			</div>
		</div>
	</div>
</div>


<p class="italic">«Флекс-н-Ролл»&nbsp;— лидер белорусского рынка в&nbsp;производстве самоклеящихся​ этикеток. Занимает
	первое место по&nbsp;уровню знания торговой марки в&nbsp;сегменте самоклеящихся этикеток по&nbsp;результатам
	исследования МАСМИ, 2&nbsp;квартал 2017 года, Беларусь. </p>






<section class="row-gap--m space-section max-width-text">
	<h2 class="heading--beta">Задача&nbsp;— четкое позиционирование компании и&nbsp;отстройка от&nbsp;конкурентов</h2>
	<p><span class="bold">Елена Горбачева:</span> Типография <span class="noperenos">«Флекс-н-Ролл»</span>&nbsp;—
		крупное предприятие, работающее в&nbsp;сфере самоклеящейся этикетки с&nbsp;2003&nbsp;года. Из&nbsp;небольшой компании нам удалось перерасти в&nbsp;мощное успешное производство. </p>

	<p>Но&nbsp;время не&nbsp;стоит на&nbsp;месте, меняются правила и&nbsp;подходы ведения бизнеса, рынок становится все
		более тесным. Чтобы сохранять лидерские позиции и&nbsp;приумножать достижения, <strong>нам потребовалось четко
			позиционировать компанию на&nbsp;рынке</strong> и&nbsp;максимально отстроиться от&nbsp;конкурентов.
		Мы&nbsp;поставили перед собой цель укрепить и&nbsp;развить бренд <span class="noperenos">«Флекс-н-Ролл»,</span>
		придав ему целенаправленности, сплотив вокруг него наших клиентов и&nbsp;сотрудников. </p>

	<p>Иными словами, речь шла не&nbsp;о&nbsp;косметическом обновлении коммуникации, а&nbsp;о&nbsp;поиске более точного рыночного смысла бренда: чем компания отличается, на&nbsp;какой ценности строит отношения с&nbsp;клиентами и&nbsp;как должна говорить о&nbsp;себе в&nbsp;плотной конкурентной среде.</p>

	<p>Проект заинтересовал Европейский банк реконструкции и&nbsp;развития, и&nbsp;он&nbsp;выделил нам грант на&nbsp;его
		реализацию в&nbsp;рамках поддержки женского предпринимательства «Женщины в&nbsp;бизнесе». Благодаря этому
		мы&nbsp;привлекли маркетолога Дмитрия Бартошевича и&nbsp;исследовательское агентство МАСМИ, которое провело
		исследование белорусского и&nbsp;российского рынка типографских услуг.</p>

	<figure class="figure" itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="url" href="/assets/images/blog/brand-strategy-flex-n-roll/flex_label-720.jpg">

		{% image "assets/images/blog/brand-strategy-flex-n-roll/flex_label.png", "Этикетка, напечатанная в типографии
		«Флекс-н-Ролл»", "(min-width: 760px) 670px, 89.77vw", [400, 720, 900, 1200, 1440], ["avif", "webp", "jpeg"],
		"image full-bleed" %}

		<meta itemprop="contentUrl" content="/assets/images/blog/brand-strategy-flex-n-roll/flex_label-720.jpg">


		<figcaption class="figcaption">
			Фото с&nbsp;сайта <span class="noperenos">flex-n-roll.ru</span>
		</figcaption>
	</figure>
</section>



<section class="row-gap--m space-section max-width-text">
	<h2 class="heading--beta">Как решали задачу&nbsp;— этапы работы над концепцией бренда </h2>
	<p><span class="bold">Дмитрий Бартошевич:</span> Первый шаг&nbsp;— детальное описание контекста задачи. <a
			class="link" href="/blog/otkaz-ot-brifov/" title="Почему я не прошу заполнять брифы">Я&nbsp;не&nbsp;доверяю
			высланным
			по&nbsp;почте брифам</a> и&nbsp;предпочитаю обсуждать задачу лично. Вместе с генеральным директором и
		руководителями маркетинга и продаж мы разобрали цели проекта, планы развития компании, особенности клиентов и
		конкурентную среду. Важно было сформировать общее понимание задачи, ожидаемого результата и требований к
		проекту.
	</p>

	<p>Следующим шагом вместе с отделом продаж мы составили собирательный образ
		клиента <span class="noperenos">«Флекс-н-Ролл»</span> и разработали <a class="link"
			href="/blog/customer-journey-map/" title="алгоритм составления карты потребительского опыта">карту
			потребительского опыта</a>. Мы описали путь
		клиента — от момента осознания потребности до рекомендации типографии коллегам, выделили барьеры на каждом этапе
		и наметили способы их устранения. Уже на этом этапе появились идеи для развития бренда, и&nbsp;это было только
		начало.</p>

	<p>После этого я&nbsp;проанализировал доступные материалы о&nbsp;конкурентах: сайты, коммерческие предложения,
		презентации. Сопоставил их&nbsp;с&nbsp;картой потребительского опыта, целями проекта и&nbsp;задачами бизнеса.
		Так удалось увидеть «слепые пятна»&nbsp;— какой информации о&nbsp;клиентах, мотивах выбора и&nbsp;восприятии
		рынка нам не&nbsp;хватает для точного позиционирования.</p>

	<p>На&nbsp;этом этапе стало понятно, что внутреннего взгляда компании на&nbsp;себя недостаточно. Нужно было
		проверить, как заказчики на&nbsp;самом деле воспринимают типографии, что влияет на&nbsp;выбор подрядчика
		и&nbsp;какие смыслы действительно имеют для них значение. С&nbsp;этой задачей мы&nbsp;пришли
		в&nbsp;исследовательское агентство МАСМИ.</p>

	<p>Исследование провели в&nbsp;два этапа. Первый&nbsp;— глубинные интервью. МАСМИ опросило специалистов, которые
		на&nbsp;предприятиях отвечают за&nbsp;закупку самоклеящейся этикетки. Мы&nbsp;выявили критерии выбора
		подрядчиков, ценностные ориентиры, требования к&nbsp;качеству и&nbsp;уровню обслуживания, и&nbsp;—
		главное&nbsp;— составили гипотезы, которые проверили на&nbsp;втором этапе&nbsp;— количественном исследовании
		(провели опрос).</p>

	<figure class="figure" itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="url" href="/assets/images/blog/brand-strategy-flex-n-roll/flex_stat.jpg">

		{% image "assets/images/blog/brand-strategy-flex-n-roll/flex_stat.jpg", "Уровень знания торговых марок
		типографий, МАСМИ", "(min-width: 760px) 670px, 89.77vw", [400, 720], ["avif", "webp", "jpeg"], "image
		full-bleed" %}

		<meta itemprop="contentUrl" content="/assets/images/blog/brand-strategy-flex-n-roll/flex_stat.jpg">


	</figure>

	<p>После исследования у&nbsp;нас появилась надежная основа для стратегических решений. Мы&nbsp;поняли, как
		специалисты промышленных предприятий воспринимают типографии, на&nbsp;что обращают внимание при выборе
		подрядчика, что побуждает рекомендовать компанию и&nbsp;что, наоборот, заставляет отказаться
		от&nbsp;сотрудничества.</p>

	<p>У&nbsp;меня было достаточно информации, чтобы найти востребованную нишу для позиционирования <span
			class="noperenos">«Флекс-н-Ролл»</span>, описать рациональные и&nbsp;эмоциональные преимущества предприятия,
		составить образ-личность бренда и&nbsp;принципы коммуникации компании. </p>
</section>





<section class="row-gap--m space-section max-width-text">
	<h2 class="heading--beta">Что получили&nbsp;— основные результаты</h2>

	<p><span class="bold">Дмитрий Бартошевич:</span> Анализ данных показал, что на белорусском рынке самоклеящихся
		этикеток нет сильного бренда с цельной и согласованной коммуникационной системой.</p>

	<p>Статистически значимых различий в восприятии типографий выявить не удалось. Большинство компаний описывали себя
		схожим языком. В результате коммуникация выглядела типовой, а образ компании — размытым. Если компания говорит
		теми же формулами, что и остальные, ее сложнее отличить, а коммуникация перестает работать как инструмент
		выбора.</p>

	<p>Распространенные способы самопрезентации&nbsp;— акценты на&nbsp;технологиях, качестве и&nbsp;«продающих»
		свойствах этикетки. Но&nbsp;такой подход не&nbsp;работает. Это особенно важно понимать тем типографиям, которые
		намерены работать на&nbsp;российском рынке. Идеи новейших технологий, привлекающих и&nbsp;«продающих» этикеток
		постоянно используются известными в&nbsp;России типографиями: «Аврора», «Исратэк», «Окил-Сато» и&nbsp;<span
			class="noperenos">«ССЛ-Контур»</span>. Качественная же печать этикетки&nbsp;— это гигиенический фактор.
		Это&nbsp;то, что должно быть, но&nbsp;само по&nbsp;себе не&nbsp;дает преимуществ. Качество не&nbsp;гарантирует
		поток заявок, но&nbsp;без качества, определенно, заказов станет меньше.</p>

	<p>Исследование выявило характеристику, которая значима для клиентов, но не использовалась конкурентами <span
			class="noperenos">«Флекс-н-Ролл»</span> в позиционировании, — потребительский опыт. Клиенты типографий
		стремятся к&nbsp;гармоничным и&nbsp;предсказуемым отношениям, им&nbsp;важно работать с&nbsp;подрядчиком как одна
		команда. Поэтому основой продвижения <span class="noperenos">«Флекс-н-Ролл»</span> я&nbsp;предложил сделать
		качество потребительского опыта.</p>

	<p><span class="italic">Суть концепции бренда:</span> <span class="noperenos">«Флекс-н-Ролл»</span> работает
		в&nbsp;ритме клиента. Типография подстраивается под задачи заказчика, предлагает варианты оптимизации заказа,
		печатает в&nbsp;соответствии с&nbsp;утвержденным макетом и&nbsp;в&nbsp;согласованные сроки. Клиенты ощущают помощь
		и&nbsp;поддержку со&nbsp;стороны <span class="noperenos">«Флекс-н-Ролл»</span>, видят слаженную командную работу
		и&nbsp;знают, что с&nbsp;этой типографией сотрудничать легко.</p>


	<figure class="figure" itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="url" href="/assets/images/blog/brand-strategy-flex-n-roll/flex-n-roll@3x.jpg">

		{% image "assets/images/blog/brand-strategy-flex-n-roll/flex-n-roll@3x.jpg", "Флекс-н-Ролл, логотип",
		"(min-width: 760px) 670px, 89.77vw", [360, 670, 1440], ["avif", "webp", "jpeg"], "image" %}

		<meta itemprop="contentUrl" content="/assets/images/blog/brand-strategy-flex-n-roll/flex-n-roll@3x.jpg">

	</figure>



	<p class="space-connected"><span class="bold">Елена Горбачева:</span> Предложенная концепция не осталась на уровне
		формулировки. Она стала ориентиром для изменений в компании и задала единый вектор для работы разных
		подразделений.</p>
	<p>Приятно отметить, как вокруг идеи бренда объединились сотрудники разных отделов компании. Старались все делать
		сообща, чтобы каждый член нашей большой производственной команды смог принять, прочувствовать концепцию
		и&nbsp;успешно ее&nbsp;внедрить на&nbsp;рабочем месте.</p>

	<p>Изменения затронули не только коммуникацию бренда, но и конкретные точки взаимодействия с клиентами. В
		компании перестроили структуру текстов и рубрик на сайте, добавили новый виджет «Запрос обратного звонка» и
		разместили формы для связи в зонах прямого доступа. Чтобы сотрудничество было еще более комфортным, разработали
		кабинет клиента, в котором можно посмотреть актуальную информацию о заказах.</p>

	<p>Поскольку у типографии есть зарубежные клиенты и партнеры, следующим шагом стала адаптация части контента для
		англоязычной аудитории.</p>

	<p>Как видим, много достойных идей воплощено в&nbsp;жизнь. Но&nbsp;мы&nbsp;не&nbsp;собираемся останавливаться
		на&nbsp;достигнутом. Впереди много планов и&nbsp;есть главное&nbsp;— четкий выверенный вектор развития компании,
		который обозначил для нас Дмитрий Бартошевич. Мы знаем, на каком отличии строить позиционирование, какие
		принципы закладывать в коммуникацию и какие изменения в клиентском опыте действительно усиливают бренд. Поэтому
		хотелось&nbsp;бы поблагодарить его за&nbsp;предложенную концепцию и&nbsp;проведенную большую работу
		по&nbsp;брендингу нашего предприятия.</p>

	<p>Также мы&nbsp;очень признательны агентству МАСМИ, позволившему нам посмотреть на&nbsp;рынок глазами клиентов.
		Огромную благодарность выражаем Европейскому банку реконструкции и&nbsp;развития, чьи инвестиции способствуют
		росту и&nbsp;развитию бизнеса.</p>

</section>


<section class="row-gap--m space-section max-width-text">
	<h2 class="heading--beta">Комментарий заместителя генерального директора «МАСМИ» Марины Ефименко: </h2>
	<p>«Проект был очень интересным. Воедино сошлось все, о&nbsp;чем только можно мечтать: профессионализм всех
		участников в&nbsp;своей области, партнерские отношения в&nbsp;работе, вовлеченность в&nbsp;проект на&nbsp;все
		100%, оперативная обратная связь, эффективное обсуждение возникающих вопросов и&nbsp;ответственность
		за&nbsp;результат.</p>

	<p>Приятно было, что мы&nbsp;в&nbsp;очередной раз увидели, как необходимы и&nbsp;ценны результаты исследовательского
		проекта для <strong>планирования стратегического развития компании</strong> Клиента». </p>
</section>



<section class="row-gap--m space-section max-width-text">
	<h2 class="heading--beta">Что показал этот проект</h2>

	<p>Кейс <span class="noperenos">«Флекс-н-Ролл»</span> показывает, что концепция бренда — это не набор формулировок
		для сайта, а инструмент управленческих решений. Она помогает определить реальное отличие компании на рынке,
		выстроить коммуникацию вокруг значимой для клиента ценности и задать понятное направление изменений в маркетинге
		и бизнес-процессах.</p>

	<p>В этом проекте бренд-концепция стала рабочей основой для изменений: от принципов коммуникации до конкретных
		решений в клиентском опыте.</p>

	<p>Если вам интересна связь между брендом, ростом бизнеса и маркетинговой эффективностью, посмотрите также
		статью о <a class="link" href="/blog/perfomance-and-brand-marketing/">performance- и brand-маркетинге</a>. А
		также познакомьтесь с другими кейсами: <a class="link" href="/blog/kejs-brend-giperlink/">Giperlink</a> и <a
			class="link" href="/blog/razrabotka-koncepcii-brenda-hormann/">Hörmann</a>.</p>
</section>


