---
layout: post
title:  "Анализ продаж по методике Nielsen: опыт FMCG-рынка"
name: "Как анализировать продажи: проверенный алгоритм Nielsen"
description: "Делюсь алгоритмом анализа продаж, разработанный на&nbsp;основе опыта работы в&nbsp;Nielsen. Идеально подходит для FMCG, можно использовать и&nbsp;в&nbsp;других отраслях."
date:   2019-12-05
last_modified_at: 2024-02-05
categories: мнение
permalink: "/blog/analiz-prodazh-nielsen/"
tags: "инструменты"
image: /assets/images/tizers/tizer-61.jpg
keywords: "продажи, анализ продаж"
eleventyNavigation:
  key: analiz-prodazh-nielsen
  title: "Как анализировать продажи: проверенный алгоритм Nielsen"
  parent: blog
---


<div class="with-side row-gap--m">
<p>Около пяти лет работы в&nbsp;<b>Nielsen</b> я&nbsp;анализировал розничные продажи для крупных <span class="noperenos">FMCG-компаний*</span>. За&nbsp;это время выработался и&nbsp;закрепился алгоритм работы. Позже, когда анализировал данные для предприятий из&nbsp;других сфер, шел по&nbsp;«натоптанному» сценарию. Результатами доволен.</p>
<div class="side">
<p>*FMCG (Fast Moving Consumer Goods)&nbsp;— быстро реализуемые потребительские товары. Пример: напитки, молочные продукты, бытовая химия, средства личной гигиены, корм для животных. </p>
</div>
</div>

<p>В&nbsp;статье опишу <strong>логику анализа продаж, без погружения в&nbsp;специфику отдельных отраслей</strong>. Заимствовать и&nbsp;использовать подход разрешается.</p>


<section class="row-gap--m">
<h2 class="section__title h1 bold ">Задаю вопросы</h2>
<p>Перед тем, как приступить к&nbsp;анализу, я&nbsp;иду к&nbsp;тому, для кого данные анализирую. И&nbsp;обсуждаю, на&nbsp;какие вопросы требуется получить ответ. </p>
<p>Это обязательный этап. Так я&nbsp;определяю, что наиболее значимо и&nbsp;актуально для предприятия. Уточняю формулировки и&nbsp;правильно расставляю в&nbsp;работе акценты.</p>

<span class="bold mb-m">Одна история</span>
<div class="extract"> 
	<p>—&nbsp;Как вы&nbsp;будете использовать результаты анализа продаж?</p>
 <p>—&nbsp;У&nbsp;нас очень большой ассортимент. От&nbsp;анализа я&nbsp;жду списка позиций, которые стоит убрать.</p>
 <p>—&nbsp;Если я&nbsp;покажу, что можно убрать, например, А, Б&nbsp;и&nbsp;К, вы&nbsp;будете довольны работой?</p>
 <p>—&nbsp;Да, это&nbsp;то, что я&nbsp;ожидаю.</p>
 <p>—&nbsp;Можно как-то усилить полезность анализа?</p>
 <p>—&nbsp;Да, если финальные выводы вы&nbsp;сделаете вместе с&nbsp;начальником отдела производства. Разнообразие ассортимента требует частой перенастройки оборудования. Отсюда низкая скорость производства. Хотелось&nbsp;бы не&nbsp;просто избавиться от&nbsp;плохо продаваемых товаров, но&nbsp;и&nbsp;снизить вариативность стандартных позиций. </p>
	
 </div>
<span class="bold mb-m">Совершенно другая история</span>
<div class="extract"> 
	<p>—&nbsp;Как вы&nbsp;будете использовать результаты анализа продаж?</p>
 <p>—&nbsp;Мы&nbsp;планируем начать производство нового молочного коктейля. В&nbsp;этом году выпустили 3&nbsp;новых вида, но&nbsp;результатами недовольны. Хотим понять, почему запуски не&nbsp;удались, чтобы не&nbsp;повторить ошибок.</p>
 <p>—&nbsp;Я правильно понимаю, что от&nbsp;анализа продаж вы&nbsp;в&nbsp;первую очередь ждете рекомендаций по&nbsp;запуску новых продуктов?</p>
 <p>—&nbsp;Да, именно так. </p>
	
 </div>
<p>Вопросы сберегут время и&nbsp;энергию. Чем больше данных, тем дольше можно заниматься анализом. Копаться в&nbsp;показателях и&nbsp;значениях можно бесконечно. Чтобы не&nbsp;увязнуть, рекомендую периодически напоминать себе, на&nbsp;какой вопрос вы&nbsp;ищете ответ.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Определяю контекст</h2>
<p>Анализ я&nbsp;начинаю с&nbsp;определения контекста&nbsp;— что происходит в&nbsp;отрасли в&nbsp;целом. Контекст задает смысл показателям. Продажи в&nbsp;компании выросли на&nbsp;50%&nbsp;— это хорошо или плохо? Если объем продаж в&nbsp;категории увеличился в&nbsp;три раза, один ответ, а&nbsp;если категория сократилась на&nbsp;50%&nbsp;— другой.</p>
<div class="with-side row-gap--m">
<p><span class="bold">Если вы&nbsp;работаете на&nbsp;рынке FMCG</span>, используйте данные аудита розничной торговли. Можно узнать, что происходило с&nbsp;товарной категорией в&nbsp;течение последних лет (вплоть до&nbsp;уровня SKU*).</p>
<div class="side">
<p>
*SKU (Stock Keeping Unit)&nbsp;&mdash; единица складского учёта, артикул товара.   </p>
</div>
</div>

<div class="with-side row-gap--m">
<p class="mb-m">На&nbsp;какие основные вопросы отвечает <strong>аудит розничной торговли</strong>:</p>
<ul> 
	<li class="list-li">Какой размер рынка исследуемой категории?</li>
	<li class="list-li">Насколько важен в&nbsp;категории тот или иной производитель, бренд, сегмент?</li>
	<li class="list-li">Какой торговый канал (регион)&nbsp;— самый значимый?</li>
	<li class="list-li">Как менялись продажи и&nbsp;доля рынка в&nbsp;течение времени?</li>
	<li class="list-li">Насколько значимы те&nbsp;торговые точки, куда поставляется товар?</li>
	<li class="list-li">Как представлен товар в&nbsp;торговой сети? В&nbsp;скольких %&nbsp;торговых точек товар присутствует постоянно?</li>
	<li class="list-li">Что происходило с&nbsp;продажами, если менялась цена, дистрибуция, появился новый продукт, изменилась активность конкурентов?</li>
 </ul>
 <div class="side">
<p>Мировой лидер в&nbsp;сфере аудита розничной торговли&nbsp;— <b>компания Nielsen</b>. Ранее я&nbsp;<a class="link" href="/blog/otlichie-marketologa-ot-brexuna/#nielsen" title="подход Nielsen к анализу данных">рассказывал о&nbsp;подходе компании к&nbsp;анализу данных</a>. </p>
</div>
</div>


<p><span class="bold">Если информации по&nbsp;отрасли нет</span> и&nbsp;я&nbsp;анализирую только внутренние данные, то&nbsp;контекстом будет общая динамика продаж компании. Допустим, объем продаж продукции предприятия Х&nbsp;— в&nbsp;сравнении с&nbsp;прошлым годом&nbsp;— увеличился на&nbsp;22%. Это наш контекст. В&nbsp;этом смысловом поле мы&nbsp;будем рассматривать показатели регионов, дилеров, каналов и&nbsp;т.д.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Выявляю факторы изменений</h2>
<p>На&nbsp;предыдущем этапе меня интересовали общие показатели: как изменилась категория, как изменился объем продаж компании. Когда общая картина ясна, приступаю к&nbsp;анализу&nbsp;— раскладываю картину на&nbsp;составляющие. Такими составляющими могут быть производители, торговые каналы, географические регионы, торговые марки, маркетинговые активности и&nbsp;пр.</p>

<p>В&nbsp;анализе обращаю внимание на&nbsp;все большое, значимое, выделяющееся из&nbsp;контекста.</p>


<table > 
<caption><em>Пример</em>. Динамика объема продаж предприятия Х.</caption>	
	<thead> 
		<tr> 
			<th>Регионы</th>
			<th class="text-right">Рост продаж, %. <br><span class="wtf">Янв-Ноя’19&nbsp;vs. <span class="noperenos">Янв-Ноя’18.</span></span></th>
			<th class="text-right">«Вес» в&nbsp;продажах, <br><span class="wtf noperenos">Янв-Ноя’19</span></th>
 		</tr>
 	</thead>
	<tbody> 
		<tr > 
			<td>№1</td>
			<td class="text-right">+2%</td>
			<td class="text-right">18,7%</td>
 		</tr>
		<tr> 
			<td>№2</td>
			<td class="text-right">+165%</td>
			<td class="text-right">16,5%</td>
 		</tr>
		<tr> 
			<td>№3</td>
			<td class="text-right">+5%</td>
			<td class="text-right">45,0%</td>
 		</tr>
		<tr> 
			<td>№4</td>
			<td class="text-right">+7%</td>
			<td class="text-right">10,6%</td>
 		</tr>
		<tr> 
			<td>№5</td>
			<td class="text-right">+100%</td>
			<td class="text-right">9,2%</td>
 		</tr>
		 </tbody>
		 <tfoot>
		<tr> 
			<td>Total</td>
			<td class="text-right">+22%</td>
			<td class="text-right">100%</td>
 		</tr>
 	</tfoot>
 </table>





<p>Рассмотрим таблицу выше. Что можем отметить, как большое? «Вес» региона №3&nbsp;— 45%. Сравним его с&nbsp;регионом с&nbsp;наименьшей долей в&nbsp;общем объеме продаж и&nbsp;объясним разницу.</p>

<p> Что выбивается из&nbsp;контекста? Общий объем продаж предприятия вырос на&nbsp;22%. Продажи в&nbsp;регионе №2&nbsp;выросли на&nbsp;165%, в&nbsp;регионе №1&nbsp;— всего на&nbsp;2%. Это&nbsp;— точки «экстремумы», драйверы изменений. Благодаря чему настолько выросли продажи в&nbsp;одном регионе и&nbsp;что отсутствует в&nbsp;другом? </p>


<p>Ответы и&nbsp;порядок работы зависит от&nbsp;изучаемой категории и&nbsp;целей анализа. Везде будут свои особенности. Неизменен общий ход работы: каждый последующий этап&nbsp;— это поиск ответа на&nbsp;вопрос, сформулированный на&nbsp;предыдущем.  Если возникает заминка, если не&nbsp;знаете, что делать дальше, возвращайтесь назад, ищите большое, значимое, выделяющееся и&nbsp;задавайте вопросы.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Составляю план действий</h2>
<p>На&nbsp;финальной стадии я&nbsp;отвечаю на&nbsp;вопросы, которые сформулировал на&nbsp;первом этапе. В&nbsp;ответах опираюсь на&nbsp;знания о&nbsp;выявленных трендах и&nbsp;факторах, на&nbsp;них влияющих.</p>
<p><span class="italic">Примечание&nbsp;1.</span> Часто встречаю, когда анализом рынка называют описание фактов. «В&nbsp;этом периоде продажи штуковины&nbsp;Х упали на&nbsp;3%. Продажи штуковины&nbsp;Z остались на&nbsp;прежнем уровне». Это не&nbsp;анализ. «40% респондентов указали, что основным критерием выбора является цена.&nbsp;45%&nbsp;— качество». Это тоже не&nbsp;анализ. Моя позиция: результат анализа продаж&nbsp;— план действий, аргументированные предложения по&nbsp;решению актуальных для предприятия задач.</p>
<p><span class="italic">Примечание&nbsp;2.</span> Итоговый отчет делаю коротким. Если это формат презентации, то&nbsp;я&nbsp;не&nbsp;показываю все графики и&nbsp;таблицы, которые сделал. Демонстрирую только&nbsp;то, что имеет прямое отношение к&nbsp;цели (вопросам) анализа. Стремлюсь к&nbsp;тому, чтобы в&nbsp;итоге получилась лаконичная история, из&nbsp;которой будут понятны ключевые идеи и&nbsp;выводы. Ничего лишнего и&nbsp;отвлеченного. </p>
</section>