---
layout: post
title:  "Сет Годин – «Это маркетинг»: ключевые идеи и уроки книги"
name: "«Это маркетинг» Сета Година: в&nbsp;чем суть маркетинга на&nbsp;самом деле"
description: "Разбираю ключевые идеи книги Сета Година &laquo;Это маркетинг&raquo;: зачем маркетологу понимать аудиторию, почему реклама не&nbsp;главное и&nbsp;как строить доверительные отношения."
date:   2019-02-20
last_modified_at: 2022-02-05
categories: мнение
permalink: "/blog/set-godin-eto-marketing/"
tags: "управление маркетолог"
image: /assets/images/tizers/tizer-56.jpg
mentions:
  - name: "Сет Годин"
    jobTitle: "Founder, CEO"
    affiliation: "Seth Godin Productions"
    image: "https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1693109225/site/godin/setgodin.jpg"
    profileUrl: "https://www.linkedin.com/in/sethgodin/"
eleventyNavigation:
  key: set-godin-eto-marketing
  title: "«Это маркетинг» Сета Година: в чем суть маркетинга на самом деле"
  parent: blog 
---


<div class="max-width-text with-side">
<p>В&nbsp;конце 2018 года <strong>Сет Годин издал книгу «This is&nbsp;marketing»</strong>. В&nbsp;первые недели было продано 50&nbsp;000+&nbsp;копий. Газета Financial Times назвала ее&nbsp;книгой месяца. Читатели делятся восторженными отзывами в&nbsp;ютубе. Книги пока нет на&nbsp;русском и&nbsp;я&nbsp;решил рассказать об&nbsp;основных ее&nbsp;идеях здесь. </p>
	<div class="side">
		<div class="guests">
			<div class="guest-person"   itemscope itemtype="https://schema.org/ImageObject">
				<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1693109225/site/godin/setgodin.jpg">
				<img class="image is-150x150" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1693109225/site/godin/setgodin.jpg" alt="Сет Годин" width="150" height="150" itemprop="contentUrl">	
					<div class="guest-person__name" itemprop="name">Сет Годин</div>
					<div class="guest-person__position" itemprop="description">автор книг «Все маркетологи&nbsp;— лжецы», «Доверительный маркетинг», «Фиолетовая корова», «Яма» и&nbsp;др. В&nbsp;2018 году был введен в&nbsp;Зал Славы американской маркетинговой ассоциации.</div>				
			</div>
		</div>
	</div>
</div>



<section class="row-gap--m space-connected max-width-text">
<h2 class="heading--beta">Реклама&nbsp;— ловушка, отвлекающая от&nbsp;маркетинга </h2>
<p>Долгое время рекламу и&nbsp;маркетинг отождествляли. Все, что нужно было маркетологу,&nbsp;— заказать и&nbsp;оплатить рекламу. И&nbsp;такой подход работал. Сейчас реклама стала более дешевой и&nbsp;измеряемой. Почему&nbsp;бы тогда не&nbsp;продолжать в&nbsp;том&nbsp;же духе? Потому что никогда ранее рекламу не&nbsp;игнорировали так, как сегодня. Можно показать баннер сотне тысяч человек и&nbsp;не&nbsp;получить ни&nbsp;одного клика. </p>
<p>Чтобы достучаться,&nbsp;— нам скажут,&nbsp;— нужно еще больше упоминаний, нужно лучше находить правильных людей и&nbsp;более эффективно красть их&nbsp;внимание. Однако, в&nbsp;долгосрочной перспективе такой подход губителен. </p>
<p>Не&nbsp;то, чтобы реклама не&nbsp;работала в&nbsp;принципе. Она&nbsp;— решение не&nbsp;для каждой ситуации. И&nbsp;совершенно точно, маркетинг не&nbsp;начинается с&nbsp;рекламы и&nbsp;его нельзя сводить к&nbsp;рекламе. </p>
<p><strong>Маркетинг нацелен на&nbsp;сотрудничество с&nbsp;клиентом и&nbsp;сконцентрирован на&nbsp;понимании его внутреннего мира</strong>. Маркетологи предлагают людям решения и&nbsp;возможности двигаться вперед. Они меняют культуру и&nbsp;жизнь к&nbsp;лучшему. </p>
<p>Вместо вопросов «Как получить бо&#x301;льшую аудиторию?», «Как увеличить конверсию?», <a class="link" href="/blog/metodika-nps-indeks-loyalnosti-klientov/">маркетолог спрашивает</a> «Что я&nbsp;могу изменить, чтобы это имело значение для клиентов?».</p>

<p>Маркетинг&nbsp;— доброжелательный и&nbsp;одновременно дерзкий способ сказать «Я&nbsp;знаю лучшую альтернативу. Пойдем со&nbsp;мной». Маркетологам нужны не&nbsp;жертвы, а&nbsp;добровольцы. </p>

<p>Первый шаг к&nbsp;тому, чтобы вашу компанию заметили,&nbsp;— не&nbsp;рассказать о&nbsp;себе, а&nbsp;посмотреть на&nbsp;мир глазами других. Вас не&nbsp;заметят, пока вы&nbsp;не&nbsp;научитесь смотреть. </p>
</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Концентрация на&nbsp;малом ведет к&nbsp;росту </h2>

<p>Желание охватить как можно больше человек делает вас скучными. Вы&nbsp;должны удовлетворить каждого и&nbsp;никого не&nbsp;обидеть. Вы&nbsp;прибегаете к&nbsp;обобщениям и&nbsp;компромиссам. Вы&nbsp;становитесь усредненными. </p>

<p>Вместо этого выделите тех немногих, для которых вы&nbsp;будете делать нечто действительно значимое и&nbsp;стоящее. Концентрируйтесь на&nbsp;минимально жизнеспособном рынке&nbsp;— минимальном количестве людей, которых вам нужно охватить, чтобы это оправдало усилия по&nbsp;бизнесу. </p>

<p>Допустим, вы&nbsp;хозяин кафе. Вы&nbsp;точно знаете, что можете обслужить в&nbsp;день не&nbsp;более 600&nbsp;человек. Начните с&nbsp;того, что определите, каких именно 600 человек вы&nbsp;хотите обслуживать.</p>

<p>Выбирайте людей, которые открыты вашему предложению в&nbsp;наибольшей степени. Для которых ваша работа имеет значение. Чье видение мира подобно вашему. Найдите тех, для которых быть сопричастными вам&nbsp;— выражение собственной идентичности, шанс сделать&nbsp;то, что они считают правильным. </p>

<p>Как это ни&nbsp;парадоксально, минимально жизнеспособный рынок&nbsp;— верный способ для компании вырасти. Подумайте о&nbsp;фейсбуке, который изначально был сфокусирован на&nbsp;студентах Гарварда. </p>

<p>Не&nbsp;все разделят ваши стремления. Это нормально. У&nbsp;каждого бестселлера свой багаж отрицательных отзывов. Сконцентрируйтесь и&nbsp;работайте для тех, кому вы&nbsp;интересны, кто вам доверяет, кто с&nbsp;вами уже связан. Мнение остальных ничего не&nbsp;значит. </p>

<p>Отказ от&nbsp;работы со&nbsp;всеми&nbsp;— проявление уважения. «Это не&nbsp;для вас. Я&nbsp;не&nbsp;хочу тратить ваше время, пытаться переубедить или дожимать вас. Вот, возьмите телефон моего конкурента». </p>
</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Ваш товар никому не&nbsp;нужен </h2>
<p>Люди выбирают не&nbsp;товар, а&nbsp;то, он&nbsp;для них делает. Не&nbsp;товар, а&nbsp;чувства, которые он&nbsp;пробуждает. Не&nbsp;товар, а&nbsp;историю. </p>

<p>Теодор Левит говорил, что люди хотят не&nbsp;дрель, а&nbsp;дырку в&nbsp;стене. Это не&nbsp;совсем так. Дыра тоже не&nbsp;нужна. Людям нужна полка, которую они повесят на&nbsp;стену. Порядок в&nbsp;комнате. Похвала домашних. Чувство удовлетворения от&nbsp;осознания, что справился с&nbsp;задачей самостоятельно. </p>
<p>«Для кого это?», «Для чего это?»&nbsp;— <strong>два вопроса, которые направляют маркетолога</strong>. В ответах откроется <a class="link" href="/blog/konkurentnoe-preimushhestvo/">конкурентное преимущество</a>. </p>

<p>«Для чего»&nbsp;— не&nbsp;перечень рациональных доводов. Вы&nbsp;предоставите&nbsp;«за», ответите на&nbsp;«против», и&nbsp;человек тут&nbsp;же отбросит все, что не&nbsp;впишется в&nbsp;систему его представлений. Пытаться переубедить&nbsp;— долго, дорого и&nbsp;не&nbsp;всегда получается. Вместо этого встройте свою историю в&nbsp;картину bмира клиента.</p>

<p>Поведение каждого определяется набором внутренних установок и&nbsp;смыслов. Вы&nbsp;не&nbsp;измените другого, не&nbsp;изменив установки. Если вы&nbsp;возьмете не&nbsp;весь социум сразу, а&nbsp;небольшую группу людей, то&nbsp;шансы повлиять на&nbsp;поведение выше. Так мы&nbsp;снова приходим к&nbsp;концепции «минимально жизнеспособного рынка». </p>

<p>Поэтому: </p>
<ul>
	 <li  class="list-li">
		<p>изучите взгляды интересующей группы людей. Это важнее обучения последним фишкам фейсбука или доработки логотипа. </p>
	</li>
	<li  class="list-li">
		<p>сконцентрируйте всю энергию на&nbsp;выбранной группе. Игнорируйте остальные. <a class="link" href="/blog/kak-brendy-sozdajut-emotsionalnuyu-svyaz/">Создайте историю, которая будет резонировать с&nbsp;ее&nbsp;культурой и&nbsp;установками</a>. </p>
	</li>
</ul>
</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Сетевой эффект&nbsp;— альтернатива рекламе</h2>
<p>Реклама постоянно пытается украсть наше внимание и&nbsp;время, которое не&nbsp;вернуть. От&nbsp;обилия рекламных обещаний накапливается усталость. Рекламу ожидаемо игнорируют и&nbsp;блокируют. </p>

<p>Есть альтернатива: <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">маркетинг без нужды продать</a>. Пусть о&nbsp;вас говорят ваши клиенты. Пусть о&nbsp;вашем продукте узнают не&nbsp;от&nbsp;вас, а&nbsp;от&nbsp;друзей. Как это сделать? Создайте нечто такое, о&nbsp;чем люди захотят рассказать. </p>

<p>Корпоративный мессенджер Slack вошел в&nbsp;историю как самое быстрорастущее бизнес-приложение. Секрет успеха: чем больше коллег используют Slack, тем более он&nbsp;полезен. Поэтому первые пользователи были заинтересованы, чтобы в&nbsp;мессенджере зарегистрировалось как можно больше людей. И&nbsp;они сами рассказывали о&nbsp;Slack другим. Кто-то регистрировался. Те&nbsp;же, кто не&nbsp;стал, вскоре заметили, что выпали из&nbsp;контекста: обсуждение задач и&nbsp;проектов проходило без них. И&nbsp;они поспешили присоединиться к&nbsp;Slack. </p>

<p>Поток первых клиентов автоматически не&nbsp;означает успех бизнеса. Это&nbsp;— новаторы. Их&nbsp;привлекает новое, интересное, необычное. Новаторов немного и&nbsp;они быстро переключаются на&nbsp;следующее новшество. Для устойчивого развития бизнеса нужны консерваторы. Но&nbsp;они выбирают по&nbsp;другим критериям. Предпочитают проверенное, безопасное. И&nbsp;если сформировались потребительские стереотипы, следуют&nbsp;им. Между новаторами и&nbsp;консерваторами&nbsp;— пропасть. Мостом может послужить так называемый сетевой эффект. Это когда ценность услуг, идей выше, когда ими пользуется большее количество людей (как в&nbsp;примере со&nbsp;Slack). </p>

<p>Предоставьте клиентам причину говорить о&nbsp;вас. Они не&nbsp;будут обсуждать что-то только потому, что это важно для вас. Они сделают это, если это будет важно для них. Если задачи, которые вы&nbsp;хотите решить, не&nbsp;стоят того, чтобы о&nbsp;них говорить, вам нужно найти другое приложение усилий.</p>

<p>Нет особой причины рассказывать другим о&nbsp;шоколаде, который мне нравится. Если другие станут его есть, это не&nbsp;сделает мою жизнь лучше. Дайте причину, по&nbsp;которой я&nbsp;буду заинтересован рассказать о&nbsp;шоколаде друзьям, поинтересоваться у&nbsp;них «А&nbsp;ты&nbsp;пробовал?», «А&nbsp;ты&nbsp;уже видел?», «А&nbsp;ты знаешь?». </p>

<p><strong>Вопросы для маркетолога:</strong></p>
<ul>
	<li  class="list-li">
		<p>Что покупатель расскажет друзьям? </p>
	</li>
	<li  class="list-li">
		<p>Почему он&nbsp;будет это рассказывать?</p>
	</li>
</ul>

</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Клиент&nbsp;— это ученик </h2>

<p>Чтобы лучше понять, с&nbsp;кем и&nbsp;как вам нужно работать, измените одно слово. Вместо «клиент» скажите «ученик». Имеется ввиду не&nbsp;контекст школьной системы тестирования и&nbsp;оценок, а&nbsp;ситуация менторства и&nbsp;заботы. </p>

<ul>
	<li  class="list-li">
		<p>Где ваши ученики?</p>
	</li>
	<li  class="list-li">
		<p>Какую пользу они получат от&nbsp;обучения? </p>
	</li>
	<li  class="list-li">
		<p>Насколько они готовы к&nbsp;обучению? </p>
	</li>
	<li  class="list-li">
		<p>Чему вы&nbsp;будете обучать? </p>
	</li>
	<li  class="list-li">
		<p>Что они расскажут другим? </p>
	</li>
</ul>
</section>
<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Цена&nbsp;— это история</h2>
<p>Стоимость&nbsp;— не&nbsp;просто способ получить деньги. Это сигнал, знак для других. Это история о&nbsp;вас, уровне обслуживания, о&nbsp;тех, кто пользуется вашим товаром или услугами. Низкая цена&nbsp;— последнее прибежище маркетолога, который не&nbsp;может придумать стоящую историю. </p>

<p>Представьте человека, который всегда пьет самое дешевое вино. Насколько он&nbsp;отличается от&nbsp;того, кто пьет вино дорогое? В&nbsp;вопросах нет ни&nbsp;слова о&nbsp;характеристиках вина, но&nbsp;портреты потребителей отличаются. Вы&nbsp;сделали вывод только на&nbsp;основании стоимости. </p>
<p>Что вы&nbsp;сообщаете потребителям ценой своего товара или услуг? </p>
</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Маркетинг в&nbsp;5&nbsp;шагов </h2>
<p><span class="italic">шаг 1.</span> Придумайте&nbsp;то, что достойно воплощения. Достойно того, чтобы об&nbsp;этом рассказать. Достойно, чтобы об&nbsp;этом говорили. </p>
<p><span class="italic">шаг 2.</span> Реализуйте задуманное с&nbsp;максимальной выгодой для конкретной небольшой группы клиентов. </p>
<p><span class="italic">шаг 3.</span> Расскажите историю, которая коррелирует со&nbsp;взглядами и&nbsp;мечтами выбранной группы. </p>
<p><span class="italic">шаг 4.</span> Содействуйте распространению молвы о&nbsp;вас. </p>
<p><span class="italic">шаг 5.</span> Держитесь выбранного пути. Стройте доверие. Заслужите разрешение обращаться и&nbsp;желание вас слушать.  </p>
</section>