---
layout: post
title:  "Смелость руководителей: как компании выделяются и растут"
name: "Смелость руководителей: как компании выделяются, растут и&nbsp;становятся сильнее"
description: "Смелые руководители задают тон компании. Их&nbsp;решения помогают выделяться, сохранять ценности и&nbsp;делать бренд сильнее конкурентов."
date:   2019-10-25
last_modified_at: 2025-02-05
categories: мнение
permalink: "/blog/smelyj-brend/"
tags: "управление бизнес"
image: /assets/images/tizers/tizer-59.jpg
keywords: "маркетинг бренд"
eleventyNavigation:
  key: smelyj-brend
  title: "Как смелость помогает брендам выделяться и оставаться собой"
  parent: blog
relatedIdeas:
  - title: "От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;&mdash; это больше, чем просто продажи"
    url: "/blog/marketing-bolshe-chem-prodazhi/"
  - title: "Антикризисный маркетинг: стратегия и&nbsp;ценности бренда определяют успех"
    url: "/blog/marketing-v-krizis/"
  - title: "Бренд и&nbsp;перфоманс маркетинг&nbsp;&mdash; что важно знать маркетологу"
    url: "/blog/perfomance-and-brand-marketing/"
  - title: "«Это маркетинг» Сета Година: в&nbsp;чем суть маркетинга на&nbsp;самом деле"
    url: "/blog/set-godin-eto-marketing/"
  
---



<p>Для <b>создания бренда</b> мало знать, что делать. <strong>Бренд создают компании, у&nbsp;которых есть смелость и&nbsp;решимость действовать.</strong></p>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Без смелости нет бренда: почему компании теряются в&nbsp;толпе</h2>
<p><b>Бренд</b>&nbsp;— это не&nbsp;просто отличия. Это смелость заявить «Я&nbsp;не&nbsp;такой как&nbsp;вы». Заявить и&nbsp;выдержать насмешки, непонимание, скептические замечания и&nbsp;«добрые» советы опомниться.</p>
<p>В&nbsp;2007 году Тиньков объявил, что создает банк, в&nbsp;котором не&nbsp;будет отделений. Я&nbsp;помню, как много человек высмеивало его идею. «Да&nbsp;как может пивовар управлять банком!» «Что за&nbsp;бред&nbsp;— банк без отделений!». И&nbsp;вот сейчас на&nbsp;конференциях, где обсуждают развитие банковской отрасли, компанию Тинькова приводят как пример для подражания. Но&nbsp;этого&nbsp;бы не&nbsp;было, если&nbsp;бы Тиньков побоялся выйти из&nbsp;строя компаний-коллег и&nbsp;выдержать натиск пристальных взглядов.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Секрет сильных брендов: оставайся собой, даже когда критикуют</h2>
<p>Компания должна уметь адаптироваться к&nbsp;рынку. Но&nbsp;при этом важно выделить ядро, которое будет оставаться неизменными. Если&nbsp;бы торговая марка была человеком, то&nbsp;брендом&nbsp;бы стал только тот, у&nbsp;кого есть внутренний стержень. Кто говорит лишь&nbsp;то, куда ветер дует,&nbsp;— пустышка и&nbsp;никому не&nbsp;интересен. Он&nbsp;заслуживает не&nbsp;бренда, а&nbsp;всего лишь лого.</p>
<p><a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">В&nbsp;маркетинге нет нужды продать.</a> Лайки, просмотры&nbsp;— суета, прeходящее. Бренд не&nbsp;создашь, если ориентироваться на&nbsp;лайки и&nbsp;общественное одобрение. В&nbsp;главном нужно слушать только себя, опираться на&nbsp;свои ценности. Если не&nbsp;на&nbsp;что опереться&nbsp;— рано думать о&nbsp;бренде.</p>
<p class="post__note h2">
Бренд&nbsp;— это посметь работать так, как считаете правильным&nbsp;вы. Работать для тех, для кого хотите работать.</p>
<p>Четкая позиция бренда заставляет самоопределяться окружение. Всегда найдутся несогласные. И&nbsp;чем четче ядро бренда, тем громче будет голос несогласных. У&nbsp;сильного бренда не&nbsp;может не&nbsp;быть врагов. Стремление понравится всем, идти на&nbsp;поводу у&nbsp;каждого критического замечания&nbsp;— верный признак отсутствия бренда.</p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Фокус против хаоса: что помогает брендам обгонять конкурентов</h2>
<p><strong>Отдел маркетинга должен подтверждать и&nbsp;укреплять идею бренда.</strong> Гнуть свою линию, не&nbsp;смотря ни&nbsp;на&nbsp;что. Все, что не&nbsp;соотносится с&nbsp;концепцией бренда, следует игнорировать. Будь-то очередные бизнес-байки Манна или популярные интернет мемы.</p>
<p>Без настойчивости и&nbsp;фокуса не&nbsp;создать бренд. Звучит понятно и&nbsp;просто. Но&nbsp;это просто, когда речь идет о&nbsp;неделе-двух. А&nbsp;если взять, например, год? Когда о&nbsp;желаемых результатах говорить пока рано. Конкуренты пестрят идеями. Вокруг появляются интересные темы. Сотрудники периодически скатываются на&nbsp;привычные рельсы. Рядом обязательно окажутся добрые люди с&nbsp;советами и&nbsp;заботой и&nbsp;«позовут обратно». Туда, как было, как делают все.</p>
<p>Если поддаться неопределенности, сомнениям, не&nbsp;отстоять перед самим собой идею бренда, то&nbsp;она не&nbsp;появится в&nbsp;головах целевой аудитории. Откуда ей&nbsp;там взяться?</p>
<p>Можно все делать по&nbsp;книгам. Можно бесконечно инвестировать в&nbsp;рекламу. Но&nbsp;без смелости, четких ценностей и&nbsp;внутреннего стержня у&nbsp;компании не&nbsp;появится настоящий бренд.</p>
</section>
