---
layout: post
title:  "Анализ продаж по методике Nielsen: опыт FMCG-рынка"
name: "Как анализировать продажи: проверенный алгоритм Nielsen"
description: "Показываю, как анализируют продажи в Nielsen: контекст рынка, драйверы, аномалии, план действий. Метод идеален для FMCG, можно использовать и в других отраслях."
date:   2019-12-05
last_modified_at: 2024-02-05
categories: мнение
permalink: "/blog/analiz-prodazh-nielsen/"
tags: "инструменты"
image: /assets/images/tizers/tizer-61.jpg
keywords: "анализ продаж nielsen, аудит розничной торговли, как анализировать продажи, драйверы роста, анализ по SKU, FMCG аналитика, шаблон отчета"
eleventyNavigation:
  key: analiz-prodazh-nielsen
  title: "Анализ продаж по методике Nielsen: опыт FMCG-рынка"
  parent: blog
relatedIdeas:
  - title: "От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;&mdash; это больше, чем просто продажи"
    url: "/blog/marketing-bolshe-chem-prodazhi/"
  - title: "Share of&nbsp;Searches: как доля брендовых запросов предсказывает рынок"
    url: "/blog/share-of-searches/"
  - title: "Бренд и&nbsp;перфоманс маркетинг&nbsp;&mdash; что важно знать маркетологу"
    url: "/blog/perfomance-and-brand-marketing/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Как анализ времени раскрывает слабые места маркетинга и помогает увеличить эффективность"
    url: "/blog/vremya-kak-metod-analiza-marketinga/"

---


<div class="max-width-text with-side">
<p>Около пяти лет <a class="link" href="/blog/otlichie-marketologa-ot-brexuna/#nielsen">работы в&nbsp;Nielsen</a> я&nbsp;анализировал розничные продажи для крупных <span class="noperenos">FMCG-компаний*</span>. За&nbsp;это время выработался и&nbsp;закрепился алгоритм работы. Позже, когда анализировал данные для предприятий из&nbsp;других сфер, шел по&nbsp;«натоптанному» сценарию. <a class="link" href="/cases/">Результатами доволен.</a></p>
<div class="side">
<p class="mt-m">*FMCG (Fast Moving Consumer Goods)&nbsp;— быстро реализуемые потребительские товары. Пример: напитки, молочные продукты, бытовая химия, средства личной гигиены, корм для животных. </p>
</div>
</div>

<p>В&nbsp;статье опишу <strong>логику анализа продаж, без погружения в&nbsp;специфику отдельных отраслей</strong>. Заимствовать и&nbsp;использовать подход разрешается.</p>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Шаг&nbsp;1. Сформулируйте бизнес-вопросы и&nbsp;метрики успеха</h2>
<p>Перед тем, как приступить к&nbsp;анализу, я&nbsp;иду к&nbsp;тому, для кого данные анализирую. И&nbsp;обсуждаю, на&nbsp;какие вопросы требуется получить ответ. </p>
<p>Это обязательный этап. Так я&nbsp;определяю, что наиболее значимо и&nbsp;актуально для предприятия. Уточняю формулировки и&nbsp;правильно расставляю в&nbsp;работе акценты.</p>

<span class="bold space-tight">Одна история</span>
<div class="extract"> 
	<p>—&nbsp;Как вы&nbsp;будете использовать результаты анализа продаж?</p>
<p>—&nbsp;У&nbsp;нас очень большой ассортимент. От&nbsp;анализа я&nbsp;жду списка позиций, которые стоит убрать.</p>
<p>—&nbsp;Если я&nbsp;покажу, что можно убрать, например, А, Б&nbsp;и&nbsp;К, вы&nbsp;будете довольны работой?</p>
<p>—&nbsp;Да, это&nbsp;то, что я&nbsp;ожидаю.</p>
<p>—&nbsp;Можно как-то усилить полезность анализа?</p>
<p>—&nbsp;Да, если финальные выводы вы&nbsp;сделаете вместе с&nbsp;начальником отдела производства. Разнообразие ассортимента требует частой перенастройки оборудования. Отсюда низкая скорость производства. Хотелось&nbsp;бы не&nbsp;просто избавиться от&nbsp;плохо продаваемых товаров, но&nbsp;и&nbsp;снизить вариативность стандартных позиций. </p>
	
</div>
<span class="bold space-tight">Совершенно другая история</span>
<div class="extract"> 
	<p>—&nbsp;Как вы&nbsp;будете использовать результаты анализа продаж?</p>
<p>—&nbsp;Мы&nbsp;планируем начать производство нового молочного коктейля. В&nbsp;этом году выпустили 3&nbsp;новых вида, но&nbsp;результатами недовольны. Хотим понять, почему запуски не&nbsp;удались, чтобы не&nbsp;повторить ошибок.</p>
<p>—&nbsp;Я&nbsp;правильно понимаю, что от&nbsp;анализа продаж вы&nbsp;в&nbsp;первую очередь ждете рекомендаций по&nbsp;запуску новых продуктов?</p>
<p>—&nbsp;Да, именно так. </p>
	
</div>
<p>Вопросы сберегут время и&nbsp;энергию. Чем больше данных, тем дольше можно заниматься анализом. Копаться в&nbsp;показателях и&nbsp;значениях можно бесконечно. Чтобы не&nbsp;увязнуть, рекомендую периодически напоминать себе, на&nbsp;какой вопрос вы&nbsp;ищете ответ.</p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Шаг&nbsp;2. Определите контекст: категории, каналы, регионы</h2>
<p>Анализ я&nbsp;начинаю с&nbsp;определения контекста&nbsp;— что происходит в&nbsp;отрасли в&nbsp;целом. Контекст задает смысл показателям. Продажи в&nbsp;компании выросли на&nbsp;50%&nbsp;— это хорошо или плохо? Если объем продаж в&nbsp;категории увеличился в&nbsp;три раза, один ответ, а&nbsp;если категория сократилась на&nbsp;50%&nbsp;— другой.</p>
<div class="with-side">
<p><span class="bold">Если вы&nbsp;работаете на&nbsp;рынке FMCG</span>, используйте данные аудита розничной торговли. Можно узнать, что происходило с&nbsp;товарной категорией в&nbsp;течение последних лет (вплоть до&nbsp;уровня SKU*).</p>
<div class="side">
<p>
*SKU (Stock Keeping Unit)&nbsp;— единица складского учета, артикул товара. </p>
</div>
</div>

<div class="with-side">
<p class="mb-m">На&nbsp;какие основные вопросы отвечает <strong>аудит розничной торговли</strong>:</p>
<ul> 
	<li class="list-li">Какой размер рынка исследуемой категории?</li>
	<li class="list-li">Насколько важен в&nbsp;категории тот или иной производитель, бренд, сегмент?</li>
	<li class="list-li">Какой торговый канал (регион)&nbsp;— самый значимый?</li>
	<li class="list-li">Как менялись продажи и&nbsp;доля рынка в&nbsp;течение времени?</li>
	<li class="list-li">Насколько значимы те&nbsp;торговые точки, куда поставляется товар?</li>
	<li class="list-li">Как представлен товар в&nbsp;торговой сети? В&nbsp;скольких %&nbsp;торговых точек товар присутствует постоянно?</li>
	<li class="list-li">Что происходило с&nbsp;продажами, если менялась цена, дистрибуция, появился новый продукт, изменилась активность конкурентов?</li>
</ul>
<div class="side">
<p>Мировой лидер в&nbsp;сфере аудита розничной торговли&nbsp;— <b>компания Nielsen</b>. Ранее я&nbsp;<a class="link" href="/blog/otlichie-marketologa-ot-brexuna/#nielsen" title="подход Nielsen к анализу данных">рассказывал о&nbsp;подходе компании к&nbsp;анализу данных</a>. </p>
</div>
</div>


<p><span class="bold">Если информации по&nbsp;отрасли нет</span> и&nbsp;я&nbsp;анализирую только внутренние данные, то&nbsp;контекстом будет общая динамика продаж компании. Допустим, объем продаж продукции предприятия Х&nbsp;— в&nbsp;сравнении с&nbsp;прошлым годом&nbsp;— увеличился на&nbsp;22%. Это наш контекст. В&nbsp;этом смысловом поле мы&nbsp;будем рассматривать показатели регионов, дилеров, каналов и&nbsp;т.д.</p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Шаг&nbsp;3. Разложите продажи на&nbsp;драйверы (регион, канал, SKU, дистрибуция, др.)</h2>
<p>На&nbsp;предыдущем этапе меня интересовали общие показатели: как изменилась категория, как изменился объем продаж компании. Когда общая картина ясна, приступаю к&nbsp;анализу&nbsp;— раскладываю картину на&nbsp;составляющие. Такими составляющими могут быть производители, торговые каналы, географические регионы, торговые марки, маркетинговые активности и&nbsp;пр.</p>

<p>В&nbsp;анализе обращаю внимание на&nbsp;все большое, значимое, выделяющееся из&nbsp;контекста.</p>


<table > 
<caption><em>Пример</em>. Динамика объема продаж предприятия Х.</caption>	
	<thead> 
		<tr> 
			<th scope="col">Регионы</th>
			<th scope="col" class="text-right">Рост продаж, %. <br><small class="small">Янв-Ноя’19&nbsp;vs. <span class="noperenos">Янв-Ноя’18</span></small></th>
			<th scope="col" class="text-right">«Вес» в&nbsp;продажах, <br><small class="small noperenos">Янв-Ноя’19</small></th>
		</tr>
	</thead>
	<tbody> 
		<tr> 
			<td scope="row">№&nbsp;1</td>
			<td class="text-right">+2%</td>
			<td class="text-right">18,7%</td>
		</tr>
		<tr> 
			<td scope="row">№&nbsp;2</td>
			<td class="text-right">+165%</td>
			<td class="text-right">16,5%</td>
		</tr>
		<tr> 
			<td scope="row">№&nbsp;3</td>
			<td class="text-right">+5%</td>
			<td class="text-right">45,0%</td>
		</tr>
		<tr> 
			<td scope="row">№&nbsp;4</td>
			<td class="text-right">+7%</td>
			<td class="text-right">10,6%</td>
		</tr>
		<tr> 
			<td scope="row">№&nbsp;5</td>
			<td class="text-right">+100%</td>
			<td class="text-right">9,2%</td>
		</tr>
		 </tbody>
		 <tfoot>
		<tr> 
			<td>Total</td>
			<td class="text-right">+22%</td>
			<td class="text-right">100%</td>
		</tr>
	</tfoot>
</table>





<p>Рассмотрим таблицу выше. Что можем отметить, как большое, значимое и&nbsp;выделяющееся? </p>
	
<ul>
	<li class="list-li"><span class="bold">Что крупное.</span> Регион №&nbsp;3&nbsp;дает основной объем: 45,0% «веса» в&nbsp;продажах. Сравните его с&nbsp;минимальным по&nbsp;доле регионом №&nbsp;5 (9,2%) и&nbsp;объясните разницу в&nbsp;каналах&nbsp;/ ассортименте&nbsp;/ дистрибуции.</li>
	<li class="list-li"><span class="bold">Что выбивается.</span> На&nbsp;фоне общего роста&nbsp;+22% выделяются экстремумы: регион №&nbsp;2 +165% (рывок) и&nbsp;регион №&nbsp;1&nbsp;+2% (буксует). Благодаря чему настолько выросли продажи в&nbsp;одном регионе и&nbsp;что отсутствует в&nbsp;другом?</li>
</ul>
	

<p>Ответы и&nbsp;порядок работы зависит от&nbsp;изучаемой категории и&nbsp;целей анализа. Везде будут свои особенности. Неизменен общий ход работы: каждый последующий этап&nbsp;— это поиск ответа на&nbsp;вопрос, сформулированный на&nbsp;предыдущем. Если возникает заминка, если не&nbsp;знаете, что делать дальше, возвращайтесь назад, ищите большое, значимое, выделяющееся и&nbsp;задавайте вопросы.</p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Шаг&nbsp;4. Ответьте на&nbsp;ключевые вопросы данными и&nbsp;соберите план действий</h2>
<p>На&nbsp;финальной стадии я&nbsp;отвечаю на&nbsp;вопросы, которые сформулировал на&nbsp;первом этапе. В&nbsp;ответах опираюсь на&nbsp;знания о&nbsp;выявленных трендах и&nbsp;факторах, на&nbsp;них влияющих.</p>
<p><span class="italic">Примечание&nbsp;1.</span> Часто встречаю, когда анализом рынка называют описание фактов. «В&nbsp;этом периоде продажи штуковины&nbsp;Х упали на&nbsp;3%. Продажи штуковины&nbsp;Z остались на&nbsp;прежнем уровне». Это не&nbsp;анализ. «40% респондентов указали, что основным критерием выбора является цена.&nbsp;45%&nbsp;— качество». Это тоже не&nbsp;анализ. Моя позиция: результат анализа продаж&nbsp;— план действий, аргументированные предложения по&nbsp;решению актуальных для предприятия задач.</p>
<p><span class="italic">Примечание&nbsp;2.</span> Итоговый отчет делаю коротким. Если это формат презентации, то&nbsp;я&nbsp;не&nbsp;показываю все графики и&nbsp;таблицы, которые сделал. Демонстрирую только&nbsp;то, что имеет прямое отношение к&nbsp;цели (вопросам) анализа. Стремлюсь к&nbsp;тому, чтобы в&nbsp;итоге получилась лаконичная история, из&nbsp;которой будут понятны ключевые идеи и&nbsp;выводы. Ничего лишнего и&nbsp;отвлеченного. </p>
</section>