---
layout: post
title:  "Как мыслит маркетолог: стратегия вместо рекламного шума"
name: "Акция не&nbsp;сработает, если не&nbsp;думать как маркетолог"
description: "Запись выступления о&nbsp;стратегическом маркетинге и&nbsp;брендинге. Как отказаться от&nbsp;навязчивой рекламы и&nbsp;привлекать клиентов через смыслы? Ключевые идеи внутри."
date:   2020-02-29
last_modified_at: 2025-11-06
categories: опыт
permalink: "/blog/marketing-mind/"
tags: "маркетолог управление семинары"
image: /assets/images/tizers/tizer-63.png
keywords: "мышление маркетолога"
eleventyNavigation:
  key: marketing-mind
  title: "Акция не сработает, если не думать как маркетолог"
  parent: blog
---

<figure class="full-bleed" itemscope itemtype="https://schema.org/VideoObject">
 	<link itemprop="url" href="https://youtu.be/fXspplVnrEM" >
	<link itemprop="contentUrl" href="https://youtu.be/fXspplVnrEM" >
	<link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/fXspplVnrEM/maxresdefault.jpg" >
 	<meta itemprop="name" content="Акция не сработает, если не думать как маркетолог" >
	<meta itemprop="description" content="Запись выступления консультанта по маркетингу Дмитрия Бартошевича.">
	<meta itemprop="uploadDate" content="2020-02-29T00:00:00+03:00">
  	<meta itemprop="duration" content="PT30M54S">
 	<meta itemprop="isFamilyFriendly" content="true">
	<div class="video ">
		   <a class="video__link " href="https://youtu.be/fXspplVnrEM" target="_blank" rel="noopener noreferrer">
			   <picture>
				   <source srcset="https://i.ytimg.com/vi_webp/fXspplVnrEM/maxresdefault.webp" type="image/webp">
				   <img loading="lazy" class="video__media " src="https://i.ytimg.com/vi/fXspplVnrEM/maxresdefault.jpg" alt="Запустить видео «Акция не сработает, если не думать как маркетолог»" width="1280" height="720" itemprop="thumbnail">
			   </picture>
			   <span class="element--hidden">Видео: мышление маркетолога</span>
		   </a>
		   <button class="video__button" aria-label="Запустить видео">
			   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
		   </button>
   </div>
<figcaption class="figcaption">
<p>Запись выступления о том, почему маркетинг строится не на манипуляциях, а на смыслах: о системе мышления, проблеме выбора, сознании клиента и принципе «свой — чужой». </p><p>Видео комфортнее смотреть на&nbsp;скорости 1,25 или 1,5.</p>
</figcaption>
</figure>

<p>Приглашаю посмотреть видео выступления, где я рассуждаю, почему важно и&nbsp;что значит <strong>думать, как маркетолог</strong>. Я&nbsp;раскрываю, почему фокусировка на&nbsp;продажах может быть рискованной, развенчиваю распространенные мифы о&nbsp;маркетинге, подчеркиваю значение бренда и&nbsp;стратегий, основанных на&nbsp;убеждениях и&nbsp;ценностях. Объясняю, как можно заменить навязчивую рекламу и&nbsp;эффективно привлекать клиентов, не&nbsp;раздражая их. </p>

<p> Говорил, что беспокоит, над чем думаю и&nbsp;<strong>какие подходы в развитии брендов считаю правильными</strong>. И&nbsp;видимо от&nbsp;желания рассказать больше, волнуюсь, глотаю окончания, оговариваюсь. В&nbsp;общем, веду себя как живой человек ;-)  </p>

<p><span class="small bold">updated, 2025 </span><br>Несмотря на&nbsp;то, что запись сделана в&nbsp;20-м году, озвученные идеи сегодня стали еще актуальнее. Когда искусственный интеллект участвует в&nbsp;выборе и&nbsp;покупке товаров, маркетинг, основанный на&nbsp;смыслах, отличиях и&nbsp;уважении к&nbsp;человеку, становится вопросом выживания предприятия. Свежий <a class="link" href="/blog/kak-ai-menyaet-brending/">отчет Interbrand однозначен</a>: мир брендов ждет селекция. Одно дело&nbsp;&mdash; запрос к&nbsp;ИИ: &laquo;Найди беговую обувь&raquo;, а&nbsp;другое&nbsp;&mdash; &laquo;Где мне купить Nike&raquo;. В&nbsp;первом случае предприятие участвует в&nbsp;лотерее алгоритмов. Во&nbsp;втором&nbsp;&mdash; оно уже выиграло. Предприятие становится не&nbsp;вариантом в&nbsp;списке, а&nbsp;готовым ответом.
</p>


 <span class="space-block">Быстрые ссылки на фрагменты видео</span>
  <span class="element--hidden">Все ссылки ниже ведут на YouTube и открываются в новой вкладке.</span>




<ul>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=18s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="0:18 — Не все маркетологи одинаково полезны, YouTube, новая вкладка">
      0:18
    </a>
    Не все маркетологи одинаково полезны
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=134s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="2:14 — О практиках и теоретиках, YouTube, новая вкладка">
      2:14
    </a>
    О практиках и&nbsp;теоретиках
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=228s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="3:48 — Что спрашивать у специалиста на собеседовании, YouTube, новая вкладка">
      3:48
    </a>
    Что спрашивать у&nbsp;специалиста на&nbsp;собеседовании
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=470s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="7:50 — Основная проблема потребителя и что делать компаниям, YouTube, новая вкладка">
      7:50
    </a>
    Основная проблема потребителя и&nbsp;что делать компаниям
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=725s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="12:05 — Почему маркетолог не должен продавать, YouTube, новая вкладка">
      12:05
    </a>
    Почему маркетолог не&nbsp;должен продавать
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=1103s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="18:23 — На чем стоит фокусироваться, YouTube, новая вкладка">
      18:23
    </a>
    На чем стоит фокусироваться
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=1375s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="22:55 — Система «свой — чужой» в маркетинге, YouTube, новая вкладка">
      22:55
    </a>
    Система «свой&nbsp;&mdash; чужой» в&nbsp;маркетинге
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=1555s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="25:55 — Нужно ли дожимать клиентов, YouTube, новая вкладка">
      25:55
    </a>
    Нужно&nbsp;ли дожимать клиентов
  </li>
  <li class="list-li">
    <a class="link"
       href="https://www.youtube.com/watch?v=fXspplVnrEM&amp;t=1813s"
       target="_blank"
       rel="noopener"
       title="Открыть фрагмент на YouTube в новой вкладке"
       aria-label="30:13 — Путь маркетолога (резюме), YouTube, новая вкладка">
      30:13
    </a>
    Путь маркетолога (резюме)
  </li>
</ul>