---
layout: post
title:  "Маркетинг во время кризиса: как бренды адаптировались к пандемии"
name: "Стратегии маркетинга в&nbsp;условиях пандемии: адаптация брендов"
description: "Как&nbsp;пандемия изменила маркетинг? Какие стратегии помогли брендам адаптироваться, а&nbsp;какие провалились? Главные уроки для бизнеса в&nbsp;кризисных условиях."
date:   2020-03-27
last_modified_at: 2024-08-05
categories: мнение
permalink: "/blog/marketing-strategies-pandemic/"
tags: "маркетолог бренд"
image: /assets/images/tizers/tizer-64.jpg
keywords: "брендинг коронавирус"
eleventyNavigation:
  key: marketing-strategies-pandemic
  title: "Маркетинг во время кризиса: как бренды адаптировались к пандемии"
  parent: blog
---



<p>На&nbsp;примере коронавируса покажу, <strong>как маркетологу стоит реагировать на&nbsp;пандемию</strong>. Без банального «переходите в&nbsp;онлайн». </p>
<p>Если полагаться на&nbsp;статистику, у&nbsp;нас больше риск погибнуть в&nbsp;ДТП, от&nbsp;рака или сердечных заболеваний. Когда ВОЗ объявила пандемию, <a class="link" href="https://youtu.be/vu-hZsGC384" >некоторые врачи назвали ее&nbsp;учениями</a>. Но&nbsp;есть реальная угроза или нет&nbsp;— не&nbsp;имеет значения для маркетолога. Фокус его внимания&nbsp;— сознание потребителя. Маркетолог реагирует не&nbsp;на&nbsp;сам вирус, а&nbsp;на&nbsp;реакции и&nbsp;настроение аудитории. Он&nbsp;должен следить не&nbsp;за&nbsp;сводкой зараженных и&nbsp;погибших, а&nbsp;за&nbsp;изменениями в&nbsp;поведении клиентов. </p>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Тенденции потребительского поведения </h2>
<p>Исследователи собрали общие тренды в&nbsp;странах, которые «захватывал» вирус. Можно увидеть, что&nbsp;— с&nbsp;высокой степенью вероятности&nbsp;— будет ожидать и&nbsp;нас, если вирус распространится по&nbsp;схожему сценарию. </p>
<p>Нильсен, например, выделил <a class="link" href="https://web.archive.org/web/20200725043612/https://www.nielsen.com/ru/ru/insights/article/2020/covid-19-pokupki-v-karantine/">6&nbsp;ступеней трансформации поведения</a>&nbsp;— от&nbsp;момента единичных выявленных случаев заражения в&nbsp;стране до&nbsp;массового заражения. Сначала увеличивается спрос на&nbsp;товары, укрепляющие общий иммунитет. Затем скупают товары, якобы защищающие от&nbsp;вируса. Потом идут <span class="noperenos">3-4</span> недели ажиотажной скупки товаров длительного хранения. Растут онлайн заказы, в&nbsp;оффлайне появляются пустые полки. Логистика и&nbsp;службы доставки не&nbsp;справляются с&nbsp;нагрузкой. </p>
<p>Вместо супер- и&nbsp;гипермаркетов люди идут в&nbsp;небольшие магазины у&nbsp;дома. Для покупок в&nbsp;семьях выбирают кого-то одного, чтобы свести к&nbsp;минимуму риск встречи зараженного со&nbsp;всеми членами семьи.</p>
<p>Люди избегают общественных мест, выбирают самоизоляцию и&nbsp;усиленно осваивают цифровые приложения, медиа и&nbsp;гаджеты. Театры, выставки, кинотеатры, концерты ощущают снижение посетителей еще до&nbsp;объявления карантина властями. </p>
</section>

<section class="row-gap--m">
<h2 class="section__title h1 bold ">Стратегии для маркетологов</h2>

<ol class="list-reset row-gap--m">
<li class="row-gap--m">
<h3 class="bold h2 mb-m">Базовое, «гигиеническое» правило: будьте предсказуемыми</h3>

<p>Реакцию потребителей можно объединить одним словом&nbsp;— тревожность. На&nbsp;нее и&nbsp;следует реагировать маркетологам, а&nbsp;не&nbsp;на&nbsp;коронавирус. Уменьшить волнение и&nbsp;страх&nbsp;— мишень их&nbsp;усилий. </p>
 

<p>Когда вокруг все наполнено слухами и&nbsp;неизвестностью, станьте островком уверенности и&nbsp;безопасности. Расскажите, как ситуация вокруг сказывается на&nbsp;вас, что вы&nbsp;предпринимаете. Если есть в&nbsp;работе изменения, то&nbsp;какие. Как вы защищаете сотрудников и клиентов от вируса. Не&nbsp;допускайте недосказанности и&nbsp;домыслов. </p>
</li>

<li class="row-gap--m">
<h3 class="bold h2 mb-m mt-m" >Уровень выше&nbsp;— встать рядом с&nbsp;клиентами</h3> 
<p class="mb-m">Вы&nbsp;укрепите доверие, если предстанете не&nbsp;«акулой бизнеса», а&nbsp;равным партнером, который вместе с&nbsp;остальными в&nbsp;«одной лодке» проживает и&nbsp;борется с&nbsp;последствиями вируса. Как это может проявляться: </p>
<ul>
	<li class="list-li">Компания распространяет проверенную информацию о&nbsp;профилактике инфекции.</li>
	<li class="list-li">Компания поддерживает тех, кто в&nbsp;зоне риска или уже пострадал. </li>
	<li class="list-li">Компания поощряет осторожное, ответственное поведение клиентов (напр., сеть тренажерных залов просит оставаться дома и&nbsp;бесплатно продлевает абонементы клиентам).</li>
 </ul>


<div   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/q_auto,f_auto/v1585298184/site/sheina.jpg">
		<div class="figcaption" itemprop="description">
 			<p> <a class="link" href="https://centercomfort.by" >«Центр комфортного общения» Натальи Шеиной</a> предложил оплатить такси для занимающихся в&nbsp;центре детей (70BYN = ~27$) </p>
 		</div>	
		<img class="image" loading="lazy" decoding="async"  src="https://res.cloudinary.com/bartoshevich/image/upload/q_auto,f_auto/v1585298184/site/sheina.jpg" alt="Сообщение Натальи Шеиной в фейсбуке по поводу изменений в работе из-за ковида." width="600" height="360" itemprop="contentUrl"> 
 		
</div>
</li>


<li class="row-gap--m">

<h3 class="bold h2 mb-m mt-m">Высший уровень&nbsp;— все перечисленное выше связать с&nbsp;концепцией бренда</h3> 
<p>В&nbsp;норме в&nbsp;основе маркетинговой активности лежит одна идея. Идея, которая значима для клиентов и&nbsp;которая отличает компанию от&nbsp;конкурентов. <strong>Задача маркетолога</strong>&nbsp;— с&nbsp;каждым шагом эту идею усиливать. Актуальную новостную повестку дня он&nbsp;пропускает через концепцию бренда. </p>
<p>Мне нравится пример с&nbsp;Volvo и&nbsp;растущим движением за&nbsp;равноправие женщин. Компания обратила внимание, что автоиндустрия оценивает безопасность машин по&nbsp;тестам с&nbsp;— преимущественно&nbsp;— «мужскими» манекенами. Провели исследования и&nbsp;выяснили, что в&nbsp;авариях, которые мужчина легко переживает, у&nbsp;женщин высокий риск получить серьезные травмы. Volvo выложила в&nbsp;открытый доступ результаты исследований и&nbsp;свои рекомендации, <a class="link" href="https://web.archive.org/web/20220606153534/https://www.volvocars.com/intl/v/car-safety/eva-initiative-cars-equally-safe" >какой должна быть машина, чтобы быть безопасной для каждого(-ой)</a>. В&nbsp;этой истории нет феминитивов, нет призывов садиться на&nbsp;мужское лицо. Но&nbsp;есть призыв к&nbsp;равноправию. И&nbsp;есть усиление связи Volvo = безопасность. </p>
<p>Возвращаясь к&nbsp;коронавирусу, в&nbsp;чем заключается суть вашего бренда? <strong>Как через отличие бренда помочь клиентам вернуть контроль над ситуацией?</strong> Скорее всего, поиск ответа не&nbsp;будет легким, но&nbsp;над вопросом маркетолог обязан думать и&nbsp;находить решение. </p>
<div class="post__note h2">Как через отличие вашего бренда вы помогаете клиентам вернуть контроль над ситуацией? </div>
</li>
</ol>
</section>