---
layout: post
title:  "Performance-маркетинг без бренда ограничивает рост бизнеса"
name: "Почему performance-маркетинг нельзя отождествлять с маркетингом"
description: 'Без бренда маркетинг быстро упирается в потолок. Узнайте, как сочетать performance и&nbsp;бренд стратегию для роста бизнеса и&nbsp;долгосрочной эффективности кампаний.'
date:   2021-11-01
last_modified_at: 2026-03-13
categories: мнение
permalink: "/blog/perfomance-and-brand-marketing/"
hasPullQuote: true
tags: "управление, маркетолог"
mentions:
  - name: "Les Binet"
    jobTitle: "Visiting Professor"
    affiliation: "Edinburgh University"
    image: "/assets/images/blog/share-of-searches/LesBinet.png"
    profileUrl: "https://www.linkedin.com/in/les-binet-9bb7453/"
image: /assets/images/tizers/tizer-73.jpg
eleventyNavigation:
  key: perfomance-and-brand-marketing 
  title: "Почему performance-маркетинг нельзя отождествлять с маркетингом"
  parent: blog
relatedIdeas:
  - title: "Как понять, что ваш маркетинг несистемный: 9 признаков"
    url: "/blog/priznaki-nesistemnogo-marketinga/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Системный маркетинг: не таблицы, а подход"
    url: "/blog/system-marketing/"
  - title: "Аутсорсинг отдела маркетинга: как не слить бюджет"
    url: "/blog/autsorsing-marketinga/"
  - title: "Темные паттерны в UX: примеры, риски и альтернатива"
    url: "/blog/ethical-marketing-dark-patterns/"

topic: demand-effectiveness
---



<p>В digital-среде performance-маркетинг все чаще начинают отождествлять с 
маркетингом в целом. Это ошибка. Performance — лишь инструмент 
работы с уже существующим спросом, тогда как маркетинг решает более широкую 
задачу: влияет на то, насколько компания заметна, понятна и выбираема на рынке.</p>

<p>Когда маркетинг сводят только к performance-инструментам, бизнес все сильнее 
зависит от ценовой конкуренции. Бренд перестает работать как 
источник будущего спроса, и каждый новый клиент требует все больших рекламных 
затрат.</p>

<p>Разберем, почему это происходит.</p>



<nav class="toc space-tight" aria-labelledby="toc-title">
  <h2 class="toc__title" id="toc-title">Содержание</h2>
  <ul class="additive-spacing">
    <li>
      <span class="tocnumber">1 </span>
      <a class="link" href="#konversionnye-celi">
        Performance-маркетинг: что стоит за конверсионными целями
      </a>
    </li>
    <li>
      <span class="tocnumber">2 </span>
      <a class="link" href="#ogranicheniya-performance">
        Что не&nbsp;так в&nbsp;нацеленности на&nbsp;конверсию
      </a>

      <ul class="additive-spacing">
        <li class="level2">
          <span class="tocnumber">2.1 </span>
          <a class="link" href="#blokirovka-klientov">блокировка источника клиентов в&nbsp;будущем
          </a>
        </li>
         <li class="level2">
          <span class="tocnumber">2.2 </span>
          <a class="link" href="#koncentraciya-na-cene">концентрация на&nbsp;цене
          </a>
        </li>
           <li class="level2">
          <span class="tocnumber">2.3 </span>
          <a class="link" href="#obmanchivaya-effektivnost">обманчивая эффективность
          </a>
        </li>
            <li class="level2">
          <span class="tocnumber">2.4 </span>
          <a class="link" href="#razrushenie-brenda">разрушение бренда при избыточном таргетинге
          </a>
        </li>
            <li class="level2">
          <span class="tocnumber">2.5 </span>
          <a class="link" href="#lozhnye-celi">ложные цели маркетинга
          </a>
        </li>
      </ul>
    </li>
    <li>
      <span class="tocnumber">3 </span>
      <a class="link" href="#effektivnost-brenda">
        Как бренд увеличивает эффективность маркетинговых кампаний
      </a>
    </li>
    <li>
      <span class="tocnumber">4 </span>
      <a class="link" href="#balans-62-38">
        Баланс бренд-маркетинга и&nbsp;performance: стратегия 62/38
      </a>
    </li>
    <li>
  <span class="tocnumber">5 </span>
  <a class="link" href="#brand-vs-performance">
    Почему бренд нельзя заменять performance-маркетингом
  </a>
</li>
  </ul>
</nav>


<section class="row-gap--m space-section max-width-text" id="konversionnye-celi">
<h2 class="heading--beta">Performance-маркетинг: что стоит за конверсионными целями</h2>
<p>Фокусироваться на&nbsp;конверсиях и&nbsp;продажах&nbsp;— привлекательно. Свою результативность сотрудник может показать уже в&nbsp;этом месяце, а&nbsp;не&nbsp;рассказывать учредителям о&nbsp;долгосрочных перспективах. На&nbsp;цифрах можно быстро показать, сколько денег потратили на <a class="link" href="/blog/algoritm-reklamnoj-kampanii/">рекламную кампанию</a> и&nbsp;сколько получили заявок. Можно оценивать и&nbsp;улучшать креативы, критически выбирать каналы коммуникации, предлагая наиболее финансово выгодные. </p>

<p>Если в&nbsp;компанию пришел новый руководитель отдела маркетинга, высокая вероятность, что он&nbsp;отдаст предпочтения инициативам с&nbsp;быстрой отдачей. Так проще продемонстрировать личную эффективность и&nbsp;быстрее закрепить свою позицию внутри бизнеса. </p>

<p>Отдельно стоит упомянуть людей, которых особенно привлекает «конверсионный» подход: seo-шники, которые вдруг стали называть себя маркетологами. Раньше они пытались обмануть алгоритмы поисковых систем, теперь — «взломать» маркетинг. «Давайте сделаем кнопку больше», «Нужно написать текст короче», «А&nbsp;что если возьмем более яркие цвета?», «Ну&nbsp;это&nbsp;же работает!». Благодаря им маркетинг начинает восприниматься как способ получить быстрый результат через технические трюки. </p>
</section>


<section class="row-gap--m space-section max-width-text" id="ogranicheniya-performance">
<h2 class="heading--beta">Что не&nbsp;так в&nbsp;тотальной нацеленности на&nbsp;конверсию </h2>

<section class="row-gap--m space-tight">
<h3 class="heading--gamma" id="blokirovka-klientov"> блокировка источника клиентов в&nbsp;будущем </h3>
<p>Если использовать аналогию с&nbsp;воронкой продаж, то&nbsp;для развития бизнеса нужно, чтобы в&nbsp;воронку попадали новые люди. Маркетинг, нацеленный на&nbsp;быстрые результаты и&nbsp;конверсию, сконцентрирован на&nbsp;нижней части воронки. Новых людей маркетинг не&nbsp;вовлекает. Он близорук. Основы для будущего развития нет. Долгосрочного роста бизнеса не&nbsp;достигнуть лишь за&nbsp;счет усилий, направленных на&nbsp;конверсию.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1635712886/site/marketing-funnel.jpg">
<img
  class="image is-16by9 border--gray"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1635712886/site/marketing-funnel.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270/f_auto/q_auto/v1635712886/site/marketing-funnel.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706/f_auto/q_auto/v1635712886/site/marketing-funnel.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1635712886/site/marketing-funnel.jpg 900w
  "
  sizes="(min-width: 760px) 668px, 89.77vw"
  width="900"
  height="506"
  alt="Мероприятия по развитию бренда соотносятся с верхней частью воронки продаж. Это источник клиентов в будущем. Конверсия сконцентрирована на нижней части воронки и краткосрочных целях."
  itemprop="contentUrl"
>

</figure>

<p>Лес Бине (Les Binet) рассказал историю, как руководители некой фирмы <a class="link" href="https://youtu.be/4N3TNANxsvU">захотели построить самый эффективный маркетинг</a>. Сделали жесткий фокус на&nbsp;ROI. Отклоняли предложения без финансового прогноза эффективности. И&nbsp;вскоре они обнаружили, что начали снижаться все показатели. Руководство призналось: «У&nbsp;нас никогда не&nbsp;было такого эффективного маркетинга, но&nbsp;если так пойдет дальше, мы&nbsp;закроемся». Спасительным решением стал &laquo;подъем&raquo; по&nbsp;воронке продаж и&nbsp;обращение к&nbsp;большему числу потенциальных клиентов. </p>

<p>Исследования Нильсен подтверждают важность верхней части воронки продаж: <a class="link" href="https://www.nielsen.com/insights/2021/take-command-of-your-brand/">увеличение на&nbsp;1&nbsp;п.п. уровня осведомленности приводит к&nbsp;увеличению продаж в&nbsp;среднем на&nbsp;1%</a>. Ментальная доступность&nbsp;— вот к&nbsp;чему должны стремиться бренды, нацеленные на&nbsp;развитие. </p>

<figure class="figure" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1641722014/site/whenstopads.jpg">
<img
  class="image is-16by9"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1641722014/site/whenstopads.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270/f_auto/q_auto/v1641722014/site/whenstopads.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706/f_auto/q_auto/v1641722014/site/whenstopads.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_900/f_auto/q_auto/v1641722014/site/whenstopads.jpg 900w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1641722014/site/whenstopads.jpg 1800w
  "
  sizes="(min-width: 760px) 668px, 89.77vw"
  width="1800"
  height="1012"
  alt="эффективность брендинга и снижение продаж без бренд стратегии в маркетинге"
  itemprop="contentUrl"
>


<figcaption class="figcaption" itemprop="description">University of South Australia, Ehrenberg-Bass Institute: <a class="link" href="https://web.archive.org/web/20210824091034/https://www.marketingscience.info/when-brands-stop-advertising/">остановка рекламы в&nbsp;масс-медиа негативно сказывается на&nbsp;динамике объема продаж</a></figcaption>
</figure>
</section>

<section class="row-gap--m space-block" id="koncentraciya-na-cene">
<h3 class="heading--gamma">концентрация на&nbsp;цене </h3>
<p>Многое в&nbsp;конверсионном маркетинге строится вокруг цены: скидки, 
распродажи, бонусы, бесплатные опции. Но&nbsp;что делать компаниям, 
у&nbsp;которых цены выше конкурентов? Постоянно отказываться от&nbsp;части 
прибыли или упрощать продукт?</p>

<p>Более устойчивый путь&nbsp;— строить бренд, который снижает 
чувствительность покупателей к&nbsp;цене. Когда бренд слабый, предложение 
начинают сравнивать «в&nbsp;лоб» с&nbsp;конкурентами, и&nbsp;решение 
сводится к&nbsp;простым параметрам: дешевле или дороже. 
Сильный бренд меняет эту логику: у&nbsp;него появляется собственный спрос, 
и&nbsp;покупатель ищет конкретную компанию или продукт.</p>

<p>Один из&nbsp;способов увидеть силу бренда&nbsp;— смотреть 
на&nbsp;<a class="link" 
href="https://bartoshevich.by/blog/share-of-searches/">Share of Searches</a>,&nbsp; долю поисковых запросов по&nbsp;бренду. Этот показатель отражает интерес к&nbsp;бренду и&nbsp;помогает заметить будущие изменения его позиции на&nbsp;рынке.</p>
</section>


<section class="row-gap--m space-block">
<h3 class="heading--gamma" id="obmanchivaya-effektivnost" >обманчивая эффективность</h3>
<p>Высокая конверсия не&nbsp;всегда означает эффективность канала или рекламы. 
Проблема в&nbsp;том, что «после этого» не&nbsp;равно «по&nbsp;причине этого». Представим: 
10&nbsp;человек идут в&nbsp;магазин за&nbsp;товаром&nbsp;Х и&nbsp;по&nbsp;дороге видят рекламу этого товара. 
Они приходят в&nbsp;магазин и&nbsp;покупают его. Если считать конверсию как 
число покупателей к&nbsp;числу увидевших рекламу, получится 100%&nbsp;— хотя реклама 
могла не&nbsp;сыграть никакой роли в&nbsp;решении.</p>

<p>В&nbsp;погоне за&nbsp;высокой конверсией маркетологи часто показывают рекламу тем, 
кто и&nbsp;так с&nbsp;высокой вероятностью купит товар. В&nbsp;этом случае реклама лишь 
«перехватывает» уже существующий спрос, а&nbsp;не&nbsp;создает его.</p>

<p>Performance работает с&nbsp;уже существующим спросом и&nbsp;помогает его конвертировать. Бренд, 
напротив, влияет на&nbsp;сам характер этого спроса: будет&nbsp;ли он&nbsp;случайным 
и&nbsp;чувствительным к&nbsp;цене или более устойчивым и&nbsp;предсказуемым для бизнеса.</p>

</section>

<section class="row-gap--m space-block">
<h3 class="heading--gamma" id="razrushenie-brenda">разрушение бренда при избыточном таргетинге</h3>

<p>Таргетинг стремится сделать сообщение максимально релевантным конкретному человеку. 
Но если довести эту логику до предела, бренд начинает распадаться на множество 
разрозненных версий: каждому сегменту показывают свое обещание, свой образ продукта 
и свою причину выбрать компанию. В результате стирается общая идентичность бренда.</p>

<p>Тогда у разных аудиторий складываются разные, а иногда и противоречивые представления 
о компании и продукте. Бренд перестает работать как единый актив: его сложнее удерживать 
в памяти, сложнее накапливать узнаваемость и еще сложнее защищаться от ценовой конкуренции. 
В долгосрочной перспективе это усиливает зависимость бизнеса от платного продвижения, 
повышает стоимость привлечения и сужает конкуренцию до простого сравнения цены.</p>

<p>Чтобы этого избежать, бренд должен быть встроен в таргетинг как системный каркас: 
задавать единый образ, общие смыслы и границы адаптации сообщений. Тогда таргетинг 
не размывает бренд, а помогает доносить одну и ту же стратегическую идею до разных 
аудиторий. Это хорошо видно в кейсах, где бренд становится не декорацией, а частью 
бизнес-решения: <a class="link" 
href="/blog/brand-strategy-flex-n-roll/">в кейсе Flex-n-Roll</a>, 
<a class="link" 
href="/blog/pes-global-brand-concept/">на примере PES GLOBAL</a> 
и <a class="link" 
href="/blog/razrabotka-koncepcii-brenda-hormann/">в проекте Hörmann</a>.</p>

</section>


<section class="row-gap--m space-block">
<h3 class="heading--gamma" id="lozhnye-celi">ложные цели маркетинга</h3>

<p>Действительно ли конверсия должна быть главным ориентиром маркетинга? Стремление к&nbsp;конверсии&nbsp;— основа манипуляционного, назойливо-хвалебного маркетинга. В&nbsp;рамках такого подхода стремятся, чтобы позвонил, пришел, заказал каждый. И&nbsp;незаметно маркетологи приходят к&nbsp;решениям, о&nbsp;которых позже жалеют. Это видно на примере американской компании, которая представила огнестрельное оружие как безопасный товар для детей. Результат предсказуем: <a class="link" href="https://edition.cnn.com/2013/05/01/us/kentucky-accidential-shooting/index.html">волна убийств по неосторожности</a>.</p>


<p><a class="link" href="/blog/strategiya-silnogo-brenda/">Сильный бренд</a> не&nbsp;навязывает себя, а&nbsp;помогает принять решения. Если покупателю подходит лучше товар конкурента, можно подсказать, как его найти. Важнее не&nbsp;втюхать продукт, а&nbsp;сделать его легко узнаваемым. Чтобы человек быстро «считал» и&nbsp;распознал его как «свой» или «чужой».  </p>

<footer class="row-gap--m space-connected">
<h4 class="heading--delta"> Дополнительные материалы:</h4>
<ul>
<li class="list-li">
  <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">Маркетинг без нужды продать</a>
</li>
<li class="list-li">
  <a class="link" href="/blog/konkurentnoe-preimushhestvo/">Конкурентное преимущество в&nbsp;пользе и&nbsp;доверии</a>
</li>
</ul>
</footer>
</section>

</section>



<section class="row-gap--m space-section max-width-text" id="effektivnost-brenda">
<h2 class="heading--beta">Как бренд увеличивает эффективность маркетинговых кампаний</h2>
<div class="with-side">
<p>Исследования обнаруживают сильную корреляцию между эффективностью акционных кампаний и&nbsp;узнаваемостью бренда. В&nbsp;частности, об&nbsp;этом говорит Йенс Нордфальт, который обработал результаты исследований в&nbsp;области ритейл-маркетинга за&nbsp;40&nbsp;лет. </p>
<div class="side">
<p>См. <a class="link" href="/blog/in-store-marketing/"> основные идеи книги Йенса Нордфальта «Ритейл-маркетинг: практики и&nbsp;исследования»</a></p>
</div>
</div>
<p>Но&nbsp;здесь я&nbsp;хочу рассказать, как бренд меняет физиологию восприятия. Д.&nbsp;Ариели в&nbsp;книге «Предсказуемая иррациональность» описывает эксперимент, который поставил точку в&nbsp;споре, что вкуснее&nbsp;— Кола или Пепси. В&nbsp;слепом тестировании побеждала Пепси. Когда&nbsp;же люди знали, что пьют, то&nbsp;предпочитали Колу. Это заинтересовало группу нейрофизиологов, и&nbsp;они повторили тестирование. </p>

<p>С&nbsp;помощью функциональной магнитно-резонансной томографии исследователи наблюдали за&nbsp;мозгом участников дегустации. Выяснилось, что активность мозга отличается в&nbsp;зависимости от&nbsp;того, знает&nbsp;ли человек, что пробует. Когда участнику говорили, что сейчас он&nbsp;пьет Колу, то&nbsp;у&nbsp;него&nbsp;— значимо больше, нежели в&nbsp;случае Пепси&nbsp;— активировалась часть мозга, отвечающая за&nbsp;ассоциации и&nbsp;память. Победы Колы в&nbsp;открытых дегустациях объясняются брендом, который вызывал набор ассоциаций. Именно они, а&nbsp;не&nbsp;химический состав напитка, определяли выбор. </p>

<p>Подобные эксперименты проводились в&nbsp;ресторанах (оценки блюд зависели от&nbsp;предшествующего описания), в&nbsp;автоцентрах (впечатление от&nbsp;тест-драйвов зависело от&nbsp;степени известности модели автомобиля) и&nbsp;т.д. Если компании не&nbsp;сообщают покупателям ничего о&nbsp;бренде, то&nbsp;тем самым снижают эффективность своих маркетинговых мероприятий.</p>
</section>

<section class="row-gap--m space-section max-width-text" id="balans-62-38">
<h2 class="heading--beta">Баланс бренд-маркетинга и&nbsp;performance: <span class="noperenos">стратегия 62/38</span></h2>

<p>Мы видим, что краткосрочные («конверсионные») акции дают больший эффект, если за&nbsp;ними стоит брендовая кампания. Остается вопрос, в&nbsp;каком соотношении должен быть распределен бюджет на&nbsp;бренд-маркетинг и&nbsp;на&nbsp;маркетинг, нацеленный на&nbsp;конверсию (performance-marketing, conversion-focused marketing).</p>

<p>На&nbsp;этот вопрос ответили Питер Филд (Peter Field) и&nbsp;Лес Бине (Les Binet). В&nbsp;своих исследованиях они пришли к&nbsp;выводу, что <a class="link" href="https://youtu.be/2LkK-UdbMuM">наилучших результатов компания достигает, если на&nbsp;<strong>развитие бренда</strong> отдает в&nbsp;среднем&nbsp;62% маркетингового бюджета</a>. </p>

<figure itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url"
		href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png">
		<img
  class="image is-16by9 border--gray"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/e_improve/c_scale/w_706/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve/c_scale/w_270/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve/c_scale/w_706/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve/c_scale/w_984/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png 984w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve/c_scale/w_1280/f_auto/q_auto/v1635712030/site/brand-activation-balance-matters.png 1280w
  "
  sizes="(min-width: 760px) 668px, 89.77vw"
  width="1280"
  height="720"
  alt="Влияние бренд стратегии на эффективность performance-маркетинга"
  itemprop="contentUrl"
>


	<figcaption class="figcaption"><span class="bold">слайд из&nbsp;презентации Питера Филда и Леса Бине</span> <br>
		Не&nbsp;заниматься построением бренда вообще&nbsp;&mdash; наихудший выбор для компании.
	</figcaption>
</figure>

</section>



<section class="row-gap--m space-section max-width-text" id="brand-vs-performance">
<h2 class="heading--beta">Почему бренд нельзя заменять performance-маркетингом</h2>

<p>Performance и бренд решают разные задачи. Performance помогает конвертировать уже существующий спрос, а бренд повышает вероятность того, что клиент вообще будет рассматривать ваш продукт.</p>

<p class="pull-quote">Поэтому задача бизнеса — не выбирать между brand и performance, а выстроить систему, в которой краткосрочный спрос и долгосрочная рыночная позиция усиливают друг друга.  </p>

<p>В такой логике работает и BARSAN: не как набор отдельных услуг, а как система, в которой стратегия, коммуникация и маркетинговые инструменты должны усиливать друг друга. </p>

<p><a class="link" href="/blog/kak-ai-menyaet-brending/">Искусственный интеллект меняет правила маркетинга</a>, и в ближайшие годы роль бренда станет не просто более значимой, а критически важной для выживания бизнеса. Выбирать товары и делать покупки будут ИИ-агенты. Вот здесь и проявится сила бренда. Одно дело — запрос к ИИ: «Найди беговую обувь», а другое — «Где мне купить Nike?». И главный вопрос, который уже сейчас маркетологу стоит себе задать, — «Делаю ли я то, ради чего человек произнесет название моего бренда своему ИИ-помощнику?».</p>

</section>

