---
layout: post
title: "Чем заменить рекламные листовки: чек-лист вместо спама"
name: "Заменяю рекламную листовку на&nbsp;полезный материал"
description: "Как&nbsp;избежать рекламного шума и&nbsp;предложить клиентам листовку, которую они не&nbsp;поспешат выбросить. Пример создания &laquo;помощника в&nbsp;выборе&raquo; вместо спама."
date: 2021-02-24
last_modified_at: 2024-02-05
categories: опыт
permalink: "/blog/spam-replacement/"
tags: "кейсы инструменты"
image: /assets/images/tizers/tizer-69.jpg
keywords: "рекламные листовки, реклама "
eleventyNavigation:
  key: spam-replacement
  title: "Заменяю рекламную листовку на полезный материал"
  parent: blog
---



<p>В&nbsp;большинстве случаев рекламные листовки я&nbsp;смело отношу к&nbsp;информационному шуму. Не&nbsp;нахожу в&nbsp;них того, что отвечало&nbsp;бы моим запросам. Устал от&nbsp;«неповторимого дизайна», «продуманной функциональности», «высокой надежности» и&nbsp;прочих штампов, кочующих из&nbsp;одного флаера в&nbsp;другой. Естественная реакция&nbsp;— игнорирование. </p>

<p><b>Маркетологи</b> периодически пишут, что делать, чтобы листовки не&nbsp;бросали в&nbsp;урны. По&nbsp;моему, здесь все просто. Игра с&nbsp;цветом и&nbsp;шрифтом не&nbsp;поможет. Хотите, чтобы рекламные листовки не&nbsp;выбрасывали,&nbsp;— не&nbsp;делайте&nbsp;их. Или наполняйте осмысленным содержанием. </p>

<section class="row-gap--m">
<h2 class="section__title h1 bold">От&nbsp;рекламного спама к&nbsp;помощи в&nbsp;выборе </h2>
 
<p>Лет 7&nbsp;назад меня пригласили руководить организацией, которая продавала диваны и&nbsp;кровати. Начинал свою деятельность так&nbsp;— приехал в&nbsp;торговый центр и&nbsp;в&nbsp;течение дня обошел все точки, где продавалась мягкая мебель. Одну за&nbsp;одной. Результат&nbsp;— в&nbsp;руках куча листовок и&nbsp;каталогов, в&nbsp;голове&nbsp;— путаница из&nbsp;всего увиденного и&nbsp;услышанного. Когда я&nbsp;говорю, что сегодня проблема покупателя не&nbsp;«Как достать?», а&nbsp;«Как выбрать?», мысленно обращаюсь к&nbsp;своим переживаниям в&nbsp;тот момент. </p>

<p>Когда на&nbsp;человека обрушивается 10+&nbsp;предложений, очередная листовка только усугубляет проблему. Вместо того, чтобы позаботиться о&nbsp;клиенте, компании занимаются самолюбованием. Что&nbsp;же нужно? Помочь сориентироваться в&nbsp;потоке схожих предложений. Подсказать критерии выбора. У&nbsp;входа в&nbsp;торговый центр промоутеру следует раздавать не&nbsp;очередное «мы&nbsp;открылись», а&nbsp;краткий чек-лист&nbsp;— на&nbsp;что важно обратить внимание, покупая тот или иной товар. </p>

</section>

<section class="full-bleed full-bleed-row row-gap--m">
<h2 class="section__title h1 bold">Пример реализации</h2>
 
<p>Покажу, как может выглядеть чек-лист («помощник в&nbsp;выборе») на&nbsp;примере категории «секционные ворота». Если в&nbsp;этой сфере вы&nbsp;ничего не&nbsp;понимаете, значит, вы&nbsp;легко можете стать на&nbsp;позицию покупателя. Для большинства из&nbsp;них тема секционных ворот&nbsp;— новая. Сомнения и&nbsp;замешательство&nbsp;— обычная реакция. </p>

<p>Начал с&nbsp;того, что в&nbsp;текстовом редакторе сделал таблицу из&nbsp;четырех колонок. Первая колонка&nbsp;— для критериев выбора. Выделил информационные блоки и&nbsp;в&nbsp;каждом обозначил, какие характеристики смотреть. Остальные колонки&nbsp;— для продукции. Покупатель может взять три модели ворот, для каждой заполнить значения параметров и&nbsp;сделать взвешенный выбор. </p>

<div   itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614116184/site/start-helper.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1614116184/site/start-helper.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_288,f_auto,q_auto/v1614116184/site/start-helper.jpg 288w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1614116184/site/start-helper.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_722,f_auto,q_auto/v1614116184/site/start-helper.jpg 722w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  width="722"
  height="361"
  alt="Шаблон таблицы с критериями выбора для клиентов"
  itemprop="contentUrl"
>

  <div class="figcaption">Составляю в&nbsp;редакторе &laquo;помощник в&nbsp;выборе гаражных ворот&raquo;</div>
</div>

<p>Информационные блоки должны охватывать основные параметры, которые могут повлиять на&nbsp;выбор. Это нужно, чтобы покупатель ничего не&nbsp;упустил. Если у&nbsp;человека нет опыта использования товара, он&nbsp;может не&nbsp;знать, на&nbsp;что обратить внимание. Условно, если у&nbsp;вас не&nbsp;срывало воротами ноготь, вы&nbsp;можете даже не&nbsp;предполагать такой сценарий&nbsp;и, соответственно, не&nbsp;интересоваться защитой от&nbsp;защемления пальцев. </p>
 
<p>Важно указывать только существенные характеристики. Это не&nbsp;даст разрастись перечню до&nbsp;уровня, когда пользоваться им&nbsp;станет неудобно. Также это поможет покупателю защититься от&nbsp;манипуляций недобросовестных продавцов. Например, единственно правильным показателем уровня теплоизоляции является коэффициент (теплопередачи или сопротивления теплопередаче). Рассказы о&nbsp;толщине панели можно вежливо выслушать, а&nbsp;потом (все&nbsp;же) попросить озвучить значение коэффициента. </p>

<p>Сфера секционных ворот у&nbsp;меня ассоциируется с&nbsp;компанией Hörmann, для которой я&nbsp;<a class="link" href="/blog/razrabotka-koncepcii-brenda-hormann/"><strong>разработал концепцию бренда</strong></a>. Мне кажется, подобный «помощник» соответствует идее <b>бренда</b>&nbsp;— компания делится экспертизой, которую накопила с&nbsp;1935 года. Поэтому две колонки я&nbsp;отвел для продукции Hörmann. </p>

<div class="full-bleed"    itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1614108947/site/draft-helper.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_665/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_665/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg 665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1440/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg 1440w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1756/f_auto,q_auto:best/v1614108947/site/draft-helper.jpg 1756w
  "
  sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
  width="1756"
  height="1170"
  alt="Черновик помощника в выборе ворот"
  itemprop="contentUrl"
>

  <div class="figcaption">«Помощник в выборе ворот». <button class="link button image-expand" data-url="https://res.cloudinary.com/bartoshevich/image/upload/v1614108947/site/draft-helper.jpg" aria-label="Открыть изображение в новой вкладке">Открыть в новой вкладке</button>
  </div>
</div>

<p>Чек-лист готов. Дополнительно я&nbsp;разместил QR-код со&nbsp;ссылкой на&nbsp;статью, где объясняется, как выбрать секционные ворота и&nbsp;не&nbsp;пожалеть. Это для тех, кто захочет изучить тему глубже. </p>

<p>«Помощник» уже можно использовать, но&nbsp;мне хотелось придать ему достойный вид. Я&nbsp;обратился <a class="link" href="https://t.me/dsgndreamer">к&nbsp;графическому дизайнеру Елизавете Мамчиц</a>. Мы&nbsp;сошлись в&nbsp;том, что «помощник» должен быть прежде всего читабельным, удобным для хранения и&nbsp;внесения записей. Понимали, что наиболее приемлемый формат для подобного рода задач&nbsp;— А5. Документ такого размера приятно использовать и&nbsp;держать в&nbsp;руках. Оба осознавали, что текста много и&nbsp;уместить его в&nbsp;эти размеры будет сложно.</p>

<p>Елизавета предложила лаконичный дизайн и&nbsp;аккуратную верстку таблицы. </p>

<div class="full-bleed"    itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1614110806/site/helper-1.jpg">

  <img
  class="image"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto:best/v1614110806/site/helper-1.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_665/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1460/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 1460w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1780/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 1780w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2048/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 2048w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2300/f_auto,q_auto:best/v1614110806/site/helper-1.jpg 2300w
  "
  sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
  width="2300"
  height="1533"
  alt="финальный вариант таблицы с критериями выбора"
  itemprop="contentUrl"
>


  <div class="figcaption" itemprop="description">Внутренний разворот «помощника». <button class="link button image-expand" data-url="https://res.cloudinary.com/bartoshevich/image/upload/v1614110806/site/helper-1.jpg" aria-label="Открыть изображение в новой вкладке">Открыть в новой вкладке</button>
</div>
</div>

<p>Особенность решения&nbsp;— «помощник» состоит из&nbsp;двух частей разных размеров: обложки из&nbsp;плотного картона и&nbsp;листа с&nbsp;таблицей. Мне понравилось, что второстепенные детали (напр., контакты офиса или QR-код) не&nbsp;бросаются в&nbsp;глаза и&nbsp;в&nbsp;тоже время под рукой. </p>

<div class="full-bleed"    itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1614110807/site/helper-2.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_1040,f_auto,q_auto:best/v1614110807/site/helper-2.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1460,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 1460w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1780,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 1780w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2048,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 2048w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2400,f_auto,q_auto:best/v1614110807/site/helper-2.jpg 2400w
  "
  sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
  alt="Варианты исполнения помощника в выборе для клиентов" width="2400"
	height="1600"
  itemprop="contentUrl"
>

  <div class="figcaption">Варианты исполнения.  
   <button class="link button image-expand" data-url="https://res.cloudinary.com/bartoshevich/image/upload/v1614110807/site/helper-2.jpg" aria-label="Открыть изображение в новой вкладке">Открыть в новой вкладке</button>
   </div>
</div>

<p>«Наличие обложки позволило расположить необходимые рекламные и&nbsp;контактные элементы, которые прямо заявляют об&nbsp;отношении к&nbsp;бренду,&nbsp;— пояснила свое решение Елизавета. —&nbsp;Таким образом, довольно технический с&nbsp;точки зрения идеи <strong>носитель работает на&nbsp;имидж бренда</strong>».</p>

<div class="full-bleed"    itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1614110807/site/helper-3.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_1040,f_auto,q_auto:best/v1614110807/site/helper-3.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_665,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 665w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1040,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 1040w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1460,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 1460w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1780,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 1780w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2048,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 2048w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2400,f_auto,q_auto:best/v1614110807/site/helper-3.jpg 2400w
  "
  sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
  title="Визуализация: Елизавета Мамчиц"
  alt="Визуализация помощника в выборе от Елизаветы Мамчиц" width="2400" 	height="1600"
  itemprop="contentUrl"
>

  <div class="figcaption">  <button class="link button image-expand" data-url="https://res.cloudinary.com/bartoshevich/image/upload/v1614110807/site/helper-3.jpg" aria-label="Открыть изображение в новой вкладке">Открыть в новой вкладке</button>
  
  </div>
</div>


</section>
