---
layout: post
title:  "Performance маркетинг и бренд маркетинг: рост бизнеса"
name: "Бренд и&nbsp;перфоманс маркетинг&nbsp;— что важно знать маркетологу"
description: 'Без бренда маркетинг неэффективен. Узнайте, как сочетать performance и&nbsp;бренд стратегию для роста бизнеса и&nbsp;долгосрочной эффективности кампаний.'
date:   2021-11-01
last_modified_at: 2025-09-26
categories: мнение
permalink: "/blog/perfomance-and-brand-marketing/"
tags: "управление, маркетолог"
image: /assets/images/tizers/tizer-73.jpg
eleventyNavigation:
  key: perfomance-and-brand-marketing 
  title: "Бренд и перфоманс маркетинг — что важно знать маркетологу"
  parent: blog
relatedIdeas:
  - title: "Выбор концепции рекламной кампании: почему одна идея лучше трех"
    url: "/blog/kak-agentstva-skryvayut-slabye-resheniya/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Антикризисный маркетинг: стратегия и&nbsp;ценности бренда определяют успех"
    url: "/blog/marketing-v-krizis/"
  - title: "Зачем нужен маркетинг (мнение консультантов по&nbsp;развитию продаж)"
    url: "/blog/zachem-marketing-biznesu/"
  - title: "Как оценить маркетинг: ключевая метрика, о&nbsp;которой забывают"
    url: "/blog/vremya-kak-metod-analiza-marketinga/"
relatedService:
  title: "Найдите баланс между брендом и&nbsp;продажами"
  text: "Долгосрочный рост невозможен без инвестиций в&nbsp;бренд. Я&nbsp;помогу вам разработать стратегию, которая усилит бренд и&nbsp;повысит эффективность ваших performance-кампаний."
  url: "/uslugi/brand-conception/"
  button_text: "Разработать бренд-стратегию"
---



<p>Performance маркетинг&nbsp;— популярная концепция в&nbsp;digital-среде. Призывает концентрироваться на&nbsp;измеримых результатах&nbsp;— лидах, конверсиях, ROI. Незаметно концепция начинает отождествляться с&nbsp;маркетингом в&nbsp;целом. Главным KPI маркетолога становятся заявки и&nbsp;продажи «здесь и&nbsp;сейчас». Коммуникация сводится к&nbsp;скидкам и&nbsp;промо-акциям. Вопросы бренда уходят на&nbsp;второй-третий план, так как результативность <a class="link" href="/blog/effektivnost-vlozhenij-v-marketing/">вложений в&nbsp;бренд</a> сложно измерить. И&nbsp;здесь кроется стратегическая ошибка. Отождествлять маркетинг и&nbsp;performance нельзя. Исключаете бренд&nbsp;— значимо снижаете эффективность бизнеса. 
</p>



<nav class="toc" aria-labelledby="toc-title">
  <h2 id="toc-title" class="toc__title">Содержание</h2>
  <ul class="additive-spacing">
    <li>
      <span class="tocnumber">1 </span>
      <a class="link" href="#konversionnye-celi">
        Performance маркетинг: что стоит за конверсионными целями
      </a>
    </li>
    <li>
      <span class="tocnumber">2 </span>
      <a class="link" href="#ogranicheniya-performance">
        Что не&nbsp;так в&nbsp;нацеленности на&nbsp;конверсию
      </a>

      <ul class="additive-spacing">
        <li class="level2">
          <span class="tocnumber">2.1 </span>
          <a class="link" href="#blokirovka-klientov">блокировка источника клиентов в&nbsp;будущем
          </a>
        </li>
         <li class="level2">
          <span class="tocnumber">2.2 </span>
          <a class="link" href="#koncentraciya-na-cene">концентрация на&nbsp;цене
          </a>
        </li>
           <li class="level2">
          <span class="tocnumber">2.3 </span>
          <a class="link" href="#obmanchivaya-effektivnost">обманчивая эффективность
          </a>
        </li>
            <li class="level2">
          <span class="tocnumber">2.4 </span>
          <a class="link" href="#razrushenie-brenda">разрушение бренда при избыточном таргетинге
          </a>
        </li>
            <li class="level2">
          <span class="tocnumber">2.5 </span>
          <a class="link" href="#lozhnye-celi">ложные цели маркетинга
          </a>
        </li>
      </ul>
    </li>
    <li>
      <span class="tocnumber">3 </span>
      <a class="link" href="#effektivnost-brenda">
        Как бренд увеличивает эффективность маркетинговых кампаний
      </a>
    </li>
    <li>
      <span class="tocnumber">4 </span>
      <a class="link" href="#balans-62-38">
        Баланс бренд-маркетинга и&nbsp;performance: стратегия 62/38
      </a>
    </li>
  </ul>
</nav>


<section class="row-gap--m" id="konversionnye-celi">
<h2 class="section__title post__title bold">Performance маркетинг: что стоит за конверсионными целями</h2>
<p>Фокусироваться на&nbsp;конверсиях и&nbsp;продажах&nbsp;— привлекательно. Свою результативность сотрудник может показать уже в&nbsp;этом месяце, а&nbsp;не&nbsp;рассказывать учредителям о&nbsp;долгосрочных перспективах. На&nbsp;цифрах можно быстро показать, сколько денег потратили на <a class="link" href="/blog/algoritm-reklamnoj-kampanii/">рекламную кампанию</a> и&nbsp;сколько получили заявок. Можно оценивать и&nbsp;улучшать креативы, критически выбирать каналы коммуникации, предлагая наиболее финансово выгодные. </p>

<p>Если в&nbsp;компанию пришел новый руководитель отдела маркетинга, высокая вероятность, что он&nbsp;отдаст предпочтения инициативам с&nbsp;быстрой отдачей. Потому что так есть шанс продемонстрировать личную эффективность и&nbsp;получить премию. </p>

<p>Отдельно отмечу категорию людей, которых особенно привлекает «конверсионный» подход,&nbsp;— seo-шники, которые вдруг стали называть себя маркетологами. Ранее они пытались обмануть поисковые системы, а&nbsp;сейчас «взламывают» маркетинг. «Давайте сделаем кнопку больше», «Нужно написать текст короче», «А&nbsp;что если возьмем более яркие цвета?», «Ну&nbsp;это&nbsp;же работает!». Они не&nbsp;понимают <b>принципов маркетинга</b> и&nbsp;подход «вложил тысячу&nbsp;— получил полторы» им&nbsp;привычнее. </p>
</section>


<section class="row-gap--m" id="ogranicheniya-performance">
<h2 class="section__title post__title bold">Что не&nbsp;так в&nbsp;тотальной нацеленности на&nbsp;конверсию </h2>

<section class="row-gap--m">
<h3 id="blokirovka-klientov" class="h2 bold mb-m list-sign"> блокировка источника клиентов в&nbsp;будущем </h3>
<p>Если использовать аналогию с&nbsp;воронкой продаж, то&nbsp;для развития бизнеса нужно, чтобы в&nbsp;воронку попадали новые люди. Маркетинг, нацеленный на&nbsp;быстрые результаты и&nbsp;конверсию, сконцентрирован на&nbsp;нижней части воронки. Новых людей маркетинг не&nbsp;вовлекает. Он близорук. Основы для будущего развития нет. Долгосрочного роста бизнеса не&nbsp;достигнуть лишь за&nbsp;счет усилий, направленных на&nbsp;конверсию.</p>

<div    itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1635712886/site/marketing-funnel.jpg">
<img
  class="image is-16by9 border--gray"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1635712886/site/marketing-funnel.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270,f_auto,q_auto/v1635712886/site/marketing-funnel.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1635712886/site/marketing-funnel.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1635712886/site/marketing-funnel.jpg 900w
  "
  sizes="(min-width: 1140px) 705px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 196px), calc(100vw - 34px)"
  width="900"
  height="506"
  alt="Мероприятия по развитию бренда соотносятся с верхней частью воронки продаж. Это источник клиентов в будущем. Конверсия сконцентрирована на нижней части воронки и краткосрочных целях."
  itemprop="contentUrl"
>

</div>

<p>Лес Бине (Les Binet) рассказал историю, как руководители некой фирмы <a class="link" href="https://youtu.be/4N3TNANxsvU">захотели построить самый эффективный маркетинг</a>. Сделали жесткий фокус на&nbsp;ROI. Отклоняли предложения без финансового прогноза эффективности. И&nbsp;вскоре они обнаружили, что начали снижаться все показатели. Руководство призналось: «У&nbsp;нас никогда не&nbsp;было такого эффективного маркетинга, но&nbsp;если так пойдет дальше, мы&nbsp;закроемся». Спасительным решением стал &laquo;подъем&raquo; по&nbsp;воронке продаж и&nbsp;обращение к&nbsp;большему числу потенциальных клиентов. </p>

<p>Исследования Нильсен подтверждают важность верхней части воронки продаж: <a class="link" href="https://www.nielsen.com/insights/2021/take-command-of-your-brand/">увеличение на&nbsp;1&nbsp;п.п. уровня осведомленности приводит к&nbsp;увеличению продаж в&nbsp;среднем на&nbsp;1%</a>. Ментальная доступность&nbsp;— вот к&nbsp;чему должны стремиться бренды, нацеленные на&nbsp;развитие. </p>

<figure itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1641722014/site/whenstopads.jpg">
<img
  class="image is-16by9"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1641722014/site/whenstopads.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270,f_auto,q_auto/v1641722014/site/whenstopads.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706,f_auto,q_auto/v1641722014/site/whenstopads.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_900,f_auto,q_auto/v1641722014/site/whenstopads.jpg 900w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1641722014/site/whenstopads.jpg 1800w
  "
  sizes="(min-width: 1140px) 705px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 196px), calc(100vw - 34px)"
  width="1800"
  height="1012"
  alt="эффективность брендинга и снижение продаж без бренд стратегии в маркетинге"
  itemprop="contentUrl"
>


<figcaption class="figcaption" itemprop="description">University of South Australia, Ehrenberg-Bass Institute: <a class="link" href="https://web.archive.org/web/20210824091034/https://www.marketingscience.info/when-brands-stop-advertising/">остановка рекламы в&nbsp;масс-медиа негативно сказывается на&nbsp;динамике объема продаж</a></figcaption>
</figure>
</section>

<section id="koncentraciya-na-cene" class="row-gap--m">
<h3 class="h2 bold mt-m mb-m list-sign">концентрация на&nbsp;цене </h3>
<p>Много&nbsp;— если не&nbsp;большинство&nbsp;— конверсионных акций построено вокруг цены. Скидки, распродажи, бесплатные дополнительные опции и&nbsp;пр. А&nbsp;что делать компаниям, у&nbsp;которых цены выше конкурентов? Отказываться от&nbsp;части прибыли? Удешевлять продукт? Мне кажется, лучше направить усилия на&nbsp;построение бренда, что снизит чувствительность покупателей к&nbsp;цене. </p>
</section>


<section class="row-gap--m">
<h3 id="obmanchivaya-effektivnost"  class="h2 bold mt-m mb-m list-sign">обманчивая эффективность</h3>
<p> Высокая конверсия не&nbsp;всегда означает эффективность канала, привлекательность рекламы и&nbsp;пр. Почему? Потому что &laquo;после этого&raquo; не&nbsp;равно &laquo;по&nbsp;причине этого&raquo;. 10&nbsp;человек идут в&nbsp;магазин за&nbsp;штуковиной&nbsp;Х и&nbsp;по&nbsp;пути видят рекламу этой штуковины. Приходят в&nbsp;магазин и&nbsp;покупают штуковину. Конверсия (число покупателей&nbsp;/ число увидевших рекламу)&nbsp;= 100%  
</p>
<p> 
В&nbsp;погоне за&nbsp;конверсией маркетологи показывают рекламу тем, кто с&nbsp;высокой долей вероятности купит рекламируемый товар. И&nbsp;возможно купили&nbsp;бы даже без дополнительного стимула в&nbsp;виде рекламы.
</p>
</section>

<section class="row-gap--m">
<h3 id="razrushenie-brenda"  class="h2 bold mt-m mb-m list-sign">разрушение бренда при избыточном таргетинге</h3>
<p> Таргетинг стремится к&nbsp;персонализации. Если довести принцип до&nbsp;абсолюта, то&nbsp;таргетолог стремится создать у&nbsp;человека лично его представление о&nbsp;неком продукте. Это значит распад бренда на&nbsp;тысячи микровосприятий и&nbsp;стирание общей идентичности. </p>

<p>У&nbsp;разных сегментов могут сложиться разные, а&nbsp;иногда и&nbsp;противоречивые представления о&nbsp;компании и&nbsp;продукте. Бренд не&nbsp;развивается, а&nbsp;значит в&nbsp;долгосрочной перспективе он&nbsp;«умирает» как актив. А&nbsp;далее&nbsp;— полная зависимость от&nbsp;платного продвижения, рост стоимости этого самого продвижения, конкуренция лишь за&nbsp;счет снижения цены и&nbsp;так далее. В&nbsp;общем, ничего хорошего.</p>

<p>Чтобы избежать такого сценария, бренд обязан быть встроен в&nbsp;таргетинг, служить его системным каркасом, задавать единый образ, посылы и&nbsp;ценности.
</p>

</section>

<section class="row-gap--m">
<h3 id="lozhnye-celi" class="h2 bold mt-m mb-m list-sign"> ложные цели маркетинга</h3>
<p>Еще один аспект, который хочу здесь затронуть. Действительно&nbsp;ли маркетологи должны равняться на&nbsp;конверсию как главенствующий показатель в&nbsp;деятельности? Стремление к&nbsp;конверсии&nbsp;— основа манипуляционного, назойливо-хвалебного маркетинга. В&nbsp;рамках такого подхода стремятся, чтобы позвонил, пришел, заказал каждый. И&nbsp;незаметно маркетологи приходят к&nbsp;решениям, о&nbsp;которых позже жалеют. Как, например, американская компания, которая преподнесла огнестрельное оружие как безопасную игрушку для детей. Результат ожидаемый: <a class="link" href="https://edition.cnn.com/2013/05/01/us/kentucky-accidential-shooting/index.html">убийства по&nbsp;неосторожности.</a></p>

<p>Сильный <a class="link" href="/blog/strategiya-silnogo-brenda/">бренд</a> не&nbsp;навязывает себя, а&nbsp;помогает принять решения. Если покупателю подходит лучше товар конкурента, можно подсказать, как его найти. Важнее не&nbsp;втюхать продукт, а&nbsp;сделать его легко узнаваемым. Чтобы человек быстро «считал» и&nbsp;распознал его как «свой» или «чужой».  </p>

<footer class="row-gap--m mt-m">
<h4 class="mb-m "> Дополнительные материалы:</h4>
<ul class="addictive-spacing">
<li class="list-li">
  <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">Маркетинг без нужды продать</a>
</li>
<li class="list-li">
  <a class="link" href="/blog/konkurentnoe-preimushhestvo/">Конкурентное преимущество в&nbsp;пользе и&nbsp;доверии</a>
</li>
</ul>
</footer>
</section>

</section>



<section class="row-gap--m" id="effektivnost-brenda">
<h2 class="section__title post__title bold">Как бренд увеличивает эффективность маркетинговых кампаний</h2>
<div class="with-side row-gap--m">
<p>Исследования обнаруживают сильную корреляцию между эффективностью акционных кампаний и&nbsp;узнаваемостью бренда. В&nbsp;частности об&nbsp;этом говорит Йенс Нордфальт, который обработал результаты исследований в&nbsp;области ритейл-маркетинга за&nbsp;40&nbsp;лет. </p>
<div class="side">
<p>См. <a class="link" href="/blog/in-store-marketing/"> основные идеи книги Йенса Нордфальта «Ритейл-маркетинг: практики и&nbsp;исследования»</a></p>
</div>
</div>
<p>Но&nbsp;здесь я&nbsp;хочу рассказать, как бренд меняет физиологию восприятия. Д.&nbsp;Ариели в&nbsp;книге «Предсказуемая иррациональность» описывает эксперимент, который поставил точку в&nbsp;споре, что вкуснее&nbsp;— Кола или Пепси. В&nbsp;слепом тестировании побеждала Пепси. Когда&nbsp;же люди знали, что пьют, то&nbsp;предпочитали Колу. Это заинтересовало группу нейрофизиологов и&nbsp;они повторили тестирование. </p>

<p>С&nbsp;помощью функциональной магнитно-резонансной томографии исследователи наблюдали за&nbsp;мозгом участников дегустации. Выяснилось, что активность мозга отличается в&nbsp;зависимости от&nbsp;того, знает&nbsp;ли человек, что пробует. Когда участнику говорили, что сейчас он&nbsp;пьет Колу, то&nbsp;у&nbsp;него&nbsp;— значимо больше нежели в&nbsp;случае Пепси&nbsp;— активировалась часть мозга, отвечающая за&nbsp;ассоциации и&nbsp;память. Победы Колы в&nbsp;открытых дегустациях объясняются брендом, который вызывал набор ассоциаций. Именно они, а&nbsp;не&nbsp;химический состав напитка определял выбор. </p>

<p>Подобные эксперименты проводились в&nbsp;ресторанах (оценки блюд зависели от&nbsp;предшествующего описания), в&nbsp;автоцентрах (впечатление от&nbsp;тест-драйвов зависело от&nbsp;степени известности модели автомобиля) и&nbsp;т.д. Если компании не&nbsp;сообщают покупателям ничего о&nbsp;бренде, то&nbsp;тем самым снижают эффективность своих маркетинговых мероприятий.</p>
</section>

<section class="row-gap--m" id="balans-62-38">
<h2 class="section__title post__title bold">Баланс бренд-маркетинга и&nbsp;performance: <span class="noperenos">стратегия 62/38</span></h2>

<p>Мы видим, что краткосрочные («конверсионные») акции дают больший эффект, если за&nbsp;ними стоит брендовая кампания. Остается вопрос, в&nbsp;каком соотношении должен быть распределен бюджет на&nbsp;бренд-маркетинг и&nbsp;на&nbsp;маркетинг, нацеленный на&nbsp;конверсию (performance-marketing, conversion-focused marketing).</p>

<p>На&nbsp;этот вопрос ответили Питер Филд (Peter Field) и&nbsp;Лес Бине (Les Binet). В&nbsp;своих исследованиях они пришли к&nbsp;выводу, что <a class="link" href="https://youtu.be/2LkK-UdbMuM">наилучших результатов компания достигает, если на&nbsp;<strong>развитие бренда</strong> отдает в&nbsp;среднем&nbsp;62% маркетингового бюджета</a>. </p>

<div itemscope itemtype="https://schema.org/ImageObject">
	<link itemprop="url"
		href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png">
		<img
  class="image is-16by9 border--gray"
  loading="lazy"
  decoding="async"
  src="https://res.cloudinary.com/bartoshevich/image/upload/e_improve,c_scale,w_706,f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve,c_scale,w_270,f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve,c_scale,w_706,f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve,c_scale,w_984,f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png 984w,
    https://res.cloudinary.com/bartoshevich/image/upload/e_improve,c_scale,w_1280,f_auto,q_auto/v1635712030/site/brand-activation-balance-matters.png 1280w
  "
  sizes="(min-width: 1140px) 705px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 196px), calc(100vw - 34px)"
  width="1280"
  height="720"
  alt="Влияние бренд стратегии на эффективность performance маркетинга"
  itemprop="contentUrl"
>

	  

	<div class="figcaption"><span class="bold">слайд из&nbsp;презентации Питера Филда и Леса Бине</span> <br>
		Не&nbsp;заниматься построением бренда вообще&nbsp;&mdash; наихудший выбор для компании.
	</div>
</div>
</section>


