---
layout: post
title:  "Антикризисный маркетинг: стратегия и ценности бренда"
name: "Антикризисный маркетинг: как ценности бренда помогают бизнесу выстоять в&nbsp;кризис"
description: 'Как маркетинг помогает бизнесу выжить в&nbsp;кризис и&nbsp;сохранить доверие. Стратегия и&nbsp;ценности бренда&nbsp;&mdash; ключ к&nbsp;успеху.'
date:   2022-04-24
categories: мнение
permalink: "/blog/marketing-v-krizis/"
tags: "управление бизнес"
image: /assets/images/tizers/tizer-75.jpg
keywords: "маркетинг в кризис, антикризисная стратегия"
eleventyNavigation:
  key: marketing-v-krizis
  title: "Антикризисный маркетинг: стратегия и ценности бренда"
  parent: blog
relatedIdeas:
  - title: "Задачи маркетолога в&nbsp;Беларуси"
    url: "/blog/marketing-in-belarus/"
  - title: "&laquo;Это маркетинг&raquo; Сета Година: в&nbsp;чем суть маркетинга на&nbsp;самом деле"
    url: "/blog/set-godin-eto-marketing/"
  - title: "Маркетинг, который вызывает доверие,&nbsp;&mdash; главное конкурентное преимущество"
    url: "/blog/konkurentnoe-preimushhestvo/"
  - title: "Таблицы и&nbsp;схемы не&nbsp;делают маркетинг системным"
    url: "/blog/system-marketing/"

---


<p>Два месяца в&nbsp;соседней стране идут боевые действия. Результат <a class="link" href="https://news.un.org/ru/story/2022/03/1419642">российского вторжения</a>&nbsp;— тысячи погибших мирных жителей, миллионы беженцев. <q cite="https://news.un.org/ru/story/2022/04/1422332">Мир шокирован тем, что происходит в&nbsp;Украине</q>,&nbsp;— <a class="link" href="https://news.un.org/ru/story/2022/04/1422332">говорят представители ООН</a>. Беларусь рассматривается как соучастница агрессии. Япония, США и&nbsp;Европейский Союз вводят запрет на&nbsp;поставки в&nbsp;страну ряд технологий и&nbsp;определенных товаров. Заблокирована большая часть белорусского экспорта в&nbsp;ЕС. </p>

<figure class="figure max-width-text"  itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1658162653/site/mediabelarus.jpg">


<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 760px) 670px, 89.77vw" 
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_270/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 270w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_706/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 706w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_984/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 984w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1220/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 1220w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1412/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 1412w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1658162653/site/mediabelarus.jpg 1500w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1658162653/site/mediabelarus.jpg"
  width="1500"
  height="1500"
  alt="Маркетинговые советы для бизнеса в кризис"
  itemprop="contentUrl"
>



<figcaption class="figcaption">Информационное поле белорусского бизнеса </figcaption>
</figure>

<p>Встречаю много статей, постов с&nbsp;антикризисными советами для предпринимателей. Хочу выделить несколько часто повторяющихся тезисов, касающихся маркетинга, и&nbsp;рассказать о&nbsp;своем видении <strong>антикризисной стратегии для маркетологов</strong>. </p>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Кризис и&nbsp;реклама </h2>

<p><strong>Вопрос, что делать с&nbsp;маркетингом в&nbsp;кризис</strong>, часто сводят к&nbsp;рекламе: сокращать&nbsp;ли рекламный бюджет и&nbsp;как распределять. Но&nbsp;<a class="link" href="/blog/perfomance-and-brand-marketing/">маркетинг не&nbsp;тождественен рекламе</a>. Рассуждать о&nbsp;рекламе и&nbsp;только&nbsp;— поверхностно и&nbsp;неправильно. </p>

<p>Если не&nbsp;задаваться сущностными вопросами, все рекомендации будут гаданием и&nbsp;не&nbsp;больше. Как, например, совет тестировать разные форматы коммуникации. Представьте, вы&nbsp;заблудились и&nbsp;спрашиваете у&nbsp;прохожего, как пройти на&nbsp;улицу такую-то. Прохожий вам отвечает: «Пробуйте разные варианты». Глупо, да? Перебор вариантов&nbsp;— это дорого, долго и&nbsp;часто нерационально. Чем предлагать подобное, лучше сказать «Я&nbsp;не&nbsp;знаю, спросите другого». </p>

<p>Я&nbsp;не&nbsp;против тестирования как метода. Если при этом помнят, что в&nbsp;основе тестирования лежит некое видение существенных связей исследуемого феномена. В&nbsp;хаотичном&nbsp;же переборе возможных вариантов нет ни&nbsp;объяснения, ни&nbsp;гипотез. Лишь суета и&nbsp;томление духа. </p>

</section>




<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Кризис и&nbsp;контекст коммуникации</h2>
<p>Встречал рекомендации никак не&nbsp;реагировать на&nbsp;происходящее. Не&nbsp;лезть в&nbsp;политику, помнить об&nbsp;усиливающейся роли государства. Не&nbsp;устаю повторять: «Быть вне политики и&nbsp;не&nbsp;замечать контекст своей коммуникации&nbsp;— разные вещи». Работать, как будто&nbsp;бы ничего не&nbsp;случилось,&nbsp;— худшее, что может сделать предприятие. </p>

<section class="example--card space-connected">
  <div class="card-header">
    <span class="example-tag">Пример</span>
    <h4 class="heading--delta">Неуместная реклама в эфире CNN</h4>
  </div>
  <div class="card-divider"></div>

  <div class="context-block additive-spacing">
    <p>CNN в&nbsp;прямом эфире показывал воздушную тревогу в&nbsp;Киеве. На&nbsp;фоне видеоряда и&nbsp;заголовка «Россия
      вторглась в&nbsp;Украину» появилась задорная реклама. Очевидно, она была неуместна. Впоследствии компания
      извинялась за&nbsp;инцидент.</p>

    <figure class="figure" itemscope itemtype="https://schema.org/ImageObject">
      <link itemprop="url" href="/assets/images/blog/marketing-v-krizis/live_cnn.jpg">

      {% image "assets/images/blog/marketing-v-krizis/live_cnn.jpg", "Пример неуместной рекламы во время кризиса",
      "(min-width: 680px) 533px, calc(91.94vw - 66px)", [640, 972, 1200, 1500], ["avif", "webp",
      "jpeg"], "image" %}


      <figcaption class="figcaption">Скриншот прямого эфира CNN</figcaption>
    </figure>

  </div>
</section>
        

</section>


<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Кризис и&nbsp;возможности</h2>

<p>Вопреки распространенному заблуждению, «кризис» в&nbsp;китайском языке не&nbsp;означает «возможность». А антикризисный маркетинг&nbsp;— это вообще не&nbsp;о&nbsp;механизме заработка в&nbsp;любых условиях. <a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">Маркетинг не&nbsp;про втюхивание</a>, а&nbsp;во&nbsp;время неопределенности&nbsp;— особенно. </p>

<p>В&nbsp;знак протеста против военной агрессии десятки западных компаний ушли с&nbsp;рынка России. Разве у&nbsp;них не&nbsp;было умелых маркетологов, способных кризис превратить в&nbsp;возможности? Совсем нет. Были и&nbsp;люди, и&nbsp;бюджет. Уход компании&nbsp;&mdash; выбранный ими вариант реагирования на&nbsp;обстоятельства. </p>
</section>



<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Антикризисная стратегия бренда: ценности важнее товаров</h2>

<p>Фразу Ницше «У&nbsp;кого есть „Зачем“, тот выдержит почти любое „Как“» можно применить и&nbsp;к&nbsp;бизнесу. Кризис легче преодолеть, если компания знает смысл своего существования. А&nbsp;где компания формулирует смысл? В&nbsp;стратегии. </p>

<p><b>Стратегия</b>&nbsp;— это не&nbsp;сказать «нам нужно продать 30&nbsp;тонн штуковин к&nbsp;7&nbsp;ноября». Стратегия&nbsp;— это желаемая картина мира и&nbsp;своего места в&nbsp;нем. Это оценка окружения (рынка, партнеров, конкурентов) и&nbsp;определение, где, как и&nbsp;кем вы&nbsp;хотите быть в&nbsp;этих условиях. Стратегия упорядочивает и&nbsp;направляет текущие действия, задает смысл отдельным шагам. </p>

<p>Стратегию нельзя списать, подсмотреть. Нет правильного ответа, как действовать. Его попросту не&nbsp;может быть, потому как никто другой не&nbsp;может вам сказать, кем вам быть в&nbsp;меняющихся условиях. Это ваш экзистенциальный выбор&nbsp;— для чего работаете, что отстаиваете. </p>

<p>Во&nbsp;время кризиса проявляется, есть&nbsp;ли у&nbsp;бренда содержание. Вижу маркетологов компаний, которые не&nbsp;знают, что делать. Еще недавно в&nbsp;СМИ они рассказывали о&nbsp;ярком, смелом и&nbsp;клиентоориентированным бренде. И&nbsp;сейчас выясняется, что это было банальной игрой в&nbsp;слова. Бренд оказался пустышкой, умело раскрашенной дизайнерами. Никаких смыслов, которые вели&nbsp;бы за&nbsp;собой. </p>

<p>Ранее я&nbsp;писал <a class="link" href="/blog/klienty-vybirayut-brendy-po-cennostyam/">о&nbsp;брендах как о&nbsp;представительной власти</a>. Товар сегодня&nbsp;— это не&nbsp;набор характеристик, а&nbsp;набор ценностей и&nbsp;убеждений. Пришло время говорить... Нет не&nbsp;так. Пришло время заявлять о&nbsp;ценностях. Громко. И&nbsp;подтверждать действиями. </p>

<p>Если в&nbsp;вашей <b>платформе бренда</b> указано «честность и&nbsp;открытость», поделитесь, как вы&nbsp;проживаете санкции. Не&nbsp;нужен канцелярит, образ супергероя и&nbsp;шапкозакидательство. Простое человеческое общение. Продемонстрируйте свою настоящесть, чтобы люди кожей ощутили вашу честность и&nbsp;открытость. В&nbsp;концепции бренда значится «забота»? Покажите, как вы&nbsp;сейчас поддерживаете персонал и&nbsp;клиентов, даже тех, которые сейчас не&nbsp;могут вам платить. </p>

<p>Маркетинг&nbsp;— это создание и&nbsp;передача смыслов. Во&nbsp;время кризиса актуальность этого правила возрастает в&nbsp;несколько раз. <strong>Антикризисный маркетинг начинается не&nbsp;с&nbsp;рекламы, бюджета или каналов продвижения. Все начинается со&nbsp;смыслов и&nbsp;ценностей.</strong> Они заряжают на&nbsp;действия вас. На&nbsp;них откликаются другие. </p>
</section>

