---
layout: post
title:  "Миграция медиапланера: работа в рекламе за границей"
name: "Медиапланирование западнее Буга: путевые заметки трудового мигранта"
description: 'Исследование опыта миграции медиапланера: особенности, требования и&nbsp;различия в&nbsp;рекламной сфере между Беларусью и&nbsp;Германией. Подробности от&nbsp;Дмитрия Захарина.'
date:   2022-12-08
categories: опыт
permalink: "/blog/migraciya-mediaplanera/"
tags: ["управление", "опыт"]
image: /assets/images/tizers/tizer-76.jpg
keywords: "миграция, медиапланирование, Германия, маркетолог в Германии"
eleventyNavigation:
  key: migraciya-mediaplanera
  title: "Медиапланирование западнее Буга: путевые заметки трудового мигранта"
  parent: blog
---



<p><strong>Востребованы&nbsp;ли белорусские маркетологи за&nbsp;границей?</strong> Или мир ждет только айтишников? Что отличает западную сферу рекламы от&nbsp;белорусской? Попросил Дмитрия Захарина поделиться размышлениями.</p>

<div class="guest"> 
	<img class="guest__image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435620/site/duss/dzakharin.jpg" alt="Дмитрий Захарин, портрет" width="345" height="345">
 	<div>
		<p class="guest__name">Дмитрий Захарин</p>
		<p class="guest__text">С&nbsp;2021 работает в&nbsp;рекламном агентстве в&nbsp;Германии.</p>
		<p class="guest__text">В&nbsp;рекламном рынке&nbsp;— более 18&nbsp;лет. Начинал работу в&nbsp;Минском офисе OMD, работал в&nbsp;Беларуси и&nbsp;Казахстане. Прошел путь от&nbsp;медиа-плэнера до&nbsp;Медиа/Эккаунт директора. </p>
    <p class="guest__text italic"><a class="link" href="https://www.linkedin.com/in/dmitry-zakharin" target="_blank" rel="noopener noreferrer">профиль в linkedIn</a></p> 
  </div>
 </div>

<p>—&nbsp;Когда обсуждают миграцию, часто слышу набор «штампов»: «западные рынки ждут только айтишников», «гуманитарии там не&nbsp;нужны» и&nbsp;т.д. Последние несколько лет у&nbsp;профессий, связанных с&nbsp;IT, действительно больше шансов на&nbsp;передвижение по&nbsp;всему миру. Айтишникам чуть легче эмигрировать. Однако не&nbsp;стоит воспринимать штампы за&nbsp;истину в&nbsp;последней инстанции. </p>

<nav class="toc">
 <h2 class="toc__title">Содержание</h2>
 <ul class="additive-spacing">
		  <li>		    
		      <span class="tocnumber">1 </span>
			  <a class="link" href="#recruitment">Специфика найма в&nbsp;сфере рекламы/медиа
		    </a>
		  </li>
		 
			<li>			
				 <span class="tocnumber">2 </span>
				  <a class="link" href="#advertising-market">
				  Особенности немецкого рынка рекламы и&nbsp;принципы работы агентств
			 </a>
		 </li>
		 <li>		
				<span class="tocnumber">3 </span>
					<a class="link" href="#life">Быт трудового мигранта
			</a>
		</li>

     <li>		
				<span class="tocnumber">4 </span>
					<a class="link" href="#why">Зачем переезжать?
			</a>
		</li>
</ul>
</nav>

<section class="row-gap--m" id="recruitment">
<h2 class="section__title h1 bold">Специфика найма в&nbsp;сфере рекламы/медиа</h2>

<p>—&nbsp;Давайте рассмотрим процесс найма в&nbsp;сфере рекламы в&nbsp;Германии и&nbsp;сравним его со&nbsp;«сферическим» айтишным опытом рекрутинга. </p>

<section class="row-gap--m" id="vacancies">
<h3 class="h2 bold mt-m mb-m">Количество вакансий меньше</h3>
<p>Агентства постоянно нанимают сотрудников, но&nbsp;при этом само количество компаний меньше и&nbsp;вакансий в&nbsp;компаниях меньше, чем например, число вакансий программистов на&nbsp;условной «Java». Соответственно конкурс может быть ощутимо выше.</p>
</section>

<section class="row-gap--m" id="requirements">
<h3 class="h2 bold mt-m mb-m">Строгие требования </h3>
<p>Требования к&nbsp;соискателю выглядят чуть более сложными по&nbsp;сравнению с&nbsp;IT. В&nbsp;случае рекламных профессий требуется сочетание нескольких факторов: </p>
<ol class="addictive-spacing"> 
	<li class="list-li"> 
		<p>Специфичного опыта (опыт работы с&nbsp;медиаканалами + с&nbsp;клиентами). </p>
 	</li>
	<li class="list-li"> 
		<p>Знания языка (минимум английский, в&nbsp;идеале еще и&nbsp;язык страны куда едешь, причем не&nbsp;на&nbsp;уровне A1-A2). Обычно подтверждения сертификатом не&nbsp;требуется&nbsp;— достаточно будет, если вы&nbsp;укажете в&nbsp;резюме уровень владения (fluent, например). Ваш уровень сразу определят на&nbsp;первом собеседовании.</p>
 	</li>
	<li class="list-li"> 
		<p>Знания рынка (тут требования могут варьироваться&nbsp;— от&nbsp;простого понимания структуры рынка до&nbsp;знания непосредственно подрядчиков и&nbsp;опыта работы с&nbsp;ними).</p>
 	</li>
 </ol>
<p>
 Первые два пункта&nbsp;— просто обязательны. Очень много зависит от&nbsp;того, как вы&nbsp;покажете себя на&nbsp;собеседовании: как такового технического интервью здесь нет, но&nbsp;о&nbsp;работе рассказать необходимо, параллельно убеждая интервьюера, что ты&nbsp;тот, кто им&nbsp;нужен. 
</p>
<p class="mb-m">Две хороших новости: </p>
<ul class="addictive-spacing">
<li class="list-li">Цепочка собеседований достаточно короткая, обычно в&nbsp;течение первых двух интервью ты&nbsp;знакомишься с&nbsp;непосредственным менеджером и&nbsp;управляющим менеджером агентства. </li>
<li class="list-li">Достаточно хорошо работает рекомендательная система: когда ты&nbsp;можешь порекомендовать сотрудника, и&nbsp;его будут рассматривать с&nbsp;бОльшим приоритетом, нежели других. Работает это и&nbsp;в&nbsp;другую сторону&nbsp;— кто-то может порекомендовать вас в&nbsp;своё агентство.</li>
</ul>
</section>


<section class="row-gap--m" id="demotion" >
<h3 class="h2 bold mt-m mb-m">«Откат» в&nbsp;позиции</h3>
<p>Если нет 100% релевантного опыта работы в&nbsp;странах&nbsp;ЕС, будьте готовы к&nbsp;тому, что придется рассматривать позиции ниже той, которая есть сейчас. Со&nbsp;временем восстановиться до&nbsp;прежних позиций скорее всего получится. Работайте, не&nbsp;делайте ошибок и&nbsp;будет вам карьерный рост. Но&nbsp;только при условии хорошего владения языком (лучше всего&nbsp;— родным языком страны, куда вы&nbsp;перебрались). 
</p>

<p>Если компания транснациональная и&nbsp;вы&nbsp;уже работали в&nbsp;такой или аналогичной компании, позицию возможно удастся сохранить или&nbsp;же сразу обсудить план по&nbsp;восстановлению прежнего статуса. Опять&nbsp;же, свободное владение иностранным языком&nbsp;— базовое требование. </p>
</section>


<section class="row-gap--m" id="unaccompanied">
<h3 class="h2 bold mt-m mb-m">Без сопровождения переезда</h3>
<p>Поскольку рекламные агентства в&nbsp;основном нанимают людей с&nbsp;внутреннего рынка&nbsp;— в&nbsp;большинстве случаев не&nbsp;стоит ожидать релокейт пакета или чего-то аналогичного. Визовые и&nbsp;бытовые вопросы придется решать самому.</p>

<p>Приступая к&nbsp;процессу получения визы надо быть готовым, что именно вы&nbsp;будете выступать «двигателем» процесса: узнавать, какие точно документы нужны, заранее готовить апостили и&nbsp;подтверждения локальных документов (в&nbsp;случае немецкого посольства&nbsp;— многие документы необходимо было предоставлять с&nbsp;нотариально заверенным переводом, диплом с&nbsp;апостилем), задавать вопросы посольству и&nbsp;будущему работодателю, если возникают задержки и&nbsp;т.п. </p>

<p>Если не&nbsp;получается претендовать на&nbsp;<a class="link" href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D0%B0%D1%8F_%D0%BA%D0%B0%D1%80%D1%82%D0%B0">Blue Card</a>, подавайте документы на&nbsp;обычную рабочую визу. Только внимательно изучите требования. Список документов и&nbsp;требований немного отличается (например, при переезде по&nbsp;обычной визе супруг/супруга должны сдать тест немецкого языка на&nbsp;уровень А1&nbsp;— не&nbsp;смертельно, но&nbsp;займет время). </p>

<p>Наличие или отсутствие Blue Card повлияет на&nbsp;некоторые моменты при увольнении и&nbsp;поиске работы. Но&nbsp;в&nbsp;целом тип полученной визы (Blue card или обычная рабочая) никак не&nbsp;отразится на&nbsp;повседневной жизни.</p>

<p>Разбираться в&nbsp;особенностях миграционного и&nbsp;налогового законодательства страны назначения лучше начать заранее. На&nbsp;месте придется проходить процесс получения ВНЖ. </p>

<p class="post__note">Что может помочь? <br>Помогут платформы, на которых общаются мигранты. Показательный пример&nbsp;— <a class="link" href="https://ru-de.github.io/faq/pages/%D0%9F%D0%BB%D0%B0%D0%BD%20%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D0%B9%20%D0%B4%D0%BB%D1%8F%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D0%B2%D1%88%D0%B8%D1%85%20%D0%BE%D1%84%D1%84%D0%B5%D1%80.html">база знаний по&nbsp;миграции и&nbsp;жизни в&nbsp;Германии</a>. Читать и&nbsp;«переваривать» информацию&nbsp;(как по&nbsp;работе, так и&nbsp;по&nbsp;внерабочим вопросам) придется много.</p>


</section>
</section>


<section class="row-gap--m" id="advertising-market">
<h2 class="section__title h1 bold">Особенности немецкого рынка рекламы и&nbsp;принципы работы агентств</h2>

<p>—&nbsp;Что бросается в&nbsp;глаза после переезда для человека проработавшего 18&nbsp;лет на&nbsp;рынках Беларуси и&nbsp;Казахстана: </p>
<ul class="addictive-spacing"> 
	<li class="list-li"> 
		<p>Большой рынок, с&nbsp;крупными игроками, как со&nbsp;стороны подрядчиков (медиаплатформ), так и&nbsp;со&nbsp;стороны клиентов. Соответственно, суммы рекламных кампаний в&nbsp;разы больше тех, к&nbsp;которым привыкли медиаменеджеры и&nbsp;плэнеры на&nbsp;родине. БОльшие суммы позволяют проводить, в&nbsp;том числе, больше экспериментов, test&amp;learn кампаний, проводить исследования по&nbsp;эффективности кампаний, поскольку цена таких исследований на&nbsp;фоне медиа инвестиций выглядит достаточно скромной.</p>
 	</li>
	<li class="list-li"> 
		<p>Количество исследований, которое существует на&nbsp;рынке (чем больше рынок в&nbsp;деньгах&nbsp;— тем больше исследований). Но&nbsp;при этом некоторые отдельные технические решения (платформы, схемы продаж медиа) могут вызывать удивление некоторой архаичностью.</p>
 	</li>
	<li class="list-li"> 
		<p>Другой медиаландшафт. Роль медиаканалов воспринимается по-другому, медиапотребление выглядит несколько иначе. Например, сильные позиции прессы, в&nbsp;том числе региональной, или высокая стоимость контакта на&nbsp;ТВ. К&nbsp;этому необходимо адаптироваться.</p>
 	</li>
	<li class="list-li"> 
		<p>Рынок диверсифицирован по&nbsp;регионам: кроме крупных национальных игроков, есть ряд достаточно крупных игроков сосредоточены в&nbsp;нескольких регионах страны. Соответственно речь идет не&nbsp;о&nbsp;национальных рекламных кампаниях, а&nbsp;о&nbsp;региональных. Это требует большего вовлечения в&nbsp;рынок на&nbsp;уровне регионов, больше работы по&nbsp;планированию и&nbsp;реализации рекламных кампаний.</p>
 	</li>
	<li class="list-li"> 
		<p>Крупные агентства&nbsp;— действительно крупные. Штат таких агентств превышает 1000&nbsp;человек. Как результат&nbsp;— внутренняя структура более детализирована. Команды имеют четко обозначенные зоны ответственности. Например, в&nbsp;агентствах обязательно будет отдел по&nbsp;работе с&nbsp;данными. Это сильно облегчает работу, особенно большие, сложные проекты, где можно распараллеливать некоторые задачи.</p>
 	</li>
	<li class="list-li"> 
		<p>Мелкие особенности рынков, о&nbsp;которых никто не&nbsp;говорит, но&nbsp;которые тем не&nbsp;менее контрастируют с&nbsp;белоруской реальностью. Например, полное отсутствие актов выполненных работ, которые являются просто неотъемлемой часть жизни плэнера. Или 100% онлайн ведение финансовых расчетов с&nbsp;клиентами и&nbsp;подрядчиками.</p>
 	</li>
 </ul>
</section>


<section class="row-gap--m" id="life">
<h2 class="section__title h1 bold">Быт трудового мигранта</h2>

<section class="row-gap--m">
<h3 class="h2 bold mb-m">Место</h3>
<p>Иногда мигранты, переезжающие из&nbsp;столицы своей родины, прицеливаются на&nbsp;столицу. Не&nbsp;стоит так делать. Зарплаты здесь скорее привязаны к&nbsp;компании и&nbsp;городу, но&nbsp;не&nbsp;обязательно самые высокие зарплаты в&nbsp;столице. Например, в&nbsp;Германии из-за гомогенности среды разница между городом в&nbsp;1.5млн жителей и&nbsp;в&nbsp;<span class="noperenos">300-400</span> тыс жителей будет незначительна, и&nbsp;когда компания предлагает несколько мест для релокации с&nbsp;одинаковой компенсацией&nbsp;— можно ориентироваться на&nbsp;ряд факторов, в&nbsp;отрыве от&nbsp;зарплат: спокойное&nbsp;ли место, далеко&nbsp;ли до&nbsp;других интересных точек (горы, море, океан, исторические места, центры фестивальных движений и&nbsp;пр). В&nbsp;конце концов выбор иногда может зависеть от&nbsp;архитектуры&nbsp;— нравится&nbsp;ли город эстетически.</p>

<div class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1670435184/site/duss/Duss05.jpg">			
		<img class="image border" loading="lazy" decoding="async" 
			sizes="100vw" 
			srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1670435184/site/duss/Duss05.jpg 640w,
			https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto/v1670435184/site/duss/Duss05.jpg 1040w,
			https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/Duss05.jpg 1200w"
			src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/Duss05.jpg"
			width="1200" height="627" alt="Дюссельдорф - город для миграции маркетолога" itemprop="contentUrl"
		>
		<div class="figcaption">Дюссельдорф. Вид с&nbsp;высоты птичьего полёта. <br>Фото: www.duesseldorf.de</div>
</div>


<div class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1670435184/site/duss/duss03.jpg">			
		<img class="image border" loading="lazy" decoding="async" 
			sizes="100vw" 
			srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1670435184/site/duss/duss03.jpg 640w,
			https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto/v1670435184/site/duss/duss03.jpg 1040w,
			https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1670435184/site/duss/duss03.jpg 1200w,
      https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss03.jpg 1600w"
			src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss03.jpg"
			width="1600" height="992" alt="На центральных улицах Дюссельдорфа" itemprop="contentUrl"
		>
		<div class="figcaption">На центральных улицах Дюссельдорфа. <br>Фото: www.duesseldorf.de</div>
</div>




</section>



<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Люди</h3>
<p>Рано&nbsp;или поздно обращает на&nbsp;себя внимание менталитет людей в&nbsp;стране переезда. Отмечу, что все зависит от&nbsp;личного отношения к&nbsp;ситуации. Надо принять, что в&nbsp;новой стране живут точно такие&nbsp;же люди, просто с&nbsp;несколько другой историей. Из&nbsp;этой истории будут «расти» не&nbsp;только особенности людей, но&nbsp;и&nbsp;особенности взаимодействия с&nbsp;ними (с&nbsp;соседями или с&nbsp;коллегами, да&nbsp;и&nbsp;просто в&nbsp;повседневной жизни&nbsp;— в&nbsp;магазине, например). Также «тяжелый» отпечаток традиций будет нести бюрократия и&nbsp;подход к&nbsp;некоторым деловым процессам.</p>
<p>Поскольку «переделать» в&nbsp;окружающих некоторые, традиционно сложившиеся вещи ты&nbsp;не&nbsp;можешь, придется адаптироваться. Если вы&nbsp;планируете оставаться надолго&nbsp;— сразу определите план интеграции, в&nbsp;том числе обучение языку и&nbsp;прохождение интеграционных курсов.</p>
<p>Практически во&nbsp;всех странах есть сложившиеся диаспоры, которые могут помочь советом (иногда делом, например, услугами перевода у&nbsp;врача или в&nbsp;миграционной службах). Обычно все они имеют телеграм-канал или форум/группу в&nbsp;facebook.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss01.jpg">			
		<img class="image border" loading="lazy" decoding="async" 
			sizes="100vw" 
			srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1670435184/site/duss/duss01.jpg 640w,
			https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss01.jpg 1040w"
			src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss01.jpg"
			width="1040" height="580" alt="Дюссельдорф. Вид на городскую набережную" itemprop="contentUrl"
		>
		<figcaption class="figcaption">Дюссельдорф. Вид на городскую набережную <br>Фото: www.duesseldorf.de</figcaption>
</figure>
</section>


<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Животные</h3>
<p>Стоит упомянуть про вывоз животных из&nbsp;РБ и&nbsp;ввоз в&nbsp;страну назначения. Это отдельный процесс, который займет определенное время на&nbsp;родине. В&nbsp;принципе требований немного: питомец должен быть чипирован и&nbsp;у&nbsp;него должен быть паспорт международного образца (а&nbsp;такой паспорт сразу влечет за&nbsp;собой необходимость делать все необходимые прививки). Кроме этого необходимо получить справку на&nbsp;вывоз в&nbsp;государственной ветлечебнице. Проблемы возникают, если ничего из&nbsp;вышеперечисленного нет, а&nbsp;выезд&nbsp;— через неделю. </p>

<p>Также надо определиться с&nbsp;логистикой. Самый простой вариант&nbsp;— везти животное с&nbsp;собой (и&nbsp;хозяин меньше волнуется и&nbsp;питомец спокоен). Если это невозможно, придется найти перевозчика и&nbsp;передать животное с&nbsp;ним. </p>
<p>В&nbsp;стране назначения «натурализовать» питомца легче, но&nbsp;все равно надо будет изучить вопрос владения домашними животными: необходимо&nbsp;ли его регистрировать, страховать, какие требования вообще существуют для содержания животных (регистрации, налоги прочее). Надо быть готовым, что могут возникнуть вопросы и&nbsp;у&nbsp;тех, кто сдает вам квартиру: иногда для проживания животных требуют дополнительную страховку.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1670435184/site/duss/duss04.jpg">			
		<img class="image border" loading="lazy" decoding="async" 
			sizes="100vw" 
			srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1670435184/site/duss/duss04.jpg 640w,
			https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1670435184/site/duss/duss04.jpg 1200w,
      https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss04.jpg 1600w"
			src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss04.jpg"
			width="1600" height="1067" alt="овцы пасутся на пастбище на фоне Дюссельдорфа" itemprop="contentUrl"
		>
		<figcaption class="figcaption">Вид на Дюссельдорф с другой стороны Рейна <br>Фото: www.duesseldorf.de</figcaption>
</figure>
</section>

<section class="row-gap--m">
<h3 class="h2 bold mt-m mb-m">Вещи</h3>
<p>С&nbsp;этой частью переезда меньше всего проблем. Но&nbsp;все же следует «погрузиться» в&nbsp;особенности рынка недвижимости, чтобы понять, насколько быстро вы&nbsp;сможете снять меблированную квартиру, насколько вам вообще нужна полностью меблированная квартира и&nbsp;т.д. Это поможет определить, необходим&nbsp;ли вам запас средств, чтобы купить мебель первой необходимости на&nbsp;месте. </p>
</section>
</section>


<section class="row-gap--m" id="why">
<h2 class="section__title h1 bold">Зачем переезжать?</h2>

<p>—&nbsp;Вопрос, на&nbsp;который каждый должен дать ответ сам. Как всегда: кто-то будет бежать от&nbsp;чего-то, кто-то будет переезжать «к&nbsp;чему-то». У&nbsp;большинства сейчас это будет микс, где будет больше первого, чем второго, но&nbsp;это всегда будет микс.</p>

<p>Для молодых медиаменеджеров и&nbsp;плэнеров&nbsp;— это в&nbsp;первую очередь возможность познакомиться с&nbsp;новым рынком, получить новый опыт.</p>

<p>Для рекламщиков постарше&nbsp;— это возможность также посмотреть на&nbsp;рынок другими глазами, возможно получить возможность реализации своих проектов, которые нельзя было реализовать на&nbsp;родине, возможность получить более «длинный горизонт планирования» в&nbsp;проектах.</p>

<p>В&nbsp;общечеловеческом плане&nbsp;— это возможность посмотреть на&nbsp;другую культуру изнутри, не&nbsp;как турист, опять&nbsp;же&nbsp;— получить «длинный горизонт планирования» своей жизни. Для мигрантов с&nbsp;детьми&nbsp;— возможность заложить в&nbsp;ребенка несколько другой набор знаний (естественно, с&nbsp;упором на&nbsp;языки).</p>
<p>Стоит отметить, что миграция потребует определенных усилий и&nbsp;будет проверкой на&nbsp;самостоятельность и&nbsp;решительность. Если вы&nbsp;приняли решение о&nbsp;миграции, но&nbsp;чувствуете что нужна будет поддержка&nbsp;— обзаведитесь контактом психолога еще на&nbsp;родине, благо цифровизация позволяет проводить удаленные сессии.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">	
		<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1670435184/site/duss/duss02.png">			
		<img class="image border" loading="lazy" decoding="async" 
			sizes="100vw" 
			srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1670435184/site/duss/duss02.png 640w,
			https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1670435184/site/duss/duss02.png 1200w,
      https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss02.png 1600w"
			src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1670435184/site/duss/duss02.png"
			width="1600" height="900" alt="Фотография старой части Дюссельдорфа" itemprop="contentUrl"
		>
		<figcaption class="figcaption">Рождественская ярмарка в старой части Дюссельдорфа <br>Фото: www.duesseldorf.de</figcaption>
</figure>
</section>