---
layout: post
title:  "Почему маркетинг — это больше, чем просто продажи "
name: "От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;— это больше, чем просто продажи"
description: 'Маркетинг, основанный на&nbsp;ценностях, привлекает и&nbsp;удерживает клиентов, помогая достигать целей, превышающих простую монетизацию. Принципы и&nbsp;успешные примеры.'
date:   2023-04-02
categories: мнение
permalink: "/blog/marketing-bolshe-chem-prodazhi/"
tags: "маркетолог управление"
image: /assets/images/tizers/tizer-78.jpg
keywords: "смысловой маркетинг, ценности, концепция бренда, монетизация, потребители, продажи, стратегия"
eleventyNavigation:
  key: marketing-bolshe-chem-prodazhi
  title: "От распродаж к стратегии: почему маркетинг — это больше, чем просто продажи"
  parent: blog
relatedIdeas:
  - title: "Бренд и&nbsp;перфоманс маркетинг&nbsp;&mdash; что важно знать маркетологу"
    url: "/blog/perfomance-and-brand-marketing/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Маркетинг без нужды продать"
    url: "/blog/marketing-bez-nuzhdy-prodat/"
  - title: "&laquo;Это маркетинг&raquo; Сета Година: в&nbsp;чем суть маркетинга на&nbsp;самом деле"
    url: "/blog/set-godin-eto-marketing/"
  - title: "Игра в&nbsp;&laquo;Спасителя&raquo;: как маркетологи становятся жертвами"
    url: "/blog/lovushka-dlya-marketologov-igra-spasitel/"

---


<p>Маркетинг часто воспринимается как инструмент, направленный исключительно на&nbsp;стимулирование продаж и&nbsp;увеличение прибыли. Однако такой подход к&nbsp;маркетингу приводит к&nbsp;упрощению его роли и&nbsp;возможностей, делая его лишь поверхностным инструментом коммуникации. Не&nbsp;устаю повторять, что суть маркетинга лежит в&nbsp;способности создавать и&nbsp;доносить смыслы. Ниже&nbsp;— примеры успешных кампаний, которые показывают, что маркетинг, основанный на&nbsp;ценностях и&nbsp;идеях, может быть более эффективным и&nbsp;привлекательным для аудитории.</p>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Принципы маркетинга со&nbsp;смыслом</h2>
<p>Можно выделить четыре ключевых принципа маркетинга, направленного на&nbsp;создание и&nbsp;распространение смыслов: </p>
<ul> 
	<li  class="list-li"> 
		<p>Отражение <a class="link" href="https://barsan.kz/services/brand-concept/" target="_blank" rel="noopener me">концепции бренда</a>. Каждый шаг маркетолога, любая маркетинговая активность должна подтверждать и&nbsp;укреплять концепцию&nbsp;— идею, которая отличает компанию от&nbsp;конкурентов и&nbsp;которая является значимой для аудитории. В&nbsp;этом случае клиенты быстро найдут свою компанию, а&nbsp;компания&nbsp;— своих клиентов. </p>
 	</li>
	<li  class="list-li"> 
		<p>Установление глубоких связей с&nbsp;аудиторией. Это подразумевает активное взаимодействие с&nbsp;клиентами и&nbsp;предоставление им&nbsp;возможности участвовать в&nbsp;развитии бренда. Открытый диалог и&nbsp;вовлечение аудитории помогут укрепить отношения и&nbsp;повысить лояльность к&nbsp;бренду.</p>
 	</li>
	<li  class="list-li"> 
		<p>Создание продуктов и&nbsp;услуг, которые имеют значение для потребителей. Вместо вопросов «Как получить бо́льшую аудиторию?», «Как увеличить конверсию?», маркетолог спрашивает «Что я&nbsp;могу изменить, чтобы это имело значение для клиентов?».</p>
 	</li>
	<li class="list-li"> 
		<p>Ориентация на&nbsp;смыслы, а&nbsp;не&nbsp;только на&nbsp;функциональные характеристики. Это поможет потребителям понять, как продукт или услуга вписывается в&nbsp;их&nbsp;систему ценностей. <a class="link" href="/blog/klienty-vybirayut-brendy-po-cennostyam/">Выбор на&nbsp;основе убеждений&nbsp;— растущий тренд.</a> Товар&nbsp;— (уже) не&nbsp;перечень полезных характеристик. Это набор ценностей и&nbsp;убеждений, которыми стремится жить человек. </p>
 	</li>
 </ul>

<p>Применение этих принципов укрепляет долгосрочные отношения с&nbsp;потребителями, углубляет вовлечение аудитории и&nbsp;превращает клиентов в&nbsp;адвокатов бренда. Давайте рассмотрим несколько кампаний, которые демонстрируют силу такого подхода.</p>
</section>

<section class="row-gap--m space-section max-width-text">
<h2 class="heading--beta">Маркетинг со&nbsp;смыслом в&nbsp;действии</h2>
<p>Поделюсь примерами, как маркетинг помогает не&nbsp;только укреплять позиции на&nbsp;рынке, но&nbsp;и&nbsp;превращает бренды в&nbsp;социально значимую силу. Потребители все больше ожидают от&nbsp;предприятий не&nbsp;просто продукты и&nbsp;услуги, но&nbsp;и&nbsp;наличие определенных ценностей и&nbsp;идей, которые соответствуют их&nbsp;жизненным убеждениям. Маркетологи, которые понимают это, на&nbsp;пути к&nbsp;созданию не&nbsp;только успешной рекламы, но&nbsp;и&nbsp;устойчивых бизнес-моделей.</p>

<section class="row-gap--m space-block">
<h3 class="heading--gamma">Nike&nbsp;— «Just Do&nbsp;It» </h3>
<p>Лозунг «Just Do&nbsp;It» был представлен в&nbsp;1988 году и&nbsp;стал одним из&nbsp;самых известных и&nbsp;успешных лозунгов в&nbsp;истории рекламы. Он&nbsp;стал символом преодоления сомнений и&nbsp;страхов, мотивируя людей к&nbsp;действию и&nbsp;достижению своих целей. </p>

<p>Маркетинговые кампании Nike подчеркивали упорство, смелость и&nbsp;страсть к&nbsp;спорту, что сделали их&nbsp;вдохновляющими для многих. Благодаря им&nbsp;рыночная доля Nike на&nbsp;рынке спортивной одежды и&nbsp;обуви выросла с&nbsp;18% до&nbsp;43% (Северная Америка, 1988&nbsp;vs.&nbsp;1998, источник: <a class="link" href="https://en.wikipedia.org/wiki/Just_Do_It">википедия</a>). </p>

<figure class="figure">
<div class="video">
		   <a class="video__link " href="https://youtu.be/zWfX5jeF6k4" target="_blank" rel="noopener  noreferrer">
			   
				   
				   <img loading="lazy" class="video__media " src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1680459884/site/marketing-bolshe-chem-prodazhi/justdoit.png" alt="Рекламный ролик Nike" width="1280" height="720">
				   <span class="element--hidden">Видео: Рекламный ролик Nike</span>
			   
		   </a>
		   <button class="video__button" aria-label="Запустить видео">
			   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
		   </button>
   </div>
<figcaption class="figcaption"><p>
«Если они хотят назвать тебя сумасшедшей, отлично. Покажи&nbsp;им, на&nbsp;что способна безумная. Просто сделай это». Рекламный ролик Nike, призывающий женщин в&nbsp;спорте стремиться к&nbsp;большему и&nbsp;смело воплощать свои мечты.</p>
</figcaption>
</figure>


</section>

<section class="row-gap--m space-block">
<h3 class="heading--gamma">Dove&nbsp;— «Real Beauty»</h3>

<p>Dove призывает отказаться от&nbsp;токсичных идеалов красоты и&nbsp;в&nbsp;своей коммуникации показывает, что красота может быть разной и&nbsp;не&nbsp;обязана соответствовать узким стереотипам, которые часто продвигаются в&nbsp;СМИ. </p>

<p>В&nbsp;одном из&nbsp;первых роликов кампании «Real Beauty» судебный художник, не&nbsp;видя женщин, рисует их&nbsp;портреты на&nbsp;основе их&nbsp;собственного описания себя. Затем этих&nbsp;же женщин описывают незнакомцы и&nbsp;художник снова рисует портреты. Вторые рисунки оказались более красивыми, чем первые. В&nbsp;течение двух недель после публикации первых роликов на&nbsp;youtube их&nbsp;посмотрели более 35&nbsp;миллионов раз. </p>

<p>Видео и&nbsp;рекламные материалы «Real Beauty» активно обсуждали в&nbsp;социальных сетях и&nbsp;средствах массовой информации. Кампания вызвала интенсивные дискуссии на тему самооценки и&nbsp;красоты, позитивного восприятия собственного тела. Все это повысило узнаваемость Dove и&nbsp;донесло ценности торговой марки до&nbsp;широкой аудитории. Стоимость бренда выросла с&nbsp;200&nbsp;млн.&nbsp;до&nbsp;4&nbsp;млрд. долларов (источник: <a class="link" href="https://prophet.com/2013/05/138-dove-the-most-impressive-brand-builder-in-the-last-15-years/">prophet.com</a>) </p>


<figure class="figure">
<div class="video">
		   <a class="video__link " href="https://youtu.be/rrHoDJinMQI" target="_blank" rel="noopener  noreferrer">
			   
				   
				   <img loading="lazy" class="video__media " src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1680460346/site/marketing-bolshe-chem-prodazhi/Dove_Real_Beauty.png" alt="Рекламная кампания Dove&nbsp;— «Real Beauty»" width="1280" height="720">
				   <span class="element--hidden">Видео: Рекламный ролик Dove</span>
			   
		   </a>
		   <button class="video__button" aria-label="Запустить видео">
			   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
		   </button>
   </div>
<figcaption class="figcaption"><p>
«Вы&nbsp;красивее, чем думаете». Рекламная кампания Dove&nbsp;— «Real Beauty»</p>
</figcaption>
</figure>

</section>

<section class="row-gap--m space-block">
<h3 class="heading--gamma">Johnson &amp;&nbsp;Johnson&nbsp;— Camp Baby</h3>
<p>Идеология Johnson &amp;&nbsp;Johnson связана с&nbsp;заботой о&nbsp;здоровье и&nbsp;благополучии семьи. В&nbsp;2013 году J&amp;J запустила программу «Camp Baby». Ее&nbsp;цель&nbsp;— помочь молодым родителям улучшить их&nbsp;опыт родительства.</p>
<p>Программа проводилась в&nbsp;формате онлайн-лагеря, в&nbsp;котором участники могли получить доступ к&nbsp;видеоурокам, блогам, форумам и&nbsp;другим ресурсам, которые помогали им&nbsp;научиться ухаживать за&nbsp;младенцами и&nbsp;подготовиться к&nbsp;новой жизни.</p>
<p>Я&nbsp;не&nbsp;нашел информации об&nbsp;эффективности, поэтому позволю себе небольшой мысленный эксперимент. Допустим, маркетологи J&amp;J вместо «Camp Baby» устроили розыгрыш призов среди покупателей. Розыгрыш привлек&nbsp;бы какую-то аудиторию, но&nbsp;в&nbsp;долгосрочной перспективе кампанию вряд&nbsp;ли можно было&nbsp;бы назвать успешной. Розыгрыш закончился, а&nbsp;с&nbsp;ним и&nbsp;стимулирование новых покупок. </p>
<p>&laquo;Camp Baby&raquo;&nbsp;&mdash; история о&nbsp;том, чтобы помочь родителям чувствовать себя увереннее в&nbsp;роли папы и&nbsp;мамы. Покупатели, которые ощутили поддержку <span class="noperenos">Johnson &amp;&nbsp;Johnson</span>, скорее всего станут более лояльны к&nbsp;бренду и&nbsp;продолжат делать покупки в&nbsp;будущем.</p>
</section>
</section>

<p class="space-connected">Примеры выше демонстрируют, как с&nbsp;помощью маркетинга достигают целей, превышающих простую монетизацию. Они подчеркивают, что потребители ищут не&nbsp;только продукты, но&nbsp;и&nbsp;ценности, которые отражаются в&nbsp;концепции бренда. Компании, которые способны создавать и&nbsp;доносить смыслы, получают преимущество перед конкурентами и&nbsp;увеличивают лояльность своей аудитории. Подумайте, как можете вы&nbsp;применить маркетинг со&nbsp;смыслом. </p>


