---
layout: post
title: "Фильмы про маркетинг: лучшее кино для маркетологов"
name: "Кино, меняющее взгляд на&nbsp;маркетинг"
description: "Лучшие фильмы про маркетинг и&nbsp;рекламу: от&nbsp;документальных до&nbsp;художественных. Подборка картин, которые рекомендую посмотреть каждому маркетологу."
date: 2024-01-13
last_modified_at: 2025-09-14
categories: мнение
permalink: "/blog/filmy-dlya-marketologov/"
tags: "маркетолог"
image: /assets/images/tizers/tizer-82.jpg
keywords: "фильмы, маркетологи, подборка фильмов, полезные фильмы, мотивирующие фильмы, фильмы для маркетологов, фильмы о маркетинге, фильмы о рекламе, фильмы о брендинге"
eleventyNavigation:
  key: filmy-dlya-marketologov
  title: "Кино, меняющее взгляд на маркетинг"
  parent: blog 
relatedIdeas:
  - title: "Эмоциональный маркетинг: как создать сильную связь с клиентом"
    url: "/blog/kak-brendy-sozdajut-emotsionalnuyu-svyaz/"
  - title: "Как смелость помогает брендам выделяться и&nbsp;оставаться собой"
    url: "/blog/smelyj-brend/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Игра в «Спасителя»: как маркетологи становятся жертвами"
    url: "/blog/lovushka-dlya-marketologov-igra-spasitel/"
  - title: "Как маркетолога отличить от брехуна"
    url: "/blog/otlichie-marketologa-ot-brexuna/"
---


<p>Ищете <strong>фильмы про маркетинг</strong>? Собрал 15&nbsp;картин&nbsp;&mdash; от&nbsp;документальных фильмов о&nbsp;маркетинге до&nbsp;художественных драм о&nbsp;рекламе. От&nbsp;провокационной сатиры до&nbsp;вдумчивых исследований&nbsp;&mdash; эти фильмы помогут взглянуть на&nbsp;профессию под новым углом.</p>


<nav class="toc toc_divided" aria-labelledby="toc-title">
<h2 id="toc-title" class="toc__title">Содержание</h2>
<ul class="additive-spacing">
  <li class="additive-spacing">
    <a class="link bold italic" href="#documentary-films">Документальные фильмы про маркетинг
    </a>
    <ul class="additive-spacing">
      <li>
        <span class="tocnumber">1</span>
        <a class="link" href="#social-dilemma-2020">Социальная дилемма / <span lang="en">The Social Dilemma</span> (2020)
        </a>
      </li>
      <li>
        <span class="tocnumber">2</span>
        <a class="link" href="#the-greatest-movie-ever-sold-2011">Величайший фильм из всех когда-либо проданных / <span lang="en">The
          Greatest Movie Ever Sold</span> (2011)
        </a>
      </li>
      <li>
        <span class="tocnumber">3</span>
        <a class="link" href="#art-and-copy-2009">Изображение и текст / <span lang="en">Art & Copy</span> (2009)
        </a>
      </li>
      <li>
        <span class="tocnumber">4</span>
        <a class="link" href="#buy-now-2024">Покупай сейчас! Заговор продавцов / <span lang="en">Buy Now! The Shopping Conspiracy</span> (2024)
        </a>
      </li>
    </ul>
  </li>

  <li class="additive-spacing">
    <a class="link bold italic" href="#advertising-films">Фильмы о рекламе и креативе
    </a>
    <ul class="additive-spacing">
      <li>
        <span class="tocnumber">5</span>
        <a class="link" href="#99-francs-2007">99 франков / <span lang="en">99 francs</span> (2007)
        </a>
      </li>
      <li>
        <span class="tocnumber">6</span>
         <a class="link" href="#no-2012"> Нет / <span lang="en">No</span> (2012)</a>
      </li>
      <li>
        <span class="tocnumber">7</span>
         <a class="link" href="#the-joneses-2009">Семейка Джонсов / <span lang="en">The Joneses</span> (2009)</a>
      </li>
      <li>
        <span class="tocnumber">8</span>
        <a class="link" href="#vogel">Bиктop Фoгeль — Kopoль peклaмы / <span lang="en">Viktor Vogel — Commercial Man</span> (2001) </a>
      </li>
    </ul>
  </li>


  <li class="additive-spacing">
    <a class="link bold italic" href="#business-strategy-films">Фильмы про маркетинг и бизнес-стратегии
    </a>
    <ul class="additive-spacing">
      <li>
        <span class="tocnumber">9</span>
         <a class="link" href="#flaming-hot-2023">Обжигающе горячий / <span lang="en">Flamin’ Hot</span> (2023)
    </a>
      </li>
      <li>
        <span class="tocnumber">10</span>
         <a class="link" href="#the-founder-2016">Основатель / <span lang="en">The Founder</span> (2016)
    </a>
      </li>
        <li>
        <span class="tocnumber">11</span>
         <a class="link" href="#blackberry-2023">Кто убил BlackBerry / <span lang="en">BlackBerry</span> (2023)
    </a>
      </li>
      <li>
        <span class="tocnumber">12</span>
       <a class="link" href="#moneyball-2011">Человек, который изменил все / <span lang="en">Moneyball</span> (2011) 
    </a>
      </li>
    </ul>
  </li>



  <li class="additive-spacing">
    <a class="link bold italic" href="#entertainment-films">Фильмы для маркетологов: развлекательные
    </a>
    <ul class="additive-spacing">
      <li>
        <span class="tocnumber">13</span>
          <a class="link" href="#emily-in-paris">Эмили в Париже / <span lang="en">Emily in Paris</span> (2020 - 2025)
    </a>
      </li>
      <li>
        <span class="tocnumber">14</span>
         <a class="link" href="#syrup-2013">Сироп / <span lang="en">Syrup</span> (2013) 
    </a>
      </li>
      <li>
        <span class="tocnumber">15</span>
         <a class="link" href="#fly-me-moon-2024">Покажи мне луну / <span lang="en">Fly Me to the Moon</span> (2024) 
    </a>
      </li>
      
    </ul>
  </li>   
  
</ul>
</nav>





<section id="documentary-films" class="row-gap--m">
  <header>
  <h2 class="section__title h1 bold">Документальные фильмы про маркетинг</h2>
  <p class="mt-12">Для тех, кто хочет изучить реальные кейсы и&nbsp;механизмы</p>
</header>

<article id="social-dilemma-2020" class="row-gap--m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#social-dilemma-2020">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1711824420/site/films/social_dilemma.jpg">
  <h3 itemprop="name" class=" h2 bold mb-m">Социальная дилемма / <span lang="en">The Social Dilemma</span> (2020)</h3>
   <link itemprop="sameAs" href="https://www.imdb.com/title/tt11464826">
   <link itemprop="sameAs" href="https://www.netflix.com/title/81254224">
  <meta itemprop="dateCreated" content="2020">
  <meta itemprop="datePublished" content="2020">
  <p class="movie-metadata">
  <span class="bold">Режиссер:</span> 
  <span itemprop="director" itemscope itemtype="https://schema.org/Person">
    <span itemprop="name"> Джефф Орловски</span>
  </span>
  <br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="90000">
  <meta itemprop="bestRating" content="10">
  <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">7.6</span>/10</span>
  </p>
  <p class="movie-description" itemprop="description">Документальная драма о&nbsp;том, как социальные сети программируют людей. За&nbsp;первые 4&nbsp;недели ее посмотрели 38&nbsp;миллионов зрителей. Это один из&nbsp;самых обсуждаемых фильмов Netflix.  </p>

<div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743773091/site/films/sd.jpg">
<img
  class="image"
  fetchpriority="high"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1743773091/site/films/sd.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1024/f_auto,q_auto/v1743773091/site/films/sd.jpg 1024w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1743773091/site/films/sd.jpg 1280w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1743773091/site/films/sd.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743773091/site/films/sd.jpg 2365w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743773091/site/films/sd.jpg"
  alt="Кадр из фильма Социальная дилемма"
  width="2365"
  height="1268"
  itemprop="contentUrl"
>

    <div class="figcaption">Кадр из&nbsp;фильма &laquo;Социальная дилемма&raquo;. <br><a class="link italic" href="https://www.netflix.com/title/81254224">Смотреть на&nbsp;Netflix</a></div>
</div>


 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p>Картина раскрывает бизнес-модель, которая лежит в&nbsp;основе социальных сетей и&nbsp;поисковых платформ. Это знание поможет маркетологам лучше осознать последствия своего подхода к&nbsp;дизайну продукта и&nbsp;взаимодействию с&nbsp;клиентами.  </p>
 </section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2020-09-10">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="10">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>

    <blockquote class="citation" cite="https://www.imdb.com/review/rw6080690/?ref_=rw_urv" itemprop="reviewBody">
        <p>10/10. Это&nbsp;не&nbsp;документальная лента о&nbsp;пагубном влиянии социальных сетей. Скорее, это подробный анализ бизнес-моделей этих компаний. Один из&nbsp;лучших проницательных документальных фильмов о&nbsp;социальных сетях.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: sriramthestranger </cite></span>
        </span>
    </footer>
    
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2024-01-13">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw6113427/?ref_=tt_urv" itemprop="reviewBody">
        <p>5/10. Все, о&nbsp;чем они говорили, для меня не&nbsp;ново. Преувеличенные кинематографические визуальные эффекты сделали его больше похожим на&nbsp;постановочное представление. Самая смешная часть в&nbsp;том, что они высмеивали все другие социальные сети, кроме своей. Они должны были&nbsp;бы включить рассказ о&nbsp;Netflix. Ведь это тоже социальная платформа! </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: gppanicker </cite></span>
        </span>
    </footer>
     
  </article>

</section>
  
</article>








<article id="the-greatest-movie-ever-sold-2011" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#the-greatest-movie-ever-sold-2011">
 <meta itemprop="image" content="https://i.ytimg.com/vi/fXRCPObrZYs/maxresdefault.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Величайший фильм из&nbsp;всех когда-либо проданных /  <span lang="en">The Greatest Movie Ever Sold </span>(2011)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt1743720">
  <meta itemprop="dateCreated" content="2011">
   <meta itemprop="datePublished" content="2011">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Морган Сперлок</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="15000">
    <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">6.6</span>/10</span></p>
 
  <p class="movie-description" itemprop="description">Документальный фильм, исследующий мир брендов, рекламы и&nbsp;продакт-плейсмента в&nbsp;кино. Морган Сперлок показывает, как компании платят за&nbsp;то, чтобы их&nbsp;продукты появлялись в&nbsp;кино и&nbsp;телешоу. Более того, он&nbsp;пытается сделать свой фильм полностью финансируемым за&nbsp;счет продакт-плейсмента. Режиссер встречается с&nbsp;разными компаниями и&nbsp;пытается убедить их&nbsp;оплатить появление своих продуктов в&nbsp;его картине. </p>


<div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
    <link itemprop="url" href="https://youtu.be/fXRCPObrZYs" >
    <link itemprop="contentUrl" href="https://youtu.be/fXRCPObrZYs" >
    <link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/fXRCPObrZYs/maxresdefault.jpg" >
    <meta itemprop="name" content="Величайший фильм из&nbsp;всех когда-либо проданных. Трейлер." >
      <meta itemprop="uploadDate" content="2011-03-21T00:00:00+03:00">
      <meta itemprop="duration" content="PT2M26S">
    <meta itemprop="isFamilyFriendly" content="true">
              
    <div class="video">
        <a class="video__link " href="https://youtu.be/fXRCPObrZYs" target="_blank" rel="noopener noreferrer">     
   
               <picture>
                <source srcset="https://i.ytimg.com/vi_webp/fXRCPObrZYs/maxresdefault.webp" type="image/webp">
                <img loading="lazy" class="video__media is-16by9" src="https://i.ytimg.com/vi/fXRCPObrZYs/maxresdefault.jpg" alt="Величайший фильм из&nbsp;всех когда-либо проданных. Трейлер." width="1280" height="720" itemprop="thumbnail">
        	</picture>  
          <span class="element--hidden">Видео: трейлер фильма Величайший фильм из всех когда-либо проданных</span> 
        
      </a>
      <button class="video__button" aria-label="Запустить видео">
        <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
        </svg>
      </button>
    </div>
    <div class="figcaption"  itemprop="description">
    трейлер (англ.)
    
    </div>
  </div>
 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Фильм показывает «внутреннюю кухню» того, как бренды интегрируют свои продукты в&nbsp;развлекательный контент. </p>
</section>
 
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2011-08-15">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="9">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2474492/?ref_=tt_urv"  itemprop="reviewBody">
        <p>9/10. Эта работа дает реальное представление о&nbsp;том, как большие голливудские блокбастеры получают такие высокие бюджеты, продаваясь рекламодателям.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: thomaswolfe12 </cite></span>
        </span>
    </footer>
  
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2018-06-18">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw4254688/?ref_=tt_urv"  itemprop="reviewBody">
        <p>5/10. Величайший фильм, который когда-либо продавался, осмеливается разоблачать тот факт, что в&nbsp;кино используется продакт-плейсмент! Однако, если вы&nbsp;разумное существо, то&nbsp;уже знаете об&nbsp;этом. Эта работа не&nbsp;несет никакой новой информации.  </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: cricketbat </cite></span>
        </span>
    </footer>
  
  </article>

</section>

</article>










<article id="art-and-copy-2009" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#art-and-copy-2009">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/v1705165805/site/films/artandcopy.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Изображение и текст /  <span lang="en">Art & Copy</span> (2009)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt1333631"> 
  <meta itemprop="dateCreated" content="2009">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Даг Прэй</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="1800">
  <meta itemprop="bestRating" content="10">
  <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">6.4</span>/10</span></p>
  <p class="movie-description" itemprop="description">Документальное кино, которое рассматривает мир рекламы с&nbsp;точки зрения людей, ее&nbsp;делающих.</p>


  <div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
    <link itemprop="url" href="https://youtu.be/QzHlVR3Zqd8" >
    <link itemprop="contentUrl" href="https://youtu.be/QzHlVR3Zqd8" >
    <link itemprop="thumbnailUrl" href="https://res.cloudinary.com/bartoshevich/image/upload/v1705165805/site/films/artandcopy.jpg" >
    <meta itemprop="name" content="Изображение и текст. Трейлер." >
      <meta itemprop="uploadDate" content="2013-08-09T00:00:00+03:00">
      <meta itemprop="duration" content="PT1M00S">
    <meta itemprop="isFamilyFriendly" content="true">
              
    <div class="video">
        <a class="video__link " href="https://youtu.be/QzHlVR3Zqd8" target="_blank" rel="noopener noreferrer">     
   
                <img loading="lazy" class="video__media" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705165805/site/films/artandcopy.jpg" alt="трейлер фильма Изображение и текст" width="1200" height="675" itemprop="thumbnail">
                <span class="element--hidden">Видео: трейлер фильма Изображение и текст</span> 
        
      </a>
      <button class="video__button" aria-label="Запустить видео">
        <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
        </svg>
      </button>
    </div>
    <div class="figcaption"  itemprop="description">
    трейлер
    </div>
  </div>


 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Истории успеха и&nbsp;интервью с&nbsp;влиятельными фигурами из&nbsp;мира рекламы могут подтолкнуть маркетологов к&nbsp;новым идеям и&nbsp;стратегиям. </p>
 </section>

  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
  <meta itemprop="datePublished" content="2011-03-18">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="9">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2400577/?ref_=tt_urv"  itemprop="reviewBody">
        <p>9/10. Это&nbsp;увлекательное и&nbsp;иногда трогательное путешествие сквозь эволюцию рекламы, которое заставляет задуматься.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: dr-van </cite></span>
        </span>
    </footer>
   
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
  <meta itemprop="datePublished" content="2012-05-04">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="4">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>

    <blockquote class="citation" cite="https://www.imdb.com/review/rw2606746/?ref_=tt_urv"  itemprop="reviewBody">
        <p>4/10. Близорукий документальный фильм о&nbsp;рекламной индустрии. Авторы показывают рекламу как форму искусства, в&nbsp;которой рекламщики черпают вдохновение из&nbsp;воздуха. Вместо того чтобы рассматривать ее&nbsp;как просчитанный процесс, направленный на&nbsp;получение выгод для клиентов.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: Tanuccoon </cite></span>
        </span>
    </footer>
     
  </article>

</section>

</article>















<article id="buy-now-2024" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#buy-now-2024">
  <meta itemprop="image" content="https://i.ytimg.com/vi_webp/OVfZw_eqJW8/maxresdefault.webp">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Покупай сейчас! Заговор продавцов / <span lang="en">Buy Now! The Shopping Conspiracy</span> (2024) </h3>
   <link itemprop="sameAs" href="https://www.imdb.com/title/tt34350086"> 
   <link itemprop="sameAs" href="https://www.netflix.com/title/81554996">
  <meta itemprop="dateCreated" content="2024">
  <meta itemprop="datePublished" content="2024">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Ник Стэйси</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="7300">
    <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">6.7</span>/10</span></p>
  <p class="movie-description" itemprop="description">Вы&nbsp;увидите, как мировые концерны используют тонкие (и&nbsp;не&nbsp;очень) приемы манипуляции, чтобы заставить нас покупать все больше и&nbsp;менять вещи все чаще. Маркетинг превращается в&nbsp;машину бесконечного потребления, где каждая новая покупка&nbsp;&mdash; часть цикла запланированного устаревания. А&nbsp;за&nbsp;ним&nbsp;&mdash; миллионы тонн мусора, переполненные свалки и&nbsp;разрушение экологии. </p>

  <div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
 	<link itemprop="url" href="https://youtu.be/OVfZw_eqJW8" >
	<link itemprop="contentUrl" href="https://youtu.be/OVfZw_eqJW8" >
	<link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/OVfZw_eqJW8/maxresdefault.jpg" >
 	<meta itemprop="name" content="Buy Now! The Shopping Conspiracy | Official Trailer | Netflix" >
    <meta itemprop="uploadDate" content="2024-10-28T00:00:00+03:00">
  	<meta itemprop="duration" content="PT2M15S">
 	<meta itemprop="isFamilyFriendly" content="true">
						
	<div class="video">
	    <a class="video__link " href="https://youtu.be/OVfZw_eqJW8" target="_blank" rel="noopener noreferrer">
			
				<picture>
          <source srcset="https://i.ytimg.com/vi_webp/OVfZw_eqJW8/maxresdefault.webp" type="image/webp">
          <img class="video__media" src="https://i.ytimg.com/vi/OVfZw_eqJW8/maxresdefault.jpg"
            alt="Трейлер документального проекта о шопинге Buy Now! The Shopping Conspiracy" width="1280" height="720">
        </picture>
			
		</a>
		<button class="video__button" aria-label="Запустить видео">
			<svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
		</button>
	</div>
    <div class="figcaption"  itemprop="description">
   Официальный трейлер документального исследования о&nbsp;механизмах потребления и&nbsp;онлайн-покупок <br><a class="link italic" href="https://www.netflix.com/watch/81554996" rel="noopener noreferrer">Смотреть кино на&nbsp;Netflix</a>

	</div>
</div>


 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p>Авторы побуждают задуматься не&nbsp;только о&nbsp;том, как продать или продвинуть продукт, но&nbsp;и&nbsp;о&nbsp;его полной истории&nbsp;&mdash; о&nbsp;том, какой путь он&nbsp;пройдет в&nbsp;руках потребителя и&nbsp;какую судьбу обретет после. Модели замкнутого цикла (reuse, recycle, rental), возврат и&nbsp;переработка товаров, формирование экологичных практик потребления&nbsp;&mdash; могут и&nbsp;должны быть частью ответственности маркетологов.
 </p>
</section>
 
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2024-12-13">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt34350086/review/rw10190775/"  itemprop="reviewBody">
        <p>10/10. Документальный фильм погружает зрителя в&nbsp;сложный мир шопинга, показывая, как психология, технологии и&nbsp;крупнейшие корпорации переплетаются, формируя наши привычки. Увлекательный способ повествования и&nbsp;яркий визуальный ряд делают картину одновременно познавательной и&nbsp;захватывающей. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: gabrazuna </cite></span>
        </span>
    </footer>
   
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2024-11-23">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt34350086/review/rw10151190/?ref_=tturv_perm_1"  itemprop="reviewBody">
        <p>5/10. Несмотря на&nbsp;то&nbsp;что фильм поднимает поистине угрожающие темы, он&nbsp;все равно пытается &laquo;раскрасить их&nbsp;единорогами&raquo;. Завершить фильм на&nbsp;оптимистичной ноте&nbsp;&mdash; это нормально. Но&nbsp;должны быть моменты, когда авторы ясно и&nbsp;мощно подчеркивают: масштаб проблемы колоссален. Иначе зритель унесет из&nbsp;зала мысль: &laquo;Ну&nbsp;ладно, в&nbsp;следующий раз я&nbsp;просто постараюсь чуть-чуть лучше. Ничего страшного&raquo;. Но&nbsp;ведь это. Очень. Большая. Проблема.</p>
    </blockquote>
    <footer class="citation__author">
         <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: MeadtheMan </cite></span>
        </span>
    </footer>
     
  </article>

</section>
 

</article>

</section>






<section id="advertising-films" class="row-gap--m mt-m">
  <header>
  <h2 class="section__title h1 bold">Фильмы о рекламе и креативе</h2>
  <p class="mt-12">Взгляд изнутри рекламной индустрии</p>
 </header>


<article id="99-francs-2007" class="row-gap--m " itemscope itemtype="https://schema.org/Movie">
<link itemprop="url" href="/blog/filmy-dlya-marketologov/#99-francs-2007">
<meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161155/site/films/99_francs.jpg">


  <h3 itemprop="name" class=" h2 bold mb-m">99 франков / 99 francs (2007)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt0875113"> 
  <meta itemprop="dateCreated" content="2007">
  <meta itemprop="datePublished" content="2007">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name"> Ян Кунен</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="21000">
  <meta itemprop="bestRating" content="10">
  <span itemprop="ratingValue">7.2</span>/10</span></p>
  <p class="movie-description" itemprop="description">Провокационное кино об&nbsp;успешном копирайтере, который постепенно начинает разочаровываться в&nbsp;мире рекламы. </p>


<div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
 	<link itemprop="url" href="https://youtu.be/GtE1FDdtyhA" >
	<link itemprop="contentUrl" href="https://youtu.be/GtE1FDdtyhA" >
	<link itemprop="thumbnailUrl" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161155/site/films/99_francs.jpg" >
 	<meta itemprop="name" content="99 франков. Трейлер." >
    <meta itemprop="uploadDate" content="2014-07-18T00:00:00+03:00">
  	<meta itemprop="duration" content="PT2M10S">
 	<meta itemprop="isFamilyFriendly" content="true">
						
	<div class="video">
	    <a class="video__link " href="https://youtu.be/GtE1FDdtyhA" target="_blank" rel="noopener noreferrer">
			
				<img loading="lazy" class="video__media" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161155/site/films/99_francs.jpg" alt="трейлер фильма 99 франков." width="1920" height="1080" itemprop="thumbnail">
        <span class="element--hidden">Видео: трейлер фильма 99 франков</span>
			
		</a>
		<button class="video__button" aria-label="Запустить видео">
			<svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
		</button>
	</div>
    <div class="figcaption"  itemprop="description">
   трейлер
<br><a class="link italic" href="https://www.primevideo.com/detail/99-Francs/0MT2JJIIW7DOTCLFKLWCXKBC2O">Смотреть кино на&nbsp;Prime Video</a>


   
	</div>
</div>



<section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p>Картина предлагает сатирический взгляд на&nbsp;мир рекламы и&nbsp;потребительства, что может побудить к&nbsp;размышлениям о&nbsp;собственном месте в&nbsp;индустрии и&nbsp;задачах, которые ставите перед собой. </p>
<p>Отмечу, что если&nbsp;бы акцент в&nbsp;рекламе делали на&nbsp;создании доверия и&nbsp;уважении к&nbsp;потребителям, сюжет фильма представлял&nbsp;бы собой совсем другую историю. </p>
</section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
  <meta itemprop="datePublished" content="2008-09-15">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="10">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw1946382/?ref_=tt_urv" itemprop="reviewBody">
        <p >10/10. Это&nbsp;определенно не&nbsp;мейнстримовая лента. Если вы&nbsp;постоянно стремитесь заглянуть глубже в&nbsp;умы и&nbsp;мысли людей, эта картина для вас. Если вы&nbsp;творческая личность, будь&nbsp;то программист, дизайнер или просто хотите узнать, что происходит в&nbsp;мире творческих сообществ, вам тоже понравится этот фильм.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: jackfuchs </cite></span>
        </span>
    </footer>
    
  </article>

   <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2022-02-04">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw7833724/?ref_=tt_urv" itemprop="reviewBody">
        <p >5/10. Отличная картина испорчена отчаянной попыткой сделать хэппи-энд.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: reaperr1337 </cite></span>
        </span>
    </footer>
      
  </article>

</section>
    
</article>





<article id="no-2012" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#no-2012">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1757852032/site/films/no.jpg">
  <h3 itemprop="name" class=" h2 bold mt-m mb-m">Нет / <span lang="en">No</span> (2012)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt2059255"> 
  <meta itemprop="dateCreated" content="2012">
  <meta itemprop="datePublished" content="2012">
  <p class="movie-metadata">
    <span class="bold">Режиссер:</span> 
    <span itemprop="director" itemscope itemtype="https://schema.org/Person">
      <span itemprop="name">Пабло Ларраин</span>
    </span>
    <br>
    <span class="bold">IMDb рейтинг:</span>
    <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="27000">
    <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
    <span itemprop="ratingValue">7.4</span>/10</span>
  </p>
  <p class="movie-description" itemprop="description">Фильм рассказывает историю предвыборной рекламной кампании «No» в&nbsp;Чили 1988&nbsp;года. Под международным давлением президент Чили Аугусто Пиночет соглашается на&nbsp;референдум и&nbsp;дает эфирное время оппозиции. Оппозиция уверена, что проиграет, но&nbsp;хочет рассказать на&nbsp;национальном&nbsp;ТВ о&nbsp;зверствах правительства. Однако такой нарратив пробуждает страх, который способствует чувству бессилия, что только помогает Пиночету. Рекламщик Рене Сааведра настаивает на&nbsp;другом подходе, который сыграл ключевую роль в&nbsp;победе. </p>

<div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1757852032/site/films/no.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1757852032/site/films/no.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1757852032/site/films/no.jpg 1200w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1757852032/site/films/no.jpg 1890w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1757852032/site/films/no.jpg"
  alt="креативщик рекламной кампании у рабочего стола, вокруг коллажи, заметки и старый монитор"
  width="1890"
  height="1063"
  itemprop="contentUrl"
>

<div class="figcaption">Рекламщик Рене Сааведра (Гаэль Гарсиа Берналь)&nbsp;&mdash; персонаж вымышленный, хотя у&nbsp;него были реальные прототипы.
<br><a class="link italic" href="https://www.primevideo.com/detail/0P46XHOW3JF9TZD3ZLTRINAMXT/">Смотреть кино на&nbsp;Prime Video</a>

 
</div>
</div>

   <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Команда &laquo;No&raquo; имела меньше ресурсов, чем власть, но&nbsp;компенсировала это нестандартным мышлением и&nbsp;четким позиционированием. Урок для стартапов и&nbsp;малого бизнеса.</p>
</section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2018-08-19">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt2059255/review/rw4293655/" itemprop="reviewBody"> 
        <p>10/10. Фильм способен вдохновить, показывая, как кампания, фактически брошенная в&nbsp;качестве вызова, стала шагом к&nbsp;установлению демократии в&nbsp;Чили.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: Sylviastel </cite></span>
        </span>
    </footer>
     
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
    <meta itemprop="datePublished" content="2014-03-31">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="2">
      <meta itemprop="bestRating" content="10">
    </div>

    <blockquote class="citation" cite="https://www.imdb.com/title/tt2059255/review/rw2990081" itemprop="reviewBody">
        <p>2/10. Сцена за&nbsp;сценой разворачивалась в&nbsp;офисах или комнатах, где люди уставились в&nbsp;мутные, полуминутные рекламные ролики. Если&nbsp;бы вместо этого чрезмерного упора на&nbsp;однообразные сцены создатели уделили больше внимания раскрытию персонажей, фильм мог&nbsp;бы подняться на&nbsp;уровень куда выше двух звезд.</p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: kindtxgal </cite></span>
        </span>
    </footer>
      
  </article>

</section>

</article>


















<article id="the-joneses-2009" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#the-joneses-2009">
<meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705163624/site/films/joneses.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Семейка Джонсов / <span lang="en">The Joneses</span> (2009)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt1285309"> 
  <meta itemprop="dateCreated" content="2009">
  <meta itemprop="datePublished" content="2009">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Деррик Борте</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
   <meta itemprop="ratingCount" content="42000">
   <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">6.4</span>/10</span></p>
  <p class="movie-description" itemprop="description">История «идеальной семьи», которая на&nbsp;самом деле является группой маркетологов, продвигающих разнообразные товары среди соседей и&nbsp;знакомых.  </p>


  <div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
    <meta itemprop="name" content="Семейка Джонсов. Трейлер." >
    <meta itemprop="description" content="История идеальной семьи, которая на&nbsp;самом деле является группой маркетологов">
    <link itemprop="url" href="https://youtu.be/3JhVvq1aKYY" >
    <link itemprop="contentUrl" href="https://youtu.be/3JhVvq1aKYY" >
    <link itemprop="thumbnailUrl" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705163624/site/films/joneses.jpg" >
     
    
      <meta itemprop="uploadDate" content="2014-10-01T00:00:00+03:00">
      <meta itemprop="duration" content="PT2M18S">
    <meta itemprop="isFamilyFriendly" content="true">
              
    <div class="video">
        <a class="video__link " href="https://youtu.be/3JhVvq1aKYY" target="_blank" rel="noopener noreferrer">
        
           
                  <img loading="lazy" class="video__media image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705163624/site/films/joneses.jpg" alt="трейлер фильма Семейка Джонсов" width="1500" height="844" itemprop="thumbnail">
                  <span class="element--hidden">Видео: трейлер фильма Семейка Джонсов</span>
      
        
      </a>
      <button class="video__button" aria-label="Запустить видео">
        <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
        </svg>
      </button>
    </div>
    <div class="figcaption"  itemprop="description">
    трейлер
    </div>
  </div>

<section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p>Главная тема киноленты&nbsp;— критика потребительской культуры и&nbsp;влияние скрытого маркетинга на&nbsp;общество. Герои картины сталкиваются с&nbsp;моральными дилеммами, связанными с&nbsp;работой. Эти моменты делают кино не&nbsp;только развлекательным, но&nbsp;и&nbsp;побуждают задуматься, где следует проводить границы в&nbsp;маркетинговых и&nbsp;рекламных кампаниях. </p>
</section>

  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2010-05-15">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="10">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2250458/?ref_=tt_urv" itemprop="reviewBody">
        <p>10/10. Все, что я&nbsp;могу сказать, это&nbsp;то, что мне&nbsp;бы очень хотелось видеть больше фильмов, в которых так тщательно подобраны циничные, комедийные и&nbsp;драматические элементы.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: elm_trees </cite></span>
        </span>
    </footer>
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2009-09-24">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2131532/?ref_=tt_urv" itemprop="reviewBody">
        <p>5/10. Замысел замечательный&nbsp;&mdash; все не&nbsp;так, как кажется. Но&nbsp;комедийной отдачи просто нет. Фильм довольно медленный и&nbsp;предсказуемый на&nbsp;протяжении первых двух с&nbsp;половиной актов. Однако вторая половина последнего акта была отличной и&nbsp;полна сюрпризов, что несколько реабилитировало картину. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: larry-411 </cite></span>
        </span>
    </footer>
     
  </article>

</section>

</article>







<article id="vogel" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#vogel">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718970750/site/films/vogel.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Bиктop Фoгeль — Kopoль peклaмы / <span lang="en">Viktor Vogel&nbsp;&mdash; Commercial Man</span> (2001)</h3>
   <link itemprop="sameAs" href="https://www.imdb.com/title/tt0246514"> 
  <meta itemprop="dateCreated" content="2001">
  <meta itemprop="datePublished" content="2001">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Ларс Крауме</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
   <meta itemprop="ratingCount" content="762">
   <meta itemprop="bestRating" content="10">
   <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">5.7</span>/10</span></p>
  <p class="movie-description" itemprop="description">Закулисная жизнь рекламного бизнеса глазами амбициозного Виктора Фогеля, которому предложили работу в&nbsp;крупном рекламном агентстве. </p>


  <div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
    <meta itemprop="name" content="Пример креативной рекламы (Bиктop Фoгeль — Kopoль peклaмы)" >
    <link itemprop="url" href="https://youtu.be/YR5yjbScyAI" >
    <link itemprop="contentUrl" href="https://youtu.be/YR5yjbScyAI" >
    <link itemprop="thumbnailUrl" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718970750/site/films/vogel.jpg" >
    
    
      <meta itemprop="uploadDate" content="2014-09-30T00:00:00+03:00">
      <meta itemprop="duration" content="PT1M47S">
    <meta itemprop="isFamilyFriendly" content="true">
              
    <div class="video">
        <a class="video__link " href="https://youtu.be/YR5yjbScyAI" target="_blank" rel="noopener noreferrer">
        
           
                  <img loading="lazy" class="video__media image" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718970750/site/films/vogel.jpg" alt="фрагмент картины: защита креативной концепции рекламной кампании" width="1500" height="844" itemprop="thumbnail">
                  <span class="element--hidden">фрагмент картины: защита креативной концепции рекламной кампании</span>
      
        
      </a>
      <button class="video__button" aria-label="Запустить видео">
        <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
        </svg>
      </button>
    </div>
    <div class="figcaption"  itemprop="description">
   фрагмент картины: защита креативной концепции рекламной кампании
<br><a class="link italic" href="https://www.primevideo.com/detail/0I9UNHMDS7UWUNDNJAIUT2LGVY/ref=atv_dp_share_cu_r">Смотреть кино на&nbsp;Prime Video</a>

  
    </div>
  </div>


  <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> История подчеркивает, что нестандартные подходы и&nbsp;креативные идеи живут там, где человек не&nbsp;сдерживает себя в&nbsp;рамках неких установленных корпоративных правил и&nbsp;ожиданий клиентов, а&nbsp;разрешает себе быть собой. Помните, кто вы&nbsp;есть и&nbsp;не&nbsp;давайте себе закостенеть.</p>
</section>

  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2004-01-28">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="9">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw0731398/?ref_=tt_urv" itemprop="reviewBody">
        <p>9/10. Сюжет хороший, актеры убедительны, конец странный, но&nbsp;счастливый. В&nbsp;общем, приятное кино!</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: tinskies03 </cite></span>
        </span>
    </footer>
   </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2006-10-09">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw1493891/?ref_=tt_urv" itemprop="reviewBody">
        <p >5/10. Это было похоже на&nbsp;пилот комедийного сериала, только последние десять минут писал Дэвид Линч в&nbsp;два часа ночи, который не&nbsp;читал начало сценария. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: porbeagle_zen </cite></span>
        </span>
    </footer>
  
  </article>

</section>

</article>

</section>








<section id="business-strategy-films" class="row-gap--m mt-m">
  <header>
  <h2 class="section__title h1 bold">Фильмы про маркетинг и бизнес-стратегии</h2>
  <p class="mt-12">Как строить успешные бренды и компании</p>
 </header>


<article id="flaming-hot-2023" class="row-gap--m" itemscope itemtype="https://schema.org/Movie">
<link itemprop="url" href="/blog/filmy-dlya-marketologov/#flaming-hot-2023">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718114716/site/films/hot.jpg">
  <h3 itemprop="name" class=" h2 bold mb-m">Обжигающе горячий / <span lang="en">Flamin’ Hot</span> (2023)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt8105234/"> 
  <meta itemprop="dateCreated" content="2023">
  <meta itemprop="datePublished" content="2023">
  <p class="movie-metadata">
    <span class="bold">Режиссер:</span> 
    <span itemprop="director" itemscope itemtype="https://schema.org/Person">
      <span itemprop="name">Ева Лонгория</span>
    </span>
    <br>
    <span class="bold">IMDb рейтинг:</span>
    <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="17000">
    <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
    <span itemprop="ratingValue">6.7</span>/10</span>
  </p>
  <p class="movie-description" itemprop="description">Картина основана на&nbsp;автобиографической книге Ричарда Монтаньесе, которого называют крестным отцом латиноамериканского маркетинга. Он рассказывает историю создания Flamin' Hot Cheetos. Неизвестно, все&nbsp;ли было так на&nbsp;самом деле, но&nbsp;сама книга уж&nbsp;точно добавила лояльности к&nbsp;Frito Lay в&nbsp;среде мексиканцев.  </p>

<div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718114716/site/films/hot.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1718114716/site/films/hot.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1718114716/site/films/hot.jpg 1200w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1718114716/site/films/hot.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718114716/site/films/hot.jpg 2160w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1718114716/site/films/hot.jpg"
  alt="Сын главного героя тестирует Flamin' Hot Cheetos, участвуя в разработке нового продукта"
  width="2160"
  height="1440"
  itemprop="contentUrl"
>

<div class="figcaption">сцена из картины: в поисках того самого вкуса</div>
</div>

   <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Нажать &laquo;play&raquo; стоит хотя&nbsp;бы ради этих слов главного героя: «Я&nbsp;не&nbsp;знаю, что такое доля рынка, потому что я&nbsp;не&nbsp;сижу в&nbsp;офисе в&nbsp;костюме. Я&nbsp;здесь со&nbsp;своими друзьями и&nbsp;вот что я&nbsp;о&nbsp;них знаю. Они ищут себя на&nbsp;этих полках. Они хотят знать, что вы&nbsp;цените еду, которую они едят дома. Что мы&nbsp;что-то значим. Я&nbsp;хочу знать, что я&nbsp;важен, когда покупаю [ваши] продукты. [...] Если&nbsp;бы мы&nbsp;знали, что для нас существует продукт, мы&nbsp;бы сказали: „Забирайте все наши деньги“». </p>
</section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2023-07-11">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw9115068/?ref_=rw_urv" itemprop="reviewBody"> 
        <p>10/10. Мне совершенно безразлично, правда это или нет. Это была очень эмоциональная история и&nbsp;очень хорошо сыгранная. Она захватила меня с&nbsp;самого начала и&nbsp;держала до&nbsp;конца.</p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: rjb-51149 </cite></span>
        </span>
    </footer>
     
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
    <meta itemprop="datePublished" content="2023-07-18">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>

    <blockquote class="citation" cite="https://www.imdb.com/review/rw9130209/?ref_=rw_urv" itemprop="reviewBody">
        <p>5/10. Проведя исследование на&nbsp;эту тему, я&nbsp;так и&nbsp;не&nbsp;понял, сколько правды в&nbsp;этой &laquo;правдивой истории&raquo;. Большинство событий&nbsp;&mdash; это версия Ричарда, и&nbsp;нет никаких доказательств, подтверждающих его утверждения об&nbsp;изобретении Flamin&rsquo; Hot Cheetos.</p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: paulclaassen </cite></span>
        </span>
    </footer>
      
  </article>

</section>

</article>









<article id="the-founder-2016" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#the-founder-2016">
<meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/v1705164780/site/films/mac.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Основатель / <span lang="en">The Founder</span>  (2016)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt4276820/"> 
  <meta itemprop="dateCreated" content="2016">
  <meta itemprop="datePublished" content="2016">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Джон Ли Хэнкок</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="172000">
  <meta itemprop="bestRating" content="10">
  <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">7.2</span>/10</span></p>
  <p class="movie-description" itemprop="description">История Рэя Крока и&nbsp;создания империи McDonald’s: как маленький семейный ресторан превратился в&nbsp;мировую франшизу. </p>


  <div class="full-bleed figure" itemprop="trailer" itemscope itemtype="https://schema.org/VideoObject">
    <link itemprop="url" href="https://youtu.be/wDDttPDi8d0" >
    <link itemprop="contentUrl" href="https://youtu.be/wDDttPDi8d0" >
    <link itemprop="thumbnailUrl" href="https://res.cloudinary.com/bartoshevich/image/upload/v1705164780/site/films/mac.jpg" >
    <meta itemprop="name" content="Основатель. Трейлер." >
      <meta itemprop="uploadDate" content="2020-05-30T00:00:00+03:00">
      <meta itemprop="duration" content="PT2M34S">
    <meta itemprop="isFamilyFriendly" content="true">
              
    <div class="video">
        <a class="video__link " href="https://youtu.be/wDDttPDi8d0" target="_blank" rel="noopener noreferrer">
        
           
          
                <img loading="lazy" class="video__media" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705164780/site/films/mac.jpg" alt="трейлер фильма Основатель" width="2000" height="1125" itemprop="thumbnail">
                <span class="element--hidden">Видео: трейлер фильма Основатель</span>       
        
      </a>
      <button class="video__button" aria-label="Запустить видео">
        <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
        </svg>
      </button>
    </div>
    <div class="figcaption"  itemprop="description">
    трейлер
    </div>
  </div>



  <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Картина показывает, как стандартизация процессов, сильная визуальная идентичность и&nbsp;стремление к&nbsp;единству бренда способствуют успеху компании. Она&nbsp;подчеркивает важность инноваций и&nbsp;стратегического подхода в&nbsp;бизнесе, а&nbsp;также касается этических дилемм, с&nbsp;которыми сталкиваются предприниматели. </p>
  </section>


<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2020-05-22">
  <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="10">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw5760153/?ref_=tt_urv" itemprop="reviewBody">
        <p>10/10. История прекрасна от&nbsp;начала до&nbsp;конца, сценарий прекрасно написан, а&nbsp;операторская работа просто великолепна&nbsp;&mdash; действительно создается ощущение, что вы&nbsp;вернулись в&nbsp;1950-е годы.</p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: blazesuncaster </cite></span>
        </span>
    </footer>
   
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2017-01-30">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw3630062/?ref_=tt_urv" itemprop="reviewBody">
        <p>5/10. История в&nbsp;этом фильме интересная, но&nbsp;подана она так скучно и&nbsp;шаблонно. Временами казалось, что я&nbsp;смотрю документалку. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: Fedoics </cite></span>
        </span>
    </footer>
     
  </article>

</section>

 </article>















<article id="blackberry-2023" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#blackberry-2023">
 <meta itemprop="image" content="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1752344339/site/films/blackberry.jpg">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Кто убил BlackBerry / <span lang="en">BlackBerry</span> (2023)</h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt21867434/"> 
  <meta itemprop="dateCreated" content="2023">
  <meta itemprop="datePublished" content="2023">
  <p class="movie-metadata">
    <span class="bold">Режиссер:</span> 
    <span itemprop="director" itemscope itemtype="https://schema.org/Person">
      <span itemprop="name">Мэтт Джонсон</span>
    </span>
    <br>
    <span class="bold">IMDb рейтинг:</span>
    <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="59000">
    <meta itemprop="bestRating" content="10">
    <meta itemprop="worstRating" content="1">
    <span itemprop="ratingValue">7.3</span>/10</span>
  </p>
  <p class="movie-description" itemprop="description">История стремительного взлета и&nbsp;сокрушительного краха первого в&nbsp;мире смартфона: как можно создать рынок, стать его монополистом и&nbsp;потерять все <span class="noperenos">из-за</span> комбинации высокомерия, маркетинговой близорукости, неспособности адаптироваться и&nbsp;внутренних кризисов.  </p>

 <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1752344339/site/films/blackberry.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
   https://res.cloudinary.com/bartoshevich/image/upload/w_480/f_auto,q_auto/v1752344339/site/films/blackberry.jpg 480w,
   https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1752344339/site/films/blackberry.jpg 640w,
   https://res.cloudinary.com/bartoshevich/image/upload/w_1024/f_auto,q_auto/v1752344339/site/films/blackberry.jpg 1024w,
   https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1752344339/site/films/blackberry.jpg 1200w,
   https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1752344339/site/films/blackberry.jpg 1380w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1752344339/site/films/blackberry.jpg"
  alt="Сцена в офисе компании BlackBerry: команда за работой"
  width="1380"
  height="776"
  itemprop="contentUrl"
>

<div class="figcaption">
&laquo;Мы&nbsp;сделали мессенджер. Полностью зашифрованная двухсторонняя переписка, к&nbsp;которой невозможно получить доступ никому, даже нам. Ее&nbsp;не&nbsp;отследить и&nbsp;не&nbsp;взломать. Бесплатный и&nbsp;безлимитный. Только на&nbsp;BlackBerry&raquo;.
</div>
</div>

   <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Это полезный кейс для понимания жизненного цикла продукта и&nbsp;напоминание о&nbsp;том, что любой товар может устареть, если перестать следить за&nbsp;рынком и&nbsp;меняться вместе с&nbsp;ним. Вдохновляйтесь историей головокружительного роста и&nbsp;извлекайте уроки из&nbsp;фатальных ошибок. </p>
</section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2023-05-12">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt21867434/review/rw9050626/" itemprop="reviewBody"> 
        <p>10/10. Что мне особенно понравилось в&nbsp;этом фильме&nbsp;&mdash; я&nbsp;и&nbsp;половины фактов не&nbsp;знал. Это была увлекательная и&nbsp;захватывающая &laquo;школа бизнеса&raquo;, которую я&nbsp;с&nbsp;удовольствием &laquo;прошел&raquo;. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: kjproulx </cite></span>
        </span>
    </footer>
     
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
    <meta itemprop="datePublished" content="2023-06-03">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>

    <blockquote class="citation" cite="https://www.imdb.com/title/tt21867434/review/rw9097448/" itemprop="reviewBody">
        <p>5/10. Мне кажется, что в&nbsp;данном случае хорошо сделанный документальный фильм&nbsp;&mdash; с&nbsp;интервью, архивными кадрами и&nbsp;прочим&nbsp;&mdash; подошел&nbsp;бы для этой истории куда лучше. </p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: jake_fantom </cite></span>
        </span>
    </footer>
      
  </article>

</section>

</article>











<article id="moneyball-2011" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
 <link itemprop="url" href="/blog/filmy-dlya-marketologov/#moneyball-2011">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Человек, который изменил все / <span lang="en">Moneyball</span> (2011)</h3>
 
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt1210166"> 
  <meta itemprop="dateCreated" content="2011">
  <meta itemprop="datePublished" content="2011">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Беннетт Миллер</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="457000">
  <meta itemprop="bestRating" content="10">
  <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">7.6</span>/10</span></p>
  <p class="movie-description" itemprop="description">Кино основано на&nbsp;реальной истории бейсбольной команды «Окленд Этлетикс» и&nbsp;ее&nbsp;менеджера Билли Бина, применившего методы статистического анализа для формирования команды. </p>

<div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161156/site/films/moneybalL.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1705161156/site/films/moneybalL.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1705161156/site/films/moneybalL.jpg 1200w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161156/site/films/moneybalL.jpg 2048w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705161156/site/films/moneybalL.jpg"
  alt="кадр из фильма Человек, который изменил все"
  width="2048"
  height="1364"
  itemprop="contentUrl"
  >

<div class="figcaption">фрагмент картины</div>
</div>

  <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p>Это&nbsp;история о&nbsp;том, как можно принимать решения в&nbsp;условиях ограниченных ресурсов, не&nbsp;копируя лидеров, а&nbsp;находя собственный путь. Подход, близкий тем, кто стремится понимать аудиторию, опираться на&nbsp;данные и&nbsp;действовать осознанно&nbsp;&mdash; даже если это означает временно пойти вразрез с&nbsp;рынком. Фильм также напоминает, что ценность не&nbsp;всегда лежит на&nbsp;поверхности&nbsp;&mdash; и&nbsp;недооцененные идеи, люди или решения могут оказаться самыми результативными.</p>
</section>
  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
   <meta itemprop="datePublished" content="2021-07-23">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>

    <blockquote class="citation" cite="https://www.imdb.com/review/rw7152993/?ref_=tt_urv"  itemprop="reviewBody">
        <p>10/10. Правда зачастую интереснее вымысла, и&nbsp;это действительно увлекательная история, основанная на&nbsp;реальных событиях.</p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: Instant_Palmer </cite></span>
        </span>
    </footer>
    
  </article>

 <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2012-05-24">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2616281/?ref_=tt_urv"  itemprop="reviewBody">
        <p>5/10.  История интересная, но&nbsp;она движется так медленно, что я&nbsp;думаю, что лучше&nbsp;бы я&nbsp;прочитал книгу.  </p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: cherold </cite></span>
        </span>
    </footer>
    
  </article>

</section>

</article>
 </section>







 <section id="entertainment-films" class="row-gap--m mt-m">
  <header>
  <h2 class="section__title h1 bold">Фильмы для маркетологов: развлекательные</h2>
  <p class="mt-12">Легкое кино с&nbsp;профессиональными инсайтами</p>
 </header>
 


<article id="emily-in-paris" class="row-gap--m" itemscope itemtype="https://schema.org/TVSeries">
<meta itemprop="image" content="https://i.ytimg.com/vi_webp/lptctjAT-Mk/maxresdefault.webp">
<link itemprop="url" href="/blog/filmy-dlya-marketologov/#emily-in-paris">
<link itemprop="mainEntityOfPage" href="/blog/filmy-dlya-marketologov/">
<link itemprop="sameAs" href="https://www.imdb.com/title/tt8962124/">
<link itemprop="sameAs" href="https://en.wikipedia.org/wiki/Emily_in_Paris">
<link itemprop="sameAs" href="https://www.netflix.com/title/81037371">


  <h3 itemprop="name" class="h2 bold mb-m">Эмили в Париже / Emily in Paris (2020 - 2025)</h3>
  <meta itemprop="startDate" content="2020-10-02">
  <meta itemprop="numberOfSeasons" content="5">
    <meta itemprop="genre" content="комедия">
  <meta itemprop="genre" content="драма">
  <meta itemprop="inLanguage" content="en">
  <meta itemprop="inLanguage" content="fr">
  <meta itemprop="countryOfOrigin" content="US">
  <!-- производство -->
  <span itemprop="productionCompany" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="Netflix">
  </span>

<p class="movie-metadata"><span class="bold">Создатель:</span> <span itemprop="creator" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Даррен Стар</span></span><br>
<span class="bold">Режиссеры:</span> 
<span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Эндрю Флеминг</span></span>, 
<span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Питер Лауэр</span></span>, 
<span itemprop="director" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Катина Медина Мора</span></span> 
 и&nbsp;др.<br>
<span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingCount" content="131000">
<meta itemprop="bestRating" content="10">
<span itemprop="ratingValue">6.8</span>/10</span></p>
  <p class="movie-description" itemprop="description">Американка Эмили Купер приезжает в&nbsp;Париж работать в&nbsp;маркетинговом агентстве. Она хочет показать американский подход к&nbsp;маркетингу, при этом не&nbsp;владеет французским языком и&nbsp;теряется в&nbsp;тонкостях местной культуры. </p>


<div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1024/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg 1024w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg 1280w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg 2160w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1743771696/site/films/emily-in-paris.jpg"
  alt="Кадр из сериала 'Эмили в Париже'"
  width="2160"
  height="1440"
  itemprop="contentUrl"
>

    <div class="figcaption">Кадр из&nbsp;сериала &laquo;Эмили в&nbsp;Париже&raquo;. <a class="link" href="https://www.netflix.com/de-en/title/81037371">Смотреть сериал на&nbsp;Netflix</a></div>
</div>




<section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Несмотря на&nbsp;некоторую поверхностность и&nbsp;порой примитивность, в&nbsp;сериале вы&nbsp;найдете интересный взгляд на&nbsp;различия в&nbsp;американском и&nbsp;европейском подходах к&nbsp;маркетингу. Однако этот кинопроект все&nbsp;же ближе к&nbsp;&laquo;Сексу в&nbsp;большом городе&raquo;, нежели к&nbsp;серьезному кино о&nbsp;профессии. Инструменты и&nbsp;маркетинговые решения следует воспринимать критически. </p>
</section>

<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
  <meta itemprop="datePublished" content="2020-10-03">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="10">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw6144432/?ref_=rw_urv" itemprop="reviewBody">
        <p >10/10. Сначала мне показалось, что сериал&nbsp;&mdash; просто набор клише. Но&nbsp;потом неожиданно втянулась. Серии достаточно короткие, чтобы хотелось смотреть дальше, а&nbsp;сам сериал легкий, забавный и&nbsp;не&nbsp;пытается казаться серьезнее, чем он&nbsp;есть. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: sarahjohnson-90980 </cite></span>
        </span>
    </footer>
    
  </article>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
 <meta itemprop="datePublished" content="2022-02-04">
      <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
        <meta itemprop="ratingValue" content="5">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="worstRating" content="1">
      </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw7675901/?ref_=rw_urv" itemprop="reviewBody">
        <p >5/10. Почему люди вообще восхищаются &laquo;Эмили в&nbsp;Париже&raquo;? Этот сериал ужасен. Складывается впечатление, что главная ценность Эмили в&nbsp;том, что она привлекательна и&nbsp;может завоевать любого мужчину. Честно говоря, она иногда весьма посредственно справляется со&nbsp;своей работой. Помимо организации удачных вечеринок, она потеряла множество клиентов&nbsp;&mdash; более трех. Я&nbsp;вообще редко вижу, как она работает, поскольку сериал в&nbsp;основном сосредоточен на&nbsp;ее&nbsp;личной жизни и&nbsp;романтических похождениях.</p>
    </blockquote>
    <footer class="citation__author">
         <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: queenvalbrient </cite></span>
        </span>
    </footer>
      
  </article>

</section>
    
</article>









<article id="syrup-2013" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#syrup-2013">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Сироп / <span lang="en">Syrup</span> (2013) </h3>
  
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt0762138/">
 
  <meta itemprop="dateCreated" content="2013">
  <meta itemprop="datePublished" content="2013">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"> <span itemprop="name">Арам Раппопорт</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="12000">
  <meta itemprop="bestRating" content="10">
   <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">5.6</span>/10</span></p>
  <p class="movie-description" itemprop="description">Сюжет картины сосредоточен вокруг молодого амбициозного человека по&nbsp;имени Скат, который стремится пробиться в&nbsp;мире маркетинга.
 </p>

 <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705168713/site/films/syrop.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1705168713/site/films/syrop.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1705168713/site/films/syrop.jpg 1200w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705168713/site/films/syrop.jpg 2048w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1705168713/site/films/syrop.jpg"
  alt="кадр из фильма Сироп"
  width="2048"
  height="1359"
  itemprop="contentUrl"
>

    <div class="figcaption">кадр из фильма</div>
</div>


 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> Показывает, как важно не&nbsp;только создать продукт, но&nbsp;и&nbsp;правильно его позиционировать на&nbsp;рынке, чтобы привлечь целевую аудиторию. </p>
 </section>
  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
  <meta itemprop="datePublished" content="2013-05-29">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="9">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2804536/?ref_=tt_urv" itemprop="reviewBody">
        <p>9/10. Сценарий потрясающий, сюжетная линия на&nbsp;протяжении всего фильма развивается быстро и&nbsp;заставляет постоянно&nbsp;думать. </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: Christopher_elia </cite></span>
        </span>
    </footer>
  </article>

 <article class="blockquote--emphasis mt-12 ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
  <meta itemprop="datePublished" content="2013-06-10">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/review/rw2828787/?ref_=tt_urv" itemprop="reviewBody">
        <p>5/10. В&nbsp;фильме есть несколько отличных моментов, где объясняются и&nbsp;показываются концепции маркетинга. К&nbsp;сожалению, драматическая и&nbsp;романтическая составляющие выполнены плохо. </p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: lvtbusinesses </cite></span>
        </span>
    </footer>
     
  </article>

</section>

</article>










<article id="fly-me-moon-2024" class="row-gap--m mt-m" itemscope itemtype="https://schema.org/Movie">
  <link itemprop="url" href="/blog/filmy-dlya-marketologov/#fly-me-moon-2024">
  <h3 itemprop="name" class="section__title h2 bold mb-m">Покажи мне луну / <span lang="en">Fly Me to the Moon</span> (2024) </h3>
  <link itemprop="sameAs" href="https://www.imdb.com/title/tt1896747">
  <meta itemprop="dateCreated" content="2024">
  <meta itemprop="datePublished" content="2024">
  <p class="movie-metadata"><span class="bold">Режиссер:</span> <span itemprop="director" itemscope itemtype="https://schema.org/Person"> <span itemprop="name">Грег Берланти</span></span><br>
  <span class="bold">IMDb рейтинг:</span> <span itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingCount" content="52000">
  <meta itemprop="bestRating" content="10">
   <meta itemprop="worstRating" content="1">
  <span itemprop="ratingValue">6.6</span>/10</span></p>
  <p class="movie-description" itemprop="description">Слышали, что высадка американцев на&nbsp;Луне&nbsp;&mdash; мистификация? Авторы умело обыграли конспирологическую теорию в&nbsp;фильме. Рекламщица Келли Джонс получает задание прямиком из&nbsp;Белого дома: вдохнуть жизнь в&nbsp;умирающий имидж NASA. Комедия, сатира и&nbsp;мелодрама на&nbsp;пересечении маркетинга, политики и&nbsp;истории.
 </p>

 <div class="figure" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1750255733/site/films/moon.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1750255733/site/films/moon.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1750255733/site/films/moon.jpg 1206w"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1750255733/site/films/moon.jpg"
  alt="кадр из фильма Покажи мне луну"
  width="1206"
  height="800"
  itemprop="contentUrl"
>

    <div class="figcaption">сцена на&nbsp;Луне</div>
</div>


 <section>
<h4 class="section-subtitle">Зачем смотреть</h4>
<p> В&nbsp;фильме есть несколько аспектов, достойных внимания. Например, столкновение двух миров&nbsp;&mdash; маркетинга и&nbsp;инженерии. Келли верит, что без яркой подачи никто не&nbsp;узнает о&nbsp;работе инженеров. А&nbsp;инженеры считают ее&nbsp;методы пустой шумихой. Но&nbsp;правда в&nbsp;балансе: без продукта&nbsp;&mdash; маркетинг становится обманом, без маркетинга&nbsp;&mdash; продукт никто не&nbsp;заметит. </p>
 </section>
  
<section>
  <h4 class="section-subtitle mt-m">Отзывы</h4>

  <article class="blockquote--emphasis mt-m ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
  <h5 class="element--hidden">Отзыв 1</h5>
  <meta itemprop="datePublished" content="2024-07-12">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="10">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt1896747/review/rw9897078/?ref_=tturv_1" itemprop="reviewBody">
        <p>10/10. Честно говоря, я&nbsp;удивился, что фильм мне понравился. Я&nbsp;не&nbsp;фанат любовных историй и&nbsp;боялся, что это будет занимать&nbsp;99% сюжета. Как&nbsp;же я&nbsp;ошибался! Во-первых, картинка просто потрясающая, цветовая палитра&nbsp;&mdash; невероятная. Сюжет логичный, все выглядит естественно и&nbsp;ничто не&nbsp;кажется притянутым за&nbsp;уши (что сейчас редкость). Актерская игра&nbsp;&mdash; на&nbsp;высоте, режиссура&nbsp;&mdash; точная и&nbsp;выверенная.  </p>
    </blockquote>
    <footer class="citation__author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: quentmach </cite></span>
        </span>
    </footer>
  </article>

 <article class="blockquote--emphasis mt-12 ml-2xl" itemprop="review" itemscope itemtype="https://schema.org/Review">
 <h5 class="element--hidden">Отзыв 2</h5>
  <meta itemprop="datePublished" content="2024-07-13">
    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="10">
    </div>
    <blockquote class="citation" cite="https://www.imdb.com/title/tt1896747/review/rw9898830/?ref_=tturv_1" itemprop="reviewBody">
        <p>5/10. Фильм боится быть смелым, сам не&nbsp;понимает, чем хочет быть, и&nbsp;в&nbsp;итоге оказывается ни&nbsp;о&nbsp;чем. Он&nbsp;скорее забавный, чем действительно смешной. Есть два героя, которые, по&nbsp;задумке, должны влюбиться, но&nbsp;вы&nbsp;этого не&nbsp;почувствуете. Все это больше похоже на&nbsp;то, как будто кто-то сказал ChatGPT: &laquo;Сделай типичный фильм&raquo;, и&nbsp;тот просто смешал все клише в&nbsp;одну кучу. </p>
    </blockquote>
    <footer class="citation__author">
       <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name"><cite>пользователь IMDb: thomasrakewell </cite></span>
        </span>
    </footer>
     
  </article>

</section>

</article>

</section>







<p class="mt-2xl">Кино помогает взглянуть на&nbsp;привычные процессы под новым углом. Проанализируйте просмотренные картины&nbsp;&mdash; какие идеи можно адаптировать для ваших маркетинговых проектов? Применяйте найденные решения в&nbsp;работе и&nbsp;создавайте <a class="link" href="/blog/marketing-bolshe-chem-prodazhi/">осмысленные кампании</a>.</p>



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Фильмы про маркетинг: лучшие картины для маркетологов",
  "itemListOrder": "http://schema.org/ItemListOrderAscending",
  "numberOfItems": 15,
  "itemListElement": [
    {"@type":"ListItem","position":1,"name":"Социальная дилемма","url":"/blog/filmy-dlya-marketologov/#social-dilemma-2020"},
    {"@type":"ListItem","position":2,"name":"The Greatest Movie Ever Sold","url":"/blog/filmy-dlya-marketologov/#the-greatest-movie-ever-sold-2011"},
    {"@type":"ListItem","position":3,"name":"Art & Copy","url":"/blog/filmy-dlya-marketologov/#art-and-copy-2009"},
    {"@type":"ListItem","position":4,"name":"Buy Now! The Shopping Conspiracy","url":"/blog/filmy-dlya-marketologov/#buy-now-2024"},
    {"@type":"ListItem","position":5,"name":"99 франков","url":"/blog/filmy-dlya-marketologov/#99-francs-2007"},
    {"@type":"ListItem","position":6,"name":"No","url":"/blog/filmy-dlya-marketologov/#no-2012"},
    {"@type":"ListItem","position":7,"name":"The Joneses","url":"/blog/filmy-dlya-marketologov/#the-joneses-2009"},
    {"@type":"ListItem","position":8,"name":"Bиктop Фoгeль — Kopoль peклaмы","url":"/blog/filmy-dlya-marketologov/#vogel"},
    {"@type":"ListItem","position":9,"name":"Flamin’ Hot","url":"/blog/filmy-dlya-marketologov/#flaming-hot-2023"},
    {"@type":"ListItem","position":10,"name":"The Founder","url":"/blog/filmy-dlya-marketologov/#the-founder-2016"},
    {"@type":"ListItem","position":11,"name":"BlackBerry","url":"/blog/filmy-dlya-marketologov/#blackberry-2023"},
    {"@type":"ListItem","position":12,"name":"Moneyball","url":"/blog/filmy-dlya-marketologov/#moneyball-2011"},
    {"@type":"ListItem","position":13,"name":"Emily in Paris","url":"/blog/filmy-dlya-marketologov/#emily-in-paris"},
    {"@type":"ListItem","position":14,"name":"Syrup","url":"/blog/filmy-dlya-marketologov/#syrup-2013"},
    {"@type":"ListItem","position":15,"name":"Fly Me to the Moon","url":"/blog/filmy-dlya-marketologov/#fly-me-moon-2024"}
  ]
}
</script>