---
layout: post
title:  "Темные паттерны в UX: примеры, риски и альтернатива"
name: "Темные паттерны в&nbsp;маркетинге: почему они вредят бизнесу и&nbsp;как работать по-другому"
description: 'Узнайте, что такое темные паттерны, чем они опасны для бизнеса и&nbsp;клиентов, и&nbsp;как перейти к&nbsp;этичному маркетингу и&nbsp;честному UX-дизайну.'
date:   2024-03-04
last_modified_at: 2025-08-05
categories: мнение
permalink: "/blog/ethical-marketing-dark-patterns/"
tags: ["маркетолог", "управление"]
image: /assets/images/tizers/tizer-83.jpg
keywords: "темные паттерны, манипуляции в интерфейсе, deceptive patterns, манипулятивный дизайн, маркетинг, UX, риски, альтернатива, этичный маркетинг"
eleventyNavigation:
  key: ethical-marketing-dark-patterns
  title: "Темные паттерны в маркетинге: почему они вредят бизнесу и как работать по-другому"
  parent: blog 
relatedIdeas:
  - title: "От&nbsp;распродаж к&nbsp;стратегии: почему маркетинг&nbsp;&mdash; это больше, чем просто продажи"
    url: "/blog/marketing-bolshe-chem-prodazhi/"
  - title: "Как ценности бренда привлекают клиентов и&nbsp;формируют лояльность"
    url: "/blog/klienty-vybirayut-brendy-po-cennostyam/"
  - title: "Маркетинг без слежки: как вернуть доверие клиентов к&nbsp;онлайн-рекламе"
    url: "/blog/kak-reklamu-podrujit-s-potrebitelyami/"
  - title: "Кейс: концепция бренда для Hörmann Беларусь"
    url: "/blog/razrabotka-koncepcii-brenda-hormann/"
  - title: "Доступность сайтов — новая норма"
    url: "/blog/accessibility/"
---


<p>Темные или манипулятивные паттерны (dark&nbsp;/ deceptive patterns)&nbsp;&mdash; это уловки на&nbsp;сайтах и&nbsp;в&nbsp;приложениях, которые вынуждают пользователей делать&nbsp;то, что те&nbsp;изначально не&nbsp;планировали: покупать, подписываться на&nbsp;рассылки, отдавать личные данные. Компании используют наработки когнитивной психологии, чтобы получить выгоду, игнорируя реальные намерения пользователей. </p>

<p>Многие ошибочно принимают такие уловки за&nbsp;агрессивный маркетинг. Однако между ними есть принципиальная разница. Настоящий маркетинг строит отношения, а&nbsp;темные паттерны их&nbsp;разрушают, создавая для бизнеса серьезные риски&nbsp;&mdash; от&nbsp;репутационных до&nbsp;юридических. </p>


<nav class="toc"  aria-labelledby="toc-title">
<h2 class="toc__title" id="toc-title" >Содержание</h2>
<ul class="additive-spacing">
  <li>		   
    <span class="tocnumber">1 </span>
    <a class="link" href="#dark-pattern-criteria">Что&nbsp;такое темные паттерны в&nbsp;UX и&nbsp;маркетинге. Критерии
    </a>
  </li>
  <li >
    <span class="tocnumber">2 </span>			  
    <a class="link" href="#recognize-dark-patterns">Темные паттерны на&nbsp;практике: как распознать манипуляции
    </a>
  </li>
  <li >
    <span class="tocnumber">3 </span>
    <a class="link" href="#dark-pattern-consequences">Последствия использования темных паттернов
    </a>
  </li>
  <li>
    <span class="tocnumber">4 </span>
    <a class="link" href="#alternative-to-dark-patterns">Альтернатива темным паттернам: честный&nbsp;UX и&nbsp;прозрачный маркетинг
    </a>
  </li>
  <li>			
    <span class="tocnumber">5</span>
    <a class="link" href="#ethical-marketing-transition">Как перейти от&nbsp;темных паттернов к&nbsp;этичному маркетингу 
    </a>
  </li>
</ul>
</nav>









<section class="row-gap--m space-section max-width-text" id="dark-pattern-criteria">
<h2 class="heading--beta">Что&nbsp;такое темные паттерны в&nbsp;UX и&nbsp;маркетинге. Критерии </h2>
<p>Защитники темных паттернов говорят, что в&nbsp;маркетинге все&nbsp;— манипуляция, а&nbsp;следовательно все приемы допустимы. Это не&nbsp;так. </p>


<div class="with-side">
<p>Давайте сначала разберемся с&nbsp;определением. Гарри Бригналл (Harry Brignull) ввел термин &laquo;темные паттерны&raquo; в&nbsp;2010&nbsp;году. Он&nbsp;создал сайт, на&nbsp;котором перечислил основные манипулятивные приемы, используемые дизайнерами и&nbsp;маркетологами. <strong class="bold">Все эти приемы объединяет одно&nbsp;&mdash; они стремятся ввести пользователя в&nbsp;заблуждение или ограничить его выбор в&nbsp;интересах бизнеса.</strong> Этот критерий является основным для отнесения любого действия к&nbsp;группе манипулятивных.</p>

<div class="side mt-m">
<p>Для более детального изучения темных паттернов, их&nbsp;типов и&nbsp;примеров, посетите сайт Гарри Бригналла <a class="link" href="https://www.deceptive.design/types">Deceptive Design</a> (en).</p>
</div>
</div>


<p>Примеры: </p>
<ul> 
	<li class="list-li"> 
		Важная информация для принятия взвешенного решения скрыта или искажена (например, человек не&nbsp;получает информацию о&nbsp;долговременных последствиях приобретения продукта или услуги).
 	</li>
	<li class="list-li"> 
		Запутанный интерфейс. 
 	</li>
	<li class="list-li"> 
		Вызывается ложное чувство срочности или нехватки.
 	</li>
	<li class="list-li"> 
		Отказ от&nbsp;услуги спроектирован излишне сложным. 
 	</li>
	<li class="list-li"> 
		Фальшивые положительные отзывы. 
 	</li>
	<li class="list-li"> 
	Списывание платежа с&nbsp;привязанной карты без явного согласия. 
 	</li>
 </ul>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1709569569/site/dark-patterns/giftstoprogrammers.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 760px) 670px, 89.77vw"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_288/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg 288w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_420/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg 420w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_484/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg 484w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_707/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg 707w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg 1350w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709569569/site/dark-patterns/giftstoprogrammers.jpg"
  width="1350"
  height="759"
  alt="Пример темного паттерна в интернет-магазине (фальшивый дефицит)"
  title="Интернет-магазин с темным паттерном, показывающим фальшивый дефицит"
  itemprop="contentUrl"
>

<figcaption class="figcaption">
  <p>Пример фальшивого дефицита: показывается низкий уровень запасов и&nbsp;высокий спрос. Используется естественная склонность пользователей придавать большую ценность предметам, которые кажутся редкими или эксклюзивными.</p>
</figcaption>
</figure>



</section>

<section class="row-gap--m space-section max-width-text" id="recognize-dark-patterns">
<h2 class="heading--beta">Темные паттерны на&nbsp;практике: как распознать манипуляции </h2>

<p>Представим, что некий ресторан приобрел дорогие омниполярные колонки. Маркетолог в&nbsp;соц. сетях указал: «Мы&nbsp;оборудовали наш зал омниполярными колонками, приглашаем вас насладиться необычным звучанием музыки». Человек изначально не&nbsp;собирался посещать ресторан, но&nbsp;заинтересовался акустической системой и&nbsp;пришел. Это манипуляция? </p>

<p>Нет, маркетолог не&nbsp;пытается ввести подписчиков в&nbsp;заблуждение, он&nbsp;открыто и&nbsp;прямо делится информацией. В&nbsp;этом случае решение посетить ресторан означает, что клиенту предложили ценность, соответствующую его интересам, а&nbsp;не&nbsp;то, что пользователя соц. сетей заставили совершить действие вопреки желанию. </p>

<p>В&nbsp;«темной версии» текст в&nbsp;соц. сетях мог быть таким: «Только сегодня и&nbsp;только в&nbsp;нашем ресторане&nbsp;— мировые музыкальные хиты в&nbsp;уникальном звучании с&nbsp;крутыми омниполярными колонками. Осталось лишь два свободных столика, так что поторопитесь!». У&nbsp;пользователя пытаются создать чувство срочности, подталкивая к&nbsp;импульсивному решению. </p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 760px) 670px, 89.77vw"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_288/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg 288w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_420/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg 420w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_484/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg 484w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_707/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg 707w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg 2000w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709574983/site/dark-patterns/darkfood.jpg"
  width="2000"
  height="2000"
  alt="Пример манипулятивного UX-паттерна в опросе ресторана"
  title="манипулятивный UX-паттерн в опросе ресторана"
  itemprop="contentUrl"
 >

<figcaption class="figcaption">
  <p>Возможен и&nbsp;такой вариант&nbsp;— у&nbsp;читателя стараются вызвать чувство стыда или неполноценности за&nbsp;отказ.</p>
</figcaption>
</figure>



<p>Как показывает пример, проблема не&nbsp;в&nbsp;самом продукте или услуге, а&nbsp;в&nbsp;способе подачи. Маркетинг информирует и&nbsp;предлагает ценность, а&nbsp;темные паттерны&nbsp;&mdash; искажают реальность и&nbsp;давят на&nbsp;слабости. </p>

</section>

<section class="row-gap--m space-section max-width-text" id="dark-pattern-consequences">
<h2 class="heading--beta">Последствия использования темных паттернов</h2>

<section class="row-gap--m space-tight">
<h3 class="heading--gamma">а) негативные последствия для клиентов</h3>


<p>Столкновение с&nbsp;темным паттерном&nbsp;&mdash; это всегда негативный опыт. Клиент теряет деньги, время&nbsp;и, что важнее всего, чувствует себя обманутым. Результат&nbsp;&mdash; человек откажется от&nbsp;дальнейшего сотрудничества с&nbsp;компанией и&nbsp;может начать активно делиться своим недовольством в&nbsp;социальных сетях. </p>


<p>Но&nbsp;эффект этим не&nbsp;ограничивается. Обманутые пользователи становятся подозрительными и&nbsp;перестают доверять рынку в&nbsp;целом: начинают сомневаться даже в&nbsp;честных предложениях, что вредит бизнес-сообществу в&nbsp;целом.</p>


<p>По&nbsp;всему миру растет количество исследований и&nbsp;публикаций на&nbsp;тему темных паттернов, появляются законодательные инициативы для борьбы с&nbsp;ними, увеличивается число жалоб в&nbsp;органы защиты прав потребителей. </p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg">
<img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 760px) 670px, 89.77vw"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_288/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg 288w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_420/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg 420w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_483/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg 483w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_707/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg 707w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg 952w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto/q_auto/v1709569569/site/dark-patterns/threads.jpg"
  width="952"
  height="952"
  alt="Интерфейс Threads: сравнение с темными паттернами и без них"
  title="Пример интерфейса Threads до и после удаления темных паттернов"
  itemprop="contentUrl"
 >

<figcaption class="figcaption">
  <p>Пример повышенного внимания к&nbsp;теме: <a class="link" href="https://growth.design/case-studies/apple-privacy-policy">UX-исследователи</a> «очищают» пользовательский интерфейс Threads от&nbsp;темных паттернов.</p>
</figcaption>
</figure>
</section>


<section class="row-gap--m space-block">
<h3 class="heading--gamma">б) риски и&nbsp;убытки для бизнеса</h3>

<p>Сразу можно назвать риски использования манипулятивных паттернов, которые лежат на&nbsp;поверхности: </p>
<ul> 
	<li class="list-li"> 
		снижение доверия потребителей; 
 	</li>
	<li class="list-li"> 
		ухудшение репутации бренда;
 	</li>
	<li class="list-li"> 
		сокращение количества пользователей сервиса;
 	</li>
	<li class="list-li"> 
		увеличение числа негативных отзывов и&nbsp;жалоб; 
 	</li>
	<li class="list-li"> 
		увеличение расходов на&nbsp;PR;
 	</li>
	<li class="list-li"> 
	возможные судебные иски и&nbsp;штрафы. Посмотрите <a class="link" href="https://www.deceptive.design/enforcement">перечень судебных решений в&nbsp;ЕС и&nbsp;США</a>, касающихся манипулятивных паттернов. Суммы штрафов иногда достигают десятизначных цифр.
 	</li>
 </ul>



<p>В&nbsp;корне темных паттернов лежит не&nbsp;технология, а&nbsp;философия&nbsp;&mdash; представление о&nbsp;клиенте как о&nbsp;существе легковерном, импульсивном и&nbsp;неспособном к&nbsp;самостоятельному выбору. </p>

<p>Эта идея открыто декларируется. Когда Федеральная торговая комиссия США (FTC) предложила упростить отмену подписок до&nbsp;одного клика, отраслевые лоббисты выступили против. Их&nbsp;ключевой аргумент: это приведет к&nbsp;массовым случайным отпискам и&nbsp;клиенты лишатся выгодных предложений. Таким образом, компании должны &laquo;защищать клиентов от&nbsp;самих себя&raquo;, намеренно усложняя процесс отказа от&nbsp;услуг (источник&nbsp;&mdash; <a class="link" href="https://gizmodo.com/cancel-subscription-ftc-click-to-cancel-pushback-1850615222">Gizmodo</a>, 2023&nbsp;год). </p>

<p>И&nbsp;если принимать людей за&nbsp;неспособных к&nbsp;осознанному выбору существ, то&nbsp;подталкивание их&nbsp;к&nbsp;&laquo;правильной&raquo; покупке превращается в&nbsp;приемлемое деловое поведение. &laquo;С&nbsp;ними иначе ведь нельзя!&raquo; </p>

<p>Но&nbsp;такой подход&nbsp;&mdash; ловушка для самого бизнеса. Привыкая считать клиента глупым, легко подверженным чужому влиянию, компания перестает его слушать. Пренебрежение его потребностями, ценностями и&nbsp;интересами становится нормой. В&nbsp;результате бизнес теряет связь с&nbsp;реальностью, лишая себя источника развития&nbsp;&mdash; обратной связи от&nbsp;рынка. </p>

<p>Периодически ко&nbsp;мне поступают обращения от&nbsp;компаний, которые ничего не&nbsp;знают о&nbsp;своих клиентах. И&nbsp;не&nbsp;хотят узнать. А&nbsp;запрашивают у&nbsp;меня какой-нибудь ловкий маркетинговый трюк, чтобы продажи подросли уже к&nbsp;утру. Им&nbsp;нужны не&nbsp;решения, а&nbsp;фокусы. </p>
</section>

</section>

<section class="row-gap--m space-section max-width-text" id="alternative-to-dark-patterns">
<h2 class="heading--beta">Альтернатива темным паттернам: честный&nbsp;UX и&nbsp;прозрачный маркетинг</h2>
<p>Чтобы взаимодействовать с&nbsp;пользователем, не&nbsp;прибегая к&nbsp;манипуляциям, сначала нужно увидеть в&nbsp;нем осознанного субъекта, способного критически воспринимать предложения. Нужно признать за&nbsp;ним право на&nbsp;интересы и&nbsp;мнения, отличные от&nbsp;наших. </p>

<p>Принятие такой установки автоматически изменит бизнес-процессы. Компания оставит попытки обратить каждого в&nbsp;покупателя. Вместо этого она попробует узнать людей и&nbsp;<a class="link" href="/blog/marketing-bez-nuzhdy-prodat/">предложить им&nbsp;что-то по&nbsp;настоящему ценное</a>. </p>

<p>Информация об&nbsp;услугах и&nbsp;продуктах станет прозрачной. Рекламные материалы помогут лучше понять продукт и&nbsp;<a class="link" href="/blog/spam-replacement/">сделать взвешенный выбор</a>.</p>

<p>Компания будет проводить регулярные опросы, <a class="link" href="/blog/metodika-nps-indeks-loyalnosti-klientov/">отслеживать уровень NPS</a>, анализировать отзывы пользователей, чтобы оставаться на&nbsp;связи с&nbsp;аудиторией. </p>

<p>Ошибки и&nbsp;проблемы, с&nbsp;которыми сталкивается компания, будут открыто обсуждаться. Постепенно отношения с&nbsp;клиентами станут доверительными, укрепится репутация организации как ответственного и&nbsp;уважающего своих клиентов бизнеса.</p>

</section>

<section class="row-gap--m space-section max-width-text" id="ethical-marketing-transition">
<h2 class="heading--beta">Как перейти от&nbsp;темных паттернов к&nbsp;этичному маркетингу </h2>
<p>Если вы&nbsp;настроены на&nbsp;устойчивое развитие компании, обратите внимание на&nbsp;следующие правила: </p>
<ol class="additive-spacing">
  <li class="list-li additive-spacing">
    <p class="bold">Заложите фундамент: стратегия и&nbsp;культура </p>
    <ul class="additive-spacing">
      <li><span class="italic">Определите свои принципы.</span> Разработайте <a class="link" href="https://barsan.kz/services/brand-concept/" target="_blank" rel="noopener me">концепцию бренда</a>,
        которая ставит во&nbsp;главу угла честность и&nbsp;реальную пользу. Это ваш внутренний компас. </li>
      <li><span class="italic">Обучите команду.</span> Каждый сотрудник должен понимать, что клиент имеет право
        отказаться от&nbsp;покупки или
        предпочесть продукцию конкурентов. Даже если по&nbsp;нашему мнению клиент совершает ошибку, он&nbsp;достаточно
        взрослый, чтобы иметь право ошибаться за&nbsp;собственные деньги. </li>
    </ul>
  </li>
  <li class="list-li additive-spacing">
    <p class="bold">Проведите «этический аудит» и очистку </p>
    <ul class="additive-spacing">
      <li><span class="italic">Проверьте точки контакта с&nbsp;клиентом:</span> сайт, рекламу, интерфейсы. Избавьтесь
        от&nbsp;всего, что вводит в&nbsp;заблуждение, создает ложное давление или мешает сделать свободный выбор. Полезно разложить взаимодействие с клиентом по шагам и посмотреть на все его глазами — составьте и проанализируйте <a class="link" href="/blog/customer-journey-map/">карту потребительского опыта (CJM)</a>. </li>
    </ul>
  </li>
  <li class="list-li additive-spacing">
    <p class="bold">Постройте систему обратной связи</p>
    <ul class="additive-spacing">
      <li><span class="italic">Слушайте.</span> Сделайте так, чтобы клиентам было максимально просто поделиться своим
        мнением, предложением или жалобой. </li>
      <li><span class="italic">Действуйте.</span> Не&nbsp;просто собирайте отзывы, а&nbsp;регулярно
        анализируйте&nbsp;их. Используйте эту информацию для улучшения продукта, сервиса и&nbsp;маркетинга. Это
        превратит любую критику в&nbsp;вашу точку роста. </li>
    </ul>
  </li>
</ol>
 </section>