---
layout: post
title:  "Трудовая миграция и маркетинг: вызовы работы в Африке"
name: "Трудовая миграция и&nbsp;маркетинг: как работать там, где все иначе"
description: "Екатерина Пажитных делится личным опытом работы директором по&nbsp;маркетингу в&nbsp;Сенегале, рассказывает об&nbsp;адаптации, продвижении бизнеса, вызовах африканского рынка."
date:   2024-09-10
categories: опыт
permalink: "/blog/marketing-v-afrike-i-migraciya/"
tags: ["маркетолог", "управление", "опыт"]
image: /assets/images/tizers/tizer-84.jpg
keywords: "маркетинг в Африке, работа в Сенегале, африканский рынок, маркетинг на развивающихся рынках, трудовая миграция, личный опыт, работа за границей, работа в Африке для маркетологов, бизнес в Африке, директор по маркетингу, международный маркетинг, адаптация маркетинга на международных рынках, опыт работы на международных рынках"
eleventyNavigation:
  key: marketing-v-afrike-i-migraciya
  title: "Трудовая миграция и маркетинг: как работать там, где все иначе"
  parent: blog 
relatedIdeas:
  - title: "Медиапланирование западнее Буга: путевые заметки трудового мигранта"
    url: "/blog/migraciya-mediaplanera/"
  - title: "Как контролировать качество маркетингового исследования"
    url: "/blog/research-quality/"
  - title: "Маркетинг без слежки: как вернуть доверие клиентов к&nbsp;онлайн-рекламе"
    url: "/blog/kak-reklamu-podrujit-s-potrebitelyami/"
  - title: "Создаю концепцию бренда для компании Hörmann"
    url: "/blog/razrabotka-koncepcii-brenda-hormann/"
  - title: "Игра в «Спасителя»: как маркетологи становятся жертвами"
    url: "/blog/lovushka-dlya-marketologov-igra-spasitel/"

---


<div class="with-side row-gap--m">
<p>Мир открыт не&nbsp;только для беларуских айтишников. Екатерина Пажитных, героиня этой статьи, оставила успешную карьеру в&nbsp;Беларуси и&nbsp;решилась на&nbsp;смелый шаг&nbsp;— переехать <a class="link" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D0%BD%D0%B5%D0%B3%D0%B0%D0%BB">в&nbsp;Сенегал</a>, чтобы создать систему маркетинга в&nbsp;местной компании. Когда я&nbsp;работал в&nbsp;Nielsen, я&nbsp;замечал, что многие руководящие должности занимали люди с&nbsp;опытом работы в&nbsp;Африке. Невольно начинал рассматривать африканский континент как катализатор карьеры. Попросил Екатерину поделиться, как Сенегал повлиял на&nbsp;нее, почему она выбрала этот путь и&nbsp;что изменилось в&nbsp;ее&nbsp;подходе к&nbsp;маркетингу.</p>
	<div class="side">
		<div class="guests">
			<div class="guest-person"   itemscope itemtype="https://schema.org/ImageObject">
				<link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/v1725988971/site/africa/pazhytnykh_catherine.jpg">
				<img
  class="image is-150x150"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_150/f_auto,q_auto/v1725988971/site/africa/pazhytnykh_catherine.jpg"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_150/f_auto,q_auto:best/v1725988971/site/africa/pazhytnykh_catherine.jpg 150w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_300/f_auto,q_auto/v1725988971/site/africa/pazhytnykh_catherine.jpg 300w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto,q_auto/v1725988971/site/africa/pazhytnykh_catherine.jpg 600w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1000/f_auto,q_auto/v1725988971/site/africa/pazhytnykh_catherine.jpg 1000w
  "
  sizes="150px"
  alt="Екатерина Пажитных"
  width="1000"
  height="1000"
  itemprop="contentUrl"
>
	
					<div class="guest-person__name" itemprop="name">Екатерина Пажитных</div>
					<div class="guest-person__position" itemprop="description">Разработала и&nbsp;внедрила систему маркетинга на&nbsp;африканском рынке</div>	
                     <div class="guest__text italic"><a class="link" href="https://www.linkedin.com/in/pazhytnykh-catherine/" target="_blank" rel="noopener noreferrer">профиль в linkedIn</a></div> 			
			</div>
		</div>
	</div>
</div>


<nav class="toc toc_divided">
    <h2 class="toc__title">Содержание</h2>
    <ul class="additive-spacing">
        <li>
            <span class="tocnumber">1 </span> 
            <a class="link" href="#decision_to_work_in_senegal">Как я&nbsp;решилась на&nbsp;работу в&nbsp;Сенегале</a>
        </li>
        <li class="additive-spacing">
            <span class="tocnumber">2 </span> 
            <a class="link" href="#cultural_adaptation">Открываю Африку: как адаптировалась к&nbsp;новой культурной среде</a>
        <ul class="additive-spacing">
        <li class="level2">
            <span class="tocnumber">2.1 </span> 
            <a class="link" href="#cultural_shock">Культурный шок: первые шаги в&nbsp;Сенегале</a>
        </li>
        <li class="level2">
            <span class="tocnumber">2.2 </span> 
            <a class="link" href="#community_life">Общинная жизнь и&nbsp;культурные нормы</a>
        </li>
        <li class="level2">
            <span class="tocnumber">2.3 </span> 
            <a class="link" href="#adaptation_factors">Факторы, которые помогли адаптироваться</a>
        </li>
</ul>
        </li>
        <li class="additive-spacing">
            <span class="tocnumber">3 </span> 
            <a class="link" href="#marketing_challenges_solutions">Построение маркетинга в&nbsp;Сенегале: вызовы и&nbsp;решения</a>
        
        <ul class="additive-spacing">
        <li class="level2">
            <span class="tocnumber">3.1 </span> 
            <a class="link" href="#marketing_tasks">Задачи: управление маркетингом, командой и&nbsp;продажами</a>
        </li>
        <li class="level2">
            <span class="tocnumber">3.2 </span> 
            <a class="link" href="#unique_water_market">Что делает рынок водоматов Сенегала уникальным</a>
        </li>
        <li class="level2">
            <span class="tocnumber">3.3 </span> 
            <a class="link" href="#bringing_product_to_clients">Маркетинг в&nbsp;Сенегале: как приблизить продукт к&nbsp;клиентам</a>
        </li>       
        <li class="level2">
            <span class="tocnumber">3.4 </span> 
            <a class="link" href="#management_challenges">Управленческие вызовы и&nbsp;их&nbsp;преодоление</a>
        </li>
        </ul>
</li>
        <li class="additive-spacing">
            <span class="tocnumber">4 </span> 
            <a class="link" href="#main_lessons">Главные уроки Сенегала</a>
       
        <ul class="additive-spacing">
        <li class="level2">
            <span class="tocnumber">4.1 </span> 
            <a class="link" href="#marketing_lessons">Маркетинг&nbsp;&mdash; это про исследование реальности</a>
        </li>
        <li class="level2">
            <span class="tocnumber">4.2 </span> 
            <a class="link" href="#personal_lessons">Личный урок: жить здесь и&nbsp;сейчас и&nbsp;заботиться о&nbsp;себе</a>
        </li>
        </ul>
 </li>
        <li>
            <span class="tocnumber">5 </span> 
            <a class="link" href="#migration_advice">Совет по&nbsp;успешной трудовой миграции</a>
        </li>
    </ul>
</nav>



<section class="row-gap--m" id="decision_to_work_in_senegal">
<h2 class="section__title h1 bold ">Как&nbsp;я&nbsp;решилась на&nbsp;работу в&nbsp;Сенегале </h2>

<p>—&nbsp;Летом 2022 года я&nbsp;увидела вакансию руководителя отдела маркетинга, где важным требованием было знание французского языка. Это сразу привлекло внимание. В&nbsp;тот момент французский был важной частью моей жизни: я&nbsp;снова начала им&nbsp;заниматься, несколько раз летала в&nbsp;Париж, возобновила старые связи и&nbsp;завела новые знакомства. </p>

<p>Я&nbsp;осознавала, что работа на&nbsp;развивающемся африканском рынке позволит экспериментировать с&nbsp;маркетинговыми инструментами, выйти из&nbsp;зоны привычного и&nbsp;понятного, вырасти профессионально. Однако в&nbsp;тот момент решающим фактором для меня была возможность практиковать французский и&nbsp;находиться во&nbsp;франкоязычной среде.</p>

<div class="with-side row-gap--m">
<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/baobab.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726024795/site/africa/baobab.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024795/site/africa/baobab.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/baobab.jpg 1080w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/baobab.jpg"
  alt="Баобаб на фоне пустынного ландшафта и голубого неба с облаками."
  width="1080"
  height="1080"
  itemprop="contentUrl"
>
  <meta itemprop="width" content="1080">
  <meta itemprop="height" content="1080">
  <figcaption class="figcaption">Дерево Баобаб&nbsp;&mdash; символ Сенегала, изображен на&nbsp;гербе страны. Баобаб важен как место, где можно спрятаться от&nbsp;солнца. В&nbsp;силу отсутствия гор и&nbsp;возвышенностей, баобабы становятся заметными ориентирами, распространенными по&nbsp;всей территории страны. 
</figcaption>
</figure>
<div class="side">
<p class="italic">*Все фотографии и&nbsp;видео в&nbsp;статье предоставлены Екатериной Пажитных.</p>
</div>


</div>



<p>Вторым фактором можно назвать любопытство. Мое представление об&nbsp;Африке ограничивалось советской классикой: песенкой Бармалея «Не&nbsp;ходите, дети, в&nbsp;Африку гулять...» и&nbsp;Красной Шапочки «А&nbsp;в&nbsp;Африке реки вот такой ширины!». О&nbsp;реальной жизни в&nbsp;Сенегале я&nbsp;знала крайне мало. Я&nbsp;пыталась найти местных видео блогеров, рассказывающих о&nbsp;своей стране, но&nbsp;на&nbsp;тот момент таких материалов не&nbsp;было. Они появились лишь спустя год после моего переезда. </p>

<p>Скудность информации только подогревала интерес. Возможность познакомиться с&nbsp;необычной культурой&nbsp;— одновременно африканской, мусульманской и&nbsp;франкофонной&nbsp;— привлекала. Я&nbsp;отозвалась на&nbsp;вакансию, прошла все этапы собеседований и&nbsp;приняла предложение компании. </p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024794/site/africa/fruit_seller.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726024794/site/africa/fruit_seller.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024794/site/africa/fruit_seller.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024794/site/africa/fruit_seller.jpg 1080w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024794/site/africa/fruit_seller.jpg"
  alt="Женщина на фруктовом рынке в яркой одежде стоит у прилавка с манго и другими фруктами"
  width="1080"
  height="1080"
  itemprop="contentUrl"
  >
  <meta itemprop="width" content="1080">
  <meta itemprop="height" content="1080">
  <figcaption class="figcaption">Продавщица фруктов на&nbsp;придорожном рынке. На&nbsp;прилавке у&nbsp;нее манго разных видов, грейпфруты, апельсины (в&nbsp;Сенегале они зеленого цвета), папайя, арбузы.
</figcaption>
</figure>

</section>


<section class="row-gap--m" id="cultural_adaptation">
<h2 class="section__title h1 bold ">Открываю Африку: как адаптировалась к&nbsp;новой культурной среде </h2>

<section class=" row-gap--m" id="cultural_shock">
<h3 class="h2 bold mb-m">Культурный шок: первые шаги в&nbsp;Сенегале</h3>
<p>—&nbsp;Моя квартира была недалеко от&nbsp;офиса, и&nbsp;я&nbsp;ходила на&nbsp;работу пешком. В&nbsp;первые&nbsp;же дни столкнулась с&nbsp;тем, что на&nbsp;улице привлекала к&nbsp;себе много внимания. Его поток просто хлынул на&nbsp;меня, что не&nbsp;могло не&nbsp;шокировать. </p>

<p>Для местных попрошаек белый человек&nbsp;— источник денег. А&nbsp;если деньги «идут», почему&nbsp;бы их&nbsp;не&nbsp;взять? Я&nbsp;сначала давала мелочь детям, но&nbsp;быстро поняла, что это глупость. Как только дашь деньги одному, быстро появляется и&nbsp;обступает толпа, из&nbsp;которой не&nbsp;так просто выбраться. </p>

<p>Мужчинами белая женщина воспринимается как возможность из&nbsp;Сенегала уехать. В&nbsp;их&nbsp;представлении ты&nbsp;обладаешь европейским паспортом, особенно если говоришь на&nbsp;французском. Навязчиво пытались знакомиться. Твой отказ&nbsp;— лишь повод зацепиться и&nbsp;дальше с&nbsp;тобой говорить. Хотя никто ко&nbsp;мне не&nbsp;прикасался, не&nbsp;хватал за&nbsp;руки, я&nbsp;все&nbsp;же не&nbsp;чувствовала себя в&nbsp;безопасности, когда просто шла по&nbsp;улице. </p>

<p>Даже позже, когда я&nbsp;освоилась и&nbsp;ходила в&nbsp;приличный фитнес зал, где публика&nbsp;— люди образованные и&nbsp;с&nbsp;профессией, внимание мужчин не&nbsp;утихало. Меня это забавляло: «Люди, мой паспорт не&nbsp;оправдает ваших ожиданий. На&nbsp;что вы&nbsp;тратите время?». </p>

<p>Первые недели также были трудными из-за языка: я&nbsp;не&nbsp;понимала хорошо местных. Они часто говорили на&nbsp;смеси французского и&nbsp;своего родного языка. Есть нюансы произношения, что делало общение еще сложнее. </p>

<p>Офис и&nbsp;квартира стали моими «островками» безопасности . Между ними я&nbsp;передвигалась короткими перебежками, боясь выходить за&nbsp;их&nbsp;пределы. Но&nbsp;я&nbsp;понимала: если мне страшно находиться на&nbsp;улице, как я&nbsp;смогу здесь работать? Мне не&nbsp;оставалось ничего, как идти в&nbsp;этот страх. </p>

<p>Недалеко от&nbsp;дома была рыночная площадь. И&nbsp;я&nbsp;туда пошла. Вечером, когда там много людей. Мне было жутко страшно и&nbsp;неприятно. Я&nbsp;обхватила руками сумку и&nbsp;пошла. Меня воспринимали как туристку, что-то предлагали, что-то от&nbsp;меня хотели. И&nbsp;я&nbsp;всем отвечала: «Спасибо, мне не&nbsp;нужно», «Я&nbsp;здесь живу», «Я&nbsp;здесь работаю». Постепенно я&nbsp;начала привыкать к&nbsp;вниманию и&nbsp;учиться его игнорировать. Видимо, это как-то отражалось на&nbsp;языке тела и&nbsp;выражении лица, и&nbsp;мне стало гораздо легче проходить сквозь попрошаек и&nbsp;общаться с&nbsp;местными. </p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2400/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 2400w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg 2949w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/fisherman_pies.jpg"
  width="2949"
  height="2211"
  alt="Рыбаки на побережье в Сенегале готовят лодки для выхода в море"
  itemprop="contentUrl"
  >
  <meta itemprop="width" content="2949">
  <meta itemprop="height" content="2211">
  <figcaption class="figcaption">Пляж Нгор в&nbsp;Дакаре. Рыбацкие пироги (лодки).
</figcaption>
</figure>


<p>Я&nbsp;стала исследовать город: на&nbsp;Google-карте находила магазины и&nbsp;ходила туда одна. Шаг за&nbsp;шагом расширяла свой «ареал». Однажды решила купить коврик для йоги, нашла место на&nbsp;карте, но&nbsp;магазина там не&nbsp;оказалось. Я&nbsp;спросила у&nbsp;местного, и&nbsp;он&nbsp;предложил показать путь. Мы&nbsp;шли через плотный поток сенегальцев. Было тревожно. Но&nbsp;он&nbsp;привел меня туда, куда нужно.</p>

<p>Вот так осторожно и&nbsp;медленно я&nbsp;находила свой способ жить в&nbsp;новой среде, принимая и&nbsp;адаптируясь к&nbsp;ее&nbsp;особенностям. Постепенно страх ушел. И&nbsp;его место заняло любопытство. Я&nbsp;ощущала себя антропологом: «Я&nbsp;наблюдаю. Я&nbsp;исследую. И&nbsp;подмечаю интересные вещи». </p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2400/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 2400w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_3000/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 3000w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg 3648w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024795/site/africa/wood_mask_outlet.jpg"
  alt="Прилавок с традиционными африканскими деревянными масками на рынке в Сенегале"
  width="3648"
  height="2736"
  itemprop="contentUrl"
  >

  <meta itemprop="width" content="3648">
  <meta itemprop="height" content="2736">
  <figcaption class="figcaption">Точка продаж африканских деревянных масок.
</figcaption>
</figure>


</section>


<section class=" row-gap--m" id="community_life">
<h3 class="h2 bold mt-m mb-m">Общинная жизнь и&nbsp;культурные нормы</h3>

<p>—&nbsp;Коллективная жизнь и&nbsp;общинные ценности в&nbsp;Сенегале на&nbsp;первом месте, поэтому представления о&nbsp;личном пространстве сильно отличаются от&nbsp;европейских. Например, перед молитвой люди могут совершать омовение, не&nbsp;стесняясь окружающих, а&nbsp;двери в&nbsp;туалет могут оставить открытыми. На&nbsp;работе сотрудник может подойти для разговора так близко, что приходится просить его отойти. За&nbsp;обедом коллега может попробовать еду прямо из&nbsp;вашей тарелки и&nbsp;удивиться, если вы&nbsp;резко на&nbsp;это отреагируете.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg 2175w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050858/site/africa/ceremonial_dress.jpg"
  alt="Три человека в традиционной одежде в Сенегале"
  width="2175"
  height="1631"
  itemprop="contentUrl"
>

  <meta itemprop="width" content="2175">
  <meta itemprop="height" content="1631">
  <figcaption class="figcaption">Торжественная форма одежды коллег для общей пятничной молитвы.
</figcaption>
</figure>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg 400w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg 1882w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726047145/site/africa/senegalese_woman.jpg"
  alt="Женщина с ребенком на спине и корзиной на голове на пляже в Сенегале"
  width="1882"
  height="1412"
  itemprop="contentUrl"
>

  <meta itemprop="width" content="1882">
  <meta itemprop="height" content="1412">
  <figcaption class="figcaption">Пляж Нгор в&nbsp;Дакаре. Сенегальская женщина несет ребенка и&nbsp;рыбу. 
</figcaption>
</figure>





<p>Семья в&nbsp;Сенегале&nbsp;— это не&nbsp;просто ближайшие родственники, а&nbsp;целый клан из&nbsp;сотни человек. Когда кто-то заболевает или случается другая неприятность, на&nbsp;помощь приходит вся семья: родные, двоюродные и&nbsp;троюродные братья и&nbsp;сестры. Медицинская помощь стоит дорого, почти как в&nbsp;Европе, но&nbsp;зарплаты очень низкие. Помощь семьи&nbsp;— вопрос выживания. </p>

<p>Сенегал называют «Страной Теранги». «Теранга» на&nbsp;языке волоф (местной этнической группы) переводится как гостеприимство, но&nbsp;это гораздо больше&nbsp;— это образ жизни и&nbsp;философия. Например, невозможно прийти в&nbsp;офис и&nbsp;не&nbsp;поздороваться с&nbsp;каждым. Причем важно не&nbsp;дежурное «Доброе утро», а&nbsp;искреннее участие в&nbsp;жизни другого. Нужно уделить внимание каждому, дать понять, что ты&nbsp;его принимаешь и&nbsp;что он&nbsp;для тебя значим.</p>

<p>Когда я&nbsp;знакомилась с&nbsp;людьми, у&nbsp;меня всегда интересовались, как я&nbsp;устроилась: как меня приняли, помогают&nbsp;ли соседи, есть&nbsp;ли нерешенные бытовые вопросы. Если у&nbsp;меня возникали трудности, я&nbsp;всегда могла рассчитывать на&nbsp;помощь коллег&nbsp;— никто никогда не&nbsp;отказывал, если я&nbsp;обращалась за&nbsp;помощью.</p>

<p>В&nbsp;Сенегале я&nbsp;чувствовала жизнь иначе, чем в&nbsp;других странах, в&nbsp;которых была. Плотность жизни в&nbsp;единице времени значительно выше привычной нам. Там каждая минута насыщена событиями и&nbsp;ощущениями, все вокруг живое, яркое, постоянно меняется, и&nbsp;люди тоже ведут себя иначе&nbsp;— они более эмоциональны и&nbsp;естественны в&nbsp;своих реакциях. Например, сотрудник в&nbsp;офисе может петь целый день просто потому, что у&nbsp;него хорошее настроение, и&nbsp;для всех это совершенно нормально. Я&nbsp;любовалась тем, как местные общаются друг с&nbsp;другом&nbsp;— это что-то особенное, природное, непосредственное. Не&nbsp;буду романтизировать, но&nbsp;и&nbsp;негативные эмоции также проявлялись ярко, а&nbsp;местами и&nbsp;«взрывоопасно».</p>

</section>


<section class=" row-gap--m" id="adaptation_factors">
<h3 class="h2 bold mt-m mb-m">Факторы, которые помогли адаптироваться</h3>

<p>—&nbsp;Что поддерживало меня в&nbsp;Сенегале&nbsp;— это четкое понимание, зачем я&nbsp;здесь. Я&nbsp;хотела «прокачать» французский язык и&nbsp;заработать на&nbsp;дальнейшее образование. Уже через год я&nbsp;сдала официальный экзамен DELF&nbsp;B2, который признается Министерством образования Франции. Этот диплом освобождает меня от&nbsp;сдачи дополнительных языковых тестов, если надумаю поступать во&nbsp;французский университет.</p>
<p>Кроме того, я&nbsp;чувствовала <a class="link" href="/blog/klienty-vybirayut-brendy-po-cennostyam/">социальную значимость работы</a>. В&nbsp;Сенегале огромная проблема с&nbsp;чистой питьевой водой. Вода, которая течет из&nbsp;кранов, очень плохого качества. Ее&nbsp;нельзя использовать для питья или готовки&nbsp;— максимум, она подходит для стирки и&nbsp;купания. Моя компания делала чистую питьевую воду доступной для многих людей, и&nbsp;мы&nbsp;получали много слов благодарности и&nbsp;поддержки.</p>
<p>Компания создавала рабочие места для местных, что очень важно в&nbsp;регионе, где найти работу сложно. Это тоже придавало моей работе особый смысл и&nbsp;удовлетворение.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 400w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2200/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 2200w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg 2736w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726046588/site/africa/embroidery.jpg"
  alt="Процесс вышивки на ткани с нитками и схемой на фоне"
  width="2736"
  height="2736"
  itemprop="contentUrl"
>

  <meta itemprop="width" content="2736">
  <meta itemprop="height" content="2736">
  <figcaption class="figcaption">Моя личная терапия и&nbsp;отдых&nbsp;&mdash; вышивка.
</figcaption>
</figure>

</section>
</section>


<section class="row-gap--m" id="marketing_challenges_solutions">
<h2 class="section__title h1 bold ">Построение маркетинга в&nbsp;Сенегале: вызовы и&nbsp;решения</h2>

<section class=" row-gap--m" id="marketing_tasks">
<h3 class="h2 bold mb-m">Задачи: управление маркетингом, командой и продажами</h3>

<p>—&nbsp;Компания, в&nbsp;которой я&nbsp;работала, занимается импортом, установкой и&nbsp;облуживанием водоматов. Водомат&nbsp;— это специальный автомат, который очищает водопроводную воду и&nbsp;продает ее&nbsp;готовой для питья. Жители могут подойти с&nbsp;бутылкой, оплатить нужный объем воды, и&nbsp;водомат нальет им&nbsp;чистую воду.</p>

<p class="mb-m">Мои основные задачи на&nbsp;должности директора по&nbsp;маркетингу: </p>
<ul> 
	<li class="list-li"> 
		<p><span class="bold">Построение системы маркетинга.</span> Нужно было организовать все процессы так, чтобы продукт был востребован и&nbsp;он&nbsp;приносил прибыль. </p>
 	</li>
	<li class="list-li"> 
		<p><span class="bold">Найм и&nbsp;формирование команды.</span> Я&nbsp;искала подходящих кандидатов, проводила собеседования, распределяла задачи, обучала, контролировала выполнение, помогала работать слаженно. </p>
 	</li>
	<li class="list-li"> 
		<p><span class="bold">Выбор мест для установки водоматов.</span> Отдел маркетинга отвечал за&nbsp;анализ и&nbsp;выбор потенциальных мест для установки водоматов. Важными критериями были близость к&nbsp;торговым точкам, проходимость, наличие жилых массивов и&nbsp;согласование с&nbsp;местными старшинами и&nbsp;религиозными лидерами.</p>
 	</li>
	<li class="list-li"> 
		<p><span class="bold">Запуск и&nbsp;продвижение аппаратов.</span> После установки аппаратов техническим отделом, маркетинг должен был организовать презентации для жителей кварталов. В&nbsp;задачи входило налаживание коммуникации с&nbsp;местными жителями, обучение их&nbsp;правильному использованию аппаратов, а&nbsp;также проведение мероприятий с&nbsp;дегустацией воды для привлечения внимания к&nbsp;новым точкам.</p>
 	</li>
	<li class="list-li"> 
		<p><span class="bold">Управление продажами.</span> Необходимо было контролировать уровень продаж в&nbsp;водоматах, добиваясь&nbsp;— как минимум&nbsp;— достижения точки безубыточности.</p>
 	</li>
	<li class="list-li"> 
		<p><span class="bold">Анализ продаж и&nbsp;релокация аппаратов.</span> Отдел маркетинга анализировал продажи&nbsp;и, в&nbsp;случае необходимости, предлагал переместить водомат в&nbsp;другое место. </p>
 	</li>
 </ul>

</section>



<section class=" row-gap--m" id="unique_water_market">
<h3 class="h2 bold mt-m mb-m">Что делает рынок водоматов Сенегала уникальным</h3>
<p>—&nbsp;В&nbsp;Беларуси тоже есть водоматы. В&nbsp;99,9% случаев, если аппарат предназначен для того, чтобы набрать воды, беларусы придут с&nbsp;бутылкой, наберут воду и&nbsp;уйдут. В&nbsp;Сенегале&nbsp;же водоматы используют для чистки зубов, умывания, мытья ног, поения животных и&nbsp;иногда для забора воды, чтобы отнести домой.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 400w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 1500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2300/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 2300w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg 3108w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024793/site/africa/vodomat.jpg"
  alt="автомат для продажи воды на улице в Сенегале, что демонстрирует инновации и роль маркетинга в продвижении современных решений на развивающихся рынках"
  width="3108"
  height="2202"
  itemprop="contentUrl"
>
  <meta itemprop="width" content="3108">
  <meta itemprop="height" content="2202">
  <figcaption class="figcaption">Водомат KAYNANN на&nbsp;улице Дакара
</figcaption>
</figure>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_480/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg 480w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_707/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg 707w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg 824w
  "
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049807/site/africa/horse-drawn_carriage.jpg"
  alt="Лошадь с повозкой стоит рядом с автоматом для продажи воды на улице в Сенегале, символизируя контраст между традиционными и современными технологиями в повседневной жизни."
  width="824"
  height="618"
  itemprop="contentUrl"
>

  <meta itemprop="width" content="824">
  <meta itemprop="height" content="618">
  <figcaption class="figcaption">Повозка, запряженная лошадью,&nbsp;&mdash; один из&nbsp;распространенных видов транспорта в&nbsp;Дакаре.
</figcaption>
</figure>


<p>Тексты или изображения с&nbsp;инструкциями на&nbsp;аппаратах о&nbsp;том, как набрать воду, не&nbsp;воспринимаются&nbsp;— сенегальцы часто игнорируют их&nbsp;или не&nbsp;понимают, как взаимодействовать с&nbsp;устройством. Сказывается и&nbsp;низкая грамотность населения, и&nbsp;то, что людям непривычно взаимодействовать с&nbsp;некой автоматической штукой, которая не&nbsp;воспринимает слова. На&nbsp;отделе маркетинга лежала большая задача&nbsp;— научить жителей пользоваться водоматом. </p>


<div class="full-bleed"   itemscope itemtype="https://schema.org/VideoObject">
 	<link itemprop="url" href="https://youtu.be/voTpSS8v4wM" >
	<link itemprop="contentUrl" href="https://youtu.be/voTpSS8v4wM" >
	<link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/voTpSS8v4wM/maxresdefault.jpg" >
 	<meta itemprop="name" content="открытие нового водомата (презентация)" >
	<meta itemprop="description" content="Запись презентации водомата в&nbsp;Дакаре.">
	<meta itemprop="uploadDate" content="2024-09-10T00:00:00+03:00">
  	<meta itemprop="duration" content="PT0M54S">
 	<meta itemprop="isFamilyFriendly" content="true">
	<div class="video">
		   <a class="video__link" href="https://youtu.be/voTpSS8v4wM" target="_blank" rel="noopener noreferrer">
			   <picture>
				   <source srcset="https://i.ytimg.com/vi_webp/voTpSS8v4wM/maxresdefault.webp" type="image/webp">
				   <img loading="lazy" class="video__media " src="https://i.ytimg.com/vi/voTpSS8v4wM/maxresdefault.jpg" alt="Запись презентации водомата в&nbsp;Дакаре" width="1280" height="720" itemprop="thumbnail">
			   </picture>
			   <span class="element--hidden">Презентация водомата в&nbsp;Дакаре</span>
		   </a>
		   <button class="video__button" aria-label="Запустить видео">
			   <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>
		   </button>
   </div>
<div class="figcaption">
Видео с презентации нового водомата в&nbsp;Дакаре: отдел маркетинга обучает местное население.
</div>
</div>




<p>Аппараты требуют регулярного обслуживания из-за быстрого износа внутренних деталей, в&nbsp;частности фильтров. Суровые условия эксплуатации&nbsp;— ветер приносит песок с&nbsp;пустыни и&nbsp;соленую влагу с&nbsp;океана&nbsp;— оказывают дополнительное негативное влияние на&nbsp;работу техники. Временами аппараты могли давать сбои: например, «заглатывать» монеты, не&nbsp;выдавая воду. Реакция сенегальцев была мгновенной. Человек мог начать кричать на&nbsp;всю улицу, что его ограбили. Или начать бить водомат. Хотя во&nbsp;многих случаях достаточно было нажать кнопку возврата монеты.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726045962/site/africa/damage.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726045962/site/africa/damage.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726045962/site/africa/damage.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_960/f_auto,q_auto/v1726045962/site/africa/damage.jpg 960w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726045962/site/africa/damage.jpg 1152w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726045962/site/africa/damage.jpg"
  alt="Автомат для продажи воды в Сенегале, испачканный зеленой краской"
  width="1152"
  height="863"
  itemprop="contentUrl"
  >

  <meta itemprop="width" content="1152">
  <meta itemprop="height" content="863">
  <figcaption class="figcaption">Вандализм тоже иногда случается.
</figcaption>
</figure>

<p>На&nbsp;каждом водомате был указан номер телефона для обращения в&nbsp;случае возникновения проблем. Звонки принимал колл-центр, который также находился под моим руководством. Мы&nbsp;учили клиентов базовым вещам. Объясняли, объясняли и&nbsp;объясняли. Сотрудников колл-центра я&nbsp;учила не&nbsp;заряжаться эмоциями звонящих. Это помогало сохранять профессионализм, что в&nbsp;итоге улучшало обслуживание и&nbsp;помогало клиентам начать доверять компании.</p>
</section>


<section class=" row-gap--m" id="bringing_product_to_clients">
<h3 class="h2 bold mt-m mb-m">Маркетинг в&nbsp;Сенегале: как приблизить продукт к&nbsp;клиентам </h3>

<p>—&nbsp;Сенегальцы любят общаться. Если ты&nbsp;начинаешь разговор, будь то&nbsp;о&nbsp;воде или любой другой теме, они с&nbsp;удовольствием поддержат беседу.</p>
<p>В&nbsp;Дакаре есть аналог Uber. Даже если вы&nbsp;указали свое местоположение в&nbsp;приложении, водитель все равно позвонит, чтобы уточнить, куда ехать. Этот пример показывает, что для людей личный контакт важнее, чем использование цифровых технологий.</p>

<p>Сенегальцы верят рекомендациям знакомых и&nbsp;доверяют личным встречам, поэтому основной канал для привлечения клиентов&nbsp;— это личные встречи и&nbsp;сарафанное радио, когда информация распространяется через личные связи и&nbsp;разговоры. </p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050143/site/africa/rades.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726050143/site/africa/rades.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726050143/site/africa/rades.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_960/f_auto,q_auto/v1726050143/site/africa/rades.jpg 960w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1726050143/site/africa/rades.jpg 1280w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1726050143/site/africa/rades.jpg 1600w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726050143/site/africa/rades.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1726050143/site/africa/rades.jpg 2500w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_3648/f_auto,q_auto/v1726050143/site/africa/rades.jpg 3648w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_3648/f_auto,q_auto/v1726050143/site/africa/rades.jpg"
  alt=" Три человека на деловой встрече в офисе в Сенегале, демонструющие сотрудничество в контексте маркетинга и бизнеса."
  width="3648"
  height="2736"
  itemprop="contentUrl"
 >

  <meta itemprop="width" content="3648">
  <meta itemprop="height" content="2736">
  <figcaption class="figcaption">Подписание соглашения о&nbsp;сотрудничестве с&nbsp;женской ассоциацией RADES.

</figcaption>
</figure>



<p>В&nbsp;Сенегале маркетолог должен буквально физически приближать продукт к&nbsp;людям&nbsp;— не&nbsp;только рассказывать о&nbsp;нем, но&nbsp;и&nbsp;давать возможность попробовать, потрогать и&nbsp;оценить лично. Основным каналом привлечения клиентов у&nbsp;нас были дегустации. Сотрудники проходили по&nbsp;жилым массивам, предлагая людям стаканчики с&nbsp;водой прямо из&nbsp;водомата. Вода сильно отличалась по&nbsp;вкусу от&nbsp;той, которая течет из&nbsp;крана, что сразу снимало вопросы о&nbsp;ее&nbsp;качестве. Затем человек узнавал, что наша вода стоит в&nbsp;5&nbsp;раз дешевле бутилированной, а&nbsp;по&nbsp;вкусу, как он&nbsp;мог убедиться, значимо не&nbsp;отличается. Кому-то она могла показаться слаще, кому-то еще какой-то. Но&nbsp;все это индивидуальные особенности восприятия. </p>

<section class=" row-gap--m">
<h4 class="bold mb-m">Присутствие в&nbsp;интернете</h4>
<p>Если&nbsp;бы мы&nbsp;продвигали нашу воду только в&nbsp;интернете, это стало&nbsp;бы самой большой ошибкой. Во-первых, аудитория социальных сетей в&nbsp;Сенегале значительно меньше потенциальной клиентской базы. Во-вторых, существует сильное гендерное неравенство в&nbsp;уровне грамотности: около&nbsp;80% мужчин умеют читать и&nbsp;писать, тогда как среди женщин этот показатель составляет лишь 40%. Это означает, что пользователи соцсетей&nbsp;— в&nbsp;основном мужчины. В&nbsp;то&nbsp;время как решения о&nbsp;покупке продуктов питания (и&nbsp;воды в&nbsp;частности) чаще всего принимают женщины. В&nbsp;традиционных семьях муж выделяет жене деньги на&nbsp;семейные расходы, и&nbsp;она распределяет бюджет. Наши сообщения в&nbsp;соц. сетях о&nbsp;воде она не&nbsp;увидит, а&nbsp;при личном контакте мы&nbsp;сможем все объяснить и&nbsp;показать. </p>

<p>Мы&nbsp;использовали тикток, фейсбук и&nbsp;линкедин, принимая их&nbsp;ограничения. В&nbsp;фейсбуке мы&nbsp;писали буквально для нескольких коммун в&nbsp;Дакаре, в&nbsp;которых жили интеллегенты и&nbsp;бизнесмены. Через линкедин мы&nbsp;выходили на&nbsp;бизнес аудиторию, чтобы устанавливать аппараты в&nbsp;учреждениях. </p>
</section>

<p>Если&nbsp;бы сейчас передо мной стояла задача провести рекламную кампанию&nbsp;— это было&nbsp;бы реклама на&nbsp;телевидении в&nbsp;местных сериалах. Сенегальцы обожают смотреть свои собственные сериалы. И&nbsp;целевая аудитория сериалов совпадает с&nbsp;нашей. </p>

</section>



<section class=" row-gap--m" id="management_challenges">
<h3 class="h2 bold mt-m mb-m">Управленческие вызовы и&nbsp;их&nbsp;преодоление</h3>
<p>—&nbsp;В&nbsp;первый рабочий день я&nbsp;пришла в&nbsp;офис, как было условлено, не&nbsp;к&nbsp;началу рабочего дня, а&nbsp;на&nbsp;пару часов позже, чтобы отдохнуть после перелета. Каково&nbsp;же было мое удивление, когда в&nbsp;полдень в&nbsp;офисе были только я&nbsp;и&nbsp;директор. Позже я&nbsp;поняла, что у&nbsp;сенегальцев особое понимание дисциплины и&nbsp;пунктуальности, с&nbsp;чем мне предстояло научиться работать.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_960/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 960w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 1280w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 1600w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 2500w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg 3648w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  src="https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1726050432/site/africa/field_team_meeting.jpg"
  alt="Группа полевых работников в Сенегале позирует на улице в тени дерева, демонстрируя роль коллективной работы в реализации маркетинговых проектов."
  width="3648"
  height="2736"
  itemprop="contentUrl"
>

  <meta itemprop="width" content="3648">
  <meta itemprop="height" content="2736">
  <figcaption class="figcaption">Собрание &laquo;полевых&raquo; команд.

</figcaption>
</figure>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 320w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_960/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 960w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1280/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 1280w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 1600w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 1980w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 2500w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg 2760w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726048587/site/africa/promotional_team.jpg"
  alt="Директор по маркетингу и группа молодых сотрудников позирует на фоне автомата для воды в офисе в Сенегале"
  width="2760"
  height="2070"
  itemprop="contentUrl"
  >

  <meta itemprop="width" content="2760">
  <meta itemprop="height" content="2070">
  <figcaption class="figcaption">В&nbsp;офисе, я&nbsp;с&nbsp;командой промоутеров.
</figcaption>
</figure>






<p>У&nbsp;большой части местного населения не&nbsp;сформирована этика труда. Работа&nbsp;— это не&nbsp;то, что у&nbsp;меня есть и&nbsp;я&nbsp;дала. Это определенные усилия с&nbsp;твоей стороны, которые ты&nbsp;должен приложить, чтобы получать зарплату. Это понимание слабо развито. Еще они не&nbsp;воспринимают, что нужно приходить на&nbsp;работу вовремя. Находились сотни оправданий. «Заболела мама», &laquo;заболела тетя и&nbsp;нужно быть с&nbsp;семьей&raquo; и&nbsp;т.д. </p>

<p>Настоящим испытанием стала постановка сроков. При обозначении сроков выполнения задачи в&nbsp;ответ получала не&nbsp;привычное «Ок» или обсуждение переноса срока по&nbsp;какой-то причине, а&nbsp;«Ин&nbsp;ша&nbsp;Алла» (в&nbsp;переводе с&nbsp;арабского «если пожелает Бог»). Я&nbsp;понимаю, что фраза выражает смирение и&nbsp;признание того, что конечный результат в&nbsp;руках Всевышнего. Но&nbsp;с&nbsp;другой стороны она начисто снимала ответственность за&nbsp;взятые обязательства. «Может сделаю, а&nbsp;может и&nbsp;нет». </p>
<p>Фраза «Ин&nbsp;ша&nbsp;Алла» звучала каждый раз, когда я&nbsp;пыталась уточнить сроки&nbsp;— будь то&nbsp;готовность заказа в&nbsp;типографии, получение банковской карты, присутствие сотрудников на&nbsp;собрании или предоставление информации от&nbsp;смежного отдела.</p>
<p>Сначала я&nbsp;пыталась управлять директивно, требуя от&nbsp;сотрудников выполнения задач, что привело к&nbsp;саботажу и&nbsp;открытым конфликтам. Я&nbsp;быстро поняла, что нужен другой подход. Сенегальцы любят вести переговоры (négocier), поэтому я&nbsp;изменила стиль управления. При постановке задач мы&nbsp;начали обсуждать их&nbsp;вместе: я&nbsp;объясняла цели, а&nbsp;сотрудники выбирали способ выполнения. Я&nbsp;также выслушивала возможные причины задержек (хотя они часто были надуманными) и&nbsp;применяла техники работы с&nbsp;возражениями из&nbsp;сферы продаж. Это занимало много времени, но&nbsp;оказалось эффективным.</p>

<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg">
  <img
  class="image"
  loading="lazy"
  decoding="async"
  srcset="
    https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg 400w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg 640w,
    https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg 1080w,
    https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg 1200w
  "
  sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049061/site/africa/coworkers.jpg"
  alt="Екатерина Пажитных с коллегами в офисе в Дакаре"
  width="1200"
  height="1200"
  itemprop="contentUrl"
 >

  <meta itemprop="width" content="1200">
  <meta itemprop="height" content="1200">
  <figcaption class="figcaption">С&nbsp;коллегами в&nbsp;офисе, я&nbsp;в&nbsp;подаренном сенегальском платье.
</figcaption>
</figure>

</section>
</section>




<section class="row-gap--m" id="main_lessons">
<h2 class="section__title h1 bold ">Главные уроки Сенегала</h2>

<section class=" row-gap--m" id="marketing_lessons">
<h3 class="h2 bold mb-m">Маркетинг&nbsp;— это про исследование реальности</h3>
<p>—&nbsp;Я&nbsp;стала уделять приоритетное внимание маркетинговым исследованиям. Нужно изучать клиентов и&nbsp;контексты, в&nbsp;которых они пользуются продуктом. Многие компании так не&nbsp;делают, и&nbsp;это большая ошибка. </p>

<p>В&nbsp;Дакаре я&nbsp;не&nbsp;сидела в&nbsp;кабинете. Сама ездила в&nbsp;город и&nbsp;обходила точки. Говорила с&nbsp;людьми. Первое время, конечно, я&nbsp;ездила в&nbsp;безопасные районы. Постепенно границы моего присутствия расширялись. Помню, я&nbsp;хотела выяснить, почему в&nbsp;двух коммунах были низкие продажи. Я&nbsp;взяла коллег и&nbsp;поехала туда. Там были настоящие трущобы и&nbsp;это еще мягко сказано. Перед жителями стоял вопрос физического выживания. Конечно, ставить там водоматы было ошибкой. Установка произошла, исходя из&nbsp;общих критериев и&nbsp;прошлого опыта, без учета реальных условий жизни людей в&nbsp;этих районах. </p>

<p>Мы&nbsp;слишком часто действуем на&nbsp;автомате, не&nbsp;задумываясь о&nbsp;клиентском опыте и&nbsp;не&nbsp;уделяя ему должного внимания. Мы&nbsp;просто перебираем инструменты из&nbsp;учебников. Они&nbsp;же дают какой-то результат. Но&nbsp;мы&nbsp;не&nbsp;смотрим глубже. Мы&nbsp;даже не&nbsp;приближаемся к&nbsp;реальности, а&nbsp;продолжаем работать, находясь в&nbsp;пузыре фантазий. </p>

</section>


<section class=" row-gap--m" id="personal_lessons">
<h3 class="h2 bold mb-m">Личный урок: жить здесь и&nbsp;сейчас и&nbsp;заботиться о&nbsp;себе</h3>
<p>—&nbsp;Миграция&nbsp;— это не&nbsp;только физическое перемещение, но&nbsp;и&nbsp;психологическая перестройка. Не&nbsp;стоит давить на&nbsp;себя и&nbsp;требовать слишком многого, особенно на&nbsp;первых этапах. </p>
<p>Африка не&nbsp;закончится никогда, а&nbsp;я&nbsp;закончусь. Если я&nbsp;не&nbsp;понимала язык, просила повторить столько раз, сколько нужно, пока не&nbsp;привыкла к&nbsp;их&nbsp;французскому. В&nbsp;первые недели я&nbsp;много спала и&nbsp;не&nbsp;винила себя за&nbsp;это. Я&nbsp;не&nbsp;бежала сразу к&nbsp;океану или загорать. Дала себе время привыкнуть и&nbsp;постепенно расширяла свой ареал присутствия в&nbsp;городе. Создавала вокруг себя комфортную среду, чтобы чувствовать себя хорошо. </p>

<p>Быть в&nbsp;текущем моменте, осознавать свое состояние и&nbsp;потребности, жить в&nbsp;своем темпе помогает лучше адаптироваться к&nbsp;новому окружению и&nbsp;быть продуктивной на&nbsp;работе.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049528/site/africa/sunset.jpg">
  <img
	class="image"
	loading="lazy"
	decoding="async"
	sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
	srcset="
		https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 400w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 640w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 1080w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_1500/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 1500w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 1980w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 2500w,
		https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049528/site/africa/sunset.jpg 3648w
	"
	src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726049528/site/africa/sunset.jpg"
	alt="Закат над океаном в Сенегале, отражающий природную красоту этого региона."
	width="3648"
	height="2736"
	itemprop="contentUrl"
>

  <meta itemprop="width" content="3648">
  <meta itemprop="height" content="2736">
  <figcaption class="figcaption">Закат над Атлантическим океаном, которым можно любоваться в&nbsp;Дакаре.  

</figcaption>
</figure>


</section>
</section>


<section class="row-gap--m" id="migration_advice">
<h2 class="section__title h1 bold ">Совет по&nbsp;успешной трудовой миграции</h2>

<p>—&nbsp;Если у&nbsp;вас есть желание поехать в&nbsp;другую страну для работы, я&nbsp;полностью его поддерживаю. Я&nbsp;за&nbsp;то, чтобы следовать своим желаниям. Однако важно помнить, что вы&nbsp;у&nbsp;себя единственный(-ая). Отправляйтесь с&nbsp;осторожностью, любопытством и&nbsp;вниманием к&nbsp;собственным чувствам.</p>


<figure class="figure"   itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg">
  <img
	class="image"
	loading="lazy"
	decoding="async"
	sizes="(min-width: 1140px) 707px, (min-width: 760px) 63.61vw, (min-width: 620px) calc(35.83vw + 198px), calc(100vw - 32px)"
	srcset="
		https://res.cloudinary.com/bartoshevich/image/upload/w_400/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg 400w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg 640w,
		https://res.cloudinary.com/bartoshevich/image/upload/w_1080/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg 1080w,
		https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg 1170w
	"
	src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1726024792/site/africa/night_dakar.jpg"
	alt="Ночной вид на город Дакар, освещенный огнями зданий."
	width="1170"
	height="876"
	itemprop="contentUrl"
 >

  <meta itemprop="width" content="1170">
  <meta itemprop="height" content="876">
  <figcaption class="figcaption">Вид&nbsp;на&nbsp;ночной Дакар.
</figcaption>
</figure>

</section>



