---
layout: post
title: "Фильмы о маркетинге, которые заставят вас задуматься"
name: "Кино, меняющее взгляд на&nbsp;маркетинг"
description: "Лучшие фильмы про маркетинг и&nbsp;рекламу: от&nbsp;документальных до&nbsp;художественных. Подборка картин, которые рекомендую посмотреть каждому маркетологу."
date: 2024-01-13
last_modified_at: 2025-10-25
mainEntitySource: "films" 
categories: мнение
permalink: "/blog/filmy-dlya-marketologov/"
tags: "маркетолог"
image: /assets/images/tizers/tizer-82.jpg
eleventyNavigation:
  key: filmy-dlya-marketologov
  title: "Кино, меняющее взгляд на маркетинг"
  parent: blog 
relatedIdeas:
  - title: "Маркетинг больше, чем продажи"
    url: "/blog/marketing-bolshe-chem-prodazhi/"
  - title: "Дао маркетолога: путь мастера"
    url: "/blog/put-marketologa/"
  - title: "Как маркетолога отличить от брехуна"
    url: "/blog/otlichie-marketologa-ot-brexuna/"
  - title: "Как смелость помогает брендам выделяться и&nbsp;оставаться собой"
    url: "/blog/smelyj-brend/"
  - title: "Эмоциональный маркетинг: как создать сильную связь с клиентом"
    url: "/blog/kak-brendy-sozdajut-emotsionalnuyu-svyaz/"
  - title: "Игра в «Спасителя»: как маркетологи становятся жертвами"
    url: "/blog/lovushka-dlya-marketologov-igra-spasitel/"

---

 
<p>Ищете <strong>фильмы про маркетинг</strong>? Собрал 16&nbsp;картин&nbsp;&mdash; от&nbsp;документальных фильмов о&nbsp;маркетинге до&nbsp;художественных драм о&nbsp;рекламе. От&nbsp;провокационной сатиры до&nbsp;вдумчивых исследований&nbsp;&mdash; эти фильмы помогут взглянуть на&nbsp;профессию под новым углом.</p>



<nav class="toc space-tight" aria-labelledby="toc-title">
  <h2 class="toc__title" id="toc-title">Содержание</h2>
  <ul class="additive-spacing">
    {# Объявляем глобальный счетчик ОДИН РАЗ перед всеми циклами #}
    {% set globalFilmCounter = 1 %}
    
    {% for categoryKey, category in films.categories %}
    <li class="">
      <a class="link bold" href="#{{ category.key }}">{{ category.title }}</a>
      <ul class="">
        {% for film in films.items %}
          {% if film.category == categoryKey %}
            <li>
              {# Используем глобальный счетчик #}
              <span class="tocnumber">{{ globalFilmCounter }}</span>
             
              <a class="link" href="#{{ film.id }}">{{ film.title_ru }} / <span lang="en">{{ film.title_en }}</span> </a>
            </li>
            {# Увеличиваем глобальный счетчик #}
            {% set globalFilmCounter = globalFilmCounter + 1 %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</nav>





{% for categoryKey, category in films.categories %}
<section id="{{ category.key }}" class="row-gap--m space-section max-width-text">
  <header>
    <h2 class="heading--beta space-block">{{ category.title }}</h2>
    <p class="space-tight">{{ category.description }}</p>
  </header>
  
  
  {% for film in films.items %}
    {% if film.category == categoryKey %}    
      {% include "partials/film-card.njk" %}
    {% endif %}
  {% endfor %}
</section>
{% endfor %}




<p class="space-block">Кино помогает взглянуть на&nbsp;привычные процессы под новым углом. Проанализируйте просмотренные картины&nbsp;&mdash; какие идеи можно адаптировать для ваших маркетинговых проектов? Применяйте найденные решения в&nbsp;работе и&nbsp;создавайте <a class="link" href="/blog/marketing-bolshe-chem-prodazhi/">осмысленные кампании</a>.</p>

