@use "./variables" as v;

.blockquote--emphasis {
  position: relative;
  display: block;
}

.blockquote--emphasis:not(:last-child) {
  margin-bottom: 2.55em;
}

.blockquote--emphasis::before {
  content: "\201E";
  display: inline-block;
  position: absolute;
  color: v.$text-colour;
  left: -0.5em;
  top: -0.85em;
  font-size: 5em;
  line-height: 1;
}

@media (min-width: 1069px) {
  .blockquote--emphasis::before {
    left: -0.7em;
    top: -0.85em;
  }
}

.citation {
  margin-top: 1em;
}

.citation__author {
  margin-top: var(--space-xs);
  color: var(--secondary-text-colour);
}

.citation__author::before {
  content: "— "; 
  color: var(--secondary-text-colour);
}

cite {
  font-style: normal;
}
