@use "./variables" as v;

.footer__nav {
  margin: var(--space-xl-2xl) 0 var(--space-l) 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  grid-column-gap: 8px;
  row-gap: 8px;
  //overflow: hidden;
}

@media (min-width: 640px) {
  .footer__nav {
    grid-template-columns: 2fr 4fr 4fr;
    grid-gap: 2rem;
    //overflow: hidden;
  }
}

.footer::before {
  content: "* * *";
  display: block;
  text-align: center;
  font-size: var(--step-3);
  padding-top: var(--space-2xl);
}

.credentials {
  border-top: 1px dashed v.$text-colour;
  padding: var(--space-xs-s) 0;
}

.social {
  padding: var(--space-s) 0;
}

.social__item {
  margin-right: var(--space-s);
}

.footer-social__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
  margin-right: .6em;
}


.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social__link {
  display: inline-block;
  transition: fill 0.3s ease;
  color:currentColor;

  &:focus-visible {
    outline: 2px solid v.$link;
    outline-offset: 2px;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;
  }

  @media (max-width: 640px) {
    padding: 8px;
  }
}

.footer-social__icon {
  width: 28px;
  height: 28px;
  fill: #747474;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 640px) {
    width: 32px;
    height: 32px; 
  }
}



.footer-social__item--rss .footer-social__icon circle {
  fill: #747474;
}


.footer-social__item--rss .footer-social__icon {
  color: #fff;                 
}

/* Брендовые цвета при наведении */
.footer-social__item--facebook:hover .footer-social__icon {
  fill: #1877f2;
}
.footer-social__item--linkedin:hover .footer-social__icon {
  fill: #0a66c2;
}

.footer-social__item--mastodon:hover .footer-social__icon {
  fill: #6364ff;
}
.footer-social__item--telegram:hover .footer-social__icon {
  fill: #0088cc;
}
.footer-social__item--rss:hover .footer-social__icon {
  fill: #f26522;
}

.footer-social__item--rss:hover .footer-social__icon circle {
  fill: #ffe5d6;              
}