---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include meta.html %} 
  {% include  schema__organization.html %}
  {% include  schema__blog.html %}
  {% include  schema__breadcrumb--blog.html %}
  {% include  schema__person.html %}
  

  <link rel="stylesheet"  href="/assets/css/style_07.css"> 
  

  {% include icons.html %} 
  </head>
<body class="body">

 {{ content }}
 {% include script.html %}


</body>
</html>