---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include meta.html %} 
  {% include  schema__organization.html %}
  {% include  schema__blog.html %}
  {% include  schema__breadcrumb--blog.html %}
  {% include  schema__person.html %}
  

  <link rel="stylesheet"  href="/assets/css/style.css"> 
  

  {% include icons.html %} 
  </head>
<body class="body">

 {{ content }}
 {% include script.html %}


 <script>
 document.addEventListener('DOMContentLoaded', () => {
  const randomArticleButton = document.getElementById('random-article-button');
  
  if (randomArticleButton) {
    randomArticleButton.addEventListener('click', () => {
      const articleLinks = document.querySelectorAll('.article-link');
      
      if (articleLinks.length === 0) {
        console.warn('Статьи не найдены.');
        return;
      }

      const randomIndex = Math.floor(Math.random() * articleLinks.length);
      const randomArticleLink = articleLinks[randomIndex].href;
      
      window.location.assign(randomArticleLink);
    });
  } else {
    console.warn('Кнопка случайной статьи не найдена.');
  }
});
</script>




</body>
</html>