---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include meta.html %} 
  {% include script__theme.html %} 
  <link rel="stylesheet" href="/assets/css/light.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="stylesheet" href="/assets/css/dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


  </head>
<body class="body">

 {{ content }}
 {% include script.html %}

</body>
</html>