---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include meta.html %} 

  {% include  schema__website.html %}
  {% include  schema__organization.html %}
  {% include  schema__services.html %}
 
  <link rel="stylesheet" type="text/css" href="/assets/css/style-home.css">
  
  {% include icons.html %} 
  </head>
<body class="body">

 {{ content }}
 {% include script.html %}

</body>
</html>