---
layout: compress
---
<!DOCTYPE html>
<html lang="ru" prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">  

    {% include meta--article.html %} 
    {% include schema__organization.html %}
    {% include schema__breadcrumb--post.html %}
    {% include  schema__person.html %}
    {% include  schema__blogposting.html %}
   
  
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 

    
  {% include icons.html %} 
</head>



<body class="body" >

  <div class="body__container" >
   
  
    {% include menu__post.html %}




 
  

  <main class="section__content row-gap--m" >
    <span class="element--hidden">Автор: Дмитрий Бартошевич (мою фамилию часто пишут как Барташевич)</span>
 {{ content }}

 {% include subscription.html %}
  </main>

 
  {% include footer.html %}
  </div>

 {% include script.html %}
 {% include script__video.html %}

</body>
</html>