---
layout: compress
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">  

    {% include meta.html %} 
  
  
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 

    
  {% include icons.html %} 
</head>



<body class="body" >

  <div class="body__container" >
   
  
    {% include menu__post.html %}


<div itemscope itemtype="https://schema.org/Article">

    <meta itemprop="name" content="{{ page.title }}" />
    <meta itemprop="headline" content="{{ page.title }}" />
    <meta itemprop="description" content="{{ page.description }}" />
    <div itemprop="author" itemscope="" itemtype="https://schema.org/Person">
      <link itemprop="sameAs" href="https://bartoshevich.by/" />
      <link itemprop="sameAs" href="https://www.linkedin.com/in/bartoshevich" />
      <link itemprop="sameAs" href="https://www.facebook.com/bartoshevichby/" />
      <link itemprop="sameAs" href="https://twitter.com/dbartoshevich" />
      <link itemprop="sameAs" href="https://t.me/bartoshevich" />
      <meta itemprop="name" content="Дмитрий Бартошевич" />
      <link itemprop="image" href="/assets/images/main/bartoshevich@16x9.jpg" />
      <link itemprop="image" href="/assets/images/main/bartoshevich@4x3.jpg" />
      <link itemprop="image" href="/assets/images/main/bartoshevich@1x1.jpg" />
    </div>

  <main class="section__content row-gap--l" >
    
    
   
      
    


 {{ content }}

 {% include subscription.html %}
  </main>
</div>
 
  {% include footer.html %}
  </div>

 {% include script.html %}
 {% include script__video.html %}

</body>
</html>