---
permalink: /_headers
eleventyExcludeFromCollections: true
layout: false
---
 



/*
  X-Forwarded-Proto: https
  X-Forwarded-Host: bartoshevich.by
  X-Robots-Tag: index, follow
  X-Content-Type-Options: nosniff
  Referrer-Policy: strict-origin-when-cross-origin
  Permissions-Policy: geolocation=(self "https://bartoshevich.by"), microphone=(), camera=(), payment=(), usb=(), screen-wake-lock=(), display-capture=(), autoplay=()
  Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
  Cross-Origin-Resource-Policy: same-site
  Cross-Origin-Opener-Policy: same-origin
  Cross-Origin-Embedder-Policy: unsafe-none
  X-Frame-Options: SAMEORIGIN
  
  

/*.html
  Cache-Control: public, max-age=300, stale-while-revalidate=3600
  Content-Security-Policy: default-src 'self'; base-uri 'self'; font-src 'self' data:; worker-src 'self'; object-src 'none'; manifest-src 'self'; form-action 'self'; img-src 'self' res.cloudinary.com i.ytimg.com *.withcabin.com static.probusiness.io data:; connect-src 'self' res.cloudinary.com i.ytimg.com *.withcabin.com *.netlify.com; upgrade-insecure-requests; style-src 'self'; script-src 'self' *.withcabin.com 'sha256-{{ cspScriptHash }}' 'sha256-{{ swScriptHash }}'; frame-ancestors 'self'; frame-src www.youtube-nocookie.com www.youtube.com embed.ted.com youtu.be; media-src 'self' www.youtube-nocookie.com www.youtube.com embed.ted.com youtu.be
  Content-Type: text/html; charset=utf-8
  X-XSS-Protection: 1; mode=block

/index.*
  Cache-Control: public, max-age=300, stale-while-revalidate=3600

/sw.js
  Cache-Control: no-cache, no-store, must-revalidate
  Content-Type: application/javascript; charset=utf-8
  Service-Worker-Allowed: /

/workbox-*.js
  Cache-Control: public, max-age=31536000, immutable
  Content-Type: application/javascript; charset=utf-8

  
/site.webmanifest
  Cache-Control: no-cache
  Content-Type: application/manifest+json


/assets/images/*
  Cache-Control: public, max-age=31536000, immutable

/assets/fonts/*
  Cache-Control: public, max-age=31536000, immutable

/assets/scripts/*
  Cache-Control: public, max-age=31536000, immutable
  Content-Type: application/javascript; charset=utf-8

/assets/css/*
  Cache-Control: public, max-age=31536000, immutable
  Content-Type: text/css; charset=utf-8

/assets/media/*
  Cache-Control: public, max-age=31536000, immutable
  Content-Type: audio/mpeg; charset=utf-8


/assets/fonts/**/*.{woff,woff2}
  Content-Type: font/woff2
/assets/fonts/**/*.{ttf}
  Content-Type: font/ttf
/assets/fonts/**/*.{otf}
  Content-Type: font/otf
/assets/fonts/**/*.{eot}
  Content-Type: application/vnd.ms-fontobject

/feed.json
  Content-Type: application/feed+json; charset=utf-8

/*.svg
  Cache-Control: public, max-age=31536000, immutable
  Content-Type: image/svg+xml; charset=utf-8

/*.jpg
  Cache-Control: public, max-age=31536000, immutable

/*.jpeg
  Cache-Control: public, max-age=31536000, immutable

/*.png
  Cache-Control: public, max-age=31536000, immutable

/*.webp
  Cache-Control: public, max-age=31536000, immutable

/*.woff
  Cache-Control: public, max-age=31536000, immutable

/*.woff2
  Cache-Control: public, max-age=31536000, immutable