---
layout: about
permalink: /about/
description: "Дмитрий Бартошевич: эксперт по маркетингу и стратегии, 20+ лет опыта (включая Nielsen), преквалификация ЕБРР. Основатель агентства BARSAN (Казахстан)."
title: "Дмитрий Бартошевич: 20+ лет в маркетинге, основатель BARSAN"
name: "Обо мне"
date: 2015-07-31
last_modified_at: 2025-11-18
eleventyNavigation:
  key: about
  title: "Обо мне"
  parent: home
image: /assets/images/main/bartoshevich@16x9.jpg
---


  
 

  
<header class="intro max-width-text">
    <h1 class="inline bold">Дмитрий Бартошевич: через опыт в&nbsp;Nielsen к&nbsp;основанию агентства.</h1>
    <span class="inline">Возвращаю смысл в&nbsp;маркетинг и&nbsp;делюсь 20+&nbsp;летним опытом на&nbsp;этом пути.</span>
</header>



<section class="full-bleed row-gap--m space-section">

    <h2 class="heading--gamma">Мои ценности</h2>

    <p>Я&nbsp;занимаюсь маркетингом, который не&nbsp;только приносит прибыль, но&nbsp;и&nbsp;делает компании значимыми
        для людей. </p>


  

    <div class="full-bleed full-bleed-row row-gap--m">
        <div class="grid-column__first-four">

            <strong class="italic">Я&nbsp;верю в&nbsp;маркетинг, основанный на&nbsp;доверии и&nbsp;честности,
                а&nbsp;не&nbsp;на&nbsp;обмане. </strong>

        </div>
        <div class="grid-column__last-six  row-gap--m">

            <p>Однажды я&nbsp;столкнулся с&nbsp;кейсом, где <b>маркетолог</b> гордо рассказывал о&nbsp;создании 300
                фейковых отзывов для медицинского центра. Люди поверили и&nbsp;пришли. Подобные практики
                к&nbsp;маркетингу не&nbsp;имеют никакого отношения. Согласны? Давайте менять маркетинг вместе!</p>
        </div>
    </div>

    <div class="full-bleed space-connected" itemscope itemtype="https://schema.org/ImageObject">
        <link itemprop="contentUrl"
            href="https://res.cloudinary.com/bartoshevich/image/upload/v1695562479/site/bartoshevich_dmitry.jpg">

        <img class="full-bleed image is-16by9 "
            sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
            loading="lazy" decoding="async" srcset="
                  https://res.cloudinary.com/bartoshevich/image/upload/w_320/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 320w,
                  https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 640w,
                  https://res.cloudinary.com/bartoshevich/image/upload/w_1040/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 1040w,
                  https://res.cloudinary.com/bartoshevich/image/upload/w_1560/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 1560w,
                  https://res.cloudinary.com/bartoshevich/image/upload/w_2080/f_auto,q_auto/v1695562479/site/bartoshevich_dmitry.jpg 2080w,
                  https://res.cloudinary.com/bartoshevich/image/upload/v1695562479/site/bartoshevich_dmitry.jpg 2560w
                "
            src="https://res.cloudinary.com/bartoshevich/image/upload/w_1560/v1695562479/site/bartoshevich_dmitry.jpg"
            width="2560" height="1440" alt="Дмитрий Бартошевич — эксперт по маркетингу и бренд-стратегии"
            title="Дмитрий Бартошевич">
    </div>


</section>


<section class="full-bleed full-bleed-row row-gap--m space-section">
    <div class="grid-column__first-four">

        <h2 class="heading--gamma">Мир моих размышлений</h2>

    </div>
    <ul class="grid-column__last-six  row-gap--m list-reset">



        <li>
            <a class="link" href="/blog/konkurentnoe-preimushhestvo/">Маркетинг, который вызывает
                доверие,&nbsp;&mdash; главное конкурентное преимущество</a>
        </li>
        <li>
            <a class="link" href="/blog/perfomance-and-brand-marketing/">Бренд и&nbsp;перфоманс
                маркетинг&nbsp;&mdash; что важно знать маркетологу</a>
        </li>
        <li>
            <a class="link" href="/blog/system-marketing/">Таблицы и&nbsp;схемы не&nbsp;делают маркетинг
                системным</a>
        </li>



        <li>
            <a class="link" href="/blog/marketing-bolshe-chem-prodazhi/">От&nbsp;распродаж к&nbsp;стратегии:
                почему маркетинг&nbsp;&mdash; это больше, чем просто продажи</a>
        </li>
        <li>
            <a class="link" href="/blog/otlichie-marketologa-ot-brexuna/">Как маркетолога отличить
                от&nbsp;брехуна</a>
        </li>
        <li >
            <a class="link" href="/blog/ethical-marketing-dark-patterns/">Темные паттерны в&nbsp;маркетинге:
                почему они вредят бизнесу и&nbsp;как работать по-другому</a>
        </li>

    </ul>

</section>
 





