---
layout: default
permalink: /blog/
description: "Авторский блог о маркетинге, стратегии и брендинге. 84+ экспертных статьи: кейсы, анализ данных и тренды. Практические советы Дмитрия Бартошевича." 
title: "Блог о маркетинге и стратегии Дмитрия Бартошевича"
name: "Блог о маркетинге и стратегии"
keywords: "блог о маркетинге, стратегия, анализ данных, разработка брендов, управление брендами, антикризисный маркетинг, консультант по маркетингу, Дмитрий Бартошевич, советы по маркетингу, статьи о маркетинге"
date: 2015-07-31
last_modified_at: 2025-04-07
eleventyNavigation:
  key: blog
  title: "Блог"
  parent: home
---






<header class="intro max-width-text"><h1 class="inline bold">Блог Дмитрия Бартошевича</h1> <span class="inline">о&nbsp;маркетинге и&nbsp;стратегии. Делюсь инсайтами, актуальными трендами, наблюдениями и&nbsp;кейсами. Подпишитесь на&nbsp;обновления: <a class="link" href="https://t.me/+OuzxNOZg-g44ZjYy">telegram</a>, <a class="link" href="{{ navigation.subscription.list[1].url | url }}">эл.почта</a></span>
</header>

<div class="button-container">
    <button class="button-secondary" id="random-article-button">Открыть случайно выбранную статью</button>
    <noscript>
        <div style="color: red;">
            Для полной функциональности сайта необходимо включить JavaScript.
            Вот <a class="link" href="https://www.enable-javascript.com/ru/" target="_blank"
                rel="noopener noreferrer">инструкции, как включить JavaScript в вашем веб-браузере</a>.
        </div>
    </noscript>
</div>

<div class="full-bleed row-gap--m" id="all-posts">

<h2 class="heading--beta space-connected">Все записи (86) </h2>
 <p class="secondary-color"> Лента выстроена по&nbsp;дате обновления. Старые статьи, которые я&nbsp;актуализировал, поднимаются вверх. </p>
 
     
<div class="blog-list">
    {# 1. Применяем наш новый фильтр #}
    {% set groupedPosts = collections.post | groupByYear %}

    {% if groupedPosts.length > 0 %}
        
        {# 2. Перебираем ГОДЫ #}
        {% for group in groupedPosts %}
            
            {# Заголовок года #}
            <div class="blog-year-divider space-chapter">
                <h2 class="heading--gamma">{{ group.year }}</h2>
            </div>

            {# 3. Перебираем СТАТЬИ внутри этого года #}
            {% for post in group.posts %}
                
                {# Подготовка дат для отображения #}
                {% if post.data.last_modified_at %}
                    {% set displayDate = post.data.last_modified_at %}
                    {% set isUpdated = true %}
                {% else %}
                    {% set displayDate = post.date %}
                    {% set isUpdated = false %}
                {% endif %}

                <article class="blog-item">
                    <a class="blog-item__link article-link" href="{{ post.url }}">
                        <div class="blog-item__header">
                            <h3 class="blog-item__title">
                                {{ post.data.name | default(post.data.title) | nbspPrepositions | safe }}
                            </h3>
                            
                            <div class="blog-item__meta">
                                <time datetime="{{ displayDate | htmlDateString }}" class="blog-item__date">
                                    {{ displayDate | readableDateRU }}
                                </time>
                                {% if isUpdated %}
                                    <span class="update-label">(обновлено)</span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="blog-item__content">
                            <p>{{ post.data.description | nbspPrepositions | safe }}</p>
                        </div>
                    </a>
                </article>
            {% endfor %}
            
        {% endfor %}

    {% else %}
        <p>Пока нет записей в блоге.</p>
    {% endif %}
</div>

  

  </div>