---
layout: case
permalink: /cases/
description: "Портфолио Дмитрия Бартошевича: кейсы по маркетингу и брендингу в Минске. Реальные примеры развития бизнеса через стратегии, аудит и рекламные кампании."
title: "Кейсы по маркетингу и брендингу | Д. Бартошевич (Портфолио)"
date:   2015-07-31
last_modified_at: 2023-08-13
eleventyNavigation:
  key: cases
  title: "Проекты"
  parent: home
keywords: "Дмитрий Бартошевич, кейсы маркетинг, портфолио маркетолога, развитие бренда, маркетинговая стратегия, брендинг, рекламные кампании, аудит маркетинга, консультант по маркетингу Минск, стратегия роста бизнеса"
---

