---
layout: contact
permalink: /contact/
description: "Личные контакты Дмитрия Бартошевича (telegram, email). Для коммерческих проектов и сотрудничества в Казахстане обращайтесь в агентство BARSAN." 
title: "Контакты | Дмитрий Бартошевич (основатель BARSAN)"
date: 2015-07-31
last_modified_at: 2025-10-18
eleventyNavigation:
  key: contact
  title: "Контакты"
  parent: home
social_profiles:
  - https://www.linkedin.com/in/bartoshevich
  - https://t.me/+OuzxNOZg-g44ZjYy
  - https://mastodon.social/@bartoshevich
---






<header class="intro max-width-text">
	<h1 class="inline bold">Контакты и сотрудничество.</h1>
	<span class="inline">Чтобы я&nbsp;мог ответить максимально оперативно, выберите подходящий способ связи.</span>
</header>



<section class="row-gap--m space-section" id="principles-of-work">
	<h2 class="heading--gamma"> Коммерческие проекты и&nbsp;сотрудничество</h2>

<p>С&nbsp;2024 года новые коммерческие проекты я&nbsp;веду через &laquo;Агентство маркетинговых решений BARSAN&raquo;, которое расположено в&nbsp;Астане (Казахстан) и&nbsp;открыто к&nbsp;задачам из&nbsp;разных стран.</p>
<p>Пожалуйста, направляйте запросы на&nbsp;сотрудничество через контакты агентства&nbsp;&mdash; так ваша задача будет обработана максимально быстро и&nbsp;эффективно.</p>

<div class="button-container space-tight">
  <a class="button-primary" href="https://barsan.kz/contacts/" target="_blank" rel="noopener me" title="Перейти на сайт агентства BARSAN"><strong>Открыть контакты BARSAN</strong></a>
</div>

</section>

<div class="max-width-text space-block">
   <p class="secondary-color"><em><strong class="bold">Для информации:</strong> я&nbsp;сохраняю статус&nbsp;ИП в&nbsp;Беларуси (УНП 192414874) для поддержки ранее начатых проектов и&nbsp;выполнения обязательств перед постоянными клиентами.</em></p>
</div>

<div class="row-gap--m space-section" id="principles-of-work">
	<h2 class="heading--gamma"> Личная связь</h2>

	  <p>Если вы&nbsp;хотите обсудить идею, задать вопрос по&nbsp;моим статьям или просто обменяться мыслями о&nbsp;маркетинге, используйте электронную почту или telegram. Я&nbsp;отвечаю лично.</p>

<ul class="contact-list">
  
 
   <li class="contact-item">           
   <svg class="contact-icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#telegram"></use>
</svg> 
 <a class="link" href="https://t.me/bartoshevich" title="написать в телеграм">@bartoshevich</a> </li>


   <li class="contact-item">   <svg class="contact-icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#mail"></use>
</svg> 
  <a class="link" href="mailto:dmitry@bartoshevich.by" title="написать письмо" >dmitry@bartoshevich.by</a> </li>
   

</ul>

</section>






