---
layout: home
title: "Консультант по маркетинговой стратегии | Дмитрий Бартошевич"
name: "Бартошевич"
permalink: /
date: 2015-07-31
last_modified_at: 2025-10-14
description: "Маркетинговый стратег для бизнеса: от&nbsp;неструктурированных усилий&nbsp;&mdash; к&nbsp;ясной стратегии и&nbsp;сильному бренду.&nbsp;20+&nbsp;лет практики."
keywords: "развитие брендов, анализ данных, разработка стратегий, достижение бизнес-целей, консультант по маркетингу"
templateEngine: njk
eleventyNavigation:
  key: home
  title: "Бартошевич"
  order: 1
---

<header class="row-gap--m">
    <div class="intro text--accent">Меня зовут Дмитрий Бартошевич.<br>Я&nbsp;<h1 class="inline text--accent">консультант по&nbsp;маркетинговой стратегии и&nbsp;архитектуре брендов</h1>.</div>


<p class="max-width-text"> Моя экспертиза и&nbsp;опыт прошли оценку <a class="link" href="/assets/images/contact/ebrd__bartoshevich.pdf" target="_blank" rel="noopener" title="Свидетельство ЕБРР - pdf, 25.8 кБ, откроется в новой вкладке">Европейского банка реконструкции и&nbsp;развития</a>&nbsp;&mdash; я&nbsp;включен в&nbsp;официальный реестр консультантов. </p>
<p class="max-width-text mb-m">
Если вы&nbsp;ищете «три лайфхака для охватов»&nbsp;— это не&nbsp;ко&nbsp;мне. Я&nbsp;работаю с&nbsp;компаниями, которые готовы инвестировать в&nbsp;долгосрочную стратегию и&nbsp;превратить хаотичный маркетинг в&nbsp;структурированный и&nbsp;системный процесс: </p>
<ul class="list-li mb-m"> 
  <li>размытые образы бренда&nbsp;&mdash; в&nbsp;четкие идеи, которые привлекают покупателей,</li>	
  <li>случайные действия&nbsp;&mdash; в&nbsp;строгую выверенную систему,</li>	
  <li>разрозненные усилия&nbsp;&mdash; в&nbsp;единую понятную стратегию.</li> </ul>
<p class="max-width-text">Маркетинг, которому можно доверять.</p>
 
</header>





<div class="button-container">
  <a href="/contact/" class="button-primary">
    Обсудить проект
  </a>
</div>


 <div class="full-bleed intro__image" itemscope itemtype="https://schema.org/ImageObject">	
            <link itemprop="url" href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg">
        
     <img class="image" sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"  fetchpriority="high" loading="eager" decoding="sync" 
                srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1745783506/site/desk_photo.jpg 640w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1200w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1600w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1980w,
                https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg 2972w" 
          src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg" alt="Портрет Дмитрия Бартошевича, консультанта по маркетингу и стратегии" width="2972" height="1700" title="Дмитрий Бартошевич" itemprop="contentUrl"> 
  </div>







<section class="full-bleed block__item clients__block">
<div class="block__sign"></div>
<h2 class="block__name block__title bold"> Когда полезен? </h2>
<div class=" block__content row-gap--m" >

<article class="service">

 

<h3 class="service__title">
<svg class="service__icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#search"></use>
</svg> 
<a class="link"  href="/uslugi/marketing-audit/">Аудит маркетинга</a></h3>
<p>Нахожу скрытые точки роста и&nbsp;уязвимости в&nbsp;вашем маркетинге. Провожу аудит с&nbsp;фокусом на&nbsp;клиентский опыт (CJM), чтобы вы&nbsp;получили конкретные рекомендации и&nbsp;понимание, что и&nbsp;зачем нужно улучшать.</p>
</article>

<article class="service">
<h3 class="service__title">
<svg class="service__icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#target"></use>
</svg> 
<a class="link" href="/uslugi/brand-conception/">Концепция бренда</a></h3>
<p>Создаю ясную, запоминающуюся идентичность бренда, которая отражает его суть и&nbsp;отличает от&nbsp;конкурентов. Ваш бренд приобретет статус, выходящий за&nbsp;рамки обычного продукта или услуги&nbsp;&mdash; он&nbsp;станет неотъемлемой частью жизни вашей аудитории.</p>
</article>



<article class="service">
<h3 class="service__title">
<svg class="service__icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#ads"></use>
</svg> 

<a class="link"  href="/uslugi/razrabotka-reklamnyh-kampanij/">Рекламные кампании</a></h3>
<p>Разрабатываю рекламные кампании, фокусируясь на&nbsp;сути вашего бизнеса. Мой подход&nbsp;&mdash; не&nbsp;просто привлечение внимания, а&nbsp;создание глубокого резонанса с&nbsp;вашей аудиторией. </p>
</article>

<article class="service">
<h3 class="service__title">
<svg class="service__icon" role="presentation" aria-hidden="true">
  <use href="{{ spritePath() }}#workspace"></use>
</svg> 

<a class="link" href="/uslugi/autsorsing-marketinga/">Абонентское обслуживание</a></h3>
<p>Работаю не&nbsp;как внешний подрядчик, а&nbsp;как партнер: курирую кампании, выстраиваю процессы с&nbsp;командой и&nbsp;исполнителями, отвечаю за&nbsp;стратегическую целостность и&nbsp;сопровождаю бизнес на&nbsp;каждом этапе&nbsp;&mdash; от&nbsp;консультаций до&nbsp;точечной реализации. </p>
</article>


</div>

</section>

<section class="full-bleed block__item">
<div class="block__sign"></div>
<h2 class="block__name block__title bold "> Клиенты </h2>
<div class="block__content">

<ul class=" list-reset clients__list max-width-text">
               <li>MODISTA </li>
                               <li class="clients__item">Hörmann</li>
                               <li class="clients__item">Giperlink </li>
                               <li class="clients__item">Flex-n-Roll</li>
                               <li class="clients__item">EGO-ART</li>
                               <li class="clients__item">Danone</li>
                               <li class="clients__item">ЮВИ Электроникс </li>
                               <li class="clients__item">САВ-лайн</li>
                               <li class="clients__item">3Dom </li>
              
                           
                    
</ul>
    <p class="mt-m">Мой подход к&nbsp;каждому проекту&nbsp;&mdash; тщательный маркетинговый анализ и&nbsp;стратегическое планирование, направленные на&nbsp;укрепление позиций бренда на&nbsp;конкурентном рынке, выделение его уникальных качеств и&nbsp;развитие устойчивых отношений компании с&nbsp;целевой аудиторией.</p>

<p class="mt-m">На&nbsp;странице «проекты» вы&nbsp;можете <a class="link" href="/cases/">познакомиться с&nbsp;кейсами</a>.</p>
</div>
</section>

<section class="full-bleed block__item clients__block">
  <div class="block__sign"></div>
  <h2 class="block__name block__title bold"> Мне доверяют </h2>
  <div class=" block__content">

    <figure class="blockquote--emphasis">
      <blockquote>
        <p class="citation">«Мы&nbsp;спрашивали себя: „Чем мы&nbsp;отличаемся? В&nbsp;чем сильнее? В&nbsp;чем отстаем
          и&nbsp;чего не&nbsp;хватает, чтобы быть лучшими?“ Ответы искали сами. Но&nbsp;того решения, которое
          устроило&nbsp;бы всех, не&nbsp;находили. Обратились за&nbsp;консультацией к&nbsp;Бартошевичу Дмитрию...»</p>
      </blockquote>
      <figcaption class="citation__author">
        <span>
          Дмитрий Лихтарович, директор интернет-агентства Giperlink
        </span>
        <br>
        <a class="italic link" href="{{ site.url }}/blog/kejs-brend-giperlink/">описание проекта и&nbsp;отзыв</a>
      </figcaption>
    </figure>


    <figure class="blockquote--emphasis">
      <blockquote>
        <p class="citation">
          «Нам потребовалось четко позиционировать компанию на&nbsp;рынке и&nbsp;максимально отстроиться
          от&nbsp;конкурентов. И&nbsp;мы&nbsp;привлекли Дмитрия Бартошевича...»
        </p>
      </blockquote>
      <figcaption class="citation__author">
        <span>
          Елена Горбачева, директор типографии <span class="noperenos">Flex-n-Roll</span>
        </span>
        <br>
        <a class="italic link" href="{{ site.url }}/blog/brand-strategy-flex-n-roll/">описание проекта и&nbsp;отзыв</a>
      </figcaption>

    </figure>

  </div>

</section>

<section class="full-bleed block__item  ">
<div class="block__sign"></div>
<h2 class="block__name block__title bold"> Вместе мы растем </h2>
<div class=" block__content row-gap--m">

    <p> Благодаря клиентам, сложным проектам и&nbsp;задачам я&nbsp;накопил богатый профессиональный опыт, которым делюсь в&nbsp;своем блоге. Здесь вы&nbsp;найдете <a class="link" href="/blog/">аналитические статьи, детальные описания кейсов, эффективные инструменты и&nbsp;практические рекомендации</a>. Блог также отражает мое видение маркетинга, где уважение к&nbsp;клиентам стоит на&nbsp;первом месте, а&nbsp;втюхинг и&nbsp;обман&nbsp;— табу. Присоединяйтесь, чтобы вместе исследовать и&nbsp;развивать стратегии маркетинга, основанные на&nbsp;доверии и&nbsp;создании ценности для потребителей. </p>

</div>
</section>




{# <p class="max-width-text">Я&nbsp;превращаю хаотичный маркетинг в&nbsp;структурированный и&nbsp;системный процесс. Трансформирую размытые образы бренда в&nbsp;четкие идеи, которые привлекают покупателей и&nbsp;закрепляются в&nbsp;их&nbsp;сознании. Маркетинг, который наконец-то работает. </p>
#}