---
layout: home
title: "Дмитрий Бартошевич: стратегия и архитектура брендов"
name: "Бартошевич"
permalink: /
date: 2015-07-31
last_modified_at: 2025-10-19
description: "Персональный сайт Дмитрия Бартошевича, основателя BARSAN. Превращаю хаотичный маркетинг в системную стратегию. 20+ лет опыта, преквалификация ЕБРР. Блог, кейсы."
templateEngine: njk
eleventyNavigation:
  key: home
  title: "Бартошевич"
  order: 1
---


<header class="row-gap--m">
  <h1 class="intro text--accent"><span class="h1-name">Дмитрий Бартошевич</span> стратег и архитектор брендов, основатель агентства маркетинговых решений BARSAN</h1>
  <p class="max-width-text">Этот сайт — пространство, где я разбираю маркетинг как систему, а не как набор трюков и манипуляций. Пишу о маркетинге со смыслом, а не со скидками. Для тех, кто хочет понимать разницу между маркетологом и брехуном. </p>

  <p class="max-width-text">Статьи здесь вызревают месяцами. Их написание нередко становится поиском новых ответов и переосмыслением привычного.</p>

  <p class="max-width-text">Я&nbsp;не&nbsp;пишу на&nbsp;заказ. Не принимаю платные размещения и рекламные
    интеграции. Мне не&nbsp;нужны лиды. Я&nbsp;рад единомышленникам.</p>
</header>



{# === БЛОК-МАРШРУТИЗАТОР: === #}
<div class="max-width-text row-gap--m space-connected">
  <p><strong class="bold">Для коммерческих запросов:</strong> <br>С&nbsp;2024 года новые проекты
    я&nbsp;веду через свое <a class="link" href="https://barsan.kz/" target="_blank" rel="noopener me"><strong>Агентство
        маркетинговых решений BARSAN</strong></a> в&nbsp;Казахстане. </p>
  <div class="button-container space-tight"> <a href="https://barsan.kz/contacts/" class="button-primary" target="_blank"
      rel="noopener me">Обсудить задачу с&nbsp;командой BARSAN</a> </div>
</div>


<section class="full-bleed block__item space-section">
  <div class="block__sign"></div>
  <h2 class="block__name block__title"> Мой подход в&nbsp;маркетинге: от&nbsp;хаоса к&nbsp;архитектуре</h2>
  <div class=" block__content row-gap--m">

    <p>Маркетинг для меня не&nbsp;тождественен рекламе и&nbsp;быстрым продажам. Его задача&nbsp;&mdash; создавать
      ценность, смыслы и&nbsp;доверие, которые делают бренд по-настоящему значимым для людей. </p>

<p>В&nbsp;основе активности маркетологов должна лежать <strong>концепция бренда</strong>&nbsp;&mdash; это как архитектурный проект для здания. Без него любое строительство&nbsp;&mdash; набор случайных и&nbsp;несогласованных действий, обреченных на&nbsp;неустойчивость.</p>
   
   
    <p><a class="link" href="/faq/#honesty-vs-manipulation">Честность и&nbsp;польза всегда сильнее
        манипуляций</a>&nbsp;&mdash; только так формируется долгосрочное доверие. <a
        href="/blog/perfomance-and-brand-marketing/" class="link">Performance-инструменты важны, но</a>&nbsp;они
      эффективны лишь тогда, когда опираются на&nbsp;фундамент бренда. <a href="/blog/system-marketing/"
        class="link">Маркетинг должен быть частью общей системы бизнеса</a>, а&nbsp;не&nbsp;набором разрозненных
      инструментов. Такой подход помогает бизнесу расти устойчиво и&nbsp;создавать отношения с&nbsp;клиентами. Как
      результат компании получают:</p>

    <ul class="additive-spacing">
      <li class="list-li"><strong>Управляемый процесс</strong>&nbsp;&mdash; вместо хаотичного маркетинга.</li>
      <li class="list-li"><strong>Четкий образ бренда</strong>&nbsp;&mdash; вместо размытых и&nbsp;непонятных идей.</li>
      <li class="list-li"><strong>Выверенную систему</strong>&nbsp;&mdash; вместо случайных и&nbsp;разрозненных действий.      </li>
      <li class="list-li"><strong>Единую стратегию</strong>&nbsp;&mdash; вместо распыления усилий по&nbsp;каналам.</li>
    </ul>

     <div class="button-container space-tight">
      <a href="/about/#principles-of-work" class="button-secondary">Узнать больше о принципах работы</a>
    </div>

  </div>
</section>





<figure class=" full-bleed intro__image space-block" itemscope itemtype="https://schema.org/ImageObject">
  <link itemprop="url"
    href="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg">

  <img class="image"
    sizes="(min-width: 1160px) 1040px, (min-width: 780px) calc(85.56vw + 65px), (min-width: 620px) calc(58.57vw + 267px), calc(100vw - 32px)"
    fetchpriority="high" loading="eager" decoding="sync"
    srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_640/f_auto,q_auto/v1745783506/site/desk_photo.jpg 640w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1200w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1600w,
                https://res.cloudinary.com/bartoshevich/image/upload/w_1980/f_auto,q_auto/v1745783506/site/desk_photo.jpg 1980w,
                https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg 2972w"
    src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1745783506/site/desk_photo.jpg"
    alt="Дмитрий Бартошевич, маркетинговый стратег с 20+ летним опытом, основатель BARSAN" width="2972" height="1700"
    title="Дмитрий Бартошевич" itemprop="contentUrl">

  <figcaption class="figcaption">
    В&nbsp;маркетинге я&nbsp;20+&nbsp;лет. В&nbsp;2019 году прошел <a class="link"
      href="/assets/images/contact/ebrd__bartoshevich.pdf" target="_blank" rel="noopener"
      title="Свидетельство ЕБРР - pdf, 25.8 кБ, откроется в новой вкладке">преквалификацию Европейского банка
      реконструкции и&nbsp;развития (ЕБРР)</a> и&nbsp;включен в&nbsp;официальный реестр консультантов.
  </figcaption>
</figure>



<section class="full-bleed block__item space-section">
  <div class="block__sign"></div>
  <h2 class="block__name block__title"> Мне доверяют </h2>
  <div class="block__content">

    <figure class="blockquote--emphasis">
      <blockquote>
        <p class="citation">«Мы&nbsp;спрашивали себя: „Чем мы&nbsp;отличаемся? В&nbsp;чем сильнее? В&nbsp;чем отстаем
          и&nbsp;чего не&nbsp;хватает, чтобы быть лучшими?“ Ответы искали сами. Но&nbsp;того решения, которое
          устроило&nbsp;бы всех, не&nbsp;находили. Обратились за&nbsp;консультацией к&nbsp;Бартошевичу Дмитрию...»</p>
      </blockquote>
      <figcaption class="citation__author">
        <span>
          Дмитрий Лихтарович, директор интернет-агентства Giperlink
        </span>
        <br>
        <a class="link" href="{{ site.url }}/blog/kejs-brend-giperlink/">описание проекта и&nbsp;отзыв</a>
      </figcaption>
    </figure>


    <figure class="blockquote--emphasis">
      <blockquote>
        <p class="citation">
          «Нам потребовалось четко позиционировать компанию на&nbsp;рынке и&nbsp;максимально отстроиться
          от&nbsp;конкурентов. И&nbsp;мы&nbsp;привлекли Дмитрия Бартошевича...»
        </p>
      </blockquote>
      <figcaption class="citation__author">
        <span>
          Елена Горбачева, директор типографии <span class="noperenos">Flex-n-Roll</span>
        </span>
        <br>
        <a class="link" href="{{ site.url }}/blog/brand-strategy-flex-n-roll/">описание проекта и&nbsp;отзыв</a>
      </figcaption>

    </figure>

  </div>

</section>






<section class="full-bleed block__item space-section">
  <div class="block__sign"></div>
  <h2 class="block__name block__title"> Вместе мы растем </h2>
  <div class=" block__content row-gap--m">

    <p> Благодаря клиентам, сложным проектам и&nbsp;задачам я&nbsp;накопил богатый профессиональный опыт, которым делюсь
      в&nbsp;своем блоге. Здесь вы&nbsp;найдете <a class="link" href="/blog/">аналитические статьи, детальные описания
        кейсов, эффективные инструменты и&nbsp;практические рекомендации</a>. Блог также отражает мое видение
      маркетинга, где уважение к&nbsp;клиентам стоит на&nbsp;первом месте, а&nbsp;втюхинг и&nbsp;обман&nbsp;— табу.
      Присоединяйтесь, чтобы вместе исследовать и&nbsp;развивать стратегии маркетинга, основанные на&nbsp;доверии
      и&nbsp;создании ценности для потребителей. </p>

  </div>
</section>











