---
layout: default
title: Нет подключения к интернету
permalink: /offline/
description: "Офлайн-режим сайта Дмитрия Бартошевича. Читайте кешированные статьи без интернета благодаря технологии Service Workers."
eleventyExcludeFromSitemap: true
eleventyNavigation:
  key: offline
  title: "Offline"
  parent: home 
---


<h1 class="intro bold">Вы&nbsp;— офлайн</h1>
<h2 class="h2 mb-m bold">Плохая новость</h2>
<p> Интернет соединение потеряно :-( </p>
<p> Вы&nbsp;можете проверить сетевые кабели, модем, маршрутизатор, настройки фаерволла. Выключите и&nbsp;включите <span class="noperenos">Wi-Fi</span> еще раз. Возможно, это поможет. </p>
<h2 class="h2 mb-m mt-m bold">Хорошая новость</h2>
<p>Ваш браузер поддерживает Service Workers&nbsp;— технологию, благодаря которой вы&nbsp;можете читать кешированные страницы офлайн. Все статьи, которые вы&nbsp;открывали ранее, доступны. </p>
<p>Ссылки в&nbsp;меню сайта также работают.</p>



